<!-- /templates/cart.liquid -->
<script type="text/javascript">var lang = {};</script>
<div class="grid">
  <div class="grid__item">
    {% if cart.item_count > 0 %}

      <h1 class="h2 visually">Your Shopping Cart</h1>
    <div class="grid__item centr"><p>
      {% if customer %}
        <button type="button" onclick="window.location.href='/account';" name="checkout" class="btn chek">Proceed To Checkout</button>
      {% else %}
        <button type="button" onclick="window.location.href='/customers/login';" name="checkout" class="btn chek">Proceed To Checkout</button>
      {% endif %}
              </p></div>
      <form action="/cart" method="post" novalidate class="cart">
        <table class="responsive-table table--no-border">
          <thead class="cart__row cart__header-labels small--hide">
            <th class="text-left cart__table-cell--image">&nbsp;&nbsp;&nbsp;Cart Items</th>
            <th class="text-center cart__table-cell--meta"></th>

            <th class="text-center cart__table-cell--quantity create">{{ 'cart.label.quantity' | t }}</th>
            <th class="text-center cart__table-cell--price create">Item Price</th>
            <th class="text-right cart__table-cell--line-price create">Item Total</th>
          </thead>
          <tbody>
            {% for item in cart.items %}
              <tr class="cart__row responsive-table__row">
                <td class="cart__table-cell--image small--text-center">
                  {% unless item.image == blank %}
                    {%- assign img_url = item.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                    {%- capture wrapper_id -%}CartImageWrapper--{{ item.image.id }}{%- endcapture -%}
                    {%- capture img_id -%}CartImage--{{ item.image.id }}{%- endcapture -%}
                    {% include 'image-style' with image: item.image, width: 720, height: 600, small_style: false, wrapper_id: wrapper_id, img_id: img_id %}
                    <div id="{{ wrapper_id }}" class="cart__image-wrapper supports-js">
                      <a class="cart__image-container" href="{{ item.url | within: collections.all }}" style="padding-top:{{ 1 | divided_by: item.image.aspect_ratio | times: 100}}%;">
                        <img id="{{ img_id }}"
                             class="cart__image lazyload"
                             src="{{ item.image | img_url: '100x100' }}"
                             data-src="{{ img_url }}"
                             data-widths="[180, 230, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                             data-aspectratio="{{ item.image.aspect_ratio }}"
                             data-sizes="auto"
                             alt="{{ item.title | escape }}"
                             itemprop="image">
                      </a>
                    </div>
                  {% else %}
                    <a class="supports-js" href="{{ item.url | within: collections.all }}">
                      <img src="{{ item.image | img_url: 'grande' }}" alt="{{ item.title | escape }}">
                    </a>
                  {% endunless %}

                  <noscript>
                    <a href="{{ item.url | within: collections.all }}">
                      <img class="cart__image" src="{{ item | img_url: 'grande' }}" alt="{{ item.title | escape }}">
                    </a>
                  </noscript>
                </td>
                <td class="cart__table-cell--meta small--text-center">
                  <p>
                    <a href="{{ item.url }}">{{ item.product.title }}</a>
                    {% unless item.variant.title contains 'Default' %}
                      <br><small>{{ item.variant.title }}</small>
                    {% endunless %}

                    {% assign property_size = item.properties | size %}
                    {% if property_size > 0 %}
                      {% for p in item.properties %}
                        {% assign first_character_in_key = p.first | truncate: 1, '' %}
                        {% unless p.last == blank or first_character_in_key == '_' %}
                          {{ p.first }}:

                          {% comment %}
                            Check if there was an uploaded file associated
                          {% endcomment %}
                          {% if p.last contains '/uploads/' %}
                            <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                          {% else %}
                            {{ p.last }}
                          {% endif %}

                        {% endunless %}
                      {% endfor %}
                    {% endif %}
                  </p>


                </td>

                <td data-label="{{ 'cart.label.quantity' | t }}" class="medium-up--text-center cart__table-cell--quantity">
                  <label class="visually-hidden" for="updates_{{ item.key }}">{{ 'cart.label.quantity' | t }}</label>
                  <input class="quantity-selector" type="number" name="updates[]" id="updates_{{ item.key }}" data-originalQty="{{ item.quantity }}" data-variantId="{{ item.variant_id }}" value="{{ item.quantity }}" min="0">
                    <script type="text/javascript">
                      $('.quantity-selector').change(function() {
                        var $td = $(this).closest('td');
                        var originalQty = $('.quantity-selector', $td).attr('data-originalQty');
                        var qty = $('.quantity-selector', $td).val();
                        var diff = qty - originalQty;
                        var variantId = $('.quantity-selector', $td).attr('data-variantId');

                        if (diff > 0) {
                          $.ajax({
                            url: '/cart/add.js',
                            dataType: 'json',
                            type: 'post',
                            data: {quantity: Math.abs(diff), id: variantId },
                            success: function(lineItem) {
                              // reupdate cart count
                              alert('Quantity changed! Reloading page to update subtotal..')
                              window.location.reload();
                            },
                            error: function(XMLHttpRequest, textStatus) {
                              var data = eval('(' + XMLHttpRequest.responseText + ')');
                              alert(data.description);
                            }
                          });

                        } else {
                          $.ajax({
                            url: '/cart/remove.js',
                            dataType: 'json',
                            type: 'post',
                            data: {quantity: Math.abs(diff), id: variantId },
                            success: function(lineItem) {
                              // reupdate cart count
                              alert('Quantity changed! Reloading page to update subtotal..')
                              window.location.reload();
                            },
                            error: function(XMLHttpRequest, textStatus) {
                              var data = eval('(' + XMLHttpRequest.responseText + ')');
                              alert(data.description);
                            }
                          });
                        }
                      });
                    </script>
                   <p class="txt--minor">
                    <a href="/cart/change?line={{ item.id }}&amp;quantity=0" class="cart__remove"><i class="fa fa-times" aria-hidden="true"></i>{{ 'cart.general.remove' | t }}</a>
                  </p>
                </td>
                 <td class="cart__table-cell--price medium-up--text-center" data-label="{{ 'cart.label.price' | t }}">
                  <span>
                    {{ item.price | money }}
                  </span>
                </td>
                <td data-label="{{ 'cart.label.total' | t }}" class="text-right cart__table-cell--line-price">
                  {% if item.original_line_price != item.line_price %}
                    <p class="cart-item__original-price"><small><s>{{ item.original_line_price | money }}</s></small></p>
                  {% endif %}
                  <span>
                    {{ item.line_price | money }}
                  </span>
                  {% for discount in item.discounts %}
                    <p class="cart-item__discount"><small>{{ discount.title }}</small></p>
                  {% endfor %}
                </td>
              </tr>
            {% endfor %}

          </tbody>
        </table>
        <div class="bds"><a herf="">Estimate Shipping & Tax</a></div>
        <footer class="cart__footer">
          <div class="grid">
            <div class="grid__item medium-up--one-half">
             <p>
             {% comment %}   <button type="submit" name="update" class="btn btn--secondary update-cart">
                  {% include 'icon-update' %}
                  <span class="icon__fallback-text">{{ 'cart.general.update' | t }}</span>
                </button>
               {%endcomment%}

              </p>
              <div>&nbsp;</div>
              <div>&nbsp;</div>
              <div>&nbsp;</div>
              <div>&nbsp;</div>


              <div class="bton"><a class="btn best btn--secondary" href="/collections/all">Click here to keep shopping</a></div>
            </div>
            <div class="grid__item text-center medium-up--one-half medium-up--text-right">
              <p class="totla">
                <span class="cart__subtotal-title h3">{{ 'cart.general.subtotal' | t }}</span>
                <span class="cart__subtotal h3">{{ cart.subtotal | money }}</span>
              </p>
              {% if customer %}
                <!-- user logged in -->

                {% if customer.address.street_address == empty %}
                    Shipping & taxes calculated at checkout, after setting up your address
                {% else %}

                  <p class="cart__footer h3">Shipping price: <span>{% if cart.shipping_price == 0 %} Free Shipping! {% else %} {{ cart.shipping_price | money }} {% endif %}</span></p>
                  <p class="cart__footer h3">Total taxes: <span>{{ cart.tax_total | money }}</span></p>
                  {% if cart.coupon_discount > 0 %}
                      <p class="cart__footer h3">Coupon Discount: <span>- {{ cart.coupon_discount | money }}</span></p>
                  {% endif %}
                  {% if cart.deduced_balance > 0 %}
                      <p class="cart__footer h3">Account Credit: <span>- {{ cart.deduced_balance | money }}</span></p>
                  {% endif %}
                {% endif %}

              {% else %}
                <p class="total">{{ 'cart.general.shipping_at_checkout' | t }}</p>
              {% endif %}

              {% if cart.total_discounts > 0 %}
                {% assign savings = cart.total_discounts | money %}
                <p>
                  <span class="cart-subtotal__savings"><em>{{ 'cart.general.savings_html' | t: price: savings }}</em></span>
                </p>
              {% endif %}
              <p class="txt--emphasis">{{ 'cart.general.shipping_at_checkout' | t }}</p>

              <p>
                {% if customer %}
                  <button type="button" onclick="window.location.href='/account';" name="checkout" class="btn chek">Proceed To Checkout</button>
                {% else %}
                  <button type="button" onclick="window.location.href='/customers/login';" name="checkout" class="btn chek">Proceed To Checkout</button>
                {% endif %}
              </p>
            </div>
          </div>
          <div class="grid clas">
            <div class="left">
              <div class="AlternativeCheckout" style="">
                <p class="PTB20">
                  <span style=""> or </span><a href="https://store-zyoxvrwxab.mybigcommerce.com/checkout.php?action=multiple"><strong>check out with multiple addresses</strong></a>
                </p>
              </div>
              <p>-- or use --</p>
              <div class="centerimg">
                <div class="d"><img src="https://cdn.shopify.com/s/files/1/1455/6524/files/vds.png?13882931735502284429"></div></div>
            </div>

          </div>
          <div class="grid new-c">
            <div class="grid__item medium-up--one-half">
              <div class="CouponCode">
                <h4>Coupon Code</h4>
                <script type="text/javascript">
                  lang.EnterCouponCode = "Please enter your coupon code.";
                </script>
                <form onsubmit="return Cart.CheckCouponCode()" action="https://store-zyoxvrwxab.mybigcommerce.com/cart.php" method="post">
                  <input type="hidden" name="action" value="applycoupon">
                  <div class="CouponCodeWrapper">
                    <p>If you have a coupon code, enter it in the box below and click 'Go'.</p>
                    <p class="Relative">
                      <input type="text" name="couponcode" id="couponcode" class="Textbox Field100">
                      <input type="submit" value="Go" class="btn Small">
                    </p>
                  </div>
                </form>
              </div>
            </div>
            <div class="grid__item text-center medium-up--one-half medium-up--text-right">
             <div class="CouponCode">
                <h4>Redeem Gift Certificate</h4>
                <script type="text/javascript">
                  lang.EnterCouponCode = "Please enter your coupon code.";
                </script>
                <form onsubmit="return Cart.CheckCouponCode()" action="https://store-zyoxvrwxab.mybigcommerce.com/cart.php" method="post">
                  <input type="hidden" name="action" value="applycoupon">
                  <div class="CouponCodeWrapper">
                    <p>To pay for this order using a gift certificate, enter the gift certificate code in the box below and click 'Go'.</p>
                    <p class="Relative">
                      <input type="text" name="couponcode" id="couponcode" class="Textbox Field100">
                      <input type="submit" value="Go" class="btn Small">
                    </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </footer>
      </form>
    {% else %}
    {% comment %}
      The cart is empty
    {% endcomment %}
      <div id="EmptyCart">
        <h1>{{ 'cart.general.title' | t }}</h1>
        <p class="cart--empty-message">{{ 'cart.general.empty' | t }}</p>
        <p class="cart--continue-message">{{ 'cart.general.continue_browsing_html' | t }}</p>
        <p class="cart--cookie-message">{{ 'cart.general.cookies_required' | t }}</p>
      </div>
    {% endif %}
  </div>
</div>
<style>
  .grid.clas {
    display: none;
}
  .grid.new-c {
    display: none;
}
</style>
