<!-- /templates/page.liquid -->
<h1 class="small--text-center">{{ page.title }}</h1>

<div class="rte">
  {{ page.content }}
</div>
<div class="grid">
  <div class="grid__item medium-up--one-half">
<div id="CustomerLoginForm" class="form-vertical">
      {% form 'customer_login' %}

        <h1 class="small--text-center">{{ 'customer.login.title' | t }}</h1>

        {{ form.errors | default_errors }}

        <label for="CustomerEmail" class="label--hidden">{{ 'customer.login.email' | t }}</label>
        <input type="email" name="customer[email]" id="CustomerEmail" class="{% if form.errors contains 'email' %} input--error{% endif %}" placeholder="{{ 'customer.login.email' | t }}" autocorrect="off" autocapitalize="off" autofocus>

        {% if form.password_needed %}
          <label for="CustomerPassword" class="label--hidden">{{ 'customer.login.password' | t }}</label>
          <input type="password" value="" name="customer[password]" id="CustomerPassword" class="{% if form.errors contains 'password' %} input--error{% endif %}" placeholder="{{ 'customer.login.password' | t }}">
        {% endif %}

        <p>
          <input type="submit" class="btn" value="{{ 'customer.login.sign_in' | t }}">
        </p>
        <p>{{ 'layout.customer.create_account' | t | customer_register_link }}</p>
        {% if form.password_needed %}
          <p><a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a></p>
        {% endif %}

      {% endform %}
    </div>
  </div>
  <div class="grid__item medium-up--one-half">
<div class="form-register form-vertical">  
  {% form 'create_customer' %}

    {{ form.errors | default_errors }}
  <h1 class="small--text-center">Create a New Account</h1>

    <label for="FirstName" class="label--hidden">{{ 'customer.register.first_name' | t }}</label>
    <input type="text" name="customer[first_name]" id="FirstName" placeholder="{{ 'customer.register.first_name' | t }}" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>

    <label for="LastName" class="label--hidden">{{ 'customer.register.last_name' | t }}</label>
    <input type="text" name="customer[last_name]" id="LastName" placeholder="{{ 'customer.register.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">

    <label for="Email" class="label--hidden">{{ 'customer.register.email' | t }}</label>
    <input type="email" name="customer[email]" id="Email" class="{% if form.errors contains 'email' %} input--error{% endif %}" placeholder="{{ 'customer.register.email' | t }}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">

    <label for="CreatePassword" class="label--hidden">{{ 'customer.register.password' | t }}</label>
    <input type="password" name="customer[password]" id="CreatePassword" class="{% if form.errors contains 'password' %} input--error{% endif %}" placeholder="{{ 'customer.register.password' | t }}">

    <p>
      <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn">
    </p>

  {% endform %}
</div>
  </div>
</div>