<!-- /templates/collection.liquid -->
<div class="overlay"></div>
<div class="grid">

<div id="neww-id-succes" style="display:none;">
  <div class="row">
     <div class="col-md-12">
       <div class="col-md-1"></div>
       <div class="col-md-11 heading_cart"><h3> OK, 1 item was added to your cart. What next?</h3></div>
    </div>

    <div class="col-md-1"></div>
    <div class="col-md-7 pro_description">
      <div class="col-md-4">
        <img src="">
      </div>
      <div class="col-md-8">
        <span class="prtitle"></span>
        <span class="Quanit">Quanity 1</span>
        <span class="pricE"></span>
      </div>
    </div>
    <div class="col-md-3 pro_order">
      <div class="fastCartSummaryBox">
        <div class="actionLink">
          <a class="alt" href="/collections/all">Continue Shopping</a>
          <div class="clear"></div>
        </div>
        <div class="ProceedToCheckout">
          <div class="CheckoutButton" style="">
            <form action="/cart" method="post" novalidate="" class="cart">
              <button type="submit" name="checkout" class="btn chek Small cta">Proceed to Checkout</button>
            </form>
          </div>
        </div>
        <div class="subtotal">
          <span>Order Subtotal</span>
        </div>
        <div class="totlas"> <span class="ProductPrice"><h2>{{ cart.total_price | money }}</h2></span></div>
        <div class="actionLink">
          <p>Your cart contains <span id="fastCartNumItemsTxt"></span></p>
          <a class="alt" href="#" onclick="$('.modalClose').trigger('click');">Continue Shopping</a>
          <div class="clear"></div>
          <a class="alt" href="/cart">View or edit your cart</a>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <span class="close">X</span>
</div>

</div>

{% paginate collection.products by 12 %}

<div data-section-id="{{ section.id }}" data-section-type="collection-template" data-sort-enabled="{{ section.settings.collection_sort_enable }}" data-tags-enabled="{{ section.settings.collection_tag_enable }}">
  <header class="grid">
    <div class="grid__item nest">
      <div class="grid__item medium-up--one-half small--one-half">
      <h3>{% if current_tags.size > 0 %}{{ current_tags.first }}{% else %}{{ collection.title }}{% endif %}</h3>
      </div>

    {% if section.settings.collection_sort_enable or section.settings.collection_tag_enable %}
      <div class="collection-sorting grid__item medium-up--one-half small--one-half">
        {% if section.settings.collection_tag_enable and collection.all_tags.size > 0 %}
          <div class="collection-sorting__dropdown">
            <label for="BrowseBy" class="label--hidden">{{ 'collections.general.tags' | t }}</label>
            <select name="BrowseBy" id="BrowseBy">
              {% if current_tags %}
                {% if collection.handle %}
                  <option value="/collections/{{ collection.handle }}">{{ 'collections.general.all_tags' | t }}</option>
                {% elsif collection.current_type %}
                  <option value="{{ collection.current_type | url_for_type }}">{{ 'collections.general.all_tags' | t }}</option>
                {% elsif collection.current_vendor %}
                  <option value="{{ collection.current_vendor | url_for_vendor }}">{{ 'collections.general.all_tags' | t }}</option>
                {% endif %}
              {% else %}
                <option value="">{{ 'collections.general.tags' | t }}</option>
              {% endif %}
              {% for tag in collection.all_tags %}
                <option value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}"{% if current_tags contains tag %} selected="selected"{% endif %}>{{ tag }}</option>
              {% endfor %}
            </select>
          </div>
        {% endif %}
        {% if section.settings.collection_sort_enable and collection.products.size > 1 %}
          <div class="collection-sorting__dropdown">
            <label for="SortBy" class="label--hidden">{{ 'collections.sorting.title' | t }}</label>
            <select name="SortBy" id="SortBy" data-value="{{ collection.sort_by | default: collection.default_sort_by }}">
              <option value="manual">{{ 'collections.sorting.featured' | t }}</option>
              <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
              <option value="title-ascending">{{ 'collections.sorting.az' | t }}</option>
              <option value="title-descending">{{ 'collections.sorting.za' | t }}</option>
              <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
              <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
              <option value="created-descending">{{ 'collections.sorting.date_descending' | t }}</option>
              <option value="created-ascending">{{ 'collections.sorting.date_ascending' | t }}</option>
            </select>
          </div>
        {% endif %}
      </div>
    {% endif %}

    {% if collection.description != blank %}
      <div class="collection-description grid__item rte">
        {{ collection.description }}
      </div>
    {% endif %}
    </div>
  </header>
   <!--    Product Compare Content Start -->
  <div class="grid grid--uniform" role="list" id="grid">
<div class="new-loader">
   <div class="w3-container">
        <div class="w3-row-padding">
         {% for product in collection.products %}
          {% assign on_sale = false %}
{% assign sale_text = 'products.product.sale' | t %}
{% if product.is_on_sale %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% assign sold_out_text = 'products.product.sold_out' | t %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}
          {% assign featured = product %}
            <div class="w3-col l3 m6  relPos w3-center ">
                <div class="selectProduct w3-padding" data-title="{{ featured.title }}" data-price="{{ featured.price }}" data-id="{{ featured.id }}" data-size="{{ featured.options.size }}" data-weight="{{ featured.variants.first.weight | weight_with_unit }}"  data-battery="2300 mAH">
<!--                     <a class="w3-btn-floating w3-light-grey addButtonCircular addToCompare">+</a> -->
                   <a href="{{product.url}}"> <img style="height:260px;width:auto;" src="{{ featured.featured_image | img_url: '189x260' }}" class="imgFill productImg ajaximg">
                     <h4>{{ featured.title }}</h4></a>
                  {% if on_sale %}
                  <span class="badge1 badge--sale1"><span>{{ 'products.product.on_sale' | t }}</span></span>
                  {% endif %}


                  {% if sold_out %}
                  <!-- — <strong class="sold-out-text">{{ 'products.product.sold_out' | t }}</strong> -->
                  {% endif %}

                  <div class="product__prices text-center">
                    {% if product.is_on_sale %}

                    <span class="product__price--on-sale">
                      {% if product.price_varies %}
                      {% assign sale_price = product.price | money %}
                      {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                      {% else %}
                      <strong class="visually-hidden">{{ 'products.product.sale_price' | t }}</strong>
                      {{ product.price | money }}
                      {% endif %}
                    </span>

                    {% else %}

                    <span class="product__price">
                      {% if product.price_varies %}
                      {% assign price = product.price | money %}
                      {{ 'products.product.from_text_html' | t: price: price }}
                      {% else %}
                      <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                      {{ product.price | money }}
                      {% endif %}
                    </span>

                    {% endif %}
                    {% if product.is_on_sale %}
                    <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                    <s>{{ product.compare_at_price | money }}</s>
                    {% endif %}
                  </div>
                </div>

                {% if sold_out and product.variants.size == 1 %}
                  <form action="/waitlist/add" method="post" id="product-form-{{ product.id }}">
                    <input type="hidden" name="id" id="product-select-{{ product.id }}"  value="{{ product.first_variant.id }}">
                    <div>
                      <div class="Addto"> <Button class="AddCart" data-price="{{ product.price | money }}" id="waitlist-new-id-{{ product.id }}" href="{{product.url}}">Add To Wishlist</button></div>
                    </div>
                  </form>

                {% else %}
              <form action="/cart/add" method="post" id="product-form-{{ product.id }}">
                <input type="hidden" name="id" id="product-select-{{ product.id }}"  value="{{ product.first_available_variant.id }}">
                <div>
                  {% if product.variants.size > 1 %}

                  <div class="Addto"> <a class="AddCart1" href="{{product.url}}">Choose option</a></div>
                  {%else%}
                  <div class="Addto"> <Button class="AddCart" data-price="{{ product.price | money }}"id="new-id-{{ product.id }}" href="{{product.url}}">Add To Cart</button></div>
                  {%endif%}
                </div>
              </form>
              {% endif %}
            </div>
          <script>

            $('#waitlist-new-id-{{ product.id }}').click(function(r){
              r.preventDefault();
              var ab = $('#product-select-{{ product.id }}').val();
              $.ajax({
                type: 'POST',
                url: '/waitlist/add.js',
                dataType: 'json',
                data: {id: ab },
                success:function(response)
                {
                  alert('The item was added to your waitlist!');
                },
                error: function(data) {
                    var message = 'An error occurred.';
                    try { message = data.responseJSON.description[0]; } catch (e) {}
                    alert(message);
                }
              });
            });

            $('#new-id-{{ product.id }}').click(function(r){
              r.preventDefault();
              var ab = $('#product-select-{{ product.id }}').val();
              var price = $(this).attr('data-price');

            $.ajax({
              type: 'POST',
              url: '/cart/add.js',
              dataType: 'json',
              data: {quantity: 1, id: ab },
              success:function(response)
              {
                $.ajax({
                  type: 'GET',
                  url: '/cart',
                  dataType: 'html',
                  success:function(data){
                    var ab = $(data).find('.cart__subtotal').text();
                    jQuery.getJSON('/cart.js', function(cart){
                      jQuery('#produ').html(cart.total_price,"{{ shop.money_format }}");
                      jQuery('#CartCount').html(cart.item_count);
                      jQuery('#fastCartNumItemsTxt').html(cart.item_count);
                    });

                    $('#new-id-{{ product.id }}').text('Adding...');
                      setTimeout(function(){
                      $('#new-id-{{ product.id }}').text("Added");}, 2000);
                        setTimeout(function(){
                          $('#new-id-{{ product.id }}').text("Add To Cart");
                        }, 3000);

                        $('.ProductPrice').text(ab);
                        $('#neww-id-succes .prtitle').text(response.title);
                        $('#neww-id-succes .pricE').text(price);
                        var imageSrcs = response.image;

                        $('#neww-id-succes img').attr('src',imageSrcs);
                        $("#neww-id-succes").fadeIn(1000);
                        $('.overlay').css('top', '0px').fadeIn(300);
                      }
                    });
                  },
                  error: function(XMLHttpRequest, textStatus) {
                    var data = eval('(' + XMLHttpRequest.responseText + ')');
                    alert(data.description);
                  }
                });
              });
          </script>

		  {% endfor %}
        </div>
    </div>
   </div>
  </div>
<!--      Product Compare Content End -->
 {%comment%}
  <div class="grid grid--uniform" role="list" id="grid">
<div class="new-loader">
    {% for product in collection.products %}
      {% if collection.products.size == 1 %}
        {% assign grid_item_width = 'medium-up--one-quarter small--one-whole' %}
      {% else %}
        {% assign grid_item_width = 'medium-up--one-quarter small--one-half' %}
      {% endif %}
      {% include 'product-grid-item' %}
    {% else %}
      {% comment %}
        Add default products to help with onboarding for collections/all only.

        The onboarding styles and products are only loaded if the
        store has no products.
      {% endcomment %}
      {% if shop.products_count == 0 and collection.handle == 'all' %}
        {% unless onboardingLoaded %}
          {% comment %}
            Only load onboarding styles if they have not already been loaded.
          {% endcomment %}
          {% assign onboardingLoaded = true %}
        {% endunless %}
        <div class="grid__item">
          <div class="grid grid--uniform">
            {% assign collection_index = 1 %}
            {% for i in (1..6) %}
              <div class="grid__item small--one-half medium-up--one-third text-center">
                <a href="/admin/products" class="grid__image">
                  {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                  {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                </a>
                <div class="product__title"><a href="/admin/products">{{ 'homepage.onboarding.product_title' | t }}</a></div>
                <div class="product__price">$19.99</div>
              </div>
              {% assign collection_index = collection_index | plus: 1 %}
            {% endfor %}
          </div>
        </div>
      {% else %}
        {% comment %}
          If collection exists but is empty, display message
        {% endcomment %}
        <div class="grid__item">
          <p>{{ 'collections.general.no_matches' | t }}</p>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  </div>
{%endcomment%}
  {% if paginate.pages > 1 %}
    <div class="pagination text-center">
      {{ paginate | default_pagination }}
    </div>
  {% endif %}
 </div>


{% endpaginate %}
{%comment%}
<!-- Product Compare Content Start -->
    <!--preview panel-->
    <div class="w3-container  w3-center">
        <div class="w3-row w3-card-4 w3-grey w3-round-large w3-border comparePanle w3-margin-top">
            <div class="w3-row">
                <div class="w3-col l9 m8 s6 w3-margin-top">
                    <h4>Added for comparison</h4>
                </div>
                <div class="w3-col l3 m4 s6 w3-margin-top">
                    &nbsp;
                    <button class="w3-btn w3-round-small w3-white w3-border notActive cmprBtn" disabled>Compare</button>
                </div>
            </div>
            <div class=" titleMargin w3-container comparePan">
            </div>
        </div>
    </div>
    <!--end of preview panel-->

    <!-- comparision popup-->
    <div id="id01" class="w3-animate-zoom w3-white w3-modal modPos">
        <div class="w3-container">
            <a onclick="document.getElementById('id01').style.display='none'" class="whiteFont w3-padding w3-closebtn closeBtn">&times;</a>
        </div>
        <div class="w3-row contentPop w3-margin-top">
        </div>

    </div>
    <!--end of comparision popup-->

    <!--  warning model  -->
    <div id="WarningModal" class="w3-modal">
        <div class="w3-modal-content warningModal">
            <header class="w3-container w3-teal">
                <h3><span>&#x26a0;</span>Error</h3>
            </header>
            <div class="w3-container">
                <h4>Maximum of Three products are allowed for comparision</h4>

            </div>
            <footer class="w3-container w3-right-align">
                <button id="warningModalClose" onclick="document.getElementById('id01').style.display='none'" class="w3-btn w3-hexagonBlue w3-margin-bottom  ">Ok</button>
            </footer>
        </div>
    </div>
    <!--  end of warning model  -->
<!-- Product Compare Content End -->
{%endcomment%}
{% schema %}
  {
    "name": "Collection pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "vendor_show",
        "label": "Show product vendor"
      },
      {
        "type": "checkbox",
        "id": "collection_sort_enable",
        "label": "Enable collection sorting",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "collection_tag_enable",
        "label": "Enable filtering by product tag",
        "default": false
      }
    ]
  }
{% endschema %}
<script>
  $('.close').click(function(){
    $('#neww-id-succes').hide();
    $('.overlay').hide();
  });
</script>
<style>
  .CheckoutButton button.btn.chek {
    padding: 0 5px;
  }
  a.AddCart1 {
    background-color: #a4ccbb;
    color: #efeeeb;
    border: 2px solid #a4ccbb;
    border-radius: 5px;
    line-height: 33px;
    font-size: 13px;
    padding: 10px 15px;
    font-weight: bold;
    width: 80%;
  }
</style>
