 <div class="overlay"></div>
<div class="grid">

<div id="neww-id-succes" style="display:none;">
  <div class="row">
     <div class="col-md-12">
       <div class="col-md-1"></div>
       <div class="col-md-11 heading_cart"><h3> OK, 1 item was added to your cart. What next?</h3></div>
    </div>

    <div class="col-md-1"></div>
    <div class="col-md-7 pro_description">
      <div class="col-md-4">
        <img src="">
      </div>
      <div class="col-md-8">
        <span class="prtitle"></span>
        <span class="Quanit">Quanity 1</span>
        <span class="pricE"></span>
      </div>
    </div>
    <div class="col-md-3 pro_order">
      <div class="fastCartSummaryBox">
        <div class="actionLink">
          <a class="alt" href="/collections/all">Continue Shopping</a>
          <div class="clear"></div>
        </div>
        <div class="ProceedToCheckout">
          <div class="CheckoutButton" style="">
            <form action="/cart" method="post" novalidate="" class="cart">
            <button type="submit" name="checkout" class="btn chek Small cta">Proceed to Checkout</button>

            </form>
          </div>
          <div class="FloatRight PayPalExpressCheckout RemoteCheckout CheckoutButton" style="">
            <p>-- or use --</p>
            <div>
<!--               <form id="PayPalExpressCheckoutForm" name="PayPalExpressCheckoutForm" method="post" action="https://cheekysboutique.com/checkout.php" data-paypal-checkout="">
                <input id="PayPalExpressCheckoutButton" type="image" name="submit" alt="Checkout with PayPal" src="http://cdn6.bigcommerce.com/r-279066e250d6d14f0915f0db4ddfc500232d38e3/img/payment-providers/paypal-checkout-btn-small.png" data-paypal-click-listener="">
                <input type="hidden" name="provider" value="paypalexpress">
                <input type="hidden" name="action" value="set_external_checkout">
              </form>
 -->            </div>
          </div>
        </div>
        <div class="subtotal">
          <span>Order Subtotal</span>
        </div>
        <div class="totlas"> <span class="ProductPrice"><h2>{{ cart.total_price | money }}</h2></span></div>
        <div class="actionLink">
          <p>Your cart contains <span id="fastCartNumItemsTxt"></span></p>
          <a class="alt" href="#" onclick="$('.modalClose').trigger('click');">Continue Shopping</a>
          <div class="clear"></div>
          <a class="alt" href="/cart">View or edit your cart</a>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <span class="close">X</span>
</div>

</div>
{% assign featured = section.settings.home_page_featured_products %}
{% assign products_per_row = 3 %}
{% assign rows = section.settings.home_featured_products_row_num %}
{% assign total_products = products_per_row | times: rows %}

{% unless settings.home_section_1 == 'banner-image' %}
  <hr class="medium-up--hide hr--clear hr--small">
{% endunless %}

<div class="featured-products">

  {% if section.settings.title != blank %}
    <h2 class="small--text-center">{{ section.settings.title | escape }}</h2>
  {% endif %}

  <div class="grid grid--uniform" role="list">

    {% for product in collections[featured].products limit: total_products %}
      {% include 'Rotate' %}
      <!-- else  -->
      {% comment %}
        If collection is empty, show onboarding state
        For onboarding new users to your theme, we add some default products and onboarding tutorials to help populate their store
      {% endcomment %}

      {% unless onboardingLoaded %}
        {% comment %}
          Only load onboarding styles if they have not already been loaded.
        {% endcomment %}
        {% assign onboardingLoaded = true %}
      {% endunless %}

      {% comment %}
      <div class="grid__item">
        <div class="grid grid--uniform">
          {% for i in (1..total_products) %}
            <div class="grid__item product medium-up--one-third small--one-half text-center">
              <a href="/admin/products" class="product__image-wrapper">
                {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
              </a>
              <div class="product__title"><a href="/admin/products">{{ 'homepage.onboarding.product_title' | t | capitalize }}</a></div>
              <div class="product__price">$19.99</div>
            </div>
          {% endfor %}
        </div>
      </div>
      {% endcomment %}

    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "type": "collection",
        "id": "home_page_featured_products",
        "label": "Collection"
      },
      {
        "type": "range",
        "id": "home_featured_products_row_num",
        "label": "Rows",
        "min": 1,
        "max": 10,
        "step": 1,
        "default": 2
      }
    ],
    "presets": [{
      "name": "Featured collection",
      "category": "Collection"
    }],
    "blocks" : []
  }
{% endschema %}
