<!-- /templates/product.liquid -->
<div itemscope itemtype="http://schema.org/Product" id="ProductSection" data-section-id="{{ section.id }}" data-section-type="product-template" data-image-zoom-type="{{ section.settings.product_image_zoom_type }}" data-show-extra-tab="{{ section.settings.show_extra_tab }}" data-extra-tab-content="{{ section.settings.extra_tab_content }}" data-cart-enable-ajax="{{ settings.cart_enable_ajax }}" data-enable-history-state="true">

  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  {% comment %}
    Get first variant in stock, or deep linked one
  {% endcomment %}
  {% assign current_variant = product.selected_or_first_available_variant %}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <div class="grid product-single">

    <div class="grid__item medium-up--one-half">
      {% for image in product.images %}
        {% capture img_id %}ProductImage-{{ image.id }}{% endcapture %}
        {% capture wrapper_id %}ProductImageWrapper-{{ image.id }}{% endcapture %}
        {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

        {% include 'image-style' with image: image, width: 720, height: 600, small_style: true, wrapper_id: wrapper_id, img_id: img_id %}

        <div id="{{ wrapper_id }}" class="product-single__featured-image-wrapper supports-js{% unless featured_image == image %} hidden{% endunless %}" data-image-id="{{ image.id }}">
          <div class="product-single__photos" data-image-id="{{ image.id }}" style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;">
            <!-- {{ 1 | divided_by: image.aspect_ratio | times: 100}} -->
            <img id="{{ img_id }}"
                 class="main-image product-single__photo lazyload{% unless featured_image == image %} lazypreload{% endunless %}{% if section.settings.product_image_zoom_type == 'lightbox' %} lightbox{% endif %}"
                 {% if section.settings.product_image_zoom_type == 'zoom-in' %} data-zoom="{{ image | img_url: '1024x' }}"{% endif %}
                 src="{{ image | img_url: '1024x' }}"

                 alt="{{ image.alt | escape }}">
          </div>
          {% if product.is_on_sale %}
            <span class="badge badge--sale"><span>{{ 'products.product.on_sale' | t }}</span></span>
          {% endif %}
        </div>
      {% endfor %}

      <noscript>
        <img src="{{ featured_image | img_url: 'grande' }}" alt="{{ featured_image.alt | escape }}">
      </noscript>

      {% if product.images.size > 1 %}
        <ul class="product-single__thumbnails grid grid--uniform" id="ProductThumbs">

          {% case product.images.size %}
            {% when 2 %}
              {% assign thumbnail_width = 'small--one-half medium-up--push-one-sixth medium-up--one-third' %}
            {% when 4 %}
              {% assign thumbnail_width = 'small--one-half medium-up--one-quarter' %}
            {% else %}
              {% assign thumbnail_width = 'small--one-third medium-up--one-third' %}
          {% endcase %}

          {% for image in product.images %}
            <li class="grid__item {{ thumbnail_width }}">
              <a href="{{ image.src | img_url: 'grande' }}" class="product-single__thumbnail" data-image-id="{{ image.id }}">
                <img src="{{ image.src | img_url: 'compact' }}" data-master= "{{ image.src | img_url: 'master' }}" alt="{{ image.alt | escape }}" class="thumbanil">
              </a>
            </li>
          {% endfor %}

        </ul>
      {% endif %}

      {% if section.settings.product_image_zoom_type == 'lightbox' %}
        <ul class="gallery hidden">
          {% for image in product.images %}
            <li data-image-id="{{ image.id }}" class="gallery__item" data-mfp-src="{{ image | img_url: '2048x2048' }}"></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <div class="grid__item medium-up--one-half{% if product.images.size == 0%} medium-up--push-one-half{% endif %}">
      <div class="product-single__meta small--text-center">
        <h1 class="product-single__title" itemprop="name">{{ product.title }}</h1>

        {% if section.settings.vendor_show %}
          <p class="product-single__vendor" itemprop="brand">{{ product.vendor }}</p>
        {% endif %}

        <p class="product-single__prices">
          {% if product.is_on_sale %}
            <span id="ComparePriceA11y" class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
          {% else %}
            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
          {% endif %}
          <span id="ProductPrice" class="product-single__price" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
            {{ current_variant.price | money }}
          </span>

          {% if product.is_on_sale %}
            <span id="PriceA11y" class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            <s class="product-single__price--compare" id="ComparePrice">
              {{ current_variant.compare_at_price | money }}
            </s>
          {% endif %}
        </p>

        {% assign sold_out = true %}
        {% if product.available %}
          {% assign sold_out = false %}
        {% endif %}

        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}">

          <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

               <!-- if variant.available or sold_out  -->
               <!-- if variant == product.selected_or_first_available_variant -->
                <!-- <option {% if forloop.first %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option> -->
               <!-- else  -->
                <!-- <option disabled="disabled"> -->
                  <!-- {{ variant.title }} - {{ 'products.product.sold_out' | t }} -->
                <!-- </option> -->
               <!-- endif -->
          <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-form">
            <select name="id" id="ProductSelect-{{ section.id }}" class="selected-variant-option product-single__variants">
              {% for variant in product.variants %}
                  {% if variant.available %}
                      <option {% if variant == current_variant %}
                          selected="selected" {% endif %} data-sku="{{ variant.sku }}"
                          value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                  {% else %}
                      <option value="{{ variant.id }}" data-sku="{{ variant.sku }}">
                          {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                      </option>
                  {% endif %}

              {% endfor %}
            </select>
            <div class="resi">
              {% for variant in product.variants %}
                  {% if product.variants.size == 1 %}

                  {% else %}
                      <input type="radio" data-variantId="{{ variant.id }}" {% if variant == current_variant %} checked="checked" {%endif%} group="variants_radio" name="variant_radio" id="{{variant.id}}" value="{{variant.title}}" />
                      <label for="{{variant.id}}" ><span>{{ variant.title }}</span></label>
                  {% endif %}
              {% endfor %}
            </div>

            {% if section.settings.product_quantity_enable %}
              <div class="product-single__quantity">
                <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
                <input type="number" id="Quantity" name="quantity" value="1" min="1">
              </div>
            {% endif %}

            {% if sold_out %}
              <div class="product-single__cart-submit-wrapper">
                <h4>Sold Out</h4>
                <button disabled="disabled" type="submit" name="add" id="AddToCart" class="btn product-single__cart-submit btn--secondary">
                  <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
                </button>
              </div>
            {% else %}
              <div class="product-single__cart-submit-wrapper">
                <button type="submit" name="add" id="AddToCart" class="btn product-single__cart-submit btn--secondary">
                  <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
                </button>
              </div>
            {% endif %}

          </form>

        </div>
        <div class="Block Panel AddToWishlist" id="SideProductAddToWishList">
    <input class="btn alt wishTrigger Tiny wishbtn" value="Add to Wishlist" type="button" title="Add to Wish List" style="display:">

    <script type="text/javascript">
      $('.wishTrigger').click(function(r){
        r.preventDefault();
        $.ajax({
          type: 'POST',
          url: '/waitlist/add.js',
          dataType: 'json',
          data: {id: $('.selected-variant-option').val() },
          success:function(response)
          {
            alert('The item was added to your waitlist!');
          },
          error: function(data) {
              var message = 'An error occurred.';
              try { message = data.responseJSON.description[0]; } catch (e) {}
              alert(message);
          }
        });
      });

    </script>

        </div>
        {% if section.settings.product_description_position == 'right' %}
          {%- assign position = 'right' -%}
          {% include 'product-description' %}
        {% endif %}
       <div class="posit"> <div class="share">Share</div>
        <div class="prod-share" style="display:none;">
        {% if section.settings.social_sharing_products %}
          {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
        {% endif %}
        </div>
        </div>
      </div>
    </div>

  </div>
  <div class="accordion_container">
    <div class="Block Moveable Panel" id="ProductReviews">
      <H3 class="accordion_head">Product Description</h3>
      <div class="accordion_body">
        {% if section.settings.product_description_position == 'below' %}
          {%- assign position = 'below' -%}
          {% capture full_product_description %}
            {% include 'product-description' %}
          {% endcapture %}
          <div id="full-product-description" style="overflow: hidden;">
            {{ full_product_description }}
          </div>
        {% endif %}
      </div>
    </div>
    <div class="Block Moveable Panel" id="ProductReviews">
      <H3 class="accordion_head">Product Reviews<span class="plusminus">+</span></h3>
      <div class="accordion_body" style="display: none;">
        <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
      </div>
    </div>
    <div class="Block Moveable Panel" id="ProductReviews">
      <H3 class="accordion_head">Customer Also Viewed<span class="plusminus">+</span></h3>
      <div class="accordion_body" style="display: none;">
        {%include 'Recently-view'%}
      </div>
    </div>
  </div>
  {% include 'related-products' %}
  </div>
{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
{% endunless %}

<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  window.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  }
</script>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "product_quantity_enable",
        "label": "Show quantity selector"
      },
      {
        "type": "checkbox",
        "id": "vendor_show",
        "label": "Show product vendor"
      },
      {
        "type": "checkbox",
        "id": "social_sharing_products",
        "label": "Enable sharing for products",
        "default": true
      },
      {
        "type": "header",
        "content": "Description"
      },
      {
        "type": "select",
        "id": "product_description_position",
        "label": "Position",
        "default": "below",
        "options": [
          {
            "value": "right",
            "label": "Right of images"
          },
          {
            "value": "below",
            "label": "Below images"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "show_extra_tab",
        "label": "Show a tab next to your product description",
        "default": false
      },
      {
        "type": "page",
        "id": "extra_tab_content",
        "label": "Tab content",
        "info": "This page content will appear in the extra tab."
      },
      {
        "type": "header",
        "content": "Featured image"
      },
      {
        "type": "select",
        "id": "product_image_zoom_type",
        "label": "Zoom type",
        "options": [
          {
            "value": "lightbox",
            "label": "Lightbox"
          },
          {
            "value": "zoom-in",
            "label": "Zoom-in"
          },
          {
            "value": "",
            "label": "No zoom"
          }
        ]
      }
    ]
  }
{% endschema %}
<script>
  $(document).ready(function(){
    //toggle the component with class accordion_body
    $(".accordion_head").click(function(){
        if ($('.accordion_body').is(':visible')) {
            $(".accordion_body").slideUp(300);
            $(".plusminus").text('+');
        }
        if( $(this).next(".accordion_body").is(':visible')){
            $(this).next(".accordion_body").slideUp(300);
            $(this).children(".plusminus").text('+');
        }else {
            $(this).next(".accordion_body").slideDown(300);
            $(this).children(".plusminus").text('-');
        }
    });
});
</script>
<script>
  $(".share").click(function(){
        $(".prod-share").slideToggle();
    });
</script>
<style>
.resi label {
    display: inline-block;
    background: #fff;
    padding: 5px 14px;
    color:  #9c756f;
    margin: 8px 1px;
}
  input[type=radio]:checked +label{
    background-color: #6a6a6a;
    color:#fff;
}
  .resi input {
    display: none;
}

  /* http://jsfiddle.net/496c9/ */
 .radioSelectContainer > select {
     /*display: none;*/
}
.radioSelectContainer > label {
    display: inline-block;
    margin: 0.3em 0.3em 0 0;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
}
.radioSelectContainer > label > span {
    padding:0.2em;
    text-align:center;
    display:block;
}
.radioSelectContainer > label > input {
    position:absolute;
    top:-20px;
}
.radioSelectContainer > label > input:checked + span {
    background-color:#9c756f;
    color:#fff;
}

</style>
<script>
$("input[name=variant_radio]").change(function(){
  var val = $(this).val();
  if ($('.selected-variant-option').length) {
    var variantId = $(this).attr('data-variantId');
    $('.selected-variant-option option').attr('selected', false);
    $('.selected-variant-option').val(variantId);
    $('.selected-variant-option option[value='+variantId+']').prop('selected', true).trigger('change');
  } else {
    $(".single-option-selector option[value="+val+"]").prop('selected',true).trigger('change');
  }
});
</script>
<script>
   $('.thumbanil').click(function(){
var src = $(this).attr('data-master');
//console.log(src);
var sib = $(this).parents().find('.product-single__photos img').attr('src');
$('.product-single__photos .main-image').attr('src',src);
$('.product-single__photos img').attr('src',src);

});
</script>

{{ 'readmore.min.js' | asset_url | script_tag }}
<script type="text/javascript">
  $('#full-product-description').readmore({
      collapsedHeight: 90,
      moreLink: '<a style="color:#f16372;" href="#">Read more..</a>',
      lessLink: '<a style="color:#f16372;" href="#">Read less..</a>'
  });
</script>
