<div class="Slider">
{% if section.blocks.size > 0 %}

    <div class="owl-carousel">
      {% for block in section.blocks %}
        <div class="hero__slide hero__slide--{{ block.id }}" {{ block.shopify_attributes }}>

            {% if block.settings.image != blank %}
              <noscript>
                <div class="hero__image hero__image--{{ block.id }}"{% if block.settings.image %} style="background-image: url('{{ block.settings.image | img_url: '2048x' }}');"{% endif %}></div>
              </noscript>
              {% assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
              <img class="hero__image hero__image--{{ block.id }} lazyload {% unless forloop.first == true %} lazypreload{% endunless %}"
                {% if forloop.first == true %}
                  src="{{ block.settings.image | img_url: '720x' }}"
                {% endif %}
                data-src="{{ img_url }}"
                data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
                data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                data-sizes="auto"
                data-parent-fit="cover"
                alt="{{ block.settings.image.alt | escape }}">
            {% else %}
              {% if block.settings.image == blank %}
                <div class="placeholder-background">
                  {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
              {% endif %}
            {% endif %}

          </div>

      {% endfor %}
    </div>
{% endif %}
</div>
{% schema %}
  {
    "name": "Slideshow",
    "max_blocks": 5,
    "blocks": [
      {
        "type": "slide",
        "name": "Slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Slide"
          },
          {
            "type": "text",
            "id": "subheading",
            "label": "Subheading",
            "default": "View all products"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Slide link"
          }
        ]
      }
    ]
  }
{% endschema %}

<script>
  $(document).ready(function(){
  $('.owl-carousel').owlCarousel({
     margin:10,
      autoWidth:false,
      nav:true,
    dots:true,

      items:1,
      navText : ['<i class="fa fa-angle-left" aria-hidden="true"></i>','<i class="fa fa-angle-right" aria-hidden="true"></i>']
});
});
</script>
<style>

</style>
