<!-- /snippets/collection-sidebar.liquid -->


  {% comment %}
    To provide a 'catch-all' link at the top of the list,
    check against the collection.handle, product type, and vendor.
  {% endcomment %}

<div class="leftnav">
  <div class="sidenav-top-element">
    <img class="" src="{{ 'element_bordertop_green.png' | asset_url }}" />
  </div>
  <div class="sidenav js-gf-sidenav">
  {% comment %}<div class="holidaynavitem"><a href="/collections/holiday-2016">Holiday Collection</a></div>  {% endcomment %}
  <ul class="no-bullet sideBarnav">
    {% for link in linklists.collection-leftnav.links %}

                        {% assign has_active_child = false %}
                        {% assign active_collection = link.active %}
                        {% assign active_collection_2 = false %}
                        {% assign active_collection_title = "" %}
                        {% assign title = "" %}
                        {% assign third_title = "" %}

                        {% comment %}Find any active children.{% endcomment %}

                        {% if linklists[link.handle] != empty %}
                          {% for link2 in linklists[link.handle].links %}

                            {% if link2.active %}

                              {% assign has_active_child = true %}
                              {% assign active_collection = true %}
                            {% for link_2 in linklists[link2.handle].links %}

                            {% endfor %}
                          {% else %}
                            {% for second_link in linklists[link2.handle].links %}
                                  {% if second_link.active %}

                                    {% assign active_collection_2 = true %}
                                    {% assign active_collection_title = link.handle %}
                              {% assign title = second_link.handle %}
                              {% assign third_title = link2.handle %}
                              {% else %}
                              {% assign active_collection_2 = false %}
                                  {% endif %}
                            {% endfor %}

                            {% endif %}
                          {% endfor %}
                        {% endif %}

          {% if active_collection %}
                        <li class="{% if active_collection %} d{% endif %}">
                          <a class="sidenav__collection {% if active_collection %} active selected js-active-collection{% endif %}" href="{{ link.url }}" title="{{ link.title | escape }}">{{ link.title }}</a>
                          {% if active_collection %}
                            <ul>
                            {% for link in linklists[link.handle].links %}
                              <li class="submenu-item {% if link.active %} proDrpdwn{% endif %}">
                                <a class="sidenav__collection{% if link.active %} active selected js-active-collection{% endif %}" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>

                                {% if linklists[link.handle].links != empty %}
                                <ul>
                                  {% for link2 in linklists[link.handle].links %}
                                    <li>
                                    <a href="{{ link2.url }}" title="{{ link2.title }}" class="">{{ link2.title }}</a>
                                    </li>
                                  {% endfor %}
                                </ul>
                                {% endif %}


                              </li>
                            {% endfor %}
                            </ul>

                          {% endif %}
                        </li>
                  {% else %}
                        <li class="{% if active_collection_title != blank %} e{% endif %}">
                          <a class="sidenav__collection {% if active_collection_title != blank %} active selected  js-active-collection{% endif %}" href="{{ link.url }}" data-qt="{{ link.handle }}" title="{{ link.title | escape }}">{{ link.title }}</a>
                          {% if active_collection_title != blank %}
                            <ul>
                            {% for link in linklists[link.handle].links %}
                              <li class="submenu-item {% if third_title == link.handle %} proDrpdwn{% endif %}">
                                <a {% if third_title == link.handle %} class="sidenav__collection active selected js-active-collection"{% endif %} href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>


                                {% if linklists[link.handle].links != empty %}
                                  <ul>
                                    {% for link2 in linklists[link.handle].links %}
                                      <li>
                                          <a class="sidenav__collection{% if collection.handle == link2.handle %} active selected js-active-collection{% endif %}" href="{{ link2.url }}" title="{{ link2.title }}">{{ link2.title }}</a>
                                      </li>
                                    {% endfor %}
                                  </ul>
                                {% endif %}



                              </li>
                            {% endfor %}
                            </ul>
                          {% endif %}
                        </li>
                  {% endif %}
                      {% endfor %}
  </ul>
  </div>
  <div class="sidenav-bottom-element">
    <img class="" src="{{ 'element_borderbottom_green.png' | asset_url }}" />
  </div>
  <div class="filter-menu-block js-gf-filtergroups">
    {% include 'filter-menu' %}
  </div>
  <div class="sidebar-promo">
    <a href="/products/gift-cards"><img src="{{ 'promo_xmasgiftcards.png' | asset_url }}" class="gift=card-promo" /></a>
  </div>

</div>


    {% comment %}---------------Not so smart list{% endcomment %}
{% comment %}<div id="collection-sidebar" class="">

    <div class="leftnav">
      <div class="sidenav js-gf-sidenav">
        <ul class="no-bullet">
          {% for link in linklists.dresses.links %}
          <li> {{ link.title | link_to: link.url }}</li><br />
          {% endfor %}
        </ul>
      </div>
    </div>
</div>{% endcomment %}


<!-- /// —  QT  —----------------  //-->
<script>
  var GFMU = GFMU || {};

  GFMU.sidebar = (function (window, document, $, undefined) {
    'use strict';

    var resizeTimer;

    function mobileSetup($nav, $filterGroups) {

      $nav.find('.active').parents('li').addClass('proDrpdwn');

      $nav.find('.js-active-collection').on('click.toggleMenu tap.toggleMenu', function (e) {
        if ($(window).width() <= 768) {
          e.preventDefault();
          $(this).closest('li').find('ul').slideToggle(300, 'linear');
        }
      });

      $filterGroups.on('click.toggleFilterBlock tap.toggleFilterBlock', '.filternav__group__subhead', function () {
        //if ($(window).width() <= 768) {
          $(this).closest('.filter-group').find('.scroll-content').slideToggle(300, 'linear');
        //}
      });

      $filterGroups.on('click.toggleFilterGroups tap.toggleFilterGroups', '.gf-filter-title', function () {
        if ($(window).width() <= 768) {
         var $title = $(this),
           $groups = $filterGroups.find('.filter-group').not('.refine-header');

          if (!$title.hasClass('js-gf-is-open')) {
            $groups.fadeIn(300, function () {
              $(this).addClass('filter-menu-open');
            });
            $title.addClass('js-gf-is-open');
          } else {
            $groups.fadeOut(300, function () {
              $(this).removeClass('filter-menu-open');
            });
            $title.removeClass('js-gf-is-open');
          }
        }
      });
    }


    // function mobileTeardown($nav, $filterGroups) {
    //   $filterGroups.show();
    //   $nav.find('.js-active-collection').closest('li').find('ul').show();
    //   $nav.find('.js-active-collection').off('click.toggleMenu tap.toggleMenu');
    // }



    function init () {
      $(document).ready(function () {
        var $nav = $('.js-gf-sidenav').first(),
            $filterBlocks = $('.js-gf-filtergroups').first();
        mobileSetup($nav, $filterBlocks);
      });

      $(window).on('resize', function(e) {
        clearTimeout(resizeTimer);
        resizeTimer = setTimeout(function() {
          if ($(window).width() > 768) {
            $('.filter-group').show();
            $('.js-gf-sidenav').find('.js-active-collection').closest('li').find('ul').show();
          }
        }, 250);
      });
    }

    return {
        init: init
    };

  })(window, document, jQuery);

  GFMU.sidebar.init();
</script>


  
  

