<!-- /snippets/collection-image.liquid -->

{% if collection.image %}

<div class="collection-masthead">
	
	<div class="grid--full">
		<div class="c-image" >
		  <img src="{{ collection.image.src | collection_img_url: 'master' }}" />
		</div>

		<div class="c-image-mobile" style="background-image: url('{{ collection.image.src | collection_img_url: 'master' }}') ">

		</div>

	</div>	
	


	
	<div class="grid">
		<div class="c-heading-wrapper">
			<div class="grid__item large--one-half large--right medium-down--text-center">
				
				<div class="c-heading">
				
					<h1>{{ collection.title }}</h1>
					{{ collection.description }}
				</div>

			</div>
		

		</div>

	</div>

</div>



{% endif %}