<!-- /snippets/collection-sidebar.liquid -->


  {% comment %}
    To provide a 'catch-all' link at the top of the list,
    check against the collection.handle, product type, and vendor.
  {% endcomment %}

<div class="leftnav">
  <div class="sidenav-top-element">
    <img class="" src="{{ 'element_bordertop_green.png' | asset_url }}" />
  </div>
  <div class="sidenav js-gf-sidenav">
    <ul class="no-bullet sideBarnav">
      {% for link in linklists.main-menu.links %}
        
        {% assign has_active_child = false %}
        {% assign active_collection = link.active %}
        
        {% comment %}Find any active children.{% endcomment %}
        
        {% if linklists[link.handle] != empty %}
          {% for link in linklists[link.handle].links %}
            {% if link.active %}
              {% assign has_active_child = true %}
              {% assign active_collection = true %}
            {% endif %}
          {% endfor %}
        {% endif %}

        <li>
          <a class="sidenav__collection {% if active_collection %} active js-active-collection{% endif %}" href="{{ link.url }}" title="{{ link.title | escape }}">{{ link.title }}</a>
          {% if active_collection %}
            <ul>
            {% for link in linklists[link.handle].links %}
              <li class="submenu-item">
                <a {% if link.active %}class="active"{% endif %} href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}
                </a>
              </li>
            {% endfor %}
            </ul>
          {% endif %}
        </li>

      {% endfor %}
    </ul>
  </div>

  <div class="filter-menu-block js-gf-filtergroups">
    {% include 'filter-menu' %}
  </div>
    <div class="sidenav-bottom-element">
    <img class="" src="{{ 'element_borderbottom_green.png' | asset_url }}" />
  </div>

</div>


    {% comment %}---------------Not so smart list{% endcomment %}
{% comment %}<div id="collection-sidebar" class="">

    <div class="leftnav">
      <div class="sidenav js-gf-sidenav">
        <ul class="no-bullet">
          {% for link in linklists.dresses.links %}
          <li>{{ link.title | link_to: link.url }}</li><br />
          {% endfor %}
        </ul>
      </div>
    </div>
</div>{% endcomment %}
 

<!-- /// —  QT  —----------------  //-->
<script>
  var DRESSUPMU = DRESSUPMU || {};

  DRESSUPMU.sidebar = (function (window, document, $, undefined) {
    'use strict';
    
    var resizeTimer;

    function mobileSetup($nav, $filterGroups) {

      $nav.find('.active').parents('li').addClass('proDrpdwn'); 
      
      $nav.find('.js-active-collection').on('click.toggleMenu tap.toggleMenu', function (e) {
        if ($(window).width() <= 768) {
          e.preventDefault();
          $(this).closest('li').find('ul').slideToggle(400, 'linear');
        }
      });

      $filterGroups.on('click.toggleFilterBlock tap.toggleFilterBlock', '.filternav__group__subhead', function () {
        if ($(window).width() <= 768) {
          $(this).closest('.filter-group').find('.scroll-content').slideToggle(400, 'linear');
        }
      });

      $filterGroups.on('click.toggleFilterGroups tap.toggleFilterGroups', '.gf-filter-title', function () {
        if ($(window).width() <= 768) {
         var $title = $(this),
           $groups = $filterGroups.find('.filter-group').not('.refine-header');

          if (!$title.hasClass('js-gf-is-open')) {
            $groups.fadeIn(500, function () {
              $(this).addClass('filter-menu-open');
            });
            $title.addClass('js-gf-is-open');
          } else {
            $groups.fadeOut(500, function () {
              $(this).removeClass('filter-menu-open');
            });
            $title.removeClass('js-gf-is-open');
          }
        }
      });
    }

    /*
    function mobileTeardown($nav, $filterGroups) {
      $filterGroups.show();
      $nav.find('.js-active-collection').closest('li').find('ul').show();
      $nav.find('.js-active-collection').off('click.toggleMenu tap.toggleMenu');
    }
    */


    function init () {
      $(document).ready(function () {
        var $nav = $('.js-gf-sidenav').first(),
            $filterBlocks = $('.js-gf-filtergroups').first();
        mobileSetup($nav, $filterBlocks);
      });

      $(window).on('resize', function(e) {
        clearTimeout(resizeTimer);
        resizeTimer = setTimeout(function() {
          if ($(window).width() > 768) {
            $('.filter-group').show();
            $('.js-gf-sidenav').find('.js-active-collection').closest('li').find('ul').show();
          }
        }, 250);
      });
    }

    return {
        init: init
    };

  })(window, document, jQuery);

  DRESSUPMU.sidebar.init();
</script>


  
  

