<!-- /snippets/collection-sidebar.liquid -->

<div class="leftnav">
    <div class="sidenav-top-element">
        <img class="" src="{{ 'element_bordertop_green.png' | asset_url }}"/>
    </div>

    <div class="sidenav-mid-element">
        <div class="mid-header large--hide">
            <h4 class="gf-menu-title">{{ collection.title }}</h4>
        </div>
        <div class="mid-content">
            {% include 'mu-sidebar' %}
        </div>
    </div>

    <div class="sidenav-bottom-element">
        <img class="" src="{{ 'element_borderbottom_green.png' | asset_url }}"/>
    </div>
    <div class="filter-menu-block js-gf-filtergroups">
        {% include 'filter-menu' %}
    </div>
    <div class="sidebar-promo">
        <a href="/products/gift-cards"><img src="{{ 'promo_xmasgiftcards.png' | asset_url }}" class="gift=card-promo"/></a>
    </div>

</div>


<!-- /// —  QT  —----------------  //-->
<script>
    var GFMU = GFMU || {};

    GFMU.sidebar = (function (window, document, $, undefined) {
        'use strict';

        var resizeTimer;

        //function mobileSetup($nav, $filterGroups) {
        function mobileSetup($filterGroups) {

            //$nav.find('.active').parents('li').addClass('proDrpdwn');

            //$nav.find('.js-active-collection').on('click.toggleMenu tap.toggleMenu', function (e) {
            //    if ($(window).width() <= 768) {
            //        e.preventDefault();
            //        $(this).closest('li').find('ul').slideToggle(300, 'linear');
            //    }
            //});

            $filterGroups.on('click.toggleFilterBlock tap.toggleFilterBlock', '.filternav__group__subhead', function () {
                //if ($(window).width() <= 768) {
                $(this).closest('.filter-group').find('.scroll-content').slideToggle(300, 'linear');
                //}
            });

            $filterGroups.on('click.toggleFilterGroups tap.toggleFilterGroups', '.gf-filter-title', function () {
                if ($(window).width() <= 768) {
                    var $title = $(this),
                            $groups = $filterGroups.find('.filter-group').not('.refine-header');

                    if (!$title.hasClass('js-gf-is-open')) {
                        $groups.fadeIn(300, function () {
                            $(this).addClass('filter-menu-open');
                        });
                        $title.addClass('js-gf-is-open');
                    } else {
                        $groups.fadeOut(300, function () {
                            $(this).removeClass('filter-menu-open');
                        });
                        $title.removeClass('js-gf-is-open');
                    }
                }
            });
        }


        // function mobileTeardown($nav, $filterGroups) {
        //   $filterGroups.show();
        //   $nav.find('.js-active-collection').closest('li').find('ul').show();
        //   $nav.find('.js-active-collection').off('click.toggleMenu tap.toggleMenu');
        // }


        function init() {
            $(document).ready(function () {
                var $filterBlocks = $('.js-gf-filtergroups').first();
                mobileSetup($filterBlocks);

                //var $nav = $('.js-gf-sidenav').first(),
                //        $filterBlocks = $('.js-gf-filtergroups').first();
                //mobileSetup($nav, $filterBlocks);
            });

            $(window).on('resize', function (e) {
                clearTimeout(resizeTimer);
                resizeTimer = setTimeout(function () {
                    if ($(window).width() > 768) {
                        $('.filter-group').show();
                        //$('.js-gf-sidenav').find('.js-active-collection').closest('li').find('ul').show();
                    }
                }, 250);
            });
        }

        return {
            init: init
        };

    })(window, document, jQuery);

    GFMU.sidebar.init();
</script>


  
  

