<!-- /snippets/dropdown_clothes.liquid -->
<div class="topnav-dropdown clothes">

	{% comment %}<div class="grid__item large--one-quarter">
	</div>{% endcomment %}
	<div class="grid__item">
		{% comment %}<div class="grid__item">
			<h2>Clothing</h2>
		</div>{% endcomment %}
		<div class="grid__item large--two-sixths">
		
		</div>
		<div class="grid__item large--one-sixth du-grid-hide">
			<h2><a href="{{ collections.clothing.url }}">Clothing</a></h2>
		</div>
		<div class="grid__item large--one-sixth du-grid-helper">
			<div class="menu-wrapper">
				<div class="menu-list">
					
					<a href="{{ collections.tops.url }}"><h3>Tops</h3></a>
					<ul>
					{% for link in linklists.tops.links %}
						<li><a href="{{ link.url }}">{{ link.title }}</a>
						</li>	
					{% endfor %}
					</ul>
				</div>
			</div>
		</div>

	
		<div class="grid__item large--one-sixth">
			<div class="menu-wrapper">
				<div class="menu-list">
				<a href="{{ collections.bottoms.url }}"><h3>Bottoms</h3></a>
					<ul>
					{% for link in linklists.bottoms.links %}
						<li><a href="{{ link.url }}">{{ link.title }}</a>
						</li>	
					{% endfor %}
					</ul>
					<a href="{{ collections.rompers.url }}"><h3>Rompers</h3></a>
					<a href="{{ collections.sets.url }}"><h3>Sets</h3></a>
				</div>
			</div>
		</div>
		<div class="grid__item large--one-sixth">
			<div class="menu-wrapper">
				<div class="menu-list">
				<a href="{{ collections.dresses.url }}"><h3>Dresses</h3></a>
					<ul>
					{% for link in linklists.dresses.links %}
						<li><a href="{{ link.url }}">{{ link.title }}</a>
						</li>	
					{% endfor %}
					</ul>
					
				</div>
			</div>
		</div>
	{% comment %}	<div class="grid__item large--one-sixth">
			<div class="menu-wrapper">
				<div class="menu-list">
				<a href="{{ collections.rompers.url }}"><h3>Rompers</h3></a>
				<a href="{{ collections.sets.url }}"><h3>Sets</h3></a>
				</div>
			</div>
		</div>{% endcomment %}
	
	
	
	</div>
	
</div>