<!-- /snippets/dropdown_curvy.liquid -->
<div class="topnav-dropdown curvy">

	<div class="gateway-image">
		{% for product in collections.curvy.products limit: 1 %}
		{% include 'bold-product' with product, hide_action: 'skip' %}
		
			<img src="{{ product.featured_image | product_img_url: "200x" }}" />
		
		{% endfor %}
	</div>
	<div class="menu-wrapper">
	<div class="menu-side-one">
	
	<div class="menu-block">
			<h2><a href="/collections/curvy">All Curvy</a></h2>	
			<div class="menu-list">
				<h3><a href="/collections/curvy-tops">Curvy Tops</a></h3>
				<ul>
					{% for link in linklists.dd-curvy-tops-one.links %}
					<li><a href="{{ link.url }}">{{ link.title }}</a>
					</li>	
					{% endfor %}
				</ul>
				<ul class="list-condensed">
					{% for link in linklists.dd-curvy-tops-two.links %}
					<li><a href="{{ link.url }}">{{ link.title }}</a>
					</li>	
					{% endfor %}
				</ul>
			</div>
		</div>
		{% comment %}--------showing this one on desktop -----{% endcomment %}

		<div class="menu-block block-full">
			<h2>&nbsp;</h2>	
			<div class="menu-list">
				<h3>&nbsp;</h3>
				<ul>
					{% for link in linklists.dd-curvy-tops-two.links %}
					<li><a href="{{ link.url }}">{{ link.title }}</a>
					</li>	
					{% endfor %}
				</ul>
			</div>
		</div>

	{% comment %}--------hiding this one on desktop -----{% endcomment %}
			<div class="menu-block block-condensed">
			<h2>&nbsp;</h2>
			<div class="menu-list">
				<h3><a href="/collections/curvy-bottoms">Curvy Bottoms</a></h3>
				<ul>
					{% for link in linklists.curvy-bottoms.links %}
					<li><a href="{{ link.url }}">{{ link.title }}</a>
					</li>	
					{% endfor %}
				</ul>
			</div>
		</div>

	<div class="menu-block block-condensed">
			<h2>&nbsp;</h2>
			<div class="menu-list">
				<h3><a href="/collections/curvy-dresses">Curvy Dresses</a></h3>
				<ul>
					{% for link in linklists.curvy-dresses.links %}
					<li><a href="{{ link.url }}">{{ link.title }}</a>
					</li>	
					{% endfor %}
				</ul>
				<h3><a href="/collections/curvy-shapewear">Curvy Shapewear</a></h3>
				<ul>
					{% for link in linklists.curvy-shapewear.links %}
					<li><a href="{{ link.url }}">{{ link.title }}</a>
					</li>	
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% comment %}	
Close Menu One

Open Menu Two
{% endcomment %}
	{% comment %}HALFS{% endcomment %}
	<div class="menu-side-two">
	
	{% comment %}--------hiding this one on desktop -----{% endcomment %}
{% comment %}		<div class="menu-block block-condensed">
			<h2 class="buffer">&nbsp;</h2>	
			<div class="menu-list">
				<h3 class="buffer">&nbsp;</h3>
				<ul>
					{% for link in linklists.dd-curvy-tops-two.links %}
					<li><a href="{{ link.url }}">{{ link.title }}</a>
					</li>	
					{% endfor %}
				</ul>
			</div>
		</div>{% endcomment %}

	
	{% comment %}-------- showing this one on desktop{% endcomment %}
		<div class="menu-block block-full">
			{% comment %}<h2>&nbsp;</h2>{% endcomment %}
			<div class="menu-list">
				<h3><a href="/collections/curvy-bottoms">Curvy Bottoms</a></h3>
				<ul>
					{% for link in linklists.curvy-bottoms.links %}
					<li><a href="{{ link.url }}">{{ link.title }}</a>
					</li>	
					{% endfor %}
				</ul>
			</div>
		</div>
	
		{% comment %}---------------------------{% endcomment %}


		<div class="menu-block block-full">
			{% comment %}<h2 class="buffer">&nbsp;</h2>{% endcomment %}
			<div class="menu-list">
				<h3><a href="/collections/curvy-dresses">Curvy Dresses</a></h3>
				<ul>
					{% for link in linklists.curvy-dresses.links %}
					<li><a href="{{ link.url }}">{{ link.title }}</a>
					</li>	
					{% endfor %}
				</ul>
				<h3><a href="/collections/curvy-shapewear">Curvy Shapewear</a></h3>
				<ul>
					{% for link in linklists.curvy-shapewear.links %}
					<li><a href="{{ link.url }}">{{ link.title }}</a>
					</li>	
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	</div>
</div>