<!-- /snippets/dropdown_tops.liquid -->
<div class="topnav-dropdown tops">


	<div class="gateway-image">
		{% for product in collections.tops.products limit: 1 %}
		{% include 'bold-product' with product, hide_action: 'skip' %}

			<img src="{{ product.featured_image | product_img_url: "200x" }}" />

		{% endfor %}
	</div>

	<div class="menu-wrapper">

		<div class="menu-block">
			<h2><a href="/collections/tops">All Tops</a></h2>
			<div class="menu-list">
				<ul>
					{% for link in linklists.dd-tops-one.links %}
					<li><a href="{{ link.url }}">{{ link.title }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>

		</div>

		<div class="menu-block">
			<h2>&nbsp;</h2>
			<div class="menu-list">
				<ul>
					{% for link in linklists.dd-tops-two.links %}
					<li><a href="{{ link.url }}">{{ link.title }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

	</div>

</div>
