<!-- /snippets/dropdown_sale.liquid -->
<div class="topnav-dropdown sale">


	<div class="gateway-image">
		{% for product in collections.sale.products limit: 1 %}
		{% include 'bold-product' with product, hide_action: 'skip' %}
		
			<img src="{{ product.featured_image | product_img_url: "200x" }}" />
		
		{% endfor %}
	</div>

	<div class="menu-wrapper">
		<h2><a href="/collections/sale">All Sale</a></h2>	
		{% comment %}<div class="menu-block">{% endcomment %}
			<div class="menu-list">
				<ul>
					
					<li><a href="/collections/sale-curvy">Sale Curvy</a>
					</li>	
					<li><a href="/collections/sale-missy">Sale Missy</a>
					</li>	
					<li><a href="/collections/sale-footwear">Sale Footwear</a>
					</li>
                  <li><a href="/collections/sale-accessories">Sale Accessories</a>
					</li>
					
				</ul>
			</div>
		{% comment %}</div>{% endcomment %}

	
	</div>

</div>
