<!-- /snippets/dropdown_accessories.liquid -->
<div class="topnav-dropdown accessories">


	<div class="gateway-image">
		{% for product in collections.accessories.products limit: 1 %}
		{% include 'bold-product' with product, hide_action: 'skip' %}
		
			<img src="{{ product.featured_image | product_img_url: "200x" }}" />
		
		{% endfor %}
	</div>

	<div class="menu-wrapper">
		<h2><a href="/collections/accessories">All Accessories</a></h2>	
		<div class="menu-block">
			
			<div class="menu-list">
				<ul>
					{% for link in linklists.dd-accessories-one.links %}
					<li><a href="{{ link.url }}">{{ link.title }}</a>
					</li>	
					{% endfor %}
				</ul>
			</div>

		</div>

		<div class="menu-block">
			<div class="menu-list">
				<ul>
					{% for link in linklists.dd-accessories-two.links %}
					<li><a href="{{ link.url }}">{{ link.title }}</a>
					</li>	
					{% endfor %}
				</ul>
			</div>
		</div>

	</div>

</div>
