<!-- /snippets/dropdown_clothes.liquid -->
<div class="topnav-dropdown locations">

	{% comment %}<div class="grid__item large--one-quarter">
	</div>{% endcomment %}
	<div class="grid">
		{% comment %}<div class="grid__item">
			<h2>Clothing</h2>
		</div>{% endcomment %}
		<div class="grid__item large--two-fifths">
		
		</div>
	
		<div class="grid__item large--one-fifth">

				<div class="menu-wrapper">
				
					<div class="menu-list">
					<div class="">
						<h2><a href="{{ pages.locations.url }}">Locations</a></h2>
					</div>
						
						<ul>
						{% for link in linklists.locations-column-one.links %}
							<li><a href="{{ link.url }}">{{ link.title }}</a>
							</li>	
						{% endfor %}
						</ul>
					</div>
				</div>
		</div>	
	
		<div class="grid__item large--one-fifth">
			<div class="menu-wrapper">
				<div class="menu-list">
					<div class="">
					<h2>&nbsp;</h2>
					</div>
					<ul>
					{% for link in linklists.locations-column-two.links %}
						<li><a href="{{ link.url }}">{{ link.title }}</a>
						</li>	
					{% endfor %}
					</ul>
				</div>
			</div>
		</div>


		<div class="grid__item large--one-fifth">
			<div class="menu-wrapper">
				<div class="menu-list">
				<div class="">
				<h2>&nbsp;</h2>
			</div>
					<ul>
					{% for link in linklists.locations-column-three.links %}
						<li><a href="{{ link.url }}">{{ link.title }}</a>
						</li>	
					{% endfor %}
					</ul>
					
				</div>
			</div>
		</div>

	
	
	
	</div>
</div>