<!-- /snippets/dropdown_dresses.liquid -->
<div class="topnav-dropdown dresses">


	<div class="gateway-image">
		{% for product in collections.dresses.products limit: 1 %}
		{% include 'bold-product' with product, hide_action: 'skip' %}
		
			<img src="{{ product.featured_image | product_img_url: "200x" }}" />
		
		{% endfor %}
	</div>

	<div class="menu-wrapper">
		
		<div class="menu-block">
			<h2><a href="/collections/dresses">All Dresses</a></h2>	
			<div class="menu-list">
				<ul>
					{% for link in linklists.dresses.links %}
					<li><a href="{{ link.url }}">{{ link.title }}</a>
					</li>	
					{% endfor %}
				</ul>
			</div>

		</div>

		
	</div>

</div>
