<!-- /snippets/dropdown_basics.liquid -->
<div class="topnav-dropdown basics">



	
			<div class="gateway-image">
			{% for product in collections.shapewear.products limit: 1 %}
				{% include 'bold-product' with product, hide_action: 'skip' %}
			
					<img src="{{ product.featured_image | product_img_url: "200x" }}" />
				
				{% endfor %}
			</div>

		<div class="menu-wrapper">
		<div class="menu-block">
			<h2><a href="/collections/shapewear">All Shapewear</a></h2>	
			<div class="menu-list">
				
				<h3><a href="/collections/short-shapers">{{ linklists.short-shapers.title | escape }}</a></h3>
				<ul>
					{% for link in linklists.short-shapers.links %}
					<li><a href="{{ link.url }}">{{ link.title }}</a>
					</li>	
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="menu-block">
			<h2>&nbsp;</h2>
			<div class="menu-list">
				<h3><a href="/collections/long-shapers">{{ linklists.long-shapers.title | escape }}</a></h3>
				<ul>
					{% for link in linklists.long-shapers.links %}
					<li><a href="{{ link.url }}">{{ link.title }}</a>
					</li>	
					{% endfor %}
				</ul>
				<h3><a href="/collections/dress-shapers">Dress Shapers</a></h3>
				<h3><a href="/collections/seamless-shorts">Seamless Shorts</a></h3>
			</div>
		</div>

		<div class="menu-block">
			<h2>&nbsp;</h2>
			<div class="menu-list">
				<h3><a href="/collections/crop-leggings">{{ linklists.crop-leggings.title | escape }}</a></h3>
				<ul>
					{% for link in linklists.crop-leggings.links %}
					<li><a href="{{ link.url }}">{{ link.title }}</a>
					</li>	
					{% endfor %}
				</ul>
				<h3><a href="/collections/ankle-leggings">{{ linklists.ankle-leggings.title | escape }}</a></h3>
				<ul>
					{% for link in linklists.ankle-leggings.links %}
					<li><a href="{{ link.url }}">{{ link.title }}</a>
					</li>	
					{% endfor %}
				</ul>
			</div>
		</div>
		
		</div>



</div>