<!-- /snippets/dropdown_basics.liquid -->
<div class="topnav-dropdown bottoms">


			<div class="gateway-image">
			{% for product in collections.bottoms.products limit: 1 %}
				{% include 'bold-product' with product, hide_action: 'skip' %}
				
					<img src="{{ product.featured_image | product_img_url: "200x" }}" />
				
				{% endfor %}
			</div>

		<div class="menu-wrapper">
		<div class="menu-block">
			<h2><a href="/collections/bottoms">All Bottoms</a></h2>	
			<div class="menu-list">
				<h3><a href="/collections/pants">Pants</a></h3>
				<h3><a href="/collections/denim">{{ linklists.denim-jeggings.title | escape }}</a></h3>
				<ul>
					{% for link in linklists.denim-jeggings.links %}
					<li><a href="{{ link.url }}">{{ link.title }}</a>
					</li>	
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="menu-block mod">
			<h2>&nbsp;</h2>
			<div class="menu-list">

			<h3><a href="/collections/shorts">Shorts</a></h3>
			<h3><a href="/collections/seamless-shorts">Seamless Shorts</a></h3>
				<h3><a href="{{ link.url }}">{{ linklists.crop-leggings.title | escape }}</a></h3>
				<ul>
					{% for link in linklists.crop-leggings.links %}
					<li><a href="{{ link.url }}">{{ link.title }}</a>
					</li>	
					{% endfor %}
				</ul>
				<h3><a href="{{ link.url }}">{{ linklists.ankle-leggings.title | escape }}</a></h3>
				<ul>
					{% for link in linklists.ankle-leggings.links %}
					<li><a href="{{ link.url }}">{{ link.title }}</a>
					</li>	
					{% endfor %}
				</ul>
			</div>
		</div>
		
	
		
		</div>



</div>