<!-- Filter Menu brought to you by Shopify Power Tools -->
{% assign pt_refine_text = settings.pt_refine_text | default: 'Filter' %}
{% assign pt_clear_text = settings.pt_clear_text | default: 'clear' %}
{% assign pt_view_all_text = settings.pt_view_all_text | default: 'view all' %}
{% assign pt_collection_text = settings.pt_collection_text | default: 'Collection' %}
<style type="text/css">
{{ shop.metafields.pt_filter_css['system'] }}
{{ shop.metafields.pt_filter_css['user'] }}
</style>
<div class="filter-menu filter-selected-{{ collection.handle }}{% for tag in current_tags %} filter-selected-{{ tag | handleize }}{% endfor %}">
    <div class="filter-group refine-header">

        <h4 class="gf-filter-title">sort <span>by</span></h4>
        {% unless collection.handle == 'all-our-products' or collection.handle == nil and current_tags == nil %}
        <a class="filter-clear all" href="/collections/all-our-products">All</a>
        {% endunless %}
        <div class="dotline-green">
        </div>

    </div>
    {% unless collection.handle != nil and template contains 'collection' %}
    {% for menu_header in shop.metafields.pt_filter_menu %}
    {% assign menu_items = menu_header.last | split: ',' %}
    {% assign header_handle = menu_header.first | split: '-' %}
    {% assign header_handle = menu_header.first | replace: header_handle.first, '' %}
    <div class="filter-group filter-group{{ header_handle }}">
        <h4 class="filternav__group__subhead">{{ shop.metafields.pt_filter_header[menu_header.first] }}</h4>
        <div class="scroll-content">
        <ul class="nav{{ header_handle }}">
            {% for menu_item in menu_items %}
            {% assign filter_collection = collections[menu_item] %}
            {% if filter_collection and filter_collection.all_products_count != '' and filter_collection.all_products_count > 0 and filter_collection.title != nil and filter_collection.title != '' %}
            <li class="collection-container filter-active-{{ filter_collection.handle }} {% if tag_list contains menu_item %}active{% endif %} {% if current_tags contains menu_item or current_collection_handle == menu_item %}selected{% endif %}">
                <div class="collection-name">
                    <a href="/collections/{{ menu_item }}" title="{{ filter_collection.title | escape }}"><i class="check-icon"></i> {{ filter_collection.title | escape }}</a>{% unless current_tags %}<span class="collection-count">({{ filter_collection.all_products_count }})</span>{% endunless %}
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        </div>
    </div>
    {% endfor %}

    {% else%}
    {% assign tag_list = collection.tags %}
    {% assign current_collection_handle = collection.handle %}
    {% assign displayed_collection_handles = '|' %}
    {% if collection.metafields.sort_primary.collection_handle %}
    {% assign current_collection_handle = collections[collection.metafields.sort_primary.collection_handle].handle %}
    {% endif %}
    {% for menu_header in shop.metafields.pt_filter_menu %}
    {% assign has_items = false %}
    {% assign has_multiple_items = false %}
    {% assign has_selected = false %}
    {% assign current_selected = '|' %}
    {% assign menu_items = menu_header.last | split: ',' %}
    {% for menu_item in menu_items %}
    {% assign filter_collection = collections[menu_item] %}
    {% if tag_list contains menu_item or current_tags contains menu_item or current_collection_handle == menu_item %}
    {% if has_items %}
    {% assign has_multiple_items = true %}
    {% endif %}
    {% assign has_items = true %}
    {% if current_tags contains menu_item or current_collection_handle == menu_item %}
    {% assign has_selected = true %}
    {% endif %}
    {% endif %}
    {% endfor %}
    {% if has_items %}
    {% assign header_handle = menu_header.first | split: '-' %}
    {% assign header_handle = menu_header.first | replace: header_handle.first, '' %}
    <div class="filter-group filter-group{{ header_handle }} {% if has_selected %}has_group_selected{% endif %} {% if has_multiple_items %}has_multiple_items{% else %}has_single_item{% endif %}">
        <h4 class="filternav__group__subhead">{{ shop.metafields.pt_filter_header[menu_header.first] }}</h4>
        <div class="scroll-content">
        <ul class="nav{{ header_handle }} {% if has_selected %}has_selected{% endif %}">
            {% for menu_item in menu_items %}
            {% assign filter_collection = collections[menu_item] %}
            {% if filter_collection and filter_collection.title != nil and filter_collection.title != '' %}
            {% if tag_list contains menu_item or current_tags contains menu_item or current_collection_handle == menu_item %}
            {% if current_tags contains menu_item or current_collection_handle == menu_item %}{% assign current_selected = current_selected | append: menu_item | append: '|' %}{% endif %}
            {% assign displayed_collection_handles = displayed_collection_handles | append: menu_item | append: '|' %}
            <li class="collection-container filter-active-{{ filter_collection.handle }} {% if tag_list contains menu_item %}active{% endif %} {% if current_tags contains menu_item or current_collection_handle == menu_item %}selected{% endif %}">
                <div class="collection-name">
                    {% if current_tags contains menu_item %}{{ '<i class="check-icon"></i> ' | append: filter_collection.title | link_to_remove_tag: menu_item }}
                    {% elsif current_collection_handle == menu_item %}
                    <a href="/collections/all-our-products{% if current_tags %}/{{ current_tags | join: '+' }}{% endif %}" title="{{ filter_collection.title | escape }}"><i class="check-icon"></i> {{ filter_collection.title | escape }}</a>
                    {% elsif current_collection_handle == 'all-our-products' %}
                    <a href="/collections/{{ menu_item }}{% if current_tags %}/{{ current_tags | join: '+' }}{% endif %}" title="{{ filter_collection.title | escape }}"><i class="check-icon"></i> {{ filter_collection.title | escape }}</a>{% unless current_tags %}<span class="collection-count">({{ filter_collection.all_products_count }})</span>{% endunless %}
                    {% else %}{{ '<i class="check-icon"></i> ' | append: filter_collection.title | link_to_add_tag: menu_item }}{% endif %}
                </div>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
        </ul>
        </div>
        {% unless '|' == current_selected %}
        {% assign current_collection_handle_sep = current_collection_handle | prepend: '|' | append: '|' %}
        {% if current_selected contains current_collection_handle_sep %}{% assign current_collection_handle_sep = 'all-our-products' %}{% assign current_selected = current_selected | replace: current_collection_handle_sep, '|' %}{% else %}{% assign current_collection_handle_sep = collection.handle %}{% endif %}
        {% assign cleared_tags = current_tags | join: '|'  | prepend: '|' | append: '|' %}
        {% assign current_selected_split = current_selected | split: '|' %}
        {% for current_selected_tag in current_selected_split %}
        {% unless '' == current_selected_tag %}
        {% assign current_selected_tag = current_selected_tag | prepend: '|' | append: '|' %}
        {% if cleared_tags contains current_selected_tag %}
        {% assign cleared_tags = cleared_tags | replace: current_selected_tag, '|' %}
        {% endif %}
        {% endunless %}
        {% endfor %}
        {% assign cleared_tags = cleared_tags | replace: '||||', '|' | replace: '|||', '|' | replace: '||', '|' | remove_first: '|' | split: '|' | join: '+' %}
        {% unless current_collection_handle_sep %}
        {% assign current_collection_handle_sep = 'all-our-products' %}
        {% endunless %}
        <a class="filter-clear" href="/collections/{{ current_collection_handle_sep }}{% unless '|' == cleared_tags or '' == cleared_tags %}/{{ cleared_tags }}{% endunless %}">{{ pt_clear_text }}</a>
        {% endunless %}
    </div>
    {% endif %}
    {% endfor %}
    {% assign current_collection_handle_sep = current_collection_handle | prepend: '|' | append: '|' %}
    {% unless displayed_collection_handles contains current_collection_handle_sep or current_collection_handle == 'all-our-products' %}
   {% comment %} <div class="filter-group filter-group-not-shown has_group_selected">
        <h4>{{ pt_collection_text }}</h4>
        <ul class="nav-not-shown">
            <li class="collection-container filter-active-{{ collection.handle }} active selected">
                <div class="collection-name">
                    <a href="/collections/all{% if current_tags %}/{{ current_tags | join: '+' }}{% endif %}" title="{{ collection.title | escape }}"><i class="check-icon"></i> {{ collection.title | escape }}</a>
                </div>
            </li>
        </ul>
        <a class="filter-clear" href="/collections/all{% if current_tags %}/{{ current_tags | join: '+' }}{% endif %}">{{ pt_clear_text }}</a>
    </div>{% endcomment %}
    {% endunless %}
    {% endunless %}
</div>
