{% comment %}
    <section class="footer-paper">
        <div class="grid">
            <div class="tornpapertile">
            </div>
        </div>
    </section>{% endcomment %}
<footer class="site-footer small--text-center" role="contentinfo">

    <div class="wrapper">

        <div class="grid">
            <div class="grid__item large--one-third">
                <div class="footer-newsletter">

                    <h4>Join our email list</h4>

                    <!-- Begin MailChimp Signup Form -->
                    <div class="grid">

                        <div id="mc_embed_signup">
                            <form id="ctct_signup" action="https://visitor2.constantcontact.com/api/signup"
                                  method="post" name="footer-subscribe-form" class="validate input-group"
                                  target="_blank" novalidate>
                                <input data-id="ca:input" type="hidden" name="ca"
                                       value="e198daf4-87d6-4536-baf6-745165fdd484">
                                <input data-id="list:input" type="hidden" name="list" value="1874924517">
                                <input data-id="source:input" type="hidden" name="source" value="EFD">
                                <div id="mc_embed_signup_scroll">

                                    <div class="grid__item text-center">
                                        <div class="mc-field-group">

                                            <input type="email" value=""
                                                   placeholder="Enter your email address" name="email"
                                                   class="required email input-group-field">
                                        </div>
                                    </div>
                                    <div class="grid__item text-center">
                                        <div id="mce-responses" class="clear">
                                            <div class="response" id="mce-error-response"
                                                 style="display:none"></div>
                                            <div class="response" id="mce-success-response"
                                                 style="display:none"></div>
                                        </div>
                                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                            <input type="text" name="b_79688479acd564f78b2a661b7_6de887352e"
                                                   tabindex="-1" value="">
                                        </div>
                                    </div>
                                    <div class="grid__item text-center">
                                      <span class="input-group-btn text-center">
                                          <input type="submit" value="SIGN UP" name="subscribe"
                                                 id="mc-embedded-subscribe"
                                                 class="btn">
                                      </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--End mc_embed_signup-->


                </div>
            </div>


            {% if settings.footer_newsletter_enable %}
                <div class="grid__item large--one-third medium-down--text-center">
                    <div class="footer-connect">

                        <div class="footer-social">
                            <h3>Connect and share with us</h3>
                            <ul>
                                <a href="https://www.instagram.com/glamourfarmsboutique/" target="_blank">
                                    <li class="instagram"
                                        style="background-image: url('{{ 'gf_footer_icons_2017.png' | asset_url }}');">
                                    </li>
                                </a>
                                <a href="https://www.facebook.com/glamourfarms" target="_blank">
                                    <li class="facebook"
                                        style="background-image: url('{{ 'gf_footer_icons_2017.png' | asset_url }}');">
                                    </li>
                                </a>
                                <a href="https://www.pinterest.com/glamourfarms/" target="_blank">
                                    <li class="pinterest"
                                        style="background-image: url('{{ 'gf_footer_icons_2017.png' | asset_url }}');">
                                    </li>
                                </a>
                                <a href="https://twitter.com/glamourfarms" target="_blank">
                                    <li class="twitter"
                                        style="background-image: url('{{ 'gf_footer_icons_2017.png' | asset_url }}');">
                                    </li>
                                </a>
                                <a href="https://snapchat.com/add/shopgf" target="_blank">
                                    <li class="snapchat"
                                        style="background-image: url('{{ 'gf_footer_icons_2017.png' | asset_url }}');">
                                    </li>
                                </a>

                            </ul>

                        </div>

                    </div>
                </div>

            {% endif %}

            <div class="grid__item large--one-third">
                <div class="footer-nav">
                    <div class="grid__item large--one-half medium-down--one-half medium-down--text-center">
                        <div class="footer-nav-column-one">
                            <ul>
                                {% for link in linklists.footer-one.links %}
                                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="grid__item large--one-half medium-down--one-half medium-down--text-center">
                        <div class="footer-nav-column-two">
                            <ul>
                                {% for link in linklists.footer-two.links %}
                                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>



    <div class="grid__item">
        <div class="footer-info">
            <p><a
                    href="{{ pages.terms.url }}">Terms and Conditions</a> | <a
                    href="{{ pages.privacy-policy.url }}">Privacy Policy</a> | &#169;2016 Glamour Farms Boutique. All Rights Reserved.
                Site by <a
                        href="http://madunion.com" target="_blank">Mad Union</a>.</p>
        </div>
    </div>



    <div class="grid-full">
        <div class="tornpapertile">
        </div>
    </div>
</footer>
<div class="footer-overlay"></div>

{{ 'quick-view.js?v=1' | asset_url | script_tag }}
{{ 'single-product.js' | asset_url | script_tag }}
