<header class="site-header" role="banner">
  <div class="wrapper">
    <div class="masthead">
      <div class="header-topnav-wrapper">
      <div id="topnav_stacked">

        <div class="header-top">
          <div class="grid--full">
            <div class="grid__item large--four-twelfths">
              <div class="block-promo">
                <img class="" src="{{ 'navpromo_freeshipping.gif' | asset_url }}" />
              </div>
            </div>
            <div class="grid__item large--four-twelfths large--text-center">
            <div class="block-logo">
              <a href="/store">
                <div class="logo">
                  <img src="{{ 'GlamourFarmslogo2017.png' | asset_url }}" />
                </div>
              </a>
            </div>
            </div>
            <div class="grid__item large--four-twelfths large--text-right">
              <div class="block-cartnav">
              <div class="block-cartnav-top">
                <div class="du-icon-search">
                  <a onClick="toggleSearch();">
                    <img src="{{ 'gficon_search_purple.svg' | asset_url }}" />
                    <span>search</span>
                  </a>
                </div>

                <div class="du-icon-account">
                  {% if customer %}
                    <a href="/account"><img src="{{ 'gficon_hen_purple.svg' | asset_url }}" /><span>account</span></a>
                  {% else %}
                    <a href="/customers/login"><img src="{{ 'gficon_hen_purple.svg' | asset_url }}" /><span>account</span></a>
                  {% endif %}
                </div>
              </div>
              <div class="block-cartnav-bottom">
                <div class="du-icon-bag">
                  <a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
                    <img src="{{ 'gficon_basket_purple.svg' | asset_url }}" />
                    <span class="basket">your basket </span>&#40;<span class="basket-count" id="CartCount">{{ cart.item_count }}</span>&#41;
                  </a>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>


        <div class="header-bottom">
          <div class="grid--full ">
            <div class="grid__item block-nav large--text-center">
              {% include 'nav-full' %}
            </div>
            <div class="flowers-left">
            </div>
            <div class="flowers-right">
            </div>
          </div>
        </div>

        <div class="header-breadcrumb">
        {% include 'breadcrumb' %}
        </div>


      </div>


      <div id="topnav_condensed">
        {% include 'nav-mobile' %}
      </div>
      <div class="mobile-flower-bar">

        <div class="mobile-flower-bar-graphic">
        </div>

      </div>

    </div>

  </div>
</div><!-- close .masthead -->

</div><!-- close .wrapper -->
</header>
