
<div class="header-feature-wrapper medium-down--hide">
	<div class="grid--full">
		<div class="grid__item large--one-third medium--one-third">
			<a href="/collections/new-arrivals">
			<div class="header-feature newarrivals">
				<img src="{{ 'du_icon_hearts.png' | asset_url }}" />
				<span>65+ New Arrivals</span>
			</div>
			</a>
		</div>
		<div class="grid__item large--one-third medium--one-third">
			<a href="/pages/locations">
			<div class="header-feature locations">
			<img src="{{ 'du_icon_locations.png' | asset_url }}" />
			<span>14 Locations</span>
			</div>
			</a>
		</div>
		<div class="grid__item large--one-third medium--one-third">
			<a href="/pages/customer-service">
			<div class="header-feature customerservice">
			<img src="{{ 'du_icon_service.png' | asset_url }}" />
			<span>Customer Service</span>
			</div>
			</a>
		</div>
	</div>
</div>