<div id="location-sidebar" class="">

    <div class="leftnav">
      <div class="sidenav">
        <ul class="no-bullet">
          <h3 class="location-menu-title">Georgia</h3>
          {% for link in linklists.locations-pages-georgia.links %}
          <li>
          <a {% if link.active %}class="active"{% endif %} href="{{ link.url }}" title="{{ link.title | escape }}">{{ link.title }}</a>
          </li>
          {% endfor %}
        </ul>
        <ul>
          <h3 class="location-menu-title">Alabama</h3>
          {% for link in linklists.locations-pages-alabama.links %}
          <li>
          <a {% if link.active %}class="active"{% endif %} href="{{ link.url }}" title="{{ link.title | escape }}">{{ link.title }}</a>
          </li>
          {% endfor %}
        </ul>
        <ul>
        <h3 class="location-menu-title">South Carolina</h3>
          {% for link in linklists.locations-pages-south-carolina.links %}
         <li>
          <a {% if link.active %}class="active"{% endif %} href="{{ link.url }}" title="{{ link.title | escape }}">{{ link.title }}</a>
          </li>
          {% endfor %}

        </ul>
        <ul>
        <h3 class="location-menu-title">Tennessee</h3>
          {% for link in linklists.locations-pages-tennessee.links %}
         <li>
          <a {% if link.active %}class="active"{% endif %} href="{{ link.url }}" title="{{ link.title | escape }}">{{ link.title }}</a>
          </li>
          {% endfor %}

        </ul>
      </div>
    </div>
  </div>
