
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<script type="text/javascript">

 // When the window has finished loading create our google map below
google.maps.event.addDomListener(window, 'load', init);

function init() {
    // Basic options for a simple Google Map

    var mapOptions = {
        zoom: 16,
        center: new google.maps.LatLng(locationLatLong), 
        styles: [{"featureType":"landscape","stylers":[{"hue":"#FFBB00"},{"saturation":43.400000000000006},{"lightness":37.599999999999994},{"gamma":1}]},{"featureType":"road.highway","stylers":[{"hue":"#FFC200"},{"saturation":-61.8},{"lightness":45.599999999999994},{"gamma":1}]},{"featureType":"road.arterial","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":51.19999999999999},{"gamma":1}]},{"featureType":"road.local","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":52},{"gamma":1}]},{"featureType":"water","stylers":[{"hue":"#0078FF"},{"saturation":-13.200000000000003},{"lightness":2.4000000000000057},{"gamma":1}]},{"featureType":"poi","stylers":[{"hue":"#00FF6A"},{"saturation":-1.0989010989011234},{"lightness":11.200000000000017},{"gamma":1}]}]
                };

                // Get the HTML DOM element that will contain your map 
                // We are using a div with id="map" seen below in the <body>
                var mapElement = document.getElementById('map');

                // Create the Google Map using our element and options defined above
                var map = new google.maps.Map(mapElement, mapOptions);

                var contentString = '<div id="content">'+
                  '<div id="siteNotice">'+
                  '</div>'+
                  '<h1 class="location-page-title onmap">Dress Up {{ page.title }}</h1>'+
                  '<div id="bodyContent">'+
                  '<p><a href="{{ page.metafields.c_f.location_mapurl }}" target="_blank" class="onmap">Get Directions</a></p>'+
                  '</div>';

              var infowindow = new google.maps.InfoWindow({
                content: contentString
              });

                    // Let's also add a marker while we're at it
                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(locationLatLong),
                        map: map,
                        
                    });

               

                      marker.addListener('click', function() {
                        infowindow.open(map, marker);
                      });

                  var center;
                    function calculateCenter() {
                      center = map.getCenter();
                    }
                    google.maps.event.addDomListener(map, 'idle', function() {
                      calculateCenter();
                    });
                    google.maps.event.addDomListener(window, 'resize', function() {
                      map.setCenter(center);
                    });

            }
        </script>

