<div id="tab-model">
  <div class="model-info">
    <div class="model-data">
      <b>Mia T.</b><br/>
   		Height: 5'<br/>
		Size: 0/1, XS/S<br/>
		Bust: 33"<br/>
		Waist: 27"<br/>
		Hips: 37"<br/>
    </div>
  </div>
</div>
