<div id="tab-model">
  <div class="model-info">
    <div class="model-data">
      <b>Kylar</b><br/>
   		Height: 5' 7"<br/>
		Size: 4/5, S/M<br/>
		Bust: 34.5"<br/>
		Waist: 28"<br/>
		Hips: 38"<br/>
    </div>
  </div>

</div>
