<div id="tab-model">
  <div class="model-info">
    <div class="model-data">
      <b>Kylie P</b><br/>
   		Height: 5'6"<br/>
		Size: 0/2, M--Junior, S--Contemporary and Missy<br/>
		Bust: 34"<br/>
		Waist: 26.5"<br/>
		Hips: 37"<br/>
    </div>
  </div>
</div>
