<div id="tab-model">
  <div class="model-info">
    <div class="model-data">
      <b>Ciera Y</b><br/>
   		Height: 5'8"<br/>
		Bust: 41.5"<br/>
		Waist: 34"<br/>
		Hips: 42.5"<br/>
    </div>
  </div>
</div>
