<div id="tab-model">
  <div class="model-info">
    <div class="model-data">
      <b>Brittany B.</b><br/>
   		Height: 5' 6"<br/>
		Size: 16, 1XL/2XL<br/>
		Bust: 45"<br/>
		Waist: 39"<br/>
		Hips: 49.5"<br/>
    </div>
  </div>
  <div class="model-desc">
      &quot;I am married to my high school sweetheart and we have two amazing kiddos. I love Jesus, spending time with family and a good cup of coffee. Fall is my favorite time of year from the beautiful fall colors and bonfires to the scarves and boots. A fun fact about me is that I love home decor and am constantly decorating and redecorating my house. My favorite thing to do is make people smile. You're never fully dressed without a smile.&quot; 
  </div>
</div>