<div id="tab-model">
  <div class="model-info">
{% comment %}<div class="model-image"><img src="{{ '2015_Fall_Alexa.jpg' | asset_url }}" alt="Nicole"/></div>{% endcomment %}
    <div class="model-data">
      <b>Nicole</b><br/>
      Height: 5' 10"<br />
      Size: 6/7, S/M<br />
      Bust: 35"<br />
      Waist: 28.5"<br />
      Hips: 40.5"
    </div>
  </div>
  <div class="model-desc">

  </div>
</div>