<div id="tab-model">
  <div class="model-info">
    <div class="model-image"><img src="{{ '2015_Fall_Jenn.jpg' | asset_url }}" alt="Jenn"/></div>
    <div class="model-data">
      <b>Jenn</b><br/>
      Height: 5' 6"<br />
      Size: 6/7, S/M<br />
      Bust: 37"<br />
      Waist: 31"<br />
      Hips: 40"
    </div>
  </div>
  <div class="model-desc">
      Fun Facts: I'm a 30-something year old wife to Josh and mother to Mila and Ledger. My favorite
      season to style is Fall--the decor, social events, hayrides, campfires, and the layers of earth
      tones topped off with boots to look super stylish! I am definitely a sucker for chocolate truffles;
      they do taste as good as skinny feels! A fun fact about me is that I collect sneakers and watches
      because they always fit!
  </div>
</div>
