<div id="tab-model">
  <div class="model-info">
    <div class="model-image"><img src="{{ '2015_Fall_Kortney.jpg' | asset_url }}" alt="Kortney"/></div>
    <div class="model-data">
      <b>Kortney</b><br/>
      Height: 5' 7"<br />
      Size: 4/5, S/M<br />
      Bust: 37"<br />
      Waist: 29"<br />
      Hips: 39.5"
    </div>
  </div>

    <div class="model-desc">
      Fun Facts: I love my Volkswagen, Tropical Sno, and the Beach Boys! My favorite season to style
      is definitely Fall! My favorite candy is Sour Patch Kids--all flavors make me a happy camper.
      I bet you'd never guess that I prefer black and white film over color! There's just something
      classic and simplistic about a B/W film. I love it.
  </div>
</div>
