<div id="tab-model">
  <div class="model-info">
    <div class="model-image"><img src="{{ '2015_Fall_Alexa.jpg' | asset_url }}" alt="Alexa"/></div>
    <div class="model-data">
      <b>Alexa</b><br/>
      Height: 5' 0"<br />
      Size: 3/4, XS/S<br />
      Bust: 35"<br />
      Waist: 25"<br />
      Hips: 38.5"
    </div>
  </div>
  <div class="model-desc">
      Fun Facts: I am the daughter, granddaughter, and niece of the Glamour Farms owners. I love, love,
      love animals! I have dogs, cats and sheep; however all livestock holds a special place in my
      heart! My favorite season to style is Fall--I actually change my hair color for this season!
      I'm a sucker for peach ring gummies, but will always indulge on an Almond Joy. A fun fact about me
      is that I am a sheep showman and think the Midwestern corn fields are the most beautiful sights and
      nothing makes me feel more at home!
  </div>
</div>
