<div id="tab-model">
  <div class="model-info">
  {% comment %}  <div class="model-image"><img src="{{ '2015_Fall_Julie.jpg' | asset_url }}" alt="Julie"/></div>{% endcomment %}
    <div class="model-data">
      <b>Katelyn</b><br/>
      Height: 5'10"<br />
     	Size: 3/5, Small<br />
      Bust: 33"<br />
      Waist: 27.5"<br />
      Hips: 37"
    </div>
  </div>
  <div class="model-desc">

  </div>
</div>
