<div id="tab-model">
  <div class="model-info">
    <div class="model-data">
      <b>Maddie</b><br/>
		Height: 5' 11"<br/>
		Size: 6/8, S/M<br/>
		Bust: 37.5"<br/>
		Waist: 29"<br/>
		Hips: 39"<br/>
    </div>
  </div>

</div>
