<div id="tab-model">
  <div class="model-info">
    <div class="model-image"><img src="{{ '2015_Fall_Brittany.jpg' | asset_url }}" alt="Brittany"/></div>
    <div class="model-data">
      <b>Brittany</b><br/>
      Height: 5' 7"<br />
      Size: 14, XL/1XL<br />
      Bust: 43"<br />
      Waist: 37"<br />
      Hips: 44"
    </div>
  </div>
  <div class="model-desc">
      Fun Facts: I am married to my high school sweetheart, I love Jesus, fashion, and have been behind 
      the chair for 5 years doing what I love---hair! My favorite season to style is Fall! Love all the 
      layers along with skinny jeans and tall boots-- they make me so happy. My favorite candy is 
      anything gummy. A fun fact about me is that I love to laugh until I cry happy tears. Life is so 
      short. Put a smile on and laugh at the small stuff.
  </div>
</div>