<div id="tab-model">
  <div class="model-info">
    <div class="model-data">
      <b>Jenna H</b><br/>
      Height: 5' 5"<br />
      Size: 3/5, Small<br />
      Bust: 32"<br />
      Waist: 26"<br />
      Hips: 37"
    </div>
  </div>
</div>
