<div id="tab-model">
  <div class="model-info">
    <div class="model-image"><img src="{{ '2015_Fall_Mikayla.jpg' | asset_url }}" alt="Mikayla"/></div>
    <div class="model-data">
      <b>Mikayla</b><br/>
      Height: 5' 8"<br />
      Size: 5/6, S/M<br />
      Bust: 32"<br />
      Waist: 26.5"<br />
      Hips: 39.5"
    </div>
  </div>
  <div class="model-desc">
      
  </div>
</div>