<div id="tab-model">
  <div class="model-info">
    <div class="model-image"><img src="{{ '2015_Fall_Rebecca.jpg' | asset_url }}" alt="Rebecca"/></div>
    <div class="model-data">
      <b>Rebecca</b><br/>
      Height: 5' 11"<br />
      Size: 18, 2XL/3XL<br />
      Bust: 46"<br />
      Waist: 43"<br />
      Hips: 51"
    </div>
  </div>
  <div class="model-desc">
      Fun Facts: I am a wife to Josh and a mother to two beautiful "chips off the old block" Preslee Jane 
      and Paelynn Clare. I personally like to style every season. I find that just when your wardrobe is 
      getting repetitive it's time to change for the season. I much rather prefer a cookie over candy. 
      There's nothing like a big iced or chocolate chip cookie. Funny/fun fact about me is I cannot drive 
      a stick shift vehicle to save my life. I have tried many of times, but get to laughing at myself at 
      times to the point I pee my pants. Can you tell I love life?! :)
  </div>
</div>