<div id="tab-model">
  <div class="model-info">
{% comment %}<div class="model-image"><img src="{{ '2015_Fall_Alexa.jpg' | asset_url }}" alt="Sierra"/></div>{% endcomment %}
    <div class="model-data">
      <b>Sierra</b><br/>
      Height: 5' 5"<br />
      Size: 6/7, S/M<br />
      Bust: 37.5"<br />
      Waist: 38"<br />
      Hips: 42"
    </div>
  </div>
  <div class="model-desc">
      &quot;Hey all! My name is Sierra and I am a country loving girl at heart who loves to spend my free time hunting, fishing and being outdoors. My life loves are my fiance and our two Labrador retrievers. I am studying to obtain my masters in nursing. Nothing is more important to me than Faith and Family!&quot;
  </div>
</div>