<div id="tab-model">
  <div class="model-info">
    <div class="model-image"><img src="{{ '2015_Fall_Julie.jpg' | asset_url }}" alt="Julie"/></div>
    <div class="model-data">
      <b>Julie</b><br/>
      Height: 5' 5"<br />
      Size: 5/6, Small<br />
      Bust: 35"<br />
      Waist: 26.5"<br />
      Hips: 39"
    </div>
  </div>
  <div class="model-desc">
      Fun Facts: I am a Christian wife to Butch and the mother of two boys--Lane and Luke. I have been a
      dental hygienist for over 20 years. My favorite season to style is Summer. I don't eat much candy,
      but my favorite snacks are pretzels. A fun fact about me is that I have my concealed carry license
      so you could say I'm a "pistol packin' mamma"!
  </div>
</div>
