
<div id="mu-sidenav"></div>


<script>
    window.DFCollections = [
{%- for link in linklists.collection-leftnav.links -%}
    { id: "{{ link.handle }}", parent: "{{ "collection-leftnav" }}", title: "{{ link.title }}", url: "{{ link.url }}", active: {{ link.active }} },
    {%- for link2 in linklists[link.handle].links -%}
        { id: "{{ link2.handle }}", parent: "{{ link.handle }}", title: "{{ link2.title }}", url: "{{ link2.url }}", active: {{ link2.active }} },
        {%- for link3 in linklists[link2.handle].links -%}
            { id: "{{ link3.handle }}", parent: "{{ link2.handle }}", title: "{{ link3.title }}", url: "{{ link3.url }}", active: {{ link3.active }} },
            {%- for link4 in linklists[link3.handle].links -%}
                { id: "{{ link4.handle }}", parent: "{{ link4.handle }}", title: "{{ link4.title }}", url: "{{ link4.url }}", active: {{ link4.active }} },
            {%- endfor -%}
        {%- endfor -%}
    {%- endfor -%}
{%- endfor -%}
];
</script>

{{ 'mu-sidenav.js' | asset_url | script_tag }}
