<nav class="nav-bar" role="navigation">
  <div class="wrapper"> 
    <div class="medium-down--hide">
      <ul class="site-nav" id="AccessibleNav">
        {% for link in linklists.topnav.links %}
          {% assign child_list_handle = link.title | handleize %}
            <li class="nav-{{ link.title | downcase | replace: ' ', '' }} {% if link.active %} site-nav--active {% endif %}" >
              <a href="{{ link.url }}" class="site-nav__link ">
              {{ link.title }}
              </a>
              <div class="topnav-dropdown-container medium-down--hide">
              {% if link.title contains "Dresses" %} 
              <!--item1-->
                {% include 'dropdown_dresses' %}
              {% elsif link.title contains "Tops" %} 
              <!--item2-->
                {% include 'dropdown_tops' %}
              {% elsif link.title contains "Bottoms" %} 
              <!--item3-->
                {% include 'dropdown_bottoms' %}
              {% elsif link.title contains "Curvy" %} 
              <!--item4-->
                {% include 'dropdown_curvy' %}
              {% elsif link.title contains "Shapewear" %} 
              <!--item5-->
                {% include 'dropdown_shapewear' %}
              {% elsif link.title contains "Footwear" %} 
              <!--item6-->
                {% include 'dropdown_footwear' %}
              {% elsif link.title contains "Accessories" %} 
              <!--item7-->
                {% include 'dropdown_accessories' %}
                <!--item8-->
              {% elsif link.title contains "Sale" %} 
                {% include 'dropdown_sale' %}
              {% endif %}
              </div>
            </li>
        {% endfor %}
      </ul>
      <!-- //site-nav -->
    </div>
  </div>
</nav>

