<nav class="nav-bar" role="navigation">
  <div class="wrapper">
    <div class="large--hide medium-down--show">     
      <div class="grid--full">
        
        <div class="grid__item medium-down--two-tenths block-nav">
          <div class="site-nav--mobile">
            <button type="button" class="icon-fallback-text site-nav__link js-drawer-open-left" aria-controls="NavDrawer" aria-expanded="false">
                <img class="icon-menu" src="{{ 'gficon_menu_purple.svg' | asset_url }}" />
              <span class="menu-text">Menu</span>
            </button>
          </div>
        </div>

        <div class="grid__item medium-down--six-tenths block-logo text-center">
              
              <div class="logo mobile">
              <a href="/">
                <img src="{{ 'GlamourFarmslogo2017.png' | asset_url }}" />
              </a>
              </div>
             
        </div>
        <div class="grid__item medium-down--two-tenths block-cartnav text-right">
          <div class="site-nav--mobile du-icon-bag">
            <a href="/cart" class="js-drawer-open-right site-nav__link" aria-controls="CartDrawer" aria-expanded="false">
              <span class="icon-fallback-text">
                  <img src="{{ 'gficon_basket_purple.svg' | asset_url }}" />
                  <span id="CartCount"><span class="basket">your basket</span> &#40;{{ cart.item_count }}&#41;</span>
                  <span class="fallback-text">{{ 'layout.cart.title' | t }}</span>
              </span>
            </a>
          </div>
        </div> 
      </div>
    </div>
  </div>
</nav>


