    <nav class="nav-bar" role="navigation">
      <div class="wrapper">
        <div class="medium-down--hide">
          {% comment %}
            List out your main-menu linklist (default)

            More info on linklists:
              - http://docs.shopify.com/themes/liquid-variables/linklists
          {% endcomment %}
          <!-- begin site-nav -->
          <ul class="site-nav" id="AccessibleNav">
            {% for link in linklists.main-menu.links %}
              {% comment %}
                Create a dropdown menu by naming a linklist the same as a link in the parent nav

                More info on dropdowns:
                  - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
              {% endcomment %}
              {% assign child_list_handle = link.title | handleize %}
              
                <li {% if link.active %}class="site-nav--active"{% endif %}>
                  <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
                </li>
            
            {% endfor %}
          </ul>
          <!-- //site-nav -->
        </div>

        <div class="large--hide medium-down--show">
          <div class="grid">
            <div class="grid__item one-sixth">
              <div class="site-nav--mobile">
                <button type="button" class="icon-fallback-text site-nav__link js-drawer-open-left" aria-controls="NavDrawer" aria-expanded="false">
                  <span class="icon icon-hamburger" aria-hidden="true"></span>
                  <span class="fallback-text">{{ 'layout.navigation.menu' | t }}</span>
                </button>
              </div>
            </div>

            <div class="grid__item four-sixths text-center">
              

                  <a href="/">
                  <div class="logo">
                    <img src="{{ 'logo_dressup.png' | asset_url }}" />
                  </div>
                  </a>
               
               
            </div>

            <div class="grid__item one-sixth text-right">
              <div class="site-nav--mobile du-icon-bag">
                <a href="/cart" class="js-drawer-open-right site-nav__link" aria-controls="CartDrawer" aria-expanded="false">
                  <span class="icon-fallback-text">
                      <img src="{{ 'du_icon_bag.png' | asset_url }}" />
                      <span id="CartCount">{{ cart.item_count }}</span>
                      <span class="fallback-text">{{ 'layout.cart.title' | t }}</span>

                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

