    <nav class="nav-bar" role="navigation">
      <div class="wrapper"> 
        <div class="medium-down--hide">
          <ul class="site-nav" id="AccessibleNav">
            {% for link in linklists.topnav.links %}

              {% assign child_list_handle = link.title | handleize %}
              
                <li {% if link.active %} class="site-nav--active"{% endif %}>

                  <a href="{{ link.url }}" class="site-nav__link nav-{{ link.title | downcase | replace: ' ', '' }}">
                  {{ link.title }}
                  </a>
                  <div class="topnav-dropdown-container medium-down--hide"> 
                    {% include 'dropdown_dresses'  %}
                    {% include 'dropdown_tops' %}
                    {% include 'dropdown_bottoms' %}
                    {% include 'dropdown_curvy' %}
                    {% include 'dropdown_basics' %}
                    {% include 'dropdown_footwear' %}
                    {% include 'dropdown_accessories' %}
                    {% include 'dropdown_sale' %}
                  </div>
                </li>
            
            {% endfor %}
          </ul>
          <!-- //site-nav -->
        </div>


      </div>
    </nav>

