{% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
{% comment %}  {% include 'bold-product' with product, hide_action: 'skip' %}{% endcomment %}
  {% include 'bold-product' with product, hide_action: 'break' %}{% if bold_hidden_product %}{% break %}{%endif %}

  {% assign current_variant = bold_selected_or_first_available_variant %}

  <div id="product-{{ product.id }}" class="modal">
      <div class="grid product-single grid--center">


              <div class="grid__item large--one-half">
               <div class="product-photos">
                  <div class="grid">
                      <div class="grid__item large--ten-twelfths text-center">
                          <div class="product-single__photos" id="ProductPhoto">
                              {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
                              <img class="lazy" src="{{ 'gf-no-image.png' | asset_url }}" data-original="{{ current_variant.featured_image.src | default: product.featured_image.src | img_url: '450x' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
                          </div>
                      </div>
                      <div class="grid__item large--two-twelfths">
                          {% comment %}
                          Create thumbnails if we have more than one product image
                          {% endcomment %}
                          {% if product.images.size > 1 %}
                          <ul class="product-single__thumbnails grid-uniform" id="ProductThumbs">

                              {% for image in product.images %}
                              <li class="grid__item">
                                  <a href="#!" data-href="{{ image.src | img_url: '1024x1024' }}" class="product-single__thumbnail">
                                      <img class="lazy" src="{{ 'gf-no-image.png' | asset_url }}" data-original="{{ image.src | img_url: '80x' }}" alt="{{ image.alt | escape }}">
                                  </a>
                              </li>
                              {% endfor %}

                          </ul>
                          {% endif %}

                      </div>
                  </div>
              </div>

          </div>
          {% comment %}// ---------------------------------------------------------------- //{% endcomment %}

              <div class="grid__item large--one-half">
              <div class="product-info">
                  <h1 itemprop="name">{{ product.title }}</h1>

                  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

                      <meta itemprop="priceCurrency" content="{{ shop.currency }}">

                      <div class="product-price-wrapper">

            {% if bold_compare_at_price_max > bold_price and product.type != 'giftcard' %}
            <span class="compareto-price">{{ bold_compare_at_price | money }}</span>
            {% endif %}

            <span id="ProductPrice" class="product-price" itemprop="price" content="{{ current_variant.price | divided_by: 100 }}">
              {{ current_variant.price | money }}
            </span>
        </div>
                      <div class="product-inventoryleft">
                        {% assign total_qty = 0 %}
                        {% for variant in product.variants %}
                        {% assign total_qty = total_qty | plus: variant.inventory_quantity %}
                        {% endfor %}
                        {% if total_qty >0 and total_qty < 6 %}
                          Only {{ total_qty }} left!
                          {% endif %}
                        {% if total_qty == 0 %}
                          <span class="soldout">Sold Out</span>
                          {% endif %}
                      </div>


                      <link itemprop="availability"
                            href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

                      {% comment %}
                      ID addToCartForm is a selector for the ajax cart plugin
                      {% endcomment %}
                      <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">
                          <input type='hidden' id="frmloc" name='frmloc' value="main"/>
                          <div class="product-variant-selector-wrapper">
                            <div class="radio-wrapper">
                              <label for="single-option-radio" class="single-option-radio__label">{% if product.type != 'giftcard' %} Select size {% else %} Amount {% endif %}</label>
                              <fieldset class="radio-option" data-option="option1" name="Size" id="">
                                {% for variant in product.variants %}

                                    {% include 'bold-hidden-variants' with variant, bold_loop: 'loop' %}
                                    {% if variant.available %}
                                          <input type="radio" value="{{ variant.title }}" name="Size" class="myClass" data-option="option1" id="{{ variant.title }}">
                                          <label for="{{ variant.title }}" class="productQuickView">{{ variant.title }}</label>

                                    {% else %}

                                      <input type="radio" value="{{ variant.title }}" name="Size" class="myClass disabled" data-option="option1" id="{{ variant.title }}">
                                          <label for="{{ variant.title }}" class="productQuickView disabled">{{ variant.title }}</label>
                                    {% endif %}



                                {% endfor %}
                              </fieldset>
                            </div>
                            <select name="id" id="productSelect" class="product-option-selected product-single__variants" style="display:none">
                                {% for variant in product.variants %}
                                {% include 'bold-hidden-variants' with variant, bold_loop: 'loop' %}
                                  {% if variant.available %}

                                    {% comment %}
                                     using new variant js file
                                    {% endcomment %}
                                    <option data-id="{{ variant.id }}" {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }}</option>

                                  {% else %}
                                    <option data-id="{{ variant.id }}" value="{{ variant.id }}">
                                      {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                                    </option>
                                  {% endif %}
                                {% endfor %}
                              </select>
                          </div>



                          <div class="grid">
                            {% unless qb_loaded == 'true' %}
                            <div id="shappify-qty-msg"></div>
                            {% assign qb_loaded = 'true' %}
                            {% endunless %}
                              <div class="grid__item large--five-twelfths">
                                  <div class="product-quantity-wrapper">
                                      <label for="Quantity" class="quantity-selector">Select quantity</label>
                                      <input type="number" id="Quantity" name="quantity" value="1" min="1"
                                             class="quantity-selector">
                                  </div>
                              </div>
                              <div class="grid__item large--seven-twelfths">
                                  <div class="product-social-wrapper qv-social">
                                      <span class="title">Share this</span>
                                      {% include 'social-sharing' %}
                                  </div>
                              </div>
                          </div>


                          <div class="product-addtocart-wrapper">
                              <button type="submit" name="add" id="AddToCart" class="btn btn-addtocart" onclick="this.blur();">
                                  <span id="AddToCartText" class="add-to-cart-text" >Add to Basket</span>
                              </button>
                          </div>

                      </form>

                  </div>
                  <div class="also-message">
                      {% for tag in product.tags %}
                          {% if tag == "also-curvy" %}
                              <p>Also available in Curvy fit.</p>
                          {% endif %}
                          {% if tag == "also-contemporary" %}
                              <p>Also available in Contemporary fit.</p>
                          {% endif %}
                          {% if tag == "also-missy" %}
                              <p>Also available in Missy fit.</p>
                          {% endif %}
                          {% if tag == "also-curvycontemporary" %}
                              <p>Also available in Curvy Contemporary fit.</p>
                          {% endif %}
                      {% endfor %}
                  </div>
                  <div class="product-details-link">
                      <a href="{{ product.url | within: collection }}">View full product details</a>
                      <a href="{{ product.url | within: collection }}"><img src="{{ 'drawnarrow_green.png' | asset_url }}" /></a>
                  </div>


              </div>
          </div>

      </div>
  </div>
