{% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {% assign current_variant = product.selected_or_first_available_variant %}

  <div id="product-{{ product.id }}" class="modal">
      <div class="grid product-single grid--center">


              <div class="grid__item large--one-half">
               <div class="product-photos">
                  <div class="grid">
                      <div class="grid__item large--ten-twelfths text-center">
                          <div class="product-single__photos" id="ProductPhoto">
                              {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
                              <img src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
                          </div>
                      </div>
                      <div class="grid__item large--two-twelfths">
                          {% comment %}
                          Create thumbnails if we have more than one product image
                          {% endcomment %}
                          {% if product.images.size > 1 %}
                          <ul class="product-single__thumbnails grid-uniform" id="ProductThumbs">

                              {% for image in product.images %}
                              <li class="grid__item">
                                  <a href="#!" data-href="{{ image.src | img_url: '1024x1024' }}" class="product-single__thumbnail">
                                      <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
                                  </a>
                              </li>
                              {% endfor %}

                          </ul>
                          {% endif %}

                      </div>
                  </div>
              </div>

          </div>
          {% comment %}// ---------------------------------------------------------------- //{% endcomment %}

              <div class="grid__item large--one-half">
              <div class="product-info">
                  <h1 itemprop="name">{{ product.title }}</h1>

                  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

                      <meta itemprop="priceCurrency" content="{{ shop.currency }}">

                      <div class="product-price-wrapper">

            {% if product.compare_at_price_max > product.price %}
            <span class="compareto-price">{{ product.compare_at_price | money }}</span>
            {% endif %}

            <span id="ProductPrice" class="product-price" itemprop="price" content="{{ current_variant.price | divided_by: 100 }}">
              {{ current_variant.price | money }}
            </span>
        </div>

                      {% comment %}MU - Note for items left if under 5{% endcomment %}
                      <div class="product-inventoryleft">
                          {% assign total_qty = 0 %}
                          {% for variant in product.variants %}
                          {% assign total_qty = total_qty | plus: variant.inventory_quantity %}
                          {% endfor %}
                          {% if total_qty <= 5 %}
                          <span>Only {{ total_qty }} left!</span>
                          {% endif %}
                      </div>


                      <link itemprop="availability"
                            href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

                      {% comment %}
                      ID addToCartForm is a selector for the ajax cart plugin
                      {% endcomment %}
                      <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">
                          <input type='hidden' id="frmloc" name='frmloc' value="main"/>
                          <div class="product-variant-selector-wrapper">
                            <div class="radio-wrapper"><label for="uu" class="single-option-radio__label">Select size</label><fieldset class="radio-option" data-option="option1" name="Size" id=""><input type="radio" value="Small" name="Size" class="myClass" data-option="option1" id="Small"><label for="Small" class="productQuickView">Small</label><input type="radio" value="Medium" name="Size" class="myClass" data-option="option1" id="Medium"><label for="Medium" class="productQuickView">Medium</label><input type="radio" value="Large" name="Size" class="myClass" data-option="option1" id="Large"><label for="Large" class="productQuickView">Large</label></fieldset></div>
                            <select name="id" id="productSelect" class="product-single__variants" style="display:none">
                                {% for variant in product.variants %}
                                  {% if variant.available %}

                                    {% comment %}
                                     using new variant js file
                                    {% endcomment %}
                                    <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }}</option>

                                  {% else %}
                                    <option disabled="disabled">
                                      {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                                    </option>
                                  {% endif %}
                                {% endfor %}
                              </select>
                          </div>


                          <div class="grid">
                              <div class="grid__item large--five-twelfths">
                                  <div class="product-quantity-wrapper">
                                      <label for="Quantity" class="quantity-selector">Select quantity</label>
                                      <input type="number" id="Quantity" name="quantity" value="1" min="1"
                                             class="quantity-selector">
                                  </div>
                              </div>
                              <div class="grid__item large--seven-twelfths">
                                  <div class="product-social-wrapper">
                                      <span class="title">Share this!</span>
                                      {% include 'social-sharing' %}
                                  </div>
                              </div>
                          </div>


                          <div class="product-addtocart-wrapper">
                              <button type="submit" name="add" id="AddToCart" class="btn btn-addtocart" onclick="this.blur();">
                                  <img src="{{ 'icon_cartbutton.png' | asset_url }}"/><span id="AddToCartText">Add to your Bag</span>
                              </button>
                          </div>

                      </form>

                  </div>

                  <div class="product-details-link">
                      <a href="{{ product.url | within: collection }}">View full product details</a><img class="product-quickview-caret" src="{{ 'icon_triangle_pinkright.png'| asset_url }}" />
                  </div>


              </div>
          </div>

      </div>
  </div>
