<ul id="accord1" class="accordian">
              <li>
                <h3 class="accordHeader">Description <span></span></h3>
                <section>
                  {{ product.description }}
                </section>
              </li>
              {% assign fit = false %}
              {% for fit in product.tags %}
              {% if fit contains "fit" %}
              {% assign fit = true %}
              {% break %}
              {% endif %}
              {% endfor %}
              {% if fit == true %}
              <li>
                <h3 class="accordHeader">About the Fit <span></span></h3>
                <section>
                  {% for tag in product.tags %}
                  {% if tag == "fit-missy" %}
                  {% include 'fit-missy' %}
                  {% elsif tag == "fit-contemporary" %}
                  {% include 'fit-contemporary' %}
                  {% elsif tag == "fit-curvy" %}
                  {% include 'fit-curvy' %}
                  {% elsif tag == "fit-curvycontemporary" %}
                  {% include 'fit-curvycontemporary' %}
                  {% endif %}
                  {% endfor %}
                </section>
              </li>
              {% endif %}
              {% assign sizechart = false %}
              {% for fit in product.tags %}
              {% if fit contains "fit" %}
              {% assign sizechart = true %}
              {% break %}
              {% endif %}
              {% endfor %}
              {% if sizechart == true %}
              <li>
                <h3 class="accordHeader">Size Chart<span></span></h3>
                <section>
                  {% for tag in product.tags %}
                  {% if tag == "fit-missy" %}
                  {% include 'sizechart-missy' %}
                  {% elsif tag == "fit-contemporary" %}
                  {% include 'sizechart-contemporary' %}
                  {% elsif tag == "fit-curvy" %}
                  {% include 'sizechart-curvy' %}
                  {% elsif tag == "fit-curvycontemporary" %}
                  {% include 'sizechart-curvycontemporary' %}
                  {% endif %}
                  {% endfor %}
                </section>
              </li>
              {% endif %}
              {% assign model = false %}
              {% for model in product.tags %}

              {% if model contains "model" %}
              {% assign model = true %}
              {% break %}
              {% endif %}
              {% endfor %}
              {% if model == true %}
              <li>
                <h3 class="accordHeader">About the Model <span></span></h3>
                <section>
                  {% for model in product.tags %}
                  {% if model contains "model" %}
                  {% include model %}
                  {% endif %}
                  {% endfor %}
                </section>
              </li>
              {% endif %}
              {% assign shipping = false %}
              {% for tag in product.tags %}
              {% if tag contains "shipping" %}
              {% assign shipping = true %}
              {% break %}
              {% endif %}
              {% endfor %}
              {% if shipping == true %}
              <li>
                <h3 class="accordHeader">Shipping &amp; Returns <span></span></h3>
                <section>
                  {% for tag in product.tags %}
                  {% if tag contains "shipping" %}
                  {% include tag %}
                  {% endif %}
                  {% endfor %}
                </section>
              </li>
              {% endif %}


            </ul>