

{% comment %}
  Successful message
{% endcomment %}


{{ form.errors | default_errors }}
<p>Sometimes we'll have extra items in our boutique or anticipate getting them restocked. Send us your contact information and what you're looking for and we'll do our best to find it!</p>
{% assign name_attr = 'contact.form.name' | t | handle %}
<input type="hidden" name="contact[product title]" value="{{ product.title }}">
<input type="hidden" name="contact[product url]" value="{{ shop.url }}{{ product.url }}">

<label for="ContactFormName" class="hidden-label">{{ 'contact.form.name' | t }}</label>
<input type="text" id="ContactFormName" class="input-full" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}">

<label for="ContactFormEmail" class="hidden-label">{{ 'contact.form.email' | t }}</label>
<input type="email" id="ContactFormEmail" class="input-full" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">

{% assign name_attr = 'contact.form.phone' | t | handle %}
<label for="ContactFormPhone" class="hidden-label">{{ 'contact.form.phone' | t }}</label>
<input type="tel" id="ContactFormPhone" class="input-full" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.phone' | t }}" pattern="[0-9\-]*" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">

<label for="ContactFormMessage" class="hidden-label">{{ 'contact.form.message' | t }}</label>
<textarea rows="5" id="ContactFormMessage" class="input-full" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ product.title }}{{ form.body }}{% endif %}</textarea>

<input type="submit" class="btn product-inquiry-btn" value="{{ 'contact.form.send' | t }}">

