<!-- /snippets/product-grid-item.liquid -->

{% include 'bold-product' with product, hide_action: 'skip' %}
{% assign on_sale = false %}
{% if bold_compare_at_price > bold_price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

<div class="grid__item grid_item_width">
<div class="du-product-block">
  <div class="related-product-photo-wrapper">
  <div class="collection-product-photo related-product-photo">

    <a href="{{ product.url | within: collection }}" class="grid__image">
      
      <div class="reveal">
        {% if on_sale %}
          <div class="sale-flag-wrapper related">
          Sale
          </div>
        {% endif %}
        {% if sold_out %}
          <div class="sold-out-wrapper related">
          Sold Out
          </div>

        {% endif %}

        {% if product.images.size == 0 %}
  <!-- If the product has no image, display custom placeholder -->
            <img src="{{ 'gf-no-image.png' | asset_url }}">
          {% else %}
        <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" class="grid-product-image">
        {% endif %}
        
      </div>

    </a>
  </div>
</div>

    <div class="collection-product-info related-product-info">
        
        
      <p class="cp-product-title">
        <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
      </p>
      
     <p class="cp-price-info">
            
            {% if on_sale %}

            <span class="cp-compareto-price">{{ bold_compare_at_price | money }}</span>
            {% endif %}

            {% if on_sale %}
            {% if bold_price_varies %}
            {% assign sale_price = bold_price | money %}

            <span class="cp-compareto-price">&nbsp;{{ bold_compare_at_price | money }}&nbsp;</span>
            {% else %}
            <span class="cp-price-sale">{{ bold_price | money }}</span>
            {% endif %}

            {% else %}

            {% if bold_price_varies %}
            {% assign price = bold_price | money %}
            {{ 'products.general.from_text_html' | t: price: price }}
            {% else %}
            <span class="cp-price">{{ bold_price | money }}</span>
            {% endif %}

            {% endif %}
            <span class="cp-qty-left">
            {% assign total_qty = 0 %} 
            {% for variant in product.variants %} 
            {% assign total_qty = total_qty | plus: variant.inventory_quantity %} 
            {% endfor %} 
            {% if total_qty >0 and total_qty < 6 %} 
            Only {{ total_qty }} left!
            {% endif %}

            
          </span>
            
          </p>
      
       
    </div>

   {% comment %}{% include 'product-quick-view' %}{% endcomment %}
   </div>{% comment %}-----------close product block{% endcomment %}
</div>
