<div class="product-tab-snippet">
<p>
No cash, credit or debit card refunds will be issued.</p>

<p>All clearance items are <strong>final sale</strong> and are non-returnable.</p>


<p>Customers may return any unused, unworn item, with tags attached. Items purchased online can be returned in store or by mail to the return address listed on the Return Policy Page. Items must be returned within 21 days of the original delivery date. Returns must include the original invoice and the customer will receive an online credit. </p>

<p>Exchanges are not accepted at this time. The customer will receive an online credit and may place another order for a new item. Occasionally, items sell out before online returns reach our facility. We issue our customers' credits to ensure you receive the item you want!
</p>
</div>