<div id="search_bar_top" class="medium-down--hide large-show">


  <div class="header-search">
  <div class="search-floral-left">
  <img src="{{ 'search-floral-left.png' | asset_url }}" />
  </div>
  <div class="header-search-form-container">
    <form action="/search" method="get" class="input-group search-bar" role="search">
        {% comment %}<input type="hidden" name="type" value="product">{% endcomment %}
        <input type="search" name="q" value="{{ search.terms | escape }}"
               placeholder="{{ 'general.search.placeholder' | t }}" class="input-group-field"
               aria-label="{{ 'general.search.placeholder' | t }}">
               <input type="hidden" name="type" value="product" />
        <span class="input-group-btn">
            <button type="submit" class="btn icon-fallback-text search">
              <span class="icon icon-search" aria-hidden="true"></span>
              <span class="fallback-text">{{ 'general.search.submit' | t }}</span>
            </button>
        </span>
    </form>
    </div>
    <div class="search-floral-right">
     <img src="{{ 'search-floral-right.png' | asset_url }}" />
    </div>
</div>

</div>
