<!-- /snippets/collection-sidebar.liquid -->

<div class="leftnav">
    <div class="sidenav-top-element">
        <img class="" src="{{ 'element_bordertop_green.png' | asset_url }}"/>
    </div>

    <div class="sidenav-mid-element">
        <div class="mid-header large--hide search-menu">
            <h4 class="search-menu-title">Menu</h4>
        </div>
        <div class="mid-content">
            {% include 'mu-sidebar' %}
        </div>
    </div>

    <div class="sidenav-bottom-element">
        <img class="" src="{{ 'element_borderbottom_green.png' | asset_url }}"/>
    </div>
{% comment %}    <div class="filter-menu-block js-gf-filtergroups">
        {% include 'filter-menu' %}
    </div>{% endcomment %}
    <div class="sidebar-promo">
        <a href="/products/gift-cards"><img src="{{ 'promo_xmasgiftcards.png' | asset_url }}" class="gift=card-promo"/></a>
    </div>

</div>



  
  

