<div class="sizechart">
	<h4 class="table_title">Size Chart Four
	<span>(measurements may vary by style)</span></h4>
    <table id="size_chart">
        <tbody>
            <tr>
                <th></th>
                <th>X-small</th>
                <th>Small</th>
                <th>Medium</th>
                <th>Large</th>
            </tr>
            <tr>
                <td class="left_label">Waist</td>
                <td>24-25</td>
                <td>26-27</td>
                <td>28-29</td>
                <td>30-31</td>
            </tr>
            <tr>
                <td class="left_label">Bust</td>
                <td>30-32</td>
                <td>32-34</td>
                <td>34-36</td>
                <td>36-38</td>
            </tr>
            <tr>
                <td class="left_label">Hips</td>
                <td>32</td>
                <td>33-36</td>
                <td>37-39</td>
                <td>40-42</td>
            </tr>
            <tr>
                <td class="left_label">US</td>
                <td>0-1</td>
                <td>2-4</td>
                <td>5-8</td>
                <td>9-12</td>
            </tr>
            <tr>
                <td class="left_label">UK</td>
                <td>8</td>
                <td>8-10</td>
                <td>10-12</td>
                <td>12-14</td>
            </tr>
            <tr>
                <td class="left_label">EU</td>
                <td>34</td>
                <td>36-38</td>
                <td>40-42</td>
                <td>44</td>
            </tr>
        </tbody>
    </table>


</div>