<div class="sizechart" dir="ltr">
    <table id="size_chart" cellspacing="0" cellpadding="0">
        <thead>
        <tr style='height:20px;'>
            <th>CONTEMPORARY FIT</th>
            <th>Bust (in.)</th>
            <th>Waist (in.)</th>
            <th>Hips (in.)</th>
            <th>US/Bottom</th>
        </tr>
        </thead>
        <tbody>
        <tr style='height:20px;'>
            <td class="left_label">X-Small</td>
            <td>30-32</td>
            <td>24-25</td>
            <td>32</td>
            <td>0-1</td>
        </tr>
        <tr style='height:20px;'>
            <td class="left_label">Small</td>
            <td>32-34</td>
            <td>26-27</td>
            <td>33-36</td>
            <td>2-4</td>
        </tr>
        <tr style='height:20px;'>
            <td class="left_label">Medium</td>
            <td>34-36</td>
            <td>28-29</td>
            <td>37-39</td>
            <td>5-8</td>
        </tr>
        <tr style='height:20px;'>
            <td class="left_label">Large</td>
            <td>36-38</td>
            <td>30-31</td>
            <td>40-42</td>
            <td>9-12</td>
        </tr>
        <tr style='height:20px;'>
            <td class="left_label">X-Large</td>
            <td>38-40</td>
            <td>32-33</td>
            <td>43-45</td>
            <td>13-15</td>
        </tr>
        </tbody>
    </table>
</div>