<div class="product-tab-snippet">
<div class="du-sizechart">
	<h3 class="table_title">Size Chart 
	<span>(measurements may vary by style)</span></h3>
	    <table id="size_chart">
	        <tbody>
	            <tr>
	                <th class="no-color"></th>

	                <th>Small</th>
	                <th>Medium</th>
	                <th>Large</th>
	            </tr>
	            <tr>
	                <td class="left_label">Waist</td>
	                <td>26</td>
	                <td>27.5</td>
	                <td>39.5</td>
	            </tr>
	            <tr>
	                <td class="left_label">Bust</td>
	                <td>32</td>
	                <td>33.5</td>
	                <td>35.5</td>
	            </tr>
	            <tr>
	                <td class="left_label">Hips</td>
	                <td>36</td>
	                <td>37.5</td>
	                <td>39.5</td>
	            </tr>
	            <tr>
	                <td class="left_label">Denim</td>
	                <td>26-27</td>
	                <td>28-29</td>
	                <td>30-31</td>
	            </tr>
	            <tr>
	                <td class="left_label">USA</td>
	                <td>2-4</td>
	                <td>6</td>
	                <td>8-10</td>
	            </tr>
	        </tbody>
	    </table>

    	{% comment %}<h4 class="table_title">Shoe Size Conversions</h4>
	    <table id="shoe_size_conversions">
	        <tbody>
	            <tr>
	                <td class="left_label">US</td>
	                <td>5</td>
	                <td>5.5</td>
	                <td>6</td>
	                <td>6.5</td>
	                <td>7</td>
	                <td>7.5</td>
	                <td>8</td>
	                <td>8.5</td>
	                <td>9</td>
	                <td>9.5</td>
	                <td>10</td>
	                <td>11</td>
	                <td>12</td>
	            </tr>
	          	<tr>
	                <td class="left_label">EU</td>
	                <td>35</td>
	                <td>35.5</td>
	                <td>36</td>
	                <td>37</td>
	                <td>37.5</td>
	                <td>38</td>
	                <td>38.5</td>
	                <td>39</td>
	                <td>40</td>
	                <td>41</td>
	                <td>42</td>
	                <td>43</td>
	                <td>44</td>
	            </tr>
	            
	        </tbody>
	    </table>{% endcomment %}

    <p class="footnote">For sizing information on this specific style, view the product description</p>
</div>
<div class="measurement-chart">
	<div class="grid">
		<div class="grid__item large--one-third medium-down--one-whole">
		    <h3>Measuring Tips</h3>
		    
		      <h4>Bust</h4>
		      <p>Measure the fullest part of your bust and make sure the measuring tape fits comfortably.</p>

		      <h4>Waist</h4>
		      <p>Make sure the measuring tape fits comfortably around the narrowest part of your waist.</p>

		      <h4>Hips</h4>
		      <p>Place the measuring tape below your waist and above your thigh. Make sure the tape fits comfortably around your body.</p>
		    
	    	</div>
		<div class="grid__item large--two-thirds medium-down--one-whole">
			<p class="text-center">
			<img class="figure" src="{{ 'dressup_sizesilhouette.jpg' | asset_url }}" />
			</p>
		</div>
		
	</div>
	
</div>
</div>
