<div class="sizechart" dir="ltr">
    <table id="size_chart" cellspacing="0" cellpadding="0">
        <thead>
        <tr style='height:20px;'>
            <th>CONTEMPORARY CURVY FIT</th>
            <th>Bust (in.)</th>
            <th>Waist (in.)</th>
            <th>Hips (in.)</th>
            <th>US/Bottom</th>
        </tr>
        </thead>
        <tbody>

        <tr style='height:20px;'>
            <td class="left_label">XL</td>
            <td>38-40</td>
            <td>32-34</td>
            <td>38-40</td>
            <td>12/14</td>
        </tr>
        <tr style='height:20px;'>
            <td class="left_label">1XL</td>
            <td>40-42</td>
            <td>34-36</td>
            <td>40-42</td>
            <td>14/16</td>
        </tr>
        <tr style='height:20px;'>
            <td class="left_label">2XL</td>
            <td>42-44</td>
            <td>36-38</td>
            <td>42-44</td>
            <td>16/18</td>
        </tr>
        <tr style='height:20px;'>
            <td class="left_label">3XL</td>
            <td>44-46</td>
            <td>38-40</td>
            <td>44-46</td>
            <td>18/20</td>
        </tr>
        </tbody>
    </table>
</div>