  <div class="share-icons">
    <ul>
     <a title="Share on Facebook" href="http://www.facebook.com/sharer.php?u={{ shop.url }}{{ product.url }}" class="facebook" target="_blank">
      <li class="facebook">
      </li>
      </a>
      <a title="Share on Twitter" href="http://twitter.com/home?status={{ shop.url }}{{ product.url }} via @Twitter Handle" target="_blank">
      <li class="twitter">
      </li>
      </a>
      <a title="Share on Pinterest" target="blank" href="http://pinterest.com/pin/create/button/?url={{ shop.url }}{{ product.url }}&media=http:{{ product.featured_image | product_img_url: 'master' }}&description={{ product.title | escape }}">
      <li class="pinterest">
      </li>
      </a>
      <a title="Share on Wanelo" target="_blank" class="wanelo" data-image="http:{{ product.featured_image | product_img_url: 'master' }}" data-price data-title="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" href="//wanelo.com">
      <li class="wanelo-save-button">
      </li>
      </a>
        <script async src="//cdn-saveit.wanelo.com/bookmarklet/3/save.js"></script>
    </ul>
  </div>

