<!-- /templates/customers/login.liquid -->
<div class="du-internal-page-wrapper">
<div class="grid">

  <div class="grid__item large--one-third push--large--one-third text-center">
    <link href="https://cdn.commentsold.com/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      .btn-social {
          position: relative;
          padding-left: 44px;
          text-align: left;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
      }
      .btn-social>:first-child {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 32px;
          line-height: 34px;
          font-size: 1.6em;
          text-align: center;
          border-right: 1px solid rgba(0,0,0,0.2);
      }
      .btn-facebook {
          color: #fff;
          background-color: #3b5998;
          border-color: rgba(0,0,0,0.2);
      }
      .btn-facebook:active,
      .btn-facebook:focus,
      .btn-facebook:hover {
          color: #fff;
          background-color: #2d4373;
          border-color: rgba(0,0,0,0.2);
      }
    </style>
    <br/><br/><br/>
    <a style="margin: 5px;" class="btn btn-social btn-facebook" href="/facebook-login"><span class="fa fa-facebook"></span> Login with Facebook</a>
    <br><p>Login via Facebook to combine your carts and save on shipping!</p>
    <hr/>

    {% comment %}
      If a user has successfully requested a new password, the form.posted_successfully? variable
      is set to true within the 'recover_customer_password' form only. Within that form you'll see
      the variable 'resetPassword' set to true, which is used to initialize timber.resetPasswordSuccess().
    {% endcomment %}
    <div class="note form-success" id="ResetSuccess" style="display:none;">
      {{ 'customer.recover_password.success' | t }}
    </div>

    <div id="CustomerLoginForm" class="form-vertical">
      {% form 'customer_login' %}

        <h1>{{ 'customer.login.title' | t }}</h1>

        {{ form.errors | default_errors }}

        {% if form.posted_successfully %}

        {% elsif form.errors %}
          <div class="errors">
            <ul>
              <li>Hey, this is a new site. If you login with Facebook, you can combine your cart with The Market!</li>
            </ul>
          </div>
        {% endif %}


        <label for="CustomerEmail" class="hidden-label">{{ 'customer.login.email' | t }}</label>
        <input type="email" name="customer[email]" id="CustomerEmail" class="input-full{% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'customer.login.email' | t }}" autocorrect="off" autocapitalize="off" autofocus>

        {% if form.password_needed %}
          <label for="CustomerPassword" class="hidden-label">{{ 'customer.login.password' | t }}</label>
          <input type="password" value="" name="customer[password]" id="CustomerPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.login.password' | t }}">
        {% endif %}

        <p>
          <input type="submit" class="btn btn--full" value="{{ 'customer.login.sign_in' | t }}">
        </p>
        <p><a href="/store">{{ 'customer.login.cancel' | t }}</a></p>
        <p><a href="/customers/register">{{ 'layout.customer.create_account' | t }}</a></p>

        {% if form.password_needed %}
          <p><a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a></p>
        {% endif %}

      {% endform %}
    </div>

    {% comment %}
      JS shows/hides this form in timber.loginForms()
    {% endcomment %}
    <div id="RecoverPasswordForm" style="display: none;">

      <h2>{{ 'customer.recover_password.title' | t }}</h2>
      <p>{{ 'customer.recover_password.subtext' | t }}</p>

      <div class="form-vertical">
        {% form 'recover_customer_password' %}

          {{ form.errors | default_errors }}

          {% comment %}
            Assign variable to be used after timber.init() is run in theme.liquid
          {% endcomment %}

          {% if form.posted_successfully %}
            <div class="note form-success" id="ResetSuccess" style="width: 100%;">
              {{ 'customer.recover_password.success' | t }}
            </div>
            {% assign resetPassword = true %}
          {% endif %}

          <label for="RecoverEmail" class="hidden-label">{{ 'customer.recover_password.email' | t }}</label>
          <input type="email" value="" name="email" id="RecoverEmail" class="input-full" placeholder="{{ 'customer.recover_password.email' | t }}" autocorrect="off" autocapitalize="off">

          <p>
            <input type="submit" class="btn btn--full" value="{{ 'customer.recover_password.submit' | t }}">
          </p>
          <button type="button" id="HideRecoverPasswordLink" class="text-link">{{ 'customer.recover_password.cancel' | t }}</button>
        {% endform %}
      </div>

    </div>

    {% comment %}
      If accounts are set as optional, the following will be shown as an option
      during checkout, not on the default /login page.
    {% endcomment %}
    {% if shop.checkout.guest_login %}
      <hr>

      <h2>{{ 'customer.login.guest_title' | t }}</h2>

      {% form 'guest_login' %}
        <input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
      {% endform %}
    {% endif %}

  </div>

</div>
</div>
