{% layout none %}
<!DOCTYPE html>
<html>
  <head>
    <title>Terms of Service</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css"/>
    <style>
      .container {
        margin: 0 auto;
        max-width: 800px;
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <div class='container'>
      <h1>Cheekys Boutique</h1>
      <hr />
      <h2>Terms of Service</h2>
      <div data-content>
        ...
      </div>
    </div>
  </body>
</html>
