
<!-- spurit_po-added -->
{% include 'spurit_po-collection-snippet' %}
<!-- /spurit_po-added -->
{% if settings.slideshow_collection_enabled %}
  <div id="slide-collection">
    <div class="bcg"
        data-bottom-top="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -200px;"
        data-anchor-target="#slide-collection">
          <div class="hsContainer">
            <div class="hsContent center">
              {% if settings.display_collection_header_title %}
                <div>
                  <h1 class="headline" style="color:{{settings.banner_color}}">{{ collection.title }}</h1>
                </div>
              {% endif %}                
            </div>
          </div>
    </div>
  </div>
  <a name="pagecontent" id="pagecontent"></a>
  <div class="container">
{% endif %}

{% paginate collection.products by settings.pagination_limit %}

  {% if settings.display_collection_title %}
    <div class="sixteen columns">
      <h1 class="center">{{ collection.title }}</h1>
      <div class="feature_divider"></div>
    </div>
  {% endif %}

  <div class="section clearfix">
    <div class="sixteen columns breadcrumb">
      <div class="eight columns breadcrumb_text alpha" itemscope itemtype="http://schema.org/BreadcrumbList">
        {% if settings.collection_breadcrumb %}
          <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="item"><span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span></a></span> 
          &nbsp;<span class="icon-right-arrow"></span>
          <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ collection.url }}" title="{{ collection.title | escape }}" itemprop="item"><span itemprop="name">{{ collection.title }}</span></a></span>       
          {% if current_tags %}
            {% for tag in current_tags %}
              &nbsp;<span class="icon-right-arrow"></span>
              <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}" title="{{ tag | escape }}" itemprop="item"><span itemprop="name">{{ tag }}</span></a></span>
            {% endfor %}
          {% endif %}
        
          {% if paginate.pages != 0 %}      
            &nbsp;<span class="icon-right-arrow"></span> {{ 'general.breadcrumbs.page' | t: current_page: paginate.current_page, pages: paginate.pages }}
          {% endif %}
        {% endif %}
      </div>

      {% if collection.handle != blank and collection.products_count > 0 %}
        {% if settings.collection_tags %}        
          <div class="four columns section_select {% unless settings.collection_sort %}offset-by-four omega{% endunless %}">
          {% for tag in collection.all_tags %}
            {% if forloop.first %}
              <label for="tag_filter" class="inline">color: </label> 
              <select name="tag_filter" id="tag_filter">                
               <option {% unless current_tags %}selected="selected"{% endunless %} value="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}">All Colors</option>
                {% endif %}          
              <!-- code changed - sort by color tag - clone9design -->
            {% if tag contains 'color-' %}
              <option {% if current_tags contains tag %}selected="selected"{% endif %} value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}">{{ tag | remove: 'color-' }}</option>
            {% endif %}
                <!----------code end---------->
            
            {% if forloop.last %}
              </select>
            {% endif %}
          {% endfor %}
          </div>
        {% endif %}

      <!-- code changed for sort by size tag - clone9design -->
       {% if settings.collection_sort %}
          <div class="four columns section_select omega {% unless settings.collection_tags %}offset-by-four{% endunless %}">
            {% for tag in collection.all_tags %}
            {% if forloop.first %}
            <label for="tag_filter" class="inline">Size: </label> 
            <select name="size_filter" id="size_filter">
            <option {% unless current_tags %}selected="selected"{% endunless %} value="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}">All Sizes</option>
              {% endif %} 
              {% if forloop.last %}
   <!--<option {% if current_tags contains 'size-xs' %}selected="selected"{% endif %} value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ 'size-xs' | handleize }}">XS</option>-->
   <option {% if current_tags contains 'size-s' %}selected="selected"{% endif %} value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ 'size-s' | handleize }}">S</option>
   <option {% if current_tags contains 'size-m' %}selected="selected"{% endif %} value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ 'size-m' | handleize }}">M</option>           
   <option {% if current_tags contains 'size-l' %}selected="selected"{% endif %} value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ 'size-l' | handleize }}">L</option>
   <option {% if current_tags contains 'size-xl' %}selected="selected"{% endif %} value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ 'size-xl' | handleize }}">XL</option>
   <option {% if current_tags contains 'size-xxl' %}selected="selected"{% endif %} value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ 'size-xxl' | handleize }}">XXL</option>
   <option {% if current_tags contains 'size-xxxl' %}selected="selected"{% endif %} value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ 'size-xxxl' | handleize }}">XXXL</option>

   <option {% if current_tags contains 'size-0' %}selected="selected"{% endif %} value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ 'size-0' | handleize }}">0</option>
   <option {% if current_tags contains 'size-1' %}selected="selected"{% endif %} value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ 'size-1' | handleize }}">1</option>           
   <option {% if current_tags contains 'size-3' %}selected="selected"{% endif %} value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ 'size-3' | handleize }}">3</option>
   <option {% if current_tags contains 'size-5' %}selected="selected"{% endif %} value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ 'size-5' | handleize }}">5</option>
   <option {% if current_tags contains 'size-7' %}selected="selected"{% endif %} value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ 'size-7' | handleize }}">7</option>
   <option {% if current_tags contains 'size-9' %}selected="selected"{% endif %} value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ 'size-9' | handleize }}">9</option>
   <option {% if current_tags contains 'size-11' %}selected="selected"{% endif %} value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ 'size-11' | handleize }}">11</option>
   <option {% if current_tags contains 'size-13' %}selected="selected"{% endif %} value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ 'size-13' | handleize }}">13</option>           
              <!--{% if tag contains 'size-' %}
              <option {% if current_tags contains tag %}selected="selected"{% endif %} value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}">{{ tag | remove: 'size-' }}</option>
            {% endif %}-->
              </select>
            {% endif %}
          {% endfor %}
     <!--keep removed -->
          <!-- <script type="text/javascript">
              // <![CDATA[  
                $('#sort-by')
                  .val('{{ collection.sort_by | default: collection.default_sort_by  }}')
                  .bind('change', function() {
                    Shopify.queryParams.sort_by = $(this).val();
                    location.search = $.param(Shopify.queryParams);
                });
              // ]]>
            </script> -->
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
<!----------code end---------->
    
  {% if settings.collection_sidebar %}
    {% include 'sidebar' %}
    <div class="twelve columns">
  {% else %}
    <div class="sixteen columns">
  {% endif %}

    {% if collection.description != blank %}
      <div class="section clearfix collection_description">    
        {{ collection.description }}
      </div>
    {% endif %}

    {% if collection.products.size == 0 %}
      <div class="section clearfix">     
        <p class="quote">{{ 'collections.general.no_matches' | t }}</p>
      </div>
    {% else %}
      {% assign products = collection.products %}
      {% assign products_per_row = settings.products_per_row %}
      {% include 'product-loop' with settings.collection_sidebar %}
    {% endif %}

    {% include 'pagination' with settings.collection_sidebar %}
  </div>
{% endpaginate %}
