html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clear {
clear: both;
}




@media (min-width: 1600px) {
	.wrapper {
	margin: 0 auto;
	width: 1450px;
	padding: 5px 0;
	}

}


@media (min-width: 1300px) and (max-width: 1599px) {
	.wrapper {
	margin: 0 auto;
	width: 1200px;
	padding: 5px 0;
	}



}

@media (min-width: 1100px) and (max-width: 1299px) {
	.wrapper {
	margin: 0 auto;
	width: 1000px;
	padding: 5px 0;
	}



}

@media (min-width: 970px) and (max-width: 1099px) {
	.wrapper {
	margin: 0 auto;
	width: 950px;
	padding: 5px 0;
	}

}


#logo {
background-color: #55ACE6;
color: white;
float: left;
position: fixed;
top: 0px;
left: 0px;
width: 300px;
min-height: 1000px;
padding: 0px;
}

#logo h1 {
padding: 10px;
font-size: 30px;
font-weight: bold;
}

#logo ul {
margin-top: 35px;
}

#logo li {
list-style: none;
display: block;
margin: 12px 0 12px 0;
font-size: 18px;
padding: 12px 0 12px 6px;
background-color: #8DCDF7;
color: black;
cursor: pointer;
}

#logo li:hover {
background-color: #C3E4FA;


}

#logo li i {
font-size: 25px;
margin-right: 12px;
}


.content {
margin-left: 325px;
margin-top: 10px;
}

.content h2 {
font-size: 25px;
color: black;
margin-bottom: 15px;
}

.content h2 a, .content h2 a:visited, .content h2 a:active  {
color: #195278;
text-decoration: none;
}
.content h2 a:hover {
text-decoration: underline;
}
form {
padding: 5px 0 5px 0;
}
form input, form textarea {
display: block;
font-size: 15px;
padding: 3px 8px;
margin: 26px 0 26px 0;
width: 100%;
}

.ei {
border: 2px solid #f5a39d;
}

.error {
background-color: #F5A39D;
color: black;
padding: 6px;
border: 1px solid #F78981;
margin-bottom: 12px;


}

.green {
background-color: #AAF2D2;
color: black;
padding: 6px;
border: 1px solid #54CC96;
margin-bottom: 12px;
}

.main_image {
border: 4px solid #468F4B;
}

#image-holder {
width: 800px; margin: 15px 0 15px 0;
}

#image-holder div {
float: left; width: 250px; height: 220px; text-align: center;
}

#image-holder img {
cursor: pointer;
}



   .inv-area {
   display: none;
   margin: 25px;
   }
   .checkbox {
   display: inline;
   margin: 0 !important;
   padding: 0 !important;
   width: 50px !important;
   }

   .head b {
   font-weight: bold;
   font-size: 17px;
   }
   .head {
   background-color: #cacaca;
   }

   tr:hover {
   background-color: #EDFAEF;
   }
   .detail-tr:hover {
   background-color: white !important;
   }


   td {
   padding: 5px !important;
   border-top: 1px solid #f2f2f2 !important;
   vertical-align: top;
   }
.thick  td{
padding: 10px 5px 15px 5px !important;
   border-top: 2px solid #cacaca !important;
}

  .link {
  text-decoration: none;
  font-size: 18px;
  color: black;
  cursor: pointer;
  margin-right: 30px;
  }
  .detail-tr {
  display: none;
  }
  .detail-tr td {
  border: 0 !important;
  }
  .detailer {
  width: 75%;
  margin: 10px auto 60px auto;
  background-color: #f2f2f2;
  padding: 12px;
  font-size: 14px;
  }
  .detailer input, .detailer select {
  width: 90%;
  }

  .form-head {
  color: #38758A;
  display: block;
  margin-bottom: 5px;
  margin-top: 19px;
  font-weight: bold;
  }

  .slink {
  cursor: pointer; font-style: italic;
  }
  .slink:hover {
  text-decoration: underline;
  }
