/*
    99Lime.com HTML KickStart by Joshua Gatcke
    kickstart-buttons.css

    Super Easy Cross Browser CSS3 Gradients
    http://www.colorzilla.com/gradient-editor/
*/

/*---------------------------------
    BUTTONS
-----------------------------------*/
button,a.btn,a.button,input.btn{
  position: relative;
  top: 0;
  left: 0;
  vertical-align: middle;
  margin: 0;
  padding: 10px 15px;
  line-height: 100%;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  cursor: pointer;
  width: auto;
  overflow: visible;
  font-weight: normal;
  font-size: 14px;
  /* text-shadow: 0 1px 0 #fff; */
  color: #000;
  text-decoration: none;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  zoom: 1;
  border: 1px solid rgb(166, 166, 166);
  background: rgb(242, 242, 242);
}
button:focus, a.btn:focus,a.button:focus,input.btn:focus{
	   outline: none;
}
button:active,a.btn:active,a.button:active,input.btn:active
{-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,0.2),inset 0 -10px 20px rgba(0,0,0,0.07);-moz-box-shadow:inset 0 3px 5px rgba(0,0,0,0.2),inset 0 -10px 20px rgba(0,0,0,0.07);box-shadow:inset 0 3px 5px rgba(0,0,0,0.2),inset 0 -10px 20px rgba(0,0,0,0.07);}
button[disabled],.disabled:active,a.btn[disabled],a.button[disabled],input.btn[disabled]{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}

button,
{*padding:7px 15px;}/*IE 7 ONLY*/

    a.btn,a.button{}/*overrides*/
    button.small, a.btn.small, a.button.small{font-size:0.8em;padding:5px 10px;}
    button.medium, a.btn.medium, a.button.medium{}/*default*/
    button.large, a.btn.large, a.button.large{font-size:1.3em;padding:10px 20px;}
    button.disabled, a.btn.disabled, a.button.disabled{color:#ccc;cursor:default;background:#efefef;}
    button.disabled:hover, a.btn.disabled:hover, a.button.disabled:hover{border:1px solid #ccc;background:#efefef;}

    button:hover,
    a.btn:hover,
    a.button:hover,input.btn:hover{
    border:1px solid rgb(252,252,252);
    background: rgb(252,252,252); /* Old browsers */
    }


/*---------------------------------
    BUTTON BAR
-----------------------------------*/
ul.button-bar{
display:inline-block;
*display:inline;
margin:0;
padding:0;
font-size:0;
position:relative;
top:0;
left:0;
zoom:1;
border:0;
background:0;
}

    ul.button-bar li{
    display:inline-block;
    *display:inline;
    position:relative;
    top:0;
    left:0;
    zoom:1;
    margin:0 -1px 0 0;
    padding:0;
    line-height:100%;
    font-size:0px;
    border:1px solid rgb(252,252,252);
    background: rgb(252,252,252); /* Old browsers */
    }

    ul.button-bar li a{
    margin:0;
    display:inline-block;
    *display:inline;
    padding:7px 10px;
    position:relative;
    top:0;
    left:0;
    zoom:1;
    font-weight:normal;
    font-size:14px; /*Pixels for consistancy*/
    text-shadow:0 1px 0 #fff;
    color:#666;
    text-decoration:none;
    vertical-align: middle;
    line-height:100%;
    border-left:1px solid #fff;
    }

    ul.button-bar li.first,
    ul.button-bar li.first a{
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-background-clip:content-box;
    -webkit-background-clip: border;
    background-clip: content-box;
    }

    ul.button-bar li.last,
    ul.button-bar li.last a{
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-background-clip:content-box;
    -webkit-background-clip: border;
    }

    ul.button-bar li a:hover{
    background: rgb(252,252,252); /* Old browsers */
    }

    ul.button-bar li a:active{-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,0.2),inset 0 -10px 20px rgba(0,0,0,0.07);-moz-box-shadow:inset 0 3px 5px rgba(0,0,0,0.2),inset 0 -10px 20px rgba(0,0,0,0.07);box-shadow:inset 0 3px 5px rgba(0,0,0,0.2),inset 0 -10px 20px rgba(0,0,0,0.07);border-left:1px solid #ccc;}

/*---------------------------------
    STYLES
-----------------------------------*/
.pill{-webkit-border-radius:200em;-moz-border-radius:200em;border-radius:200em;}
.pop{-webkit-box-shadow:0px 1px 5px rgba(0,0,0,0.2);-moz-box-shadow:0px 1px 5px rgba(0,0,0,0.2);box-shadow:0px 1px 5px rgba(0,0,0,0.2);}
.inset{-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.3);-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.3);box-shadow:inset 0 1px 3px rgba(0,0,0,0.3);}
.square{-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;}

/*---------------------------------
    ORANGE
-----------------------------------*/
button.orange,
a.btn.orange,
a.button.orange,
input[type=submit].orange,
input[type=reset].orange,
input[type=button].orange{
color:#fff;
border:1px solid rgb(255,168,76);
background: rgb(255,168,76); /* Old browsers */
}

    button.orange:hover,
    a.btn.orange:hover,
    a.button.orange:hover{
    border:1px solid rgb(249,191,74);
    background: rgb(249,191,74); /* Old browsers */
    }

/*---------------------------------
    BLUE
-----------------------------------*/
button.blue,
a.btn.blue,
a.button.blue,
input[type=submit].blue,
input[type=reset].blue,
input[type=button].blue{
color:#fff;
border:1px solid #38A9F5;
background: #38A9F5; /* Old browsers */
}

    button.blue:hover,
    a.btn.blue:hover,
    a.button.blue:hover{
    border:1px solid rgb(155,205,255);
    background: rgb(155,205,255); /* Old browsers */
    }

/*---------------------------------
    PINK
-----------------------------------*/
button.pink,
a.btn.pink,
a.button.pink,
input[type=submit].pink,
input[type=reset].pink,
input[type=button].pink{
color:#fff;
border:1px solid rgb(255,93,177);
background: rgb(255,93,177); /* Old browsers */
}

    button.pink:hover,
    a.btn.pink:hover,
    a.button.pink:hover{
    border:1px solid rgb(255,169,213);
    background: rgb(255,169,213); /* Old browsers */
    }

/*---------------------------------
    GREEN
-----------------------------------*/
button.green,
a.btn.green,
a.button.green,
input[type=submit].green,
input[type=reset].green,
input[type=button].green{
color:#fff;
border:1px solid rgb(134, 218, 134);
background: rgb(134, 218, 134); /* Old browsers */
}

    button.green:hover,
    a.btn.green:hover,
    a.button.green:hover{
    border:1px solid rgb(184, 242, 184);
    background: rgb(184, 242, 184); /* Old browsers */
    }

/*---------------------------------
    RED
-----------------------------------*/
button.red,
a.btn.red,
a.button.red,
input[type=submit].red,
input[type=reset].red,
input[type=button].red{
color:#fff;
border:1px solid rgb(229,60,22);
background: rgb(229,60,22); /* Old browsers */
}

    button.red:hover,
    a.btn.red:hover,
    a.button.red:hover{
    border:1px solid rgb(238,106,76);
    background: rgb(238,106,76); /* Old browsers */
    }
