body {
	overflow-x: hidden;
	font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:15px;
	line-height:22px;
	color:#666666;
}
.text-primary {
	color: #fed136;
}
a, a:hover, a:focus, a:active, a.active {
	outline: none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}
textarea{
	resize:none;
}
.img-centered {
	margin: 0 auto;
}
.btn {
	transition:all 0.8s ease 0s;
	border-radius: 300px;
}
.btn:hover {
	transition:all 0.8s ease 0s;
}
.btn-success {
	color: white;
	background-color: #00a65a;
	border-color: #00a65a;
}
.btn-success:hover {
	background-color: #00a6a4;
	border-color: #00a6a4;
}
.btn-info {
	color: white;
	background-color: #2c569c;
	border-color: #2c569c;
}
.btn-primary {
	color: white;
	background-color: #fed136;
	border-color: #fed136;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	color: white;
	background-color: #dd4b39;
	border-color: #f6bf01;
}
.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	background-image: none;
}
.btn-primary.disabled,.btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
	background-color: #fed136;
	border-color: #fed136;
}
.btn-primary .badge {
	color: #fed136;
	background-color: white;
}
.btn-xl {
	color: white;
	background-color: #eea032;
	border-color: #eea032;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;
	padding: 10px 30px;
}
.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
	color: white;
	background-color: #dd4b39;
	border-color: #dd4b39;
}
.btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
	background-image: none;
}
.btn-xl.disabled, .btn-xl[disabled], fieldset[disabled] .btn-xl, .btn-xl.disabled:hover, .btn-xl[disabled]:hover, fieldset[disabled] .btn-xl:hover, .btn-xl.disabled:focus, .btn-xl[disabled]:focus, fieldset[disabled] .btn-xl:focus, .btn-xl.disabled:active, .btn-xl[disabled]:active, fieldset[disabled] .btn-xl:active, .btn-xl.disabled.active, .btn-xl[disabled].active, fieldset[disabled] .btn-xl.active {
	background-color: #fed136;
	border-color: #fed136;
}
.btn-xl .badge {
	color: #fed136;
	background-color: white;
}
.nav .btn {
	padding: 10px 25px;
}
.navbar-custom {
	background-color: #222222;
	border-color: transparent;
}
.navbar-brand {
	padding:7px 10px;
}
.navbar-custom .navbar-brand {
	color: #fed136;
}
.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus, .navbar-custom .navbar-brand:active, .navbar-custom .navbar-brand.active {
	color: #dd4b39;
}
.navbar-custom .navbar-collapse {
	border-color: rgba(255, 255, 255, 0.02);
}
.navbar-custom .navbar-toggle {
	background-color: #eea032;
	border-color: #eea032;
	text-transform: uppercase;
	color: white;
	font-size: 12px;
}
.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
	background-color: #dd4b39;
	border-color:#dd4b39;
}
.navbar-custom .nav li a {
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
	color: white;
	font-size:14px;
}
.navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus {
	color: #eea032;
	outline: none;
}
.navbar-custom .navbar-nav > .active > a {
	border-radius: 0;
	color: white;
	background-color: #fed136;
}
.navbar-custom .navbar-nav > .active > a:hover, .navbar-custom .navbar-nav > .active > a:focus {
	color: white;
	background-color: #dd4b39;
}
.navbar-nav > .active > a {
	color:red;
}
header {
	background: url('/images/header-bg.jpg');
	background-repeat: no-repeat;
	color: white;
	min-height:445px;
	background-size: cover;
}
video {
    width: 100%;
    height: auto;
}
header iframe{
	margin-top:90px;
}
header .embed-responsive{
	overflow:inherit;
}
header .intro-text {
	padding-top: 100px;
	padding-bottom: 30px;
}
header .intro-text .intro-heading {
	font-size: 32px;
	line-height: 40px;
	margin-bottom: 25px;
}
section {
	padding: 30px 0;
}
section h2.section-heading {
	font-size: 35px;
	margin-top: 0;
	margin-bottom: 15px;
	color:#2c569c;
}
#services {
	padding-bottom:0px;
}
#services i {
	color:#2c569c;
}
#services h2 {
	color:#2c569c;
	margin-bottom:20px;
}
.service-heading {
	margin: 15px 0;
	text-transform: none;
	color:#2c569c;
	font-size:22px;
}
.testi {
	padding-bottom:0px;
}
.testimonial {
	text-align: center;
	margin: 25px 0px 50px;
}
.testimonial img {
	margin: 0 auto;
	width:80px;
	height:80px;
	margin-bottom:30px;
}
.testimonial h4 {
	margin-top: 25px;
	margin-bottom: 0;
	text-transform: none;
	color:#2c569c;
}
.testimonial p {
	margin-top: 0;
}
aside.clients img {
	margin: 50px auto;
}
.blue-bg {
	background-color: #2c569c;
	background-position: center;
	background-repeat: no-repeat;
}
.blue-bg .section-heading {
	color: white;
}
footer {
	padding: 25px 0;
	text-align: center;
}
footer span.copyright {
	line-height: 40px;
	text-transform: none;
}
.contact-pointer {
	background:url(/images/left-pointer.png) no-repeat;
}
.contact {
	background:url(/images/contact-bg.png) no-repeat top center;
	min-height:317px;
}
.contact .section-heading {
	color:#ffffff;
}
.btn-outline {
	color: #ffffff;
	border: 1px solid #ffffff;
	background:none;
	border-radius: 300px;
}
.btn-outline:hover {
	color: #2c569c !important;
	background:#ffffff !important;
	border: 1px solid #ffffff !important;
}
.text {
	color:#ffffff;
}
.comments {
	padding-bottom:0px;
	margin-bottom:50px;
}
.comments h3 {
	color:#ffffff;
	margin-top:0px;
}
.comments h1 {
	color:#eea032;
	margin-top:0px;
	font-size:45px;
}
.counter img {
	margin-bottom:-82px;
}
ul.social-network {
	list-style: none;
	margin-left:0 !important;
	padding: 0;
	margin-top:-50px;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}
.social-network a.icoFacebook {
	background-color:#3B5998;
}
.social-network a.icoTwitter {
	background-color:#33ccff;
}
.social-network a.icoGoogle {
	background-color:#BD3518;
}
.social-network a.icoLinkedin {
	background-color:#007bb7;
}
.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 53px;
	height: 53px;
	font-size:23px;
	border:solid 2px #ffffff;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}
.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
.left-arrow {
	display:inline;
}



.bs-pricing-four .btn {
	border: none;
	padding: 12px 30px;
	margin: 10px 1px;
	text-transform: uppercase;
	letter-spacing: 0;
}

.bs-pricing-four .bs {
	display: inline-block;
	position: relative;
	width: 100%;
	margin-bottom: 30px;
	border-radius: 5px;
	padding-bottom: 15px;
}
.bs-pricing-four .bs-pricing {
	text-align: center;
	position: relative;
	border:solid 1px #dddddd;
}
.bs-pricing-four .bs-pricing .bs-caption {
	margin-top: 30px;
}
.bs-pricing-four .bs-pricing ul {
	list-style: none;
	padding: 0;
	margin: 10px auto;
}
.bs-pricing-four .bs-pricing ul li {
	text-align: center;
	padding: 12px 0;
}

.papular {
    height: 70px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: -1px;
    width: 70px;
}

.papular-text {
    background-color: #00a65a;
    color: #fff;
    font-size: 9px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 20px;
    position: absolute;
    right: -22px;
    text-transform: uppercase;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 15px;
    width: 92px;
}
.inner-header{
	min-height:inherit;
}
.m-b-n{
	margin-bottom:0px !important;
}
