@media (min-width: 768px) {
  .navbar-custom {
    background-color: transparent;
    padding: 10px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
  }
  .navbar-custom.affix {
    background-color: #222222;
    padding: 10px 0;
    box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.5);
    box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.5);
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
  header .intro-text {
    padding-top: 115px;
  }
  header .intro-text .intro-heading {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 30px;
  }
  section {
    padding: 60px 0;
  }
}
@media (max-width: 992px) {
    .nav>li>a{
        padding:15px 10px;
    }
    header iframe{
        margin-top:0px;
    }
    header .embed-responsive{
        margin-bottom:15px;
    }
    header .intro-text{
        text-align:center;
    }
}
@media (max-width: 768px) {
    .navbar-brand{
        padding:18px 5px;
    }
    header{
        min-height:inherit;
    }
    header .intro-text{
        padding-top: 80px;
        font-size:41px;
        line-height:50px;
    }
    #services h2{
        font-size:23px;
        line-height:30px;
    }
    section h2.section-heading{
        font-size:25px;
    }
    .counter{
        text-align:left;
    }
    .testimonial{
        margin:20px 0px;
    }
    .testimonial img{
        margin-bottom:10px;
    }
    .testimonial h4{
        margin:0px;
    }
    footer span.copyright{
        line-height:inherit;
    }
}
@media (max-width: 767px) {
    .counter img{
        display:none;
    }
    ul.nav li:last-child{
        padding:0 15px;
        margin-bottom:10px;
    }
    header .intro-text .intro-heading{
        margin-bottom:15px;
    }
}
@media (max-width: 479px) {
    header .btn-outline{
        margin-top:10px;
    }
}

