<div class="overlay"><div id="loading-img"></div></div>

<div class="container">
    <div class="content-center">
        <div class="shop-name">{{ shop.name }}</div>
    </div>
    <div style="float: right;">
        <form style="" action="/logout" method="POST">
            <button class="btn btn-link btn-sm" type="submit"><i class="fa fa-fw fa-close"></i><span>Logout</span></button>
        </form>
        <br/>
    </div>
    <section class="profile-info">
        <p class="wlc-text">Welcome back {{ customer.name }}!</p>
        <br/>

        {% if customer.has_balance %}
            <div>
                <div class="flex-container">
                    <span class="value-text">{{ customer.balance | money }}</span>
                </div>
                <span class="type-of-value">Available Credit</span>
            </div>
        {% endif %}

        <div class="pull-left">
            <div class="flex-container">
                <input id="customer-email" placeholder="email@example.com" type="text" disabled="disabled" class="value-text" value="{{ customer.email }}" />
                <button class="btn-circle edit-email" onclick="enableEmailForm()"></button>
                <span id="email-form" style="display: none">
                    <button onclick="updateEmail()">Update</button>
                </span>
            </div>
            <span class="type-of-value">Email Address</span>
        </div>

        <div class="margin-top">

            {% if shop.share_group %}
                <br/><br/>
                <div class="pull-left">
                    <div class="flex-container">
                        <a href='javascript: void(0);' onClick="facebookShare()"><img src="https://cdn.commentsold.com/images/I9G5EvC.gif" alt="{{ shop.name }}"></a>
                    </div>
                </div>
            {% endif %}

            <br/>

            <div class="margin-top">
                <div class="pull-left">
                    <span class="value align-right"><strong>Customer Address:</strong> <br/>
                        {% if customer.address.street_address == empty %}
                            We do not have your address!
                        {% else %}
                            {{ customer.address.street_address }}, <br/>
                            {% if customer.address.apartment != empty %}
                                {{ customer.address.apartment }} ,
                            {% endif %}
                            {{ customer.address.city }}, {{ customer.address.state }}, {{ customer.address.zip }}
                        {% endif %}
                    </span>
                    <br/>
                    <button class="small" onclick="showAddressPopup()">Update Address</button><br/>
                </div>
            </div>

            {% if shop.instagram_enabled %}
                <div class="pull-right">
                    {% if customer.instagram_connected %}
                        {% if customer.instagram_username != empty %}
                            Instagram Account Connected ({{ customer.instagram_username }})
                            <br/>
                        {% endif %}
                        <a data-loading-text="Connecting.." class="instagram-btn" href="/account/instagram-connect">Re-Connect Instagram</a>
                    {% else %}
                        <span class="">Connect Your Instagram Account</span><br/>
                        <a data-loading-text="Connecting.." class="btn pink instagram-btn" href="/account/instagram-connect"><i class="fa fa-instagram"></i> Connect Instagram</a>
                    {% endif %}
                </div>
            {% endif %}

            <br style="clear: both;" />
        </div>

        {% if customer.new_waitlist_count > 0 %}
            <br/>
            <div class="alert alert-info">You have {{ customer.new_waitlist_count }} new waitlisted {{ customer.new_waitlist_count | pluralize: 'item' }}.</div>
        {% endif %}

        <hr class="margin-top"/>
    </section>

    <section>
        <div class="unpaid-order row" style="z-index:10;">
            <div class="col-md-6 col-sm-6">
                <span class="section-title">Shopping Cart</span>
            </div>
        </div>

        {% if shop.free_24hr_shipping_enabled %}
            <br/>
            <div class="text-left">
                {% if customer.ordered_in_last_24hours %}
                    <strong>Free shipping if you pay within:</strong><br />
                    <div data-expireAt="{{ customer.free_24_shipping_expire_time }}" id="clock-shipping"></div>
                {% else %}
                    <strong>No free shipping. You will get free shipping when you have a paid order in the last 24 hours.</strong>
                {% endif %}
            </div>
            <br/>
        {% endif %}

        {% if cart.item_count > 0 %}
            <br/>
            {% include 'cart' %}
        {% else %}
            You have no products in your shopping cart at the moment.<br/><br/><br/>
        {% endif %}
    </section>

    <br/><br/><br/>
    <section>
        <div class="unpaid-order row"><div class="col-md-6 col-sm-6"></div></div>
        <div id="accordion-ajax-paid" data-url="/api/account/paid-orders">
            <div class='accordion-head'>
                Paid Orders (click to view)
            </div>
            <div></div>
        </div>
    </section>

    <br/><br/><br/>
    <section>
        <div class="unpaid-order row"><div class="col-md-6 col-sm-6"></div></div>
        <div id="accordion-ajax-fulfilled" data-url="/api/account/fulfilled-orders">
            <div class='accordion-head'>
                Fulfilled Orders (click to view)
            </div>
            <div></div>
        </div>
    </section>

    <br/><br/><br/>
    <section>
        <div class="unpaid-order row"><div class="col-md-6 col-sm-6"></div></div>
        <div id="accordion-ajax-waitlist" data-url="/api/account/waitlist">
            <div class='accordion-head'>
                Waitlist Items / Backordered items (click to view)
            </div>
            <div></div>
        </div>
    </section>

    {% include 'update-address-modal' %}
    {% if ! customer.saw_onboarding_modal %}
        {% include 'onboarding-modal' %}
    {% endif %}
</div>
