<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ shop.name }}</title>
        <link href="https://cdn.commentsold.com/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://cdn.commentsold.com/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- Styles -->
        <style>
            html, body {
                font-weight: 100;
                height: 100vh;
                margin: 0;
                color: #282c45;
                background: #f4efe5;
                font-size: 16px;
            }

            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }

            .title {
                font-size: 65px;
                font-weight: 800;
                margin-top: -30px;
                margin-bottom: 50px;
                position: relative;
                line-height: 1.1;
                letter-spacing: -1px;
                color: #282c45;
            }
            .description {
                font-size: 1.35em;
                font-weight: 400;
                margin: 0px 0px 50px 0px;
                line-height: 2em;
                color: #282c45;
                max-width: 525px;
            }

            .btn-social {
                position: relative;
                padding-left: 44px;
                text-align: left;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .btn-facebook {
                color: #fff;
                background-color: #3b5998;
                border-color: rgba(0,0,0,0.2);
            }
            .btn-facebook:active,
            .btn-facebook:focus,
            .btn-facebook:hover {
                color: #fff;
                background-color: #2d4373;
                border-color: rgba(0,0,0,0.2);
            }
            .btn-social>:first-child {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 32px;
                line-height: 34px;
                font-size: 1.6em;
                text-align: center;
                border-right: 1px solid rgba(0,0,0,0.2);
            }
        </style>
    </head>
    <body>
        <div class="flex-center position-ref full-height">
            <div class="content">
                <div class="title">
                    {{ shop.name }}
                </div>
                <p class="description">
                    {{ shop.description }}
                </p>

                <div class="links">
                    <a class="btn btn-social btn-facebook" href="{{ '/facebook-login' | shop_url }}"><span class="fa fa-facebook"></span> Login with Facebook</a>
                </div>
            </div>
        </div>
        {{ shop.embed_code }}
    </body>
</html>
