<!-- <meta name="shopify-checkout-api-token" content="cd4c29501d86576131c66db6613a9bcc"> -->
<!-- <link rel="alternate" type="application/json+oembed" href="https://glamourfarms.com/products/in-perfect-harmony-top-gray.oembed"> -->

<script type="text/javascript">
//<![CDATA[
      var Shopify = Shopify || {};
      // Shopify.shop = "glamour-farms.myshopify.com";
      // Shopify.theme = {"name":"05242017-nocolorswatch-newlogo","id":176406412,"theme_store_id":null,"role":"main"};
      // Shopify.theme.handle = "null";
      // Shopify.theme.style = {"id":null,"handle":null};

//]]>
</script>

<script type="text/javascript">
//<![CDATA[
    // (function() {
    //   function asyncLoad() {
    //     var urls = ["\/\/cdn.secomapp.com\/bannerslider\/scripts\/glamour-farms.20170922050528.scripttag.js?shop=glamour-farms.myshopify.com","\/\/cross-sell-assets.s3-eu-west-1.amazonaws.com\/cross-sell.js?shop=glamour-farms.myshopify.com","https:\/\/media.conversio.com\/scripts\/shopify.js?shop=glamour-farms.myshopify.com"];
    //     for (var i = 0; i < urls.length; i++) {
    //       var s = document.createElement('script');
    //       s.type = 'text/javascript';
    //       s.async = true;
    //       s.src = urls[i];
    //       var x = document.getElementsByTagName('script')[0];
    //       x.parentNode.insertBefore(s, x);
    //     }
    //   };
    //   if(window.attachEvent) {
    //     window.attachEvent('onload', asyncLoad);
    //   } else {
    //     window.addEventListener('load', asyncLoad, false);
    //   }
    // })();
//]]>
</script>

<script id="__st">
//<![CDATA[
// var __st={"a":6722949,"offset":-18000,"reqid":"49ddbae9-a0ce-4f43-9cbd-db9727f1b96e","pageurl":"glamourfarms.com\/collections\/new-arrivals\/products\/in-perfect-harmony-top-gray","u":"5e87dec756c3","p":"product","rtyp":"product","rid":48286105625};
//]]>
</script>

<!-- <script src="https://cdn.shopify.com/s/javascripts/shopify_stats.js?v=6" type="text/javascript" async="async"></script> -->
<!-- <meta id="shopify-digital-wallet" name="shopify-digital-wallet" content="/6722949/digital_wallets/dialog" /> -->
<!-- <script src="//cdn.shopify.com/s/assets/themes_support/ga_urchin_forms-68ca1924c495cfc55dac65f4853e0c9a395387ffedc8fe58e0f2e677f95d7f23.js" defer="defer"></script> -->

<script type="text/javascript">
  window.ShopifyAnalytics = window.ShopifyAnalytics || {};
  window.ShopifyAnalytics.meta = window.ShopifyAnalytics.meta || {};
  // window.ShopifyAnalytics.meta.currency = 'USD';
  // var meta = {"product":{"id":48286105625,"vendor":"Staccato","type":"3\/4 Sleeve","variants":[{"id":361457156121,"price":3400,"name":"In Perfect Harmony Top - Gray - S","public_title":"S","sku":"1562008255731S14B198"},{"id":361457188889,"price":3400,"name":"In Perfect Harmony Top - Gray - M","public_title":"M","sku":"1562008255731M14B199"},{"id":361457221657,"price":3400,"name":"In Perfect Harmony Top - Gray - L","public_title":"L","sku":"1562008255731L14B200"}]},"page":{"pageType":"product","resourceType":"product","resourceId":48286105625}};
  // for (var attr in meta) {
  //   window.ShopifyAnalytics.meta[attr] = meta[attr];
  // }
</script>

<script type="text/javascript">
  // window.ShopifyAnalytics.merchantGoogleAnalytics = function() {
  // };
</script>

<script type="text/javascript" class="analytics">
// (window.gaDevIds=window.gaDevIds||[]).push('BwiEti');

// (function () {
//   var customDocumentWrite = function(content) {
//     var jquery = null;

//     if (window.jQuery) {
//       jquery = window.jQuery;
//     } else if (window.Checkout && window.Checkout.$) {
//       jquery = window.Checkout.$;
//     }

//     if (jquery) {
//       jquery('body').append(content);
//     }
//   };

//   var trekkie = window.ShopifyAnalytics.lib = window.trekkie = window.trekkie || [];
//   if (trekkie.integrations) {
//     return;
//   }
//   trekkie.methods = [
//     'identify',
//     'page',
//     'ready',
//     'track',
//     'trackForm',
//     'trackLink'
//   ];
//   trekkie.factory = function(method) {
//     return function() {
//       var args = Array.prototype.slice.call(arguments);
//       args.unshift(method);
//       trekkie.push(args);
//       return trekkie;
//     };
//   };
//   for (var i = 0; i < trekkie.methods.length; i++) {
//     var key = trekkie.methods[i];
//     trekkie[key] = trekkie.factory(key);
//   }
//   trekkie.load = function(config) {
//     trekkie.config = config;
//     var script = document.createElement('script');
//     script.type = 'text/javascript';
//     script.onerror = function(e) {
//       (new Image()).src = '//v.shopify.com/internal_errors/track?error=trekkie_load';
//     };
//     script.async = true;
//     script.src = 'https://cdn.shopify.com/s/javascripts/tricorder/trekkie.storefront.min.js?v=2017.09.05.1';
//     var first = document.getElementsByTagName('script')[0];
//     first.parentNode.insertBefore(script, first);
//   };
//   trekkie.load(
//     {"Trekkie":{"appName":"storefront","development":false,"defaultAttributes":{"shopId":6722949,"isMerchantRequest":null,"themeId":176406412,"themeCityHash":17415314819186808008}},"Performance":{"navigationTimingApiMeasurementsEnabled":true,"navigationTimingApiMeasurementsSampleRate":0.1},"Google Analytics":{"trackingId":"UA-59397243-1","domain":"auto","siteSpeedSampleRate":"10","enhancedEcommerce":true,"doubleClick":true,"includeSearch":true},"Facebook Pixel":{"pixelIds":["1404243099598174"],"agent":"plshopify1.2"},"Pinterest Pixel":{"pixelId":"2617050340270"},"Session Attribution":{}}
//   );

//   var loaded = false;
//   trekkie.ready(function() {
//     if (loaded) return;
//     loaded = true;

//     window.ShopifyAnalytics.lib = window.trekkie;

//   ga('require', 'linker');
//   function addListener(element, type, callback) {
//     if (element.addEventListener) {
//       element.addEventListener(type, callback);
//     }
//     else if (element.attachEvent) {
//       element.attachEvent('on' + type, callback);
//     }
//   }
//   function decorate(event) {
//     event = event || window.event;
//     var target = event.target || event.srcElement;
//     if (target && (target.getAttribute('action') || target.getAttribute('href'))) {
//       ga(function (tracker) {
//         var linkerParam = tracker.get('linkerParam');
//         document.cookie = '_shopify_ga=' + linkerParam + '; ' + 'path=/';
//       });
//     }
//   }
//   addListener(window, 'load', function(){
//     for (var i=0; i < document.forms.length; i++) {
//       var action = document.forms[i].getAttribute('action');
//       if(action && action.indexOf('/cart') >= 0) {
//         addListener(document.forms[i], 'submit', decorate);
//       }
//     }
//     for (var i=0; i < document.links.length; i++) {
//       var href = document.links[i].getAttribute('href');
//       if(href && href.indexOf('/checkout') >= 0) {
//         addListener(document.links[i], 'click', decorate);
//       }
//     }
//   });

//   var originalDocumentWrite = document.write;
//   document.write = customDocumentWrite;
//   try { window.ShopifyAnalytics.merchantGoogleAnalytics.call(this); } catch(error) {};
//   document.write = originalDocumentWrite;

//   window.ShopifyAnalytics.lib.page(
//     null,
//     {"pageType":"product","resourceType":"product","resourceId":48286105625}
//   );

//   window.ShopifyAnalytics.lib.track(
//     "Viewed Product",
//     {"variantId":361457156121,"productId":48286105625,"name":"In Perfect Harmony Top - Gray - S","price":"34.00","currency":"USD","sku":"1562008255731S14B198","brand":"Staccato","variant":"S","category":"3\/4 Sleeve","nonInteraction":true}
//   );
// });


//   var eventsListenerScript = document.createElement('script');
//   eventsListenerScript.async = true;
//   eventsListenerScript.src = "//cdn.shopify.com/s/assets/shop_events_listener-4c5801cae3452eff0ededa0ac07d432c1240b78b7e11282cceb3c3213951104b.js";
//   document.getElementsByTagName('head')[0].appendChild(eventsListenerScript);

// })();
</script>

<!-- <meta id="in-context-paypal-metadata" data-merchant-id="2HTVEZC4F9994" data-environment="production" data-locale="en_US" data-redirect-url="" /> -->

<!-- <script src="//cdn.shopify.com/s/assets/storefront/express_buttons-c7af4ba27c81ff9726fb68347df381c1a7869530e3d71092a34b580537ec7564.js" defer="defer" crossorigin="anonymous" integrity="sha256-x69LonyB/5cm+2g0ffOBwaeGlTDj1xCSo0tYBTfsdWQ="></script> -->
<script>
//<![CDATA[
  window.Shopify = window.Shopify || {};
  // window.Shopify.Checkout = window.Shopify.Checkout || {};
  // window.Shopify.Checkout.rememberMeHost = "pay.shopify.com";
  // window.Shopify.Checkout.rememberMeAccessToken = "KzlKMFdyRDVFNy90RWhlSkROcDZQSDNhb05DSTN2R2VycjNFZG8zblJjcWFaV1hGQVJ6emhwcHJtM0UrbVg5NC0tRnVVQml1RHlYck5FR3FoTmhNWEJZdz09--f105d16c0e4c11b2c65c44632491e1bd4d3ee983";
//]]>
</script>

<script>
//<![CDATA[
  // window.ShopifyPaypalV4VisibilityTracking = true;
//]]>
</script>

<style media="all">.additional-checkout-button{border:0 !important;border-radius:5px !important;display:inline-block;margin:0 0 10px;padding:0 24px !important;max-width:100%;min-width:150px !important;line-height:44px !important;text-align:center !important}.additional-checkout-button+.additional-checkout-button{margin-left:10px}.additional-checkout-button:last-child{margin-bottom:0}.additional-checkout-button span{font-size:14px !important}.additional-checkout-button img{display:inline-block !important;height:1.3em !important;margin:0 !important;vertical-align:middle !important;width:auto !important}@media (max-width: 500px){.additional-checkout-button{display:block;margin-left:0 !important;padding:0 10px !important;width:100%}}.additional-checkout-button--apple-pay{background-color:#000 !important;color:#fff !important;display:none;font-family:-apple-system, &#39;Helvetica Neue&#39;, sans-serif !important;min-width:150px !important;white-space:nowrap !important}.additional-checkout-button--apple-pay:hover,.additional-checkout-button--apple-pay:active,.additional-checkout-button--apple-pay:visited{color:#fff !important;text-decoration:none !important}.additional-checkout-button--apple-pay .additional-checkout-button__logo{background:-webkit-named-image(apple-pay-logo-white) center center no-repeat !important;background-size:auto 100% !important;display:inline-block !important;vertical-align:middle !important;width:3em !important;height:1.3em !important}@media (max-width: 500px){.additional-checkout-button--apple-pay{display:none}}.additional-checkout-button--paypal-express{background-color:#ffc439 !important}.additional-checkout-button--amazon{background-color:#fad676 !important;position:relative !important}.additional-checkout-button--amazon .additional-checkout-button__logo{-webkit-transform:translateY(4px) !important;transform:translateY(4px) !important}.additional-checkout-button--amazon .alt-payment-list-amazon-button-image{max-height:none !important;opacity:0 !important;position:absolute !important;top:0 !important;left:0 !important;width:100% !important;height:100% !important}.additional-checkout-button-visually-hidden{border:0 !important;clip:rect(0, 0, 0, 0) !important;clip:rect(0 0 0 0) !important;width:1px !important;height:1px !important;margin:-2px !important;overflow:hidden !important;padding:0 !important;position:absolute !important}
</style>
