
  <link rel="alternate" type="application/json+oembed" href="https://cheekysboutique.myshopify.com/products/white-sheep-gin-white-scoop.oembed">
<script type="text/javascript">
//<![CDATA[
      var Shopify = Shopify || {};
      Shopify.shop = "cheekysboutique.myshopify.com";
      Shopify.theme = {"name":"theme-cheekysboutique","id":1159233562,"theme_store_id":null,"role":"main"};
      Shopify.theme.handle = "null";
      Shopify.theme.style = {"id":null,"handle":null};

//]]>
</script><script type="text/javascript">
//<![CDATA[
    (function() {
      function asyncLoad() {
        var urls = ["\/\/productreviews.shopifycdn.com\/assets\/v4\/spr.js?shop=cheekysboutique.myshopify.com"];
        for (var i = 0; i < urls.length; i++) {
          var s = document.createElement('script');
          s.type = 'text/javascript';
          s.async = true;
          s.src = urls[i];
          var x = document.getElementsByTagName('script')[0];
          x.parentNode.insertBefore(s, x);
        }
      };
      if(window.attachEvent) {
        window.attachEvent('onload', asyncLoad);
      } else {
        window.addEventListener('load', asyncLoad, false);
      }
    })();

//]]>
</script><script id="__st">
//<![CDATA[
var __st={"a":23263201,"offset":19800,"reqid":"8132d3f4-0d6e-485e-91fc-700dd12ad7e2","pageurl":"cheekysboutique.myshopify.com\/products\/white-sheep-gin-white-scoop","u":"8e1a93b25992","p":"product","rtyp":"product","rid":75559141402};
//]]>
</script>
<meta id="shopify-digital-wallet" name="shopify-digital-wallet" content="/23263201/digital_wallets/dialog" />

      <script type="text/javascript">

      window.ShopifyAnalytics = window.ShopifyAnalytics || {};
      window.ShopifyAnalytics.meta = window.ShopifyAnalytics.meta || {};
      window.ShopifyAnalytics.meta.currency = 'INR';
      var meta = {"product":{"id":75559141402,"vendor":"cheekysboutique","type":"","variants":[{"id":1043652870170,"price":8000,"name":"White Sheep Gin White Scoop","public_title":null,"sku":""}]},"page":{"pageType":"product","resourceType":"product","resourceId":75559141402}};
      for (var attr in meta) {
        window.ShopifyAnalytics.meta[attr] = meta[attr];
      }

      </script>

      <script type="text/javascript">
        window.ShopifyAnalytics.merchantGoogleAnalytics = function() {

        };
      </script>

      <script type="text/javascript" class="analytics">



        (function () {
          var customDocumentWrite = function(content) {
            var jquery = null;

            if (window.jQuery) {
              jquery = window.jQuery;
            } else if (window.Checkout && window.Checkout.$) {
              jquery = window.Checkout.$;
            }

            if (jquery) {
              jquery('body').append(content);
            }
          };

          var trekkie = window.ShopifyAnalytics.lib = window.trekkie = window.trekkie || [];
          if (trekkie.integrations) {
            return;
          }
          trekkie.methods = [
            'identify',
            'page',
            'ready',
            'track',
            'trackForm',
            'trackLink'
          ];
          trekkie.factory = function(method) {
            return function() {
              var args = Array.prototype.slice.call(arguments);
              args.unshift(method);
              trekkie.push(args);
              return trekkie;
            };
          };
          for (var i = 0; i < trekkie.methods.length; i++) {
            var key = trekkie.methods[i];
            trekkie[key] = trekkie.factory(key);
          }
          trekkie.load = function(config) {
            trekkie.config = config;
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.onerror = function(e) {
              (new Image()).src = '//v.shopify.com/internal_errors/track?error=trekkie_load';
            };
            script.async = true;
            script.src = 'https://cdn.shopify.com/s/javascripts/tricorder/trekkie.storefront.min.js?v=2017.09.05.1';
            var first = document.getElementsByTagName('script')[0];
            first.parentNode.insertBefore(script, first);
          };
          trekkie.load(
            {"Trekkie":{"appName":"storefront","development":false,"defaultAttributes":{"shopId":23263201,"isMerchantRequest":true,"themeId":1159233562,"themeCityHash":8810109572539582135}},"Performance":{"navigationTimingApiMeasurementsEnabled":true,"navigationTimingApiMeasurementsSampleRate":0.1},"Session Attribution":{}}
          );

          var loaded = false;
          trekkie.ready(function() {
            if (loaded) return;
            loaded = true;

            window.ShopifyAnalytics.lib = window.trekkie;


            var originalDocumentWrite = document.write;
            document.write = customDocumentWrite;
            try { window.ShopifyAnalytics.merchantGoogleAnalytics.call(this); } catch(error) {};
            document.write = originalDocumentWrite;


        window.ShopifyAnalytics.lib.page(
          null,
          {"pageType":"product","resourceType":"product","resourceId":75559141402}
        );


        window.ShopifyAnalytics.lib.track(
          "Viewed Product",
          {"variantId":1043652870170,"productId":75559141402,"name":"White Sheep Gin White Scoop","price":"80.00","currency":"INR","sku":"","brand":"cheekysboutique","variant":null,"category":"","nonInteraction":true}
        );

          });


      var eventsListenerScript = document.createElement('script');
      eventsListenerScript.async = true;
      eventsListenerScript.src = "//cdn.shopify.com/s/assets/shop_events_listener-4c5801cae3452eff0ededa0ac07d432c1240b78b7e11282cceb3c3213951104b.js";
      document.getElementsByTagName('head')[0].appendChild(eventsListenerScript);

        })();
      </script>

<script type="text/javascript">
        function getStyle(el,styleProp) {
          var x=el;
          if (x.currentStyle)
            var y = x.currentStyle[styleProp];
          else if (window.getComputedStyle)
            var y = document.defaultView.getComputedStyle(x,null).getPropertyValue(styleProp);
          return y;
        }

        function doShift(down){
          var allElements = document.getElementsByTagName('*');
          for (var i=0; i<allElements.length; i++) {
            if (allElements[i].id != "admin_bar_iframe" && getStyle(allElements[i],"position") == "fixed")
              allElements[i].style.top = parseInt(getStyle(allElements[i], "top"),10) + (down ? 40 : -40) + "px";
          }
        }
        window.onload = function() {
          doShift(true);
        }

        if (window.addEventListener){ addEventListener("message", receiveABMessage, false); }
        else { window.attachEvent("onmessage", receiveABMessage) }

        function setABVCookie(value) {
          var ex=new Date();
          ex.setDate(ex.getDate() + 720);
          document.cookie = "_abv="+value+";expires="+ex.toUTCString()+";path=/";
        }

        function receiveABMessage(event) {
          if(event.origin != 'https://cheekysboutique.myshopify.com') {
            return;
          }

          if(event.data == '1') {
            document.body.style.position = 'relative';
            document.documentElement.style.paddingTop = "40px";
            doShift(true);
            var element = document.getElementById("admin_bar_iframe");
            element.style.width = '100%';
            element.style.backgroundColor = '#191919';
            element.style.right = 'auto';
            element.style.left = 0;
            setABVCookie('1');
          } else if(event.data == '0') {
            document.body.style.position = 'relative';
            document.documentElement.style.paddingTop = "0px";
            doShift(false);
            var element = document.getElementById("admin_bar_iframe");
            element.style.backgroundColor = 'transparent';
            element.style.right = '0px';
            element.style.left = 'auto';
            element.style.width = '40px';
            setABVCookie('0');
          }
        }
      </script>
<style type="text/css">
  /*html {  padding-top:40px; } */
  body { position:relative;}
</style>
<!-- <script src="//cdn.shopify.com/s/assets/storefront/express_buttons-c7af4ba27c81ff9726fb68347df381c1a7869530e3d71092a34b580537ec7564.js" defer="defer" crossorigin="anonymous" integrity="sha256-x69LonyB/5cm+2g0ffOBwaeGlTDj1xCSo0tYBTfsdWQ="></script><script>
//<![CDATA[
      window.Shopify = window.Shopify || {};
      window.Shopify.Checkout = window.Shopify.Checkout || {};
      window.Shopify.Checkout.rememberMeHost = "pay.shopify.com";
      window.Shopify.Checkout.rememberMeAccessToken = "VTREOFh2alovUW9MS1l3Z3ZZdmJySFZPZ2MzSkMxLysrTDhtcUo3MlRkbGk5bmZJOHNxNHVMMjlmRlZPS3J4Vi0taU5tOTByZ1BvUEJjWFdEdEF2ejEwQT09--f4b5475b534b127078948be33c421b4f448718aa";

//]]>
</script>
 --><script>
//<![CDATA[
window.ShopifyPaypalV4VisibilityTracking = true;
//]]>
</script>

<!-- Facebook Pixel Code -->


<script>


!function(f,b,e,v,n,t,s)


{if(f.fbq)return;n=f.fbq=function(){n.callMethod?


    n.callMethod.apply(n,arguments):n.queue.push(arguments)};


if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';


n.queue=[];t=b.createElement(e);t.async=!0;


t.src=v;s=b.getElementsByTagName(e)[0];


s.parentNode.insertBefore(t,s)}(window,document,'script',


        'https://connect.facebook.net/en_US/fbevents.js');



fbq('init', '1250537461759749');


fbq('track', 'PageView');


</script>


<noscript>


    <img height="1" width="1" src="https://www.facebook.com/tr?id=1250537461759749&ev=PageView&noscript=1"/>


</noscript>


<!-- End Facebook Pixel Code -->
