<!doctype html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js"> <!--<![endif]-->
<head>

    <!-- Basic page needs ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="google-site-verification" content="gXBFHzIgYw0GJLRgiTl1wHdhpWq2POSYQAOz5-o4bl4" />
    <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}" type="image/png"/>

    <link href="{{ 'apple-touch-icon.png' | asset_url }}" rel="apple-touch-icon"/>
    <link href="{{ 'icon-hires-crown.png' | asset_url }}" rel="icon" sizes="128x128"/>

    <!-- Title and description ================================================== -->
    <title>
        {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash;
            {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash;
            {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %}
            &ndash; {{ shop.name }}{% endunless %}
    </title>

    {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    <!-- Helpers ================================================== -->
    {% include 'social-meta-tags' %}
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="pink">
    <meta property="og:title" content="Glamour Farms Boutique"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content=""/>
    <meta property="og:url" content="http://glamourfarms.com"/>
    <meta property="og:image" content="{{ 'ogp.jpg' | asset_url }}"/>
    <meta property="og:image:secure_url" content="{{ 'ogp.jpg' | asset_url }}"/>
    <meta property="og:image:type" content="image/jpeg"/>
    <meta property="og:image:width" content="400"/>
    <meta property="og:image:height" content="300"/>
    <meta name="author" content="Mad Union * madunion.com">

    <!-- CSS ================================================== -->


    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'cloudzoom.css' | asset_url | stylesheet_tag }}
    {{ 'fancybox.css' | asset_url | stylesheet_tag }}

    <!--
    <script src="https://use.typekit.net/byl6jfh.js"></script>
    <script>try {
        Typekit.load({async: false});
    } catch (e) {
    }</script>
    -->

    <!-- Header hook for plugins ================================================== -->
    {{ content_for_header }}

    {% if product.metafields.inventory.ShappifyHidden == "true" %}
        <meta name="robots" content="noindex"> {% endif %}

    {% include 'oldIE-js' %}

    {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
    {{ 'modernizr.min.js' | asset_url | script_tag }}
    {{ "cloudzoom.js" | asset_url | script_tag }}
    {{ "fancybox.js" | asset_url | script_tag }}
    {{ 'app.js' | asset_url | script_tag }}
    {{ 'jquery.lazyload.js' | asset_url | script_tag }}


    {% comment %}
        If you store has customer accounts disabled, you can remove the following JS file
    {% endcomment %}
    {% if template contains 'customers' %}
        <!-- {{ 'shopify_common.js' | shopify_asset_url | script_tag }} -->
    {% endif %}

    <meta name="google-site-verification" content="dKe4qAKqMR9CeOtMm_y2l35ugzb4_slI1-1YC_fv1Yc"/>
</head>

{% comment %}
    Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-
        {{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">
{% include 'nav-drawer' %}
{% include 'cart-drawer' %}
<div id="PageContainer" class="X-is-moved-by-drawer">
    {% include 'search-bar-top' %}
    {% include 'header' %}
    <main class="wrapper main-content" role="main">
        {{ content_for_layout }}
    </main>
    {% include 'footer' %}
</div>
{{ 'fastclick.min.js' | asset_url | script_tag }}
{{ 'timber.js?v=1' | asset_url | script_tag }}

{% comment %}
    Template-specific js
{% endcomment %}
<script>
    {% if resetPassword %}
        $(function () {
            timber.resetPasswordSuccess();
        });
    {% endif %}
</script>

{% comment %}
    Ajaxify your cart with this plugin.
    Documentation:
    - http://shopify.com/timber#ajax-cart
{% endcomment %}
{% if settings.ajax_cart_method == "drawer" %}
    {{ 'handlebars.min.js' | asset_url | script_tag }}
    {% include 'ajax-cart-template' %}
    {{ 'ajax-cart.js?v=2' | asset_url | script_tag }}
    <script type="text/javascript">
        jQuery(function ($) {
            ajaxCart.init({
                formSelector: '#AddToCartForm',
                cartContainer: '#CartContainer',
                addToCartSelector: '#AddToCart',
                cartCountSelector: '#CartCount',
                cartCostSelector: '#CartCost',
                moneyFormat: {{ shop.money_format | json }}
            });
        });

        jQuery('body').on('ajaxCart.afterCartLoad', function (evt, cart) {
            // Bind to 'ajaxCart.afterCartLoad' to run any javascript after the cart has loaded in the DOM
            timber.RightDrawer.open();
        });
    </script>
{% endif %}

{{ 'js.cookie.js' | asset_url | script_tag }}
<script>
$('body').on('click', '[name="checkout"], [name="goto_pp"], [name="goto_gc"]', function() {
  if ($('#agree').is(':checked')) {
    $(this).submit();
  }
  else {
    alert("You must confirm that you understand the New Return Policy before proceeding to Check Out.");
    return false;
  }
});

function agree_change() {
    if (Cookies != 'undefined') {
        if ($('#agree').is(':checked')) {
            // set checked cookie - valid 1hr
            Cookies.set('agree-checked', true, { expires: 1 });
        } else {
            // unset checked cookie
            Cookies.remove('agree-checked');
        }
    }
}

$(document).ready(function() {
    if (typeof Cookies != 'undefined' && Cookies.get('agree-checked')) {
        $('#agree').prop('checked', true);
    }
});

</script>
</body>
</html>
