<!doctype html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js"> <!--<![endif]-->
<!--

  built by
 Mad Union

 MMMM  MMMM
 MM  MM  MM
 MM      MM
   MMMMMM

madunion.com

-->
<head>

    <!-- Basic page needs ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="google-site-verification" content="gXBFHzIgYw0GJLRgiTl1wHdhpWq2POSYQAOz5-o4bl4" />

    <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}" type="image/png"/>

    <link href="{{ 'apple-touch-icon.png' | asset_url }}" rel="apple-touch-icon"/>
    <link href="{{ 'icon-hires-crown.png' | asset_url }}" rel="icon" sizes="128x128"/>
    <!-- Title and description ================================================== -->
    <title>
        {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash;
            {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash;
            {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %}
            &ndash; {{ shop.name }}{% endunless %}
    </title>

    {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    <!-- Helpers ================================================== -->
    {% include 'social-meta-tags' %}
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="pink">
    <meta property="og:title" content="Glamour Farms Boutique"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content=""/>
    <meta property="og:url" content="http://glamourfarms.com"/>
     <meta property="og:image" content="{{ 'ogp.jpg' | asset_url }}" />
  <meta property="og:image:secure_url" content="{{ 'ogp.jpg' | asset_url }}" />
    <meta property="og:image:type" content="image/jpeg"/>
    <meta property="og:image:width" content="400"/>
    <meta property="og:image:height" content="300"/>
    <meta name="author" content="Mad Union * madunion.com">

    <!-- CSS ================================================== -->


    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'cloudzoom.css' | asset_url | stylesheet_tag }}
    {{ 'fancybox.css' | asset_url | stylesheet_tag }}
    {{ 'modal-email-signup-form.css' | asset_url | stylesheet_tag }}

    <!--
    <script src="https://use.typekit.net/byl6jfh.js"></script>
    <script>try {
        Typekit.load({async: false});
    } catch (e) {
    }</script>
    -->

    <!-- Header hook for plugins ================================================== -->
    {{ content_for_header }}

    {% if product.metafields.inventory.ShappifyHidden == "true" %}
        <meta name="robots" content="noindex"> {% endif %}

    {% include 'oldIE-js' %}

    {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
    {{ 'modernizr.min.js' | asset_url | script_tag }}
    {{ "cloudzoom.js" | asset_url | script_tag }}
    {{ "fancybox.js" | asset_url | script_tag }}
    {{ 'app.js' | asset_url | script_tag }}
    {{ 'modal-email-signup-form.js' | asset_url | script_tag }}
    {{ 'jquery.lazyload.js' | asset_url | script_tag }}


    {% comment %}
        If you store has customer accounts disabled, you can remove the following JS file
    {% endcomment %}
    {% if template contains 'customers' %}
        {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {% endif %}


<meta name="google-site-verification" content="dKe4qAKqMR9CeOtMm_y2l35ugzb4_slI1-1YC_fv1Yc" />
</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-
        {{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">

{% include 'nav-drawer' %}

{% include 'cart-drawer' %}

<div id="PageContainer" class="X-is-moved-by-drawer">

    {% include 'search-bar-top' %}

    {% include 'header' %}

    <main class="wrapper main-content main-content-nopad" role="main">

        {{ content_for_layout }}

    </main>


    {% include 'footer' %}

</div>


{{ 'fastclick.min.js' | asset_url | script_tag }}
{{ 'timber.js' | asset_url | script_tag }}

{% comment %}
    Template-specific js
{% endcomment %}
<script>
    {% if resetPassword %}
        $(function () {
            timber.resetPasswordSuccess();
        });
    {% endif %}
</script>

{% comment %}
    Ajaxify your cart with this plugin.
    Documentation:
    - http://shopify.com/timber#ajax-cart
{% endcomment %}
{% if settings.ajax_cart_method == "drawer" %}
    {{ 'handlebars.min.js' | asset_url | script_tag }}
    {% include 'ajax-cart-template' %}
    {{ 'ajax-cart.js' | asset_url | script_tag }}
    <script>
        jQuery(function ($) {
            ajaxCart.init({
                formSelector: '#AddToCartForm',
                cartContainer: '#CartContainer',
                addToCartSelector: '#AddToCart',
                cartCountSelector: '#CartCount',
                cartCostSelector: '#CartCost',
                moneyFormat: {{ shop.money_format | json }}
            });
        });

        jQuery('body').on('ajaxCart.afterCartLoad', function (evt, cart) {
            // Bind to 'ajaxCart.afterCartLoad' to run any javascript after the cart has loaded in the DOM
            timber.RightDrawer.open();
        });
    </script>
{% endif %}

<!-- Constant Contact Modal Popup Form -->
<div id="emailformpopup1" class="modal-window">
    <div class="modal-window-inner">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"><a class="modal-close" href="#">&times;</a>
                    <h2 class="modal-title">Join the Crew!</h2>
                </div>
                <div class="modal-body">
                    <p style="text-align: center;">Be the first to have access to our new arrivals, sales, Stephanie's
                        Style and much more! </p>
                    <!--Begin CTCT Sign-Up Form-->
                    <!-- EFD 1.0.0 [Tue Feb 16 18:19:46 EST 2016] -->
                    <link rel='stylesheet' type='text/css'
                          href='https://static.ctctcdn.com/h/contacts-embedded-signup-assets/1.0.2/css/signup-form.css'>
                    <div class="ctct-embed-signup"
                         style="font: 16px Helvetica Neue, Arial, sans-serif; font: 1rem Helvetica Neue, Arial, sans-serif; line-height: 1.5; -webkit-font-smoothing: antialiased;">
                        <div>
       <span id="success_message" style="display:none;">
           <div style="text-align:center;">Thanks for signing up!</div>
       </span>
                            <form data-id="embedded_signup:form" class="ctct-custom-form Form" name="embedded_signup"
                                  method="POST" action="https://visitor2.constantcontact.com/api/signup">
                                <!-- The following code must be included to ensure your sign-up form works properly. -->
                                <input data-id="ca:input" type="hidden" name="ca"
                                       value="e198daf4-87d6-4536-baf6-745165fdd484">
                                <input data-id="list:input" type="hidden" name="list" value="1874924517">
                                <input data-id="source:input" type="hidden" name="source" value="EFD">
                                <input data-id="required:input" type="hidden" name="required" value="list,email">
                                <input data-id="url:input" type="hidden" name="url" value="">
                                <p data-id="Email Address:p"><label data-id="Email Address:label" data-name="email"
                                                                    class="ctct-form-required">Email Address</label>
                                    <input data-id="Email Address:input" type="text" name="email" value=""
                                           maxlength="80"></p>
                                <button type="submit" class="Button ctct-button Button--block Button-secondary"
                                        data-enabled="enabled">Sign Up
                                </button>
                                <div><p class="ctct-form-footer">By submitting this form, you are granting: Glamour
                                    Farms, 250 Rt. 45 S., Louisville, Illinois, 62858, United States,
                                    http://www.glamourfarms.com permission to email you. You may unsubscribe via the
                                    link found at the bottom of every email. (See our <a
                                            href="http://www.constantcontact.com/legal/privacy-statement"
                                            target="_blank">Email Privacy Policy</a> for details.) Emails are serviced
                                    by Constant Contact.</p></div>
                            </form>
                        </div>
                    </div>
                    <script type='text/javascript'>
                        var localizedErrMap = {};
                        localizedErrMap['required'] = 'This field is required.';
                        localizedErrMap['ca'] = 'An unexpected error occurred while attempting to send email.';
                        localizedErrMap['email'] = 'Please enter your email address in name@email.com format.';
                        localizedErrMap['birthday'] = 'Please enter birthday in MM/DD format.';
                        localizedErrMap['anniversary'] = 'Please enter anniversary in MM/DD/YYYY format.';
                        localizedErrMap['custom_date'] = 'Please enter this date in MM/DD/YYYY format.';
                        localizedErrMap['list'] = 'Please select at least one email list.';
                        localizedErrMap['generic'] = 'This field is invalid.';
                        localizedErrMap['shared'] = 'Sorry, we could not complete your sign-up. Please contact us to resolve this.';
                        localizedErrMap['state_mismatch'] = 'Mismatched State/Province and Country.';
                        localizedErrMap['state_province'] = 'Select a state/province';
                        localizedErrMap['selectcountry'] = 'Select a country';
                        var postURL = 'https://visitor2.constantcontact.com/api/signup';
                    </script>
                    <script type='text/javascript'
                            src='https://static.ctctcdn.com/h/contacts-embedded-signup-assets/1.0.2/js/signup-form.js'></script>
                    <!--End CTCT Sign-Up Form-->
                </div>
                <div class="modal-footer"><a class="modal-close2" href="#">Close</a></div>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
</div>
<!-- /Constant Contact Modal Popup Form -->
{{ "scm-bannerslider.js" | asset_url | script_tag }}


<script>
$('body').on('click', '[name="checkout"], [name="goto_pp"], [name="goto_gc"]', function() {
  if ($('#agree').is(':checked')) {
    $(this).submit();
  }
  else {
    alert("You must confirm that you understand the New Return Policy before proceeding to Check Out.");
    return false;
  }
});
</script>

</body>
</html>
