<!-- /templates/customers/login.liquid -->
<div class="grid">

  <div class="grid__item">
    <div class="form--success hide" id="ResetSuccess">
      {{ 'customer.recover_password.success' | t }}
    </div>

    <div id="CustomerLoginForm" class="form-vertical">
      {% form 'customer_login' %}

        <h1 class="small--text-center">{{ 'customer.login.title' | t }}</h1>

        <link href="https://cdn.commentsold.com/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <style type="text/css">
          .btn-social {
              position: relative;
              padding-left: 44px;
              text-align: left;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
          }
          .btn-social>:first-child {
              position: absolute;
              left: 0;
              top: 0;
              bottom: 0;
              width: 32px;
              line-height: 34px;
              font-size: 1.6em;
              text-align: center;
              border-right: 1px solid rgba(0,0,0,0.2);
          }
          .btn-facebook {
              color: #fff;
              background-color: #3b5998;
              border-color: rgba(0,0,0,0.2);
          }
          .btn-facebook:active,
          .btn-facebook:focus,
          .btn-facebook:hover {
              color: #fff;
              background-color: #2d4373;
              border-color: rgba(0,0,0,0.2);
          }
        </style>

        {{ form.errors | default_errors }}

        {% if form.posted_successfully %}

        {% elsif form.errors %}
          <div class="errors">
            <ul>
              <li>Hey girl, we updated our site to offer faster shipping, no over selling and new ways to buy. This new system needs you to create a new account or log in with FB. If you do that and have issues give us a call at 208-278-5007</li>
            </ul>
          </div>
        {% endif %}

        <label for="CustomerEmail" class="label--hidden">{{ 'customer.login.email' | t }}</label>
        <input type="email" name="customer[email]" id="CustomerEmail" class="{% if form.errors contains 'email' %} input--error{% endif %}" placeholder="{{ 'customer.login.email' | t }}" autocorrect="off" autocapitalize="off" autofocus>



        {% if form.password_needed %}
          <label for="CustomerPassword" class="label--hidden">{{ 'customer.login.password' | t }}</label>
          <input type="password" value="" name="customer[password]" id="CustomerPassword" class="{% if form.errors contains 'password' %} input--error{% endif %}" placeholder="{{ 'customer.login.password' | t }}">
        {% endif %}

        <p>
          <input type="submit" class="btn" value="{{ 'customer.login.sign_in' | t }}">
        </p>
        <p><a href="/customers/register">{{ 'layout.customer.create_account' | t }}</a></p>
        {% if form.password_needed %}
          <!-- <p><a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a></p> -->
        {% endif %}

      {% endform %}
        <hr style="border-color: #dbdbdb; max-width: 300px;" />
        <p>OR</p>
        <div style="margin-top: 18px;">
          <a style="max-width: 300px;" class="btn btn-social btn-facebook" href="/facebook-login"><span class="fa fa-facebook"></span> Login with Facebook</a>
        </div>
        <hr style="border-color: #dbdbdb; max-width: 300px;" />

   </div>

    {% comment %}
      JS shows/hides this form in Slate.loginForms()
    {% endcomment %}
    <div id="RecoverPasswordForm" class="hide">

      <h2 class="small--text-center">{{ 'customer.recover_password.title' | t }}</h2>
      <p>{{ 'customer.recover_password.subtext' | t }}</p>

      <div class="form-vertical">
        {% form 'recover_customer_password' %}

          {{ form.errors | default_errors }}

          {% comment %}
            Add a hidden span to indicate the form was submitted succesfully.
          {% endcomment %}
          {% if form.posted_successfully? %}
            <span class="hide reset-password-success"></span>
          {% endif %}

          <label for="RecoverEmail" class="label--hidden">{{ 'customer.recover_password.email' | t }}</label>
          <input type="email" value="" name="email" id="RecoverEmail" placeholder="{{ 'customer.recover_password.email' | t }}" autocorrect="off" autocapitalize="off">

          <p>
            <input type="submit" class="btn" value="{{ 'customer.recover_password.submit' | t }}">
          </p>

          <button type="button" id="HideRecoverPasswordLink" class="btn--link">{{ 'customer.recover_password.cancel' | t }}</button>
        {% endform %}
      </div>

    </div>

    {% comment %}
      If accounts are set as optional, the following will be shown as an option
      during checkout, not on the default /login page.
    {% endcomment %}
    {% if shop.checkout.guest_login %}
      <h2>{{ 'customer.login.guest_title' | t }}</h2>

      {% form 'guest_login' %}
        <input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
      {% endform %}
    {% endif %}
  </div>

</div>
