<html>
<head>
{{ 'styleclock.css' | asset_url | stylesheet_tag }}

</head>

<body>
<div class="clockbody">
     <h1>Auburn, Grand Opening</h1>
<div id="clockdiv">
  <div>
    <span class="days"></span>
    <div class="smalltext">Days</div>
  </div>
  <div>
    <span class="hours"></span>
    <div class="smalltext">Hours</div>
  </div>
  <div>
    <span class="minutes"></span>
    <div class="smalltext">Minutes</div>
  </div>
  <div>
    <span class="seconds"></span>
    <div class="smalltext">Seconds</div>
  </div>
</div>
  </div>

{{ 'tictock.js' | asset_url | script_tag }}

</body>
</html>