<html>
<head>
{{ 'sss.min.js' | asset_url | script_tag }}
{{ 'sss.css' | asset_url | stylesheet_tag }}

  <script>
jQuery(function($)
{ $('.slider').sss({
slideShow : true,
transition : 1000,
speed : 5500,
showNav : false,
  start: function(){
     $('.slider img').show();
},
  });
});
</script>

</head>

<body>

<div class="slider">
{{ "2017_SLIDER_FALL_WEB.jpg" | asset_url | img_tag | link_to: '/collections/clothing'}}


</div>



</body>
</html>
