<script>
	var SPOParams = {
		"id" : "d7989f83ffe79c30a35b9a33f550f337",
		"apiScript" : "{{ 'api.jquery.js' | shopify_asset_url }}",
		"items" : {{ cart.items | json }}
	};
</script>
<script src="//s3.amazonaws.com/shopify-apps/pre-order/js/common.js"></script>