{% layout none %}
<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js multi-step page--no-banner page--logo-main page--show card-fields">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">

  <title>{{ shop.name }} - Checkout</title>

  <link rel="stylesheet" media="all" href="{{ '/themes/common/checkout.css' | cdn_url }}" />
  <!--<![endif]-->
  <link href='//fonts.googleapis.com/css?family=Source Sans Pro:400,600' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Source Sans Pro:400,600' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="banner">
    <div class="wrap">
      <a href="{{ shop.url }}" class="logo logo--center">
          <h1 class="logo__text visually-hidden">{{ shop.name }}</h1>
          <img alt="{{ shop.name }}" class="logo__image logo__image--large" src="{{ 'checkout-logo.png' | asset_url }}" />
      </a>
    </div>
  </div>

  <button class="order-summary-toggle order-summary-toggle--show">
    <div class="wrap">
      <div class="order-summary-toggle__inner">
        <div class="order-summary-toggle__icon-wrapper">
          <svg width="20" height="19" xmlns="http://www.w3.org/2000/svg" class="order-summary-toggle__icon">
            <path d="M17.178 13.088H5.453c-.454 0-.91-.364-.91-.818L3.727 1.818H0V0h4.544c.455 0 .91.364.91.818l.09 1.272h13.45c.274 0 .547.09.73.364.18.182.27.454.18.727l-1.817 9.18c-.09.455-.455.728-.91.728zM6.27 11.27h10.09l1.454-7.362H5.634l.637 7.362zm.092 7.715c1.004 0 1.818-.813 1.818-1.817s-.814-1.818-1.818-1.818-1.818.814-1.818 1.818.814 1.817 1.818 1.817zm9.18 0c1.004 0 1.817-.813 1.817-1.817s-.814-1.818-1.818-1.818-1.818.814-1.818 1.818.814 1.817 1.818 1.817z"/>
          </svg>
        </div>
        <div class="show-order-summary order-summary-toggle__text order-summary-toggle__text--show">
          <span>Show order summary</span>
          <svg width="11" height="6" xmlns="http://www.w3.org/2000/svg" class="order-summary-toggle__dropdown" fill="#000"><path d="M.504 1.813l4.358 3.845.496.438.496-.438 4.642-4.096L9.504.438 4.862 4.534h.992L1.496.69.504 1.812z" /></svg>
        </div>
        <div class="hide-order-summary order-summary-toggle__text order-summary-toggle__text--show" style="display: none;">
          <span>Hide order summary</span>
          <svg width="11" height="7" xmlns="http://www.w3.org/2000/svg" class="order-summary-toggle__dropdown" fill="#000"><path d="M6.138.876L5.642.438l-.496.438L.504 4.972l.992 1.124L6.138 2l-.496.436 3.862 3.408.992-1.122L6.138.876z" /></svg>
        </div>
        <div class="order-summary-toggle__total-recap total-recap">
          <span class="total-recap__final-price">{{ cart.total | money }}</span>
        </div>
      </div>
    </div>
  </button>

  <div class="content">
    <div class="wrap">
      <div class="sidebar" role="complementary">
        <div class="sidebar__header">
          <a href="{{ shop.url }}" class="logo logo--center">
              <h1 class="logo__text visually-hidden">{{ shop.name }}</h1>
              <img alt="{{ shop.name }}" class="logo__image logo__image--large" src="{{ 'checkout-logo.png' | asset_url }}" />
          </a>
        </div>

        <div class="sidebar__content">
          <div class="order-summary order-summary--is-collapsed">
            <h2 class="visually-hidden">Order summary</h2>
            <div class="order-summary__sections">

              <div class="order-summary__section order-summary__section--product-list">
                <div class="order-summary__section__content">
                  <table class="product-table">
                    <caption class="visually-hidden">Shopping cart</caption>
                    <thead>
                      <tr>
                        <th scope="col"><span class="visually-hidden">Product image</span></th>
                        <th scope="col"><span class="visually-hidden">Description</span></th>
                        <th scope="col"><span class="visually-hidden">Quantity</span></th>
                        <th scope="col"><span class="visually-hidden">Price</span></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in cart.items %}
                      <tr class="product">
                        <td class="product__image">
                          <div class="product-thumbnail">
                            <div class="product-thumbnail__wrapper">
                              <img alt="{{ item.name }}" class="product-thumbnail__image" src="{{ item.image | img_url: 'small' }}" />
                            </div>
                            <span class="product-thumbnail__quantity" aria-hidden="true">{{ item.quantity }}</span>
                          </div>
                        </td>
                        <td class="product__description">
                          <span class="product__description__name order-summary__emphasis">{{ item.name }}</span>
                          <span class="product__description__variant order-summary__small-text">{{ item.variant.title }}</span>
                        </td>
                        <td class="product__quantity visually-hidden">{{ item.quantity }}</td>
                        <td class="product__price"><span class="order-summary__emphasis">{{ item.line_price | money }}</span></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>

                  <div class="order-summary__scroll-indicator">
                    Scroll for more items
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="12" viewBox="0 0 10 12"><path d="M9.817 7.624l-4.375 4.2c-.245.235-.64.235-.884 0l-4.375-4.2c-.244-.234-.244-.614 0-.848.245-.235.64-.235.884 0L4.375 9.95V.6c0-.332.28-.6.625-.6s.625.268.625.6v9.35l3.308-3.174c.122-.117.282-.176.442-.176.16 0 .32.06.442.176.244.234.244.614 0 .848"/></svg>
                  </div>
                </div>
              </div>

              <div class="order-summary__section order-summary__section--discount">
                <!-- <form class="edit_checkout" id="apply-coupon-form" action="/checkout/apply-coupon" accept-charset="UTF-8" method="post"> -->
                  <div class="fieldset">
                    <div class="field ">
                      <label class="field__label" for="checkout_reduction_code">Discount code</label>
                      <div class="field__input-btn-wrapper">
                        <div class="field__input-wrapper">
                          <input class="field__input" onkeyup="checkCouponApply(event);" autocomplete="off" aria-required="true" size="30" type="text" name="code" id="apply-coupon-form-code" value="{{ checkout.coupon_code }}" />
                        </div>
                        <button data-loading-text="Please wait.." id="apply-coupon-form-btn" type="button" class="field__input-btn btn btn--disabled">
                          <span class="btn__content visually-hidden-on-mobile">Apply</span>
                          <i class="btn__content shown-on-mobile icon icon--arrow"></i>
                          <i class="btn__spinner icon icon--button-spinner"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                <!-- </form> -->
              </div>

              <div class="order-summary__section order-summary__section--total-lines">
                <table class="total-line-table" aria-live="polite" aria-atomic="true">
                  <caption class="visually-hidden">Cost summary</caption>
                  <thead>
                    <tr>
                      <th scope="col"><span class="visually-hidden">Description</span></th>
                      <th scope="col"><span class="visually-hidden">Price</span></th>
                    </tr>
                  </thead>
                  <tbody class="total-line-table__tbody">
                    <tr class="total-line total-line--subtotal">
                      <td class="total-line__name">Subtotal</td>
                      <td class="total-line__price">
                        <span class="order-summary__emphasis">{{ cart.subtotal | money }}</span>
                      </td>
                    </tr>
                    <tr class="total-line total-line--shipping">
                      <td class="total-line__name">Shipping</td>
                      <td class="total-line__price">
                        <span class="order-summary__emphasis">
                          {% if cart.shipping_price == 0 %} Free Shipping! {% else %} {{ cart.shipping_price | money }} {% endif %}
                        </span>
                      </td>
                    </tr>
                    <tr class="total-line total-line--taxes">
                      <td class="total-line__name">Taxes</td>
                      <td class="total-line__price">
                        <span class="order-summary__emphasis">{{ cart.tax_total | money }}</span>
                      </td>
                    </tr>
                    {% if cart.coupon_discount > 0 %}
                    <tr class="total-line total-line--taxes">
                      <td class="total-line__name">Coupon Discount</td>
                      <td class="total-line__price">
                        <span class="order-summary__emphasis">{{ cart.coupon_discount | money }}</span>
                      </td>
                    </tr>
                    {% endif %}
                  </tbody>
                  <tfoot class="total-line-table__footer">
                    <tr class="total-line">
                      <td class="total-line__name payment-due-label">
                        <span class="payment-due-label__total">Total</span>
                      </td>
                      <td class="total-line__price payment-due">
                        <span class="payment-due__currency">USD</span>
                        <span class="payment-due__price">{{ cart.total | money }}</span>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="main" role="main">
          <div class="main__header">

            <a href="{{ shop.url }}" class="logo logo--center">
                <h1 class="logo__text visually-hidden">{{ shop.name }}</h1>
                <img alt="{{ shop.name }}" class="logo__image logo__image--large" src="{{ 'checkout-logo.png' | asset_url }}" />
            </a>

            <ul class="breadcrumb breadcrumb--center">
              <li class="breadcrumb__item breadcrumb__item--completed">
                <a class="breadcrumb__link" href="/cart">Cart</a>
                <svg class="icon-svg icon-svg--size-10 breadcrumb__chevron-icon rtl-flip" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><path d="M2 1l1-1 4 4 1 1-1 1-4 4-1-1 4-4"/></svg>
              </li>
              <li class="breadcrumb__item {% if checkout.step == 'address' %} breadcrumb__item--current {% else %} breadcrumb__item--completed {% endif %}">
                {% if checkout.step == 'address' %}
                  <span class="breadcrumb__text">Customer information</span>
                {% else %}
                  <a class="breadcrumb__link" href="/checkout">Customer information</a>
                {% endif %}
                <svg class="icon-svg icon-svg--size-10 breadcrumb__chevron-icon rtl-flip" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><path d="M2 1l1-1 4 4 1 1-1 1-4 4-1-1 4-4"/></svg>
              </li>
              <li class="breadcrumb__item {% if checkout.step == 'shipping' %} breadcrumb__item--current {% elsif checkout.step == 'payment' %} breadcrumb__item--completed {% else %} breadcrumb__item--blank {% endif %}">
                {% if checkout.step == 'payment' %}
                  <a class="breadcrumb__link" href="/checkout?step=shipping">Shipping method</a>
                {% else %}
                  <span class="breadcrumb__text">Shipping method</span>
                {% endif %}
                  <svg class="icon-svg icon-svg--size-10 breadcrumb__chevron-icon rtl-flip" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><path d="M2 1l1-1 4 4 1 1-1 1-4 4-1-1 4-4"/></svg>
              </li>
              <li class="breadcrumb__item {% if checkout.step == 'payment' %} breadcrumb__item--current {% else %} breadcrumb__item--blank {% endif %}">
                <span class="breadcrumb__text">Payment method</span>
              </li>
            </ul>
          </div>

          <div class="main__content">
            <div class="step">
              {% if checkout.step == 'shipping' %}
              <form class="edit_checkout animate-floating-labels" action="/checkout" accept-charset="UTF-8" method="get">
                <input type="hidden" name="step" value="payment">
                <div class="step__sections">
                  <div class="section">
                    <div class="content-box">
                      <div class="content-box__row content-box__row--tight-spacing-vertical content-box__row--secondary">
                        <div class="review-block">
                          <div class="review-block__inner">
                            <div class="review-block__label">Shipping address</div>
                            <div class="review-block__content">{{ checkout.street_address }}, {{ checkout.zip }} {{ checkout.city }} , {{ checkout.country }}</div>
                          </div>
                          <div class="review-block__link">
                            <a class="link--small" href="/checkout">
                              <span aria-hidden>Edit</span>
                              <span class="visually-hidden">Edit shipping address</span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="section section--shipping-method">
                    <div class="section__header">
                      <h2 class="section__title">Shipping method</h2>
                    </div>
                    <div class="section__content">
                      <div class="content-box">
                        <div class="content-box__row">
                          <div class="radio-wrapper">
                            <div class="radio__input">
                              <input class="input-radio" type="radio" value="" name="" checked="checked">
                            </div>
                            <label class="radio__label" for="">
                              {% if shop.id == 'glamourfarms' %}
                              <span class="radio__label__primary">Standard Shipping ($4 first item, +$1 per add'l item)</span>
                              {% else %}
                              <span class="radio__label__primary">Standard Shipping</span>
                              {% endif %}
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="step__footer">
                  <button type="submit" class="step__footer__continue-btn btn " id="continue-to-payment-method">
                    <span class="btn__content">Continue to payment method</span>
                    <i class="btn__spinner icon icon--button-spinner"></i>
                  </button>
                  <a class="step__footer__previous-link" href="/checkout"><svg class="icon-svg icon-svg--color-accent icon-svg--size-10 previous-link__icon rtl-flip" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><path d="M8 1L7 0 3 4 2 5l1 1 4 4 1-1-4-4"/></svg><span class="step__footer__previous-link-content">Return to customer information</span></a>
                </div>
              </form>
              {% endif %}

              {% if checkout.step == 'address' %}
              <form class="edit_checkout animate-floating-labels" action="/checkout" accept-charset="UTF-8" method="post">
                <div class="step__sections">
                  <div class="section section--contact-information">
                    <div class="section__header">
                      <div class="layout-flex layout-flex--tight-vertical layout-flex--loose-horizontal layout-flex--wrap">
                        <h2 class="section__title layout-flex__item layout-flex__item--stretch">Customer information</h2>
                        {% if customer %}
                          <!--  -->
                        {% else %}
                        <p class="layout-flex__item">
                          <span aria-hidden="true">Already have an account?</span>
                          <a href="/customers/login"><span class="visually-hidden">Already have an account?</span>Log in</a>
                        </p>
                        {% endif %}
                      </div>
                    </div>

                    <div class="section__content">
                      <div class="fieldset">
                        <div class="field field--required {% if checkout.errors.email %} field--error {% endif %}">
                          <label class="field__label" for="checkout_email">Email</label>
                          <div class="field__input-wrapper">
                            <input autocapitalize="off" spellcheck="false" data-autofocus="true" class="field__input" aria-required="true" size="30" type="email" name="email" id="checkout_email" value="{{ checkout.email }}" />
                            {% if checkout.errors.email %}
                              <p class="field__message field__message--error">{{ checkout.errors.email }}</p>
                            {% endif %}
                          </div>
                        </div>
                      </div>

                      <div class="fieldset-description">
                        <div class="section__content">
                          <div class="checkbox-wrapper">
                            <div class="checkbox__input">
                              <input name="buyer_accepts_marketing" type="hidden" value="0" />
                              <input class="input-checkbox" type="checkbox" value="1" {% if checkout.buyer_accepts_marketing %} checked="checked" {% endif %} name="buyer_accepts_marketing" id="checkout_buyer_accepts_marketing" />
                            </div>
                            <label class="checkbox__label" for="checkout_buyer_accepts_marketing">
                              Subscribe to our newsletter
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="section section--shipping-address">
                    <div class="section__header">
                      <h2 class="section__title">
                        Shipping address
                      </h2>
                    </div>

                    <div class="section__content">
                      <div class="fieldset">
                        <div class="field--half field field--required {% if checkout.errors.first_name %} field--error {% endif %}">
                          <label class="field__label" for="checkout_shipping_address_first_name">First name</label>
                          <div class="field__input-wrapper">
                            <input class="field__input" aria-required="true" size="30" type="text" name="first_name" id="checkout_shipping_address_first_name" value="{{ checkout.first_name }}" />
                            {% if checkout.errors.first_name %}
                              <p class="field__message field__message--error">{{ checkout.errors.first_name }}</p>
                            {% endif %}
                          </div>
                        </div>
                        <div class="field--half field field--required {% if checkout.errors.last_name %} field--error {% endif %}">
                          <label class="field__label" for="checkout_shipping_address_last_name">Last name</label>
                          <div class="field__input-wrapper">
                            <input class="field__input" aria-required="true" size="30" type="text" name="last_name" id="checkout_shipping_address_last_name" value="{{ checkout.last_name }}" />
                            {% if checkout.errors.last_name %}
                              <p class="field__message field__message--error">{{ checkout.errors.last_name }}</p>
                            {% endif %}
                          </div>
                        </div>
                        <div class="field--two-thirds field field--required {% if checkout.errors.address1 %} field--error {% endif %}">
                          <label class="field__label" for="checkout_shipping_address_address1">Address</label>
                          <div class="field__input-wrapper">
                            <input autocorrect="off" class="field__input" aria-required="true" size="30" type="text" name="address1" id="checkout_shipping_address_address1" value="{{ checkout.street_address }}" />
                            {% if checkout.errors.address1 %}
                              <p class="field__message field__message--error">{{ checkout.errors.address1 }}</p>
                            {% endif %}
                          </div>
                        </div>
                        <div class="field--third field field--optional {% if checkout.errors.address2 %} field--error {% endif %}">
                          <label class="field__label" for="checkout_shipping_address_address2">Apt, suite, etc. (optional)</label>
                          <div class="field__input-wrapper">
                            <input autocorrect="off" class="field__input" size="30" type="text" name="address2" id="checkout_shipping_address_address2" value="{{ checkout.apartment }}" />
                            {% if checkout.errors.address2 %}
                              <p class="field__message field__message--error">{{ checkout.errors.address2 }}</p>
                            {% endif %}
                          </div>
                        </div>
                        <div class="field field--required {% if checkout.errors.city %} field--error {% endif %}">
                          <label class="field__label" for="checkout_shipping_address_city">City</label>
                          <div class="field__input-wrapper">
                            <input autocorrect="off" class="field__input" aria-required="true" size="30" type="text" name="city" id="checkout_shipping_address_city" value="{{ checkout.city }}" />
                            {% if checkout.errors.city %}
                              <p class="field__message field__message--error">{{ checkout.errors.city }}</p>
                            {% endif %}
                          </div>
                        </div>

                        {% assign has_countries = checkout.has_countries %}
                        {% if has_countries %}
                        <input type="hidden" name="has_countries" value="1">
                        <div class="field--half field field--required {% if checkout.errors.country_code %} field--error {% endif %}">
                          <label class="field__label" for="checkout_shipping_address_country">Country</label>
                          <div class="field__input-wrapper field__input-wrapper--select">
                            <select size="1" class="field__input field__input--select" aria-required="true" name="country_code" id="checkout_shipping_address_country">
                              <option {% if checkout.country_code == 'US' %} selected="selected" {% endif %} value="US">United States</option>
                                <option {% if checkout.country_code == 'CA' %} selected="selected" {% endif %} value="CA">Canada</option>
                            </select>
                            {% if checkout.errors.country_code %}
                              <p class="field__message field__message--error">{{ checkout.errors.country_code }}</p>
                            {% endif %}
                          </div>
                        </div>
                        <div {% if checkout.country_code != 'CA' %} style="display: none;" {% endif %} class="field--half field field--required {% if checkout.errors.region %} field--error {% endif %}" id="canada-state-wrapper">
                          <label class="field__label" for="checkout_shipping_address_province">Region</label>
                          <div class="field__input-wrapper field__input-wrapper--select">
                            <select size="1" class="field__input field__input--select" aria-required="true" name="region" id="checkout_shipping_address_province">
                                <option value="" disabled selected>State..</option>
                                <option {% if checkout.state == 'AB' %} selected="selected" {% endif %} value="AB">Alberta</option>
                                <option {% if checkout.state == 'BC' %} selected="selected" {% endif %} value="BC">British Columbia</option>
                                <option {% if checkout.state == 'MB' %} selected="selected" {% endif %} value="MB">Manitoba</option>
                                <option {% if checkout.state == 'NB' %} selected="selected" {% endif %} value="NB">New Brunswick</option>
                                <option {% if checkout.state == 'NL' %} selected="selected" {% endif %} value="NL">Newfoundland</option>
                                <option {% if checkout.state == 'NT' %} selected="selected" {% endif %} value="NT">Northwest Territories</option>
                                <option {% if checkout.state == 'NS' %} selected="selected" {% endif %} value="NS">Nova Scotia</option>
                                <option {% if checkout.state == 'NU' %} selected="selected" {% endif %} value="NU">Nunavut</option>
                                <option {% if checkout.state == 'ON' %} selected="selected" {% endif %} value="ON">Ontario</option>
                                <option {% if checkout.state == 'PE' %} selected="selected" {% endif %} value="PE">Prince Edward Island</option>
                                <option {% if checkout.state == 'QC' %} selected="selected" {% endif %} value="QC">Quebec</option>
                                <option {% if checkout.state == 'SK' %} selected="selected" {% endif %} value="SK">Saskatchewan</option>
                                <option {% if checkout.state == 'YT' %} selected="selected" {% endif %} value="YT">Yukon</option>
                            </select>
                            {% if checkout.errors.region %}
                              <p class="field__message field__message--error">{{ checkout.errors.region }}</p>
                            {% endif %}
                          </div>
                        </div>
                        {% endif %}

                        <div id="us-state-wrapper" {% if has_countries and checkout.country_code == 'CA' %} style="display: none;" {% endif %} class="field--half field field--required {% if checkout.errors.state %} field--error {% endif %}">
                          <label class="field__label" for="checkout_shipping_address_state">State</label>
                          <div class="field__input-wrapper field__input-wrapper--select">
                            <select size="1" class="field__input field__input--select" aria-required="true" name="state" id="checkout_shipping_address_state">
                                <option value="" disabled selected>State..</option>
                                {% for state in checkout.states %}
                                  <option {% if state.code == checkout.state %} selected="selected" {% endif %} value="{{ state.code }}">{{ state.name }}</option>
                                {% endfor %}
                            </select>
                            {% if checkout.errors.state %}
                              <p class="field__message field__message--error">{{ checkout.errors.state }}</p>
                            {% endif %}
                          </div>
                        </div>

                        <div class="field--half field field--required {% if checkout.errors.zip %} field--error {% endif %}">
                          <label class="field__label" for="checkout_shipping_address_zip">Postal code</label>
                          <div class="field__input-wrapper">
                            <input class="field__input field__input--zip" aria-required="true" size="30" type="text" name="zip" id="checkout_shipping_address_zip" value="{{ checkout.zip }}" />
                            {% if checkout.errors.zip %}
                              <p class="field__message field__message--error">{{ checkout.errors.zip }}</p>
                            {% endif %}
                          </div>
                        </div>
                        <div  class="field field--required {% if checkout.errors.phone %} field--error {% endif %}">
                          <label class="field__label" for="checkout_shipping_address_phone">Phone</label>
                          <div class="field__input-wrapper">
                            <input class="field__input field__input--numeric" aria-required="true" size="30" type="tel" name="phone" id="checkout_shipping_address_phone" value="{{ checkout.phone }}" />
                            {% if checkout.errors.phone %}
                              <p class="field__message field__message--error">{{ checkout.errors.phone }}</p>
                            {% endif %}
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <div class="step__footer">
                  <button type="submit" class="step__footer__continue-btn btn" id="continue-to-shipping-method">
                    <span class="btn__content">Continue to shipping method</span>
                    <i class="btn__spinner icon icon--button-spinner"></i>
                  </button>
                  <a class="step__footer__previous-link" href="/cart"><svg class="icon-svg icon-svg--color-accent icon-svg--size-10 previous-link__icon rtl-flip" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><path d="M8 1L7 0 3 4 2 5l1 1 4 4 1-1-4-4"/></svg><span class="step__footer__previous-link-content">Return to cart</span></a>
                </div>
              </form>
              {% endif %}

              {% if checkout.step == 'payment' %}
              <div class="step__sections">
                <div class="section">
                  <div class="content-box">
                    <div class="content-box__row content-box__row--tight-spacing-vertical content-box__row--secondary">
                      <div class="review-block">
                        <div class="review-block__inner">
                          <div class="review-block__label">Shipping address</div>
                          <div class="review-block__content">
                            {{ checkout.street_address }}, {{ checkout.zip }} {{ checkout.city }} , {{ checkout.country }}
                          </div>
                        </div>
                        <div class="review-block__link">
                          <a class="link--small" href="/checkout">
                            <span aria-hidden="">Edit</span>
                            <span class="visually-hidden">Edit shipping address</span>
                          </a>
                        </div>
                      </div>
                      <hr class="content-box__hr content-box__hr--tight">
                      <div class="review-block">
                        <div class="review-block__inner">
                          <div class="review-block__label">Shipping method</div>
                          <div class="review-block__content">Standard Shipping</div>
                        </div>
                        <div class="review-block__link">
                          <a class="link--small" href="/checkout?step=shipping">
                            <span aria-hidden="">Edit</span>
                            <span class="visually-hidden">Edit shipping method</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              {% if checkout.errors.checkout_error %}
              <div class="section">
                <div class="content-box" style="padding: 20px; background: #d73925; color: white; font-weight: bold; font-size: 18px;">{{ checkout.errors.checkout_error }}</div>
              </div>
              {% endif %}

              <div class="section section--payment-method" data-payment-method="">
                <div class="section__header">
                  <h2 class="section__title">Payment method</h2>
                  <p class="section__text">All transactions are secure and encrypted.</p>
                </div>
                <div class="section__content">
                  <div class="hidden notice notice--warning" id="card-fields__processing-error">
                    <p class="notice__text">An error occurred while processing the payment information. Please try again later.</p>
                  </div>
                  <div>
                    <div class="content-box">
                      <div class="radio-wrapper content-box__row">
                        <div class="radio__input">
                          <input class="input-radio payment-method-radio-btn" id="stripe-checkout-method" aria-expanded="true" aria-controls="payment-gateway-subfields-9572199" type="radio" value="stripe" checked="checked" name="checkout[payment_gateway]">
                        </div>
                        <label class="radio__label content-box__emphasis payment-method-wrapper" for="stripe-checkout-method" style="float: none;">
                          <div class="radio__label__primary">Credit card</div>
                          <div class="radio__label__accessory">
                            <span class="visually-hidden">Pay with:</span>
                            <ul data-brand-icons-for-gateway="9572199">
                              <li class="payment-icon payment-icon--visa" data-payment-icon="visa">
                                <span class="visually-hidden">Visa</span>
                              </li>
                              <li class="payment-icon payment-icon--master" data-payment-icon="master">
                                <span class="visually-hidden">Mastercard</span>
                              </li>
                              <li class="payment-icon payment-icon--american-express" data-payment-icon="american-express">
                                <span class="visually-hidden">American Express</span>
                              </li>
                              <li class="payment-icon payment-icon--discover" data-payment-icon="discover">
                                <span class="visually-hidden">Discover</span>
                              </li>
                            </ul>
                          </div>
                        </label>
                      </div>
                      <div class="card-fields-placeholder-lightness">
                      </div>
                      {% if shop.stripe_enabled %}
                      <div class="radio-wrapper content-box__row content-box__row--secondary card-fields-container card-fields-container--loaded card-fields-container--transitioned" data-subfields-for-gateway="9572199" id="payment-gateway-subfields-9572199">
                        <div class="blank-slate hidden" data-blank-slate="">
                          <i class="blank-slate__icon icon icon--offsite">
                          </i>
                          <p>You will be redirected to a payment gateway in order to add your payment information.</p>
                        </div>
                        <div class="blank-slate hidden" id="card-fields__loading-error">
                          <i class="blank-slate__icon icon icon--card-fields-error"></i>
                          <p>Credit and Debit card payments aren't available right now.<br>Please <a href="javascript:window.location.reload();">refresh this page</a> or try a different payment method.</p>
                        </div>

                        <form method="POST" action="/checkout/stripe" accept-charset="UTF-8" id="billing-form">

                        <div class="fieldset floating-labels" data-credit-card-fields="" data-slate="" dir="ltr">
                          <div class="field field--required">
                            <div class="field__input-wrapper field__input-wrapper--icon-right">
                              <input data-stripe="number" placeholder="Card number" class="field__input" aria-required="true" type="text" />
                              <span id="credit_card_number_tooltip" class="field__icon icon icon--lock">
                                <span class="visually-hidden">Secure field</span>
                              </span>
                            </div>
                          </div>
                          <div class="field--half field field--required">
                            <div class="field__input-wrapper">
                              <select data-stripe="exp-month" size="1" class="field__input field__input--select" aria-required="true">
                                <option value="" disabled="" selected="">Exp Month</option>
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                              </select>
                            </div>
                          </div>
                          <div class="field--quarter field field--required">
                            <div class="field__input-wrapper">
                              <select data-stripe="exp_year" size="1" class="field__input field__input--select" aria-required="true">
                                <option value="" disabled="" selected="">Exp Year</option>
                                {% for card_year in checkout.card_years %}
                                  <option value="{{ card_year }}">{{ card_year }}</option>
                                {% endfor %}
                              </select>
                            </div>
                          </div>
                          <div class="field--quarter field field--required">
                            <div class="field__input-wrapper field__input-wrapper--icon-right">
                              <input data-stripe="cvc" placeholder="CVV" class="field__input" aria-required="true" type="text" />
                              <span id="credit_card_verification_value_tooltip" tabindex="0" class="field__icon icon icon--question has-tooltip" role="tooltip">
                                <span class="tooltip">
                                  <span data-cvv-tooltip="unknown">
                                    3-digit security code usually found on the back of your card. American Express cards have a 4-digit code located on the front.
                                  </span>
                                  <span data-cvv-tooltip="amex" class="hidden">
                                    4-digit security code on the front of your card
                                  </span>
                                  <span data-cvv-tooltip="other" class="hidden">
                                    3-digit security code on the back of your card
                                  </span>
                                </span>
                              </span>
                            </div>
                          </div>
                        </div>
                        </form>
                      </div>
                      {% endif %}

                      {% if shop.paypal_enabled %}
                      <div class="radio-wrapper content-box__row">
                        <div class="radio__input">
                          <input class="input-radio payment-method-radio-btn" id="checkout-paypal-method" aria-expanded="false" aria-controls="payment-gateway-subfields-9572147" type="radio" value="paypal" name="checkout[payment_gateway]">
                        </div>
                        <label class="radio__label content-box__emphasis payment-method-wrapper" for="checkout-paypal-method" style="float: none;">
                          <div class="radio__label__primary">
                            <img alt="PayPal" class="offsite-payment-gateway-logo" src="{{ '/themes/common/paypal-checkout.png' | cdn_url }}">
                            <span class="visually-hidden">PayPal</span>
                          </div>
                          <div class="radio__label__accessory">
                            <span class="visually-hidden">Pay with:</span>
                            <ul data-brand-icons-for-gateway="9572147">
                              <li class="payment-icon payment-icon--visa"><span class="visually-hidden">Visa</span></li>
                              <li class="payment-icon payment-icon--master"><span class="visually-hidden">Mastercard</span></li>
                              <li class="payment-icon payment-icon--american-express"><span class="visually-hidden">American Express</span></li>
                              <li class="payment-icon payment-icon--discover"><span class="visually-hidden">Discover</span></li>
                            </ul>
                          </div>
                        </label>
                      </div>
                      {% endif %}

                      <div class="radio-wrapper content-box__row content-box__row--secondary" style="display: none;" id="payment-gateway-subfields-9572147">
                        <div class="blank-slate">
                          <i class="blank-slate__icon icon icon--offsite">
                          </i>
                          <p>After clicking "Complete order", you will be redirected to PayPal to complete your purchase securely.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="hidden">
                    <input value="free" disabled="disabled" size="30" type="hidden" name="checkout[payment_gateway]" aria-expanded="false">
                    <div class="content-box blank-slate">
                      <div class="content-box__row">
                        <i class="blank-slate__icon icon icon--free-tag">
                        </i>
                        <p>Your order is covered by your gift cards.</p>
                      </div>
                    </div>
                  </div>
                  <div data-payment-subform="free" class="hidden">
                    <input value="free" disabled="disabled" size="30" type="hidden" name="checkout[payment_gateway]" aria-expanded="false">
                    <div class="content-box blank-slate">
                      <div class="content-box__row">
                        <i class="blank-slate__icon icon icon--free-tag">
                        </i>
                        <p>Your order is <strong>free</strong>. No payment is required.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="step__footer">
                <button type="submit" id="checkout-button" class="step__footer__continue-btn btn ">
                  <span class="btn__content">Checkout</span>
                  <i class="btn__spinner icon icon--button-spinner"></i>
                </button>
                <a class="step__footer__previous-link" href="/checkout?step=shipping"><svg class="icon-svg icon-svg--color-accent icon-svg--size-10 previous-link__icon rtl-flip" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><path d="M8 1L7 0 3 4 2 5l1 1 4 4 1-1-4-4"/></svg><span class="step__footer__previous-link-content">Return to shipping method</span></a>
              </div>

              {% endif %}
            </div>
          </div>

          <div class="main__footer">
            <div class="modals">
              <div class="modal-backdrop" role="dialog" id="policy-2061431" aria-labelledby="policy-2061431-title">
                <div class="modal">
                  <div class="modal__header">
                    <h1 class="modal__header__title" id="policy-2061431-title">
                      Refund policy
                    </h1>
                    <div class="modal__close">
                      <button type="button" class="icon icon--close-modal">
                        <span class="visually-hidden">
                          Close
                        </span>
                      </button>
                    </div>
                  </div>
                  <div class="modal__content">
                    <svg class="modal__loading-icon icon icon--spinner" width="32" height="32" xmlns="http://www.w3.org/2000/svg"><path d="M32 16c0 8.837-7.163 16-16 16S0 24.837 0 16 7.163 0 16 0v2C8.268 2 2 8.268 2 16s6.268 14 14 14 14-6.268 14-14h2z" /></svg>
                  </div>
                </div>
              </div>

              <div class="modal-backdrop" role="dialog" id="policy-2061435" aria-labelledby="policy-2061435-title">
                <div class="modal">
                  <div class="modal__header">
                    <h1 class="modal__header__title" id="policy-2061435-title">
                      Privacy policy
                    </h1>
                    <div class="modal__close">
                      <button type="button" class="icon icon--close-modal">
                        <span class="visually-hidden">
                          Close
                        </span>
                      </button>
                    </div>
                  </div>
                  <div class="modal__content">
                    <svg class="modal__loading-icon icon icon--spinner" width="32" height="32" xmlns="http://www.w3.org/2000/svg"><path d="M32 16c0 8.837-7.163 16-16 16S0 24.837 0 16 7.163 0 16 0v2C8.268 2 2 8.268 2 16s6.268 14 14 14 14-6.268 14-14h2z" /></svg>
                  </div>
                </div>
              </div>

              <div class="modal-backdrop" role="dialog" id="policy-2061439" aria-labelledby="policy-2061439-title">
                <div class="modal">
                  <div class="modal__header">
                    <h1 class="modal__header__title" id="policy-2061439-title">
                      Terms of service
                    </h1>
                    <div class="modal__close">
                      <button type="button" class="icon icon--close-modal">
                        <span class="visually-hidden">
                          Close
                        </span>
                      </button>
                    </div>
                  </div>
                  <div class="modal__content">
                    <svg class="modal__loading-icon icon icon--spinner" width="32" height="32" xmlns="http://www.w3.org/2000/svg"><path d="M32 16c0 8.837-7.163 16-16 16S0 24.837 0 16 7.163 0 16 0v2C8.268 2 2 8.268 2 16s6.268 14 14 14 14-6.268 14-14h2z" /></svg>
                  </div>
                </div>
              </div>
            </div>

            <div role="contentinfo" aria-label="Footer">
              <ul class="policy-list">
                <li class="policy-list__item">
                  <a title="Refund policy" target="_blank" href="/checkout/refund-policy">Refund policy</a>
                </li>
                <li class="policy-list__item">
                  <a title="Privacy policy" target="_blank" href="/checkout/privacy-policy">Privacy policy</a>
                </li>
                <li class="policy-list__item">
                  <a title="Terms of service" target="_blank" href="/checkout/terms-of-service">Terms of service</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
    <script type="text/javascript">
      Stripe.setPublishableKey('{{ checkout.stripe_key }}');
      function stripeResponseHandler(status, response) {
        if (response.error) {
          $('#checkout-button').prop('disabled', false);
          $('#checkout-button span.btn__content').text('Checkout');
          alert(response.error.message);
        } else {
          var token = response.id;
          var $form = $('#billing-form');
          $form.append($('<input type="hidden" name="stripeToken">').val(token));
          $form.get(0).submit();
        }
      };

      $(document).ready(function() {

        $('.payment-method-radio-btn').change(function() {
          if ($('#stripe-checkout-method').is(':checked')) {
            $('#payment-gateway-subfields-9572199').show(); // stripe
            $('#payment-gateway-subfields-9572147').hide(); // paypal
          } else if($('#checkout-paypal-method').is(':checked')) {
            $('#payment-gateway-subfields-9572199').hide(); // stripe
            $('#payment-gateway-subfields-9572147').show(); // paypal
          }
        });

        $('#checkout-button').on('click', function() {
          $('#checkout-button').prop('disabled', true);
          $('#checkout-button span.btn__content').text('Loading..');

          if ($('#stripe-checkout-method').is(':checked')) {
            // checkout with stripe
            Stripe.card.createToken($('#billing-form'), stripeResponseHandler);

          } else if($('#checkout-paypal-method').is(':checked')) {
            // checkout with paypal
            window.location = '/checkout/paypal-approval-link';
          }
        });

        $('#checkout_shipping_address_country').change(function() {
          var country = $(this).val();
          if (country == 'CA') {
            $('#canada-state-wrapper').show();
            $('#us-state-wrapper').hide();
          } else {
            $('#us-state-wrapper').show();
            $('#canada-state-wrapper').hide();
          }
        });

        $('#apply-coupon-form-btn').on('click', function(e) {
            couponApply();
        });

        // button preloaders
        $('#continue-to-shipping-method, #continue-to-payment-method').on('click', function() {
          $('span.btn__content', $(this)).text('Loading..');
        });

        // mobile hide/show order summary
        var summaryOpen = false;
        $('.order-summary-toggle').on('click', function() {
          if (summaryOpen) {
            summaryOpen = false;
            $('.show-order-summary').show();
            $('.hide-order-summary').hide();
            $('.order-summary').addClass('order-summary--is-collapsed');
          } else {
            summaryOpen = true;
            $('.show-order-summary').hide();
            $('.hide-order-summary').show();
            $('.order-summary').removeClass('order-summary--is-collapsed');
          }
        });
      });

      function checkCouponApply(e) {
        // if enter was pressed
        if (e.which == 13) {
          couponApply();
        }
      }

      function couponApply() {
        $('#apply-coupon-form-btn span.btn__content').text('Loading..');
        $.ajax({
            type: 'POST',
            url: '/checkout/apply-coupon',
            data: {code: $('#apply-coupon-form-code').val() },
            success: function(data) {
              $('#apply-coupon-form-btn span.btn__content').text('Apply');
              if (data.status == 1) {
                alert('Coupon applied successfully. Refreshing page..')
                window.location.reload();
              } else {
                alert('Invalid coupon!');
              }
            },
            error: function(data) {
              $('#apply-coupon-form-btn span.btn__content').text('Apply');
              alert('An unexpected error occured!');
            }
        });
      }
    </script>
  </body>
</html>
