<div class="filter-whole">
   <div class="sidebar-contents" >
<h3> Filter Products </h3>
<ul class="filters">
  <li class="filter">
    {% assign tags = 'Contemporary,Cotton,Small, Medium' | split: ',' %}
    <label class="filter-heading accordion">Style</label>
    <div class="panel">
    <ul>
      {% for t in tags %}
      {% assign tag = t | strip %}
      {% if current_tags contains tag %}
      <li><input id="style-filter-{{ forloop.index }}" name="rads" type="radio" class="coll-filter" value="{{ tag }}" checked />
        <label for="style-filter-{{ forloop.index }}"><span></span>{{ tag }}</label>
      </li>
      {% elsif collection.all_tags contains tag %}
      <li><input id="style-filter-{{ forloop.index }}" name="rads" type="radio" class="coll-filter" value="{{ tag }}"/>
        <label for="style-filter-{{ forloop.index }}"><span></span>{{ tag }}</label>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
     
      </div>
  </li>
<!--   <li class="filter">
    {% assign tags = 'Small, Medium' | split: ',' %}
    <label class="filter-heading accordion">Size</label>
    <div class="panel">
    <ul>
      {% for t in tags %}
      {% assign tag = t | strip %}
      {% if current_tags contains tag %}
      <li> <input id="size-filter-{{ forloop.index }}" name="rads" type="radio" class="coll-filter" checked value="{{ tag }}"/>
        <label for="size-filter-{{ forloop.index }}"><span></span>{{ tag }}</label>
      </li>
      {% elsif collection.all_tags contains tag %}
      <li><input id="size-filter-{{ forloop.index }}" name="rads" type="radio" class="coll-filter" value="{{ tag }}"/>
        <label for="size-filter-{{ forloop.index }}"><span></span>{{ tag }}</label>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
    </div>
  </li> -->
<!--   <li class="filter">
    {% assign tags = 'Rs2001-to-Rs5000, Rs5001-to-Rs8000' | split: ',' %}
    <label class="filter-heading accordion">Price</label>
    <div class="panel">
    <ul>
      {% for t in tags %}
      {% assign tag = t | strip %}
      {% if current_tags contains tag %}
      <li> <input id="price-filter-{{ forloop.index }}" name="rads" type="checkbox" class="coll-filter" checked value="{{ tag }}"/>
        <label for="price-filter-{{ forloop.index }}"><span></span>{{ tag | replace: '-',' ' }}</label>
      </li>
      {% elsif collection.all_tags contains tag %}
      <li><input id="price-filter-{{ forloop.index }}" type="checkbox" class="coll-filter" value="{{ tag }}"/>
        <label for="price-filter-{{ forloop.index }}"><span></span>{{ tag | replace: '-',' ' }}</label>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
      </div>
  </li> -->
</ul>

  </div>
  </div>
<script>
  // Filter

  Shopify.queryParams = {};
  if (location.search.length) {
    for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('/'); i < aCouples.length; i++) {
      aKeyValue = aCouples[i].split('=');
      if (aKeyValue.length > 1) {
        Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
      }
    }
  }
  jQuery('.coll-picker').click(function() {

    if (jQuery(this).is(':checked')) {
     
      location.href = '/collections/all/' + jQuery(this).val();
    }
    else {
      location.href = '/collections/all';
    }
  });
  var collFilters = jQuery('.coll-filter');
  collFilters.click(function() {
    delete Shopify.queryParams.page;
    var newTags = [];
    collFilters.each(function() {
      if (jQuery(this).is(':checked')) {
        newTags.push(jQuery(this).val());
      }
    });
    {% if collection.handle %}
    var newURL = '/collections/{{ collection.handle }}';
    if (newTags.length) {
      //console.log('newURL is'+'/' + newTags.join('+'));
      newURL += '/' + newTags.join('+');
      var urll = '/collections/all';
      //console.log('newURL is' + newURL);
      $.ajax({
        url:newURL,
        type:'GET',
        beforeSend: function(){
          $('#grid').hide();
          $("body").append("<div class='loadr'></div>");
                           },
                           success: function(data){
            $('.loadr').hide();
            $('#grid').html($(data).find('#grid').html());
            $('#grid').show();
          }
        });
      }
             else {
             newURL = '/collections/all';
             $.ajax({
             url:newURL,
             type:'GET',
             beforeSend: function(){
        $('#grid').hide();
        $(".body").append("<div class='loadr'></div>");
                                          },
                                          success: function(data){
          $('.loadr').hide();
          $('#grid').html($(data).find('#grid').html());
          $('#grid').show();
        }
      });
    }
    var search = jQuery.param(Shopify.queryParams);
    if (search.length) {
      newURL += '?' + search;
    }
    // location.href = newURL;
    {% else %}
    if (newTags.length) {
      Shopify.queryParams.constraint = newTags.join('+');
    }
    else {
      delete Shopify.queryParams.constraint;
    }
    location.search = jQuery.param(Shopify.queryParams);
    {% endif %}
  });

  </script>