{% unless grid_item_width %}
  {% assign grid_item_width = 'medium-up--one-quarter small--one-half' %}
{% endunless %}

{% unless current_collection == blank %}
  {% assign current_collection = collection %}
{% endunless %}

{% assign on_sale = false %}
{% assign sale_text = 'products.product.sale' | t %}
{% if product.is_on_sale %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% assign sold_out_text = 'products.product.sold_out' | t %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

{%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}


<div style="width: 220px; height: 430px;" data-title="{{ product.title }}" data-price="{{ product.price }}" data-id="{{ product.id }}" data-size="{{ product.options.size }}" data-weight="{{ product.variants.first.weight | weight_with_unit }}" data-processor="{{ product.description | escape | truncatewords: 4 }}" data-battery="2300 mAH" class="selectProduct w3-padding product grid__item {{ grid_item_width }} slide-up-animation animated" id="productssd" role="listitem">
<!--   <a class="w3-btn-floating w3-light-grey addButtonCircular addToCompare">+</a> -->
  {% unless product.featured_image == blank %}
    <div class="supports-js" style="width: 220px; margin: 0 auto;">
      <!-- max-width: {{ 600 | times: product.featured_image.aspect_ratio | round }}px; margin: 0 auto; -->
      <a href="{{ product.url | within: collection }}" class="product__image-wrapper" title="{{ product.title | escape }}">
        <!-- padding-top:{{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100}}% -->
        <img style="height:260px; width:auto;" src="{{ product.featured_image | img_url: '189x260' }}" class="imgFill productImg ajaximg">

<!--         <img class="product__image lazyload imgFill productImg"
             src="{{ product.featured_image | img_url: '189x260' }}"
             data-src="{{ product.featured_image | img_url: '189x260' }}"
             data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
             data-aspectratio="{{ product.featured_image.aspect_ratio }}"
             data-sizes="auto"
             alt="{{ product.featured_image.alt | escape }}"
             style="max-width: 250px; max-height: 600px;"> -->
            <!-- max-width: {{ 600 | times: product.featured_image.aspect_ratio | round }}px; max-height: 600px; -->
      </a>
    </div>
  {% else %}
    <a href="{{ product.url | within: collection }}" class=" supports-js product__image-wrapper" title="{{ product.title | escape }}">
      <img class="imgFill productImg" src="{{ product.featured_image.src | img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}">
    </a>
  {% endunless %}

  <noscript>
    <a href="{{ product.url | within: collection }}" class="product__image-wrapper" title="{{ product.title | escape }}">
      <img src="{{ product.featured_image.src | img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}">
    </a>
  </noscript>

  <div class="product__title text-center">
    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
  </div>

  {% if section.settings.vendor_show %}
    <div class="product__vendor text-center">
      {{ product.vendor }}
    </div>
  {% endif %}

  <div class="product__prices text-center">
    {% if product.is_on_sale %}

      <span class="product__price--on-sale">
        {% if product.price_varies %}
          {% assign sale_price = product.price | money %}
          {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
        {% else %}
          <strong class="visually-hidden">{{ 'products.product.sale_price' | t }}</strong>
          {{ product.price | money }}
        {% endif %}
      </span>

    {% else %}

      <span class="product__price">
        {% if product.price_varies %}
          {% assign price = product.price | money %}
          {{ 'products.product.from_text_html' | t: price: price }}
        {% else %}
          <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
          {{ product.price | money }}
        {% endif %}
      </span>

    {% endif %}

    {% if product.is_on_sale %}
      <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
      <s>{{ product.compare_at_price | money }}</s>
    {% endif %}

    {% if on_sale %}
      <span class="badge badge--sale"><span>{{ 'products.product.on_sale' | t }}</span></span>
    {% endif %}

    {% comment %}
    {% if sold_out %}
      <span class="badge badge--sold-out"><span>{{ 'products.product.sold_out' | t }}</span></span>
    {% endif %}
    {% endcomment %}

    {% if sold_out %}
      <!-- — <strong class="sold-out-text">{{ 'products.product.sold_out' | t }}</strong> -->
    {% endif %}

  </div>
  <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      {% if sold_out and product.variants.size == 1 %}
        <form action="/waitlist/add" method="post" id="product-form-{{ product.id }}">
          <input type="hidden" name="id" id="product-select-{{ product.id }}"  value="{{ product.first_variant.id }}">
          <div>
            <div class="Addto"> <Button class="AddCart" data-price="{{ product.price | money }}" id="waitlist-new-id-{{ product.id }}" href="{{product.url}}">Add To Wishlist</button></div>
          </div>
        </form>

      {% else %}
        <form action="/cart/add" method="post" id="product-form-{{ product.id }}">
          <input type="hidden" name="id" id="product-select-{{ product.id }}"  value="{{ product.first_available_variant.id }}">
          <div>
            {% if product.variants.size > 1 %}
              <div class="Addto"> <a class="AddCart1" href="{{product.url}}">Choose option</a></div>
            {%else%}
              <div class="Addto"> <Button class="AddCart" data-price="{{ product.price | money }}"id="new-id-{{ product.id }}" href="{{product.url}}">Add To Cart</button></div>
            {%endif%}
          </div>
        </form>
    {% endif %}

<!--    <form action="/cart/add" method="post" id="product-form-{{ product.id }}">
      <input type="hidden" name="id" id="product-select-{{ product.id }}"  value="{{ product.variants.first.id }}">
      <div>
        {% assign sold_out = true %}
        {% assign sold_out_text = 'products.product.sold_out' | t %}
        {% if product.available %}
          {% assign sold_out = false %}
        {% endif %}

        {% if product.variants.size > 1 %}
          <div class="Addto"> <button class="AddCart" href="{{product.url}}">Choose option</button></div>
        {%else%}
          <div class="Addto"> <Button class="AddCart" id="new-id-{{ product.id }}" href="{{product.url}}">Add To Cart</button></div>
        {%endif%}

      </div>
    </form> -->

<script>

  $('#waitlist-new-id-{{ product.id }}').click(function(r){
    r.preventDefault();
    var ab = $('#product-select-{{ product.id }}').val();
    $.ajax({
      type: 'POST',
      url: '/waitlist/add.js',
      dataType: 'json',
      data: {id: ab },
      success:function(response)
      {
        alert('The item was added to your waitlist!');
      },
      error: function(data) {
          var message = 'An error occurred.';
          try { message = data.responseJSON.description[0]; } catch (e) {}
          alert(message);
      }
    });
  });

  $('#new-id-{{ product.id }}').click(function(r){
    r.preventDefault();
  var ab = $('#product-select-{{ product.id }}').val();
             var price= $(this).attr('data-price');
  console.log(price);
  $.ajax({
    type: 'POST',
    url: '/cart/add.js',
    dataType: 'json',
    data: {quantity: 1, id: ab },
    success:function(response)
    {
      $.ajax({
        type: 'GET',
        url: '/cart',
        dataType: 'html',

        success:function(data){
          var ab = $(data).find('.cart__subtotal').text();
          //alert(ab);
          jQuery.getJSON('/cart.js', function(cart){
            jQuery('#produ').html(cart.total_price,"{{ shop.money_format }}");
             jQuery('#CartCount').html(cart.item_count);
            jQuery('#fastCartNumItemsTxt').html(cart.item_count);
          });
          $('#new-id-{{ product.id }}').text('Adding...');

            setTimeout(function(){
            $('#new-id-{{ product.id }}').text("Added");}, 2000);
              setTimeout(function(){
              $('#new-id-{{ product.id }}').text("Add To Cart");
                }, 3000);

              $('.ProductPrice').text(ab);
              $('#neww-id-succes .prtitle').text(response.title);
              $('#neww-id-succes .pricE').text(price);
              var imageSrcs = response.image;

              $('#neww-id-succes img').attr('src',imageSrcs);
           //   $('.related').show();

              $("#neww-id-succes").fadeIn(1000);
             $('.overlay').fadeIn(300);
                    //$("#neww-id-succes").fadeOut(10000);
            }
          });
        },
        error: function(XMLHttpRequest, textStatus) {
          var data = eval('(' + XMLHttpRequest.responseText + ')');
          alert(data.description);
        }
      });
    });
</script>

</div>

