{% assign on_sale = false %}
{% assign sale_text = 'products.product.sale' | t %}
{% if product.is_on_sale %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% assign sold_out_text = 'products.product.sold_out' | t %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}


{% assign featured = product %}
            <div class="w3-col l3 m6  relPos w3-center ">
                <div class="selectProduct w3-padding" data-title="{{ featured.title }}" data-price="{{ featured.price }}" data-id="{{ featured.id }}" data-size="{{ featured.options.size }}" data-weight="{{ featured.variants.first.weight | weight_with_unit }}"  data-battery="2300 mAH">
<!--                     <a class="w3-btn-floating w3-light-grey addButtonCircular addToCompare">+</a> -->
                   <a href="{{product.url}}"> <img style="height:260px;width:auto;" src="{{ featured.featured_image | img_url: '189x260' }}" class="imgFill productImg ajaximg">
                     <h4>{{ featured.title }}</h4></a>



                  {% if on_sale %}
                  <span class="badge1 badge--sale1"><span>{{ 'products.product.on_sale' | t }}</span></span>
                  {% endif %}


                  {% if sold_out %}
                  <!-- — <strong class="sold-out-text">{{ 'products.product.sold_out' | t }}</strong> -->
                  {% endif %}

                  <div class="product__prices text-center">
                    {% if product.is_on_sale %}

                    <span class="product__price--on-sale">
                      {% if product.price_varies %}
                      {% assign sale_price = product.price | money %}
                      {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                      {% else %}
                      <strong class="visually-hidden">{{ 'products.product.sale_price' | t }}</strong>
                      {{ product.price | money }}
                      {% endif %}
                    </span>

                    {% else %}

                    <span class="product__price">
                      {% if product.price_varies %}
                      {% assign price = product.price | money %}
                      {{ 'products.product.from_text_html' | t: price: price }}
                      {% else %}
                      <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                      {{ product.price | money }}
                      {% endif %}
                    </span>

                    {% endif %}
                    {% if product.is_on_sale %}
                    <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                    <s>{{ product.compare_at_price | money }}</s>
                    {% endif %}
                  </div>
                </div>

                {% if sold_out and product.variants.size == 1 %}
                  <form action="/waitlist/add" method="post" id="product-form-{{ product.id }}">
                    <input type="hidden" name="id" id="product-select-{{ product.id }}"  value="{{ product.first_variant.id }}">
                    <div>
                      <div class="Addto"> <Button class="AddCart" data-price="{{ product.price | money }}" id="waitlist-new-id-{{ product.id }}" href="{{product.url}}">Add To Wishlist</button></div>
                    </div>
                  </form>

                {% else %}
              <form action="/cart/add" method="post" id="product-form-{{ product.id }}">
                <input type="hidden" name="id" id="product-select-{{ product.id }}"  value="{{ product.first_available_variant.id }}">
                <div>
                  {% if product.variants.size > 1 %}

                  <div class="Addto"> <a class="AddCart1" href="{{product.url}}">Choose option</a></div>
                  {% else %}
                  <div class="Addto"> <Button class="AddCart" data-price="{{ product.price | money }}" id="new-id-{{ product.id }}" href="{{product.url}}">Add To Cart</button></div>
                  {% endif %}
                </div>
              </form>
              {% endif %}
            </div>
          <script>
            $('#waitlist-new-id-{{ product.id }}').click(function(r){
              r.preventDefault();
              var ab = $('#product-select-{{ product.id }}').val();
              $.ajax({
                type: 'POST',
                url: '/waitlist/add.js',
                dataType: 'json',
                data: {id: ab },
                success:function(response)
                {
                  alert('The item was added to your waitlist!');
                },
                error: function(data) {
                    var message = 'An error occurred.';
                    try { message = data.responseJSON.description[0]; } catch (e) {}
                    alert(message);
                }
              });
            });

            $('#new-id-{{ product.id }}').click(function(r){
              r.preventDefault();
            var ab = $('#product-select-{{ product.id }}').val();
                       var price= $(this).attr('data-price');
            console.log(price);
            $.ajax({
              type: 'POST',
              url: '/cart/add.js',
              dataType: 'json',
              data: {quantity: 1, id: ab },
              success:function(response)
              {
                $.ajax({
                  type: 'GET',
                  url: '/cart',
                  dataType: 'html',

                  success:function(data){
                    var ab = $(data).find('.cart__subtotal').text();
                    //alert(ab);
                    jQuery.getJSON('/cart.js', function(cart){
                      jQuery('#produ').html(cart.total_price,"{{ shop.money_format }}");
                       jQuery('#CartCount').html(cart.item_count);
                      jQuery('#fastCartNumItemsTxt').html(cart.item_count);
                    });
                    $('#new-id-{{ product.id }}').text('Adding...');

                      setTimeout(function(){
                      $('#new-id-{{ product.id }}').text("Added");}, 2000);
                        setTimeout(function(){
                        $('#new-id-{{ product.id }}').text("Add To Cart");
                          }, 3000);

                        $('.ProductPrice').text(ab);
                        $('#neww-id-succes .prtitle').text(response.title);
                        $('#neww-id-succes .pricE').text(price);
                        var imageSrcs = response.image;

                        $('#neww-id-succes img').attr('src',imageSrcs);
                     //   $('.related').show();

                        $("#neww-id-succes").fadeIn(1000);
                       $('.overlay').fadeIn(300);
                              //$("#neww-id-succes").fadeOut(10000);
                      }
                    });
                  },
                  error: function(XMLHttpRequest, textStatus) {
                    var data = eval('(' + XMLHttpRequest.responseText + ')');
                    alert(data.description);
                  }
                });
              });
          </script>


