<script id="swym-snippet">
  window.swymCart = {{ cart | json }};
  window.swymPageLoad = function(){
    var variantPrice;
    window.SwymHasCartItems = {{cart.item_count|json}} > 0;
    window.SwymPageData = {}, window.SwymProductInfo = {};
    {% if product and template.name == 'product' %}
    var variants = [];
    window.SwymProductInfo.product = {{ product | json }};
    var variants_tmp = window.SwymProductInfo.variants = window.SwymProductInfo.product.variants;
    var stk;
    {% for variant in product.variants %}
      {% if variant.selected %}
        window.SwymProductInfo.currentVariant = {{variant.id | json}};variants.push({ {{ product.selected_variant.title | json }} :{{ variant.id | json}}});variantPrice = {{ product.selected_variant.price}}/100;
        stk = {{variant.inventory_quantity}};
        {% break %}
      {% endif %}
    {% endfor %}
    if (variants.length == 0){
      window.SwymProductInfo.currentVariant = {{product.variants[0].id | json}};variants.push({ {{ product.variants[0].title | json }} :{{ product.variants[0].id | json}}});variantPrice = {{ product.variants[0].price}}/100;
      stk = {{product.variants[0].inventory_quantity}};
    }
    var product_data = {
      et: 1, empi: window.SwymProductInfo.product.id, epi: window.SwymProductInfo.currentVariant,
      dt: {{ product.title | json }}, du: "{{ shop.url }}{{ product.url }}",
      ct: window.SwymProductInfo.product.type, pr: variantPrice,
      iu: window.SwymProductInfo.product.featured_image, variants: variants,
      stk: stk
    };
    window.SwymPageData = product_data;
    {% elsif collection %}
    var collection = {{ collection | json }};
    if (typeof collection === "undefined" || collection == null || collection.toString().trim() == ""){
      var unknown = {et: 0};
      window.SwymPageData = unknown;
    }else{
      var image = "";
      if (typeof collection.image === "undefined" || collection.image == null || collection.image.toString().trim() == ""){}
      else{image = collection.image.src;}
      var collection_data = {
        et: 2, dt: {{ collection.title | json}},
        du: "{{shop.url}}/collections/{{collection.handle}}", iu: image
      }
      window.SwymPageData = collection_data;
    }
    {% else %}
    var unknown = {et: 0};
    window.SwymPageData = unknown;
    {% endif %}
  };

  if(window.selectCallback){
    (function(){
      // Variant select override
      var originalSelectCallback = window.selectCallback;
      window.selectCallback = function(variant){
        originalSelectCallback.apply(this, arguments);
        try{
          if(window.triggerSwymVariantEvent){
            window.triggerSwymVariantEvent(variant.id);
          }
        }catch(err){
          console.warn("Swym selectCallback", err);
        }
      };
    })();
  }
  window.swymCustomerId = {% if customer %}"{{ customer.id }}"{% else %}null{% endif %};
  var swymJSObject = {
    pid: "DppadREAgqghkaCvMa2kk7fxj8Ke46xEXBmA1CVpu6k=",
    interface: "/apps/swymWishlist/interfaces/interfaceStore.php?appname=Wishlist",
    shopid: "9544"
  };
  function swymJSShopifyLoad(){
    if(window.swymPageLoad) swymPageLoad();
    if(!window._swat) {
      (function (s, w, r, e, l, a, y) {
        r['SwymRetailerConfig'] = s;
        r[s] = r[s] || function (k, v) {
          r[s][k] = v;
        };
      })('_swrc', '', window);
      _swrc('RetailerId', swymJSObject.pid);
      _swrc('InterfacePath', swymJSObject.interface);
      _swrc('ShopId', swymJSObject.shopid);
      _swrc('Callback', function(){
        initSwymShopify();
      });
    }else{
      initSwymShopify();
    }
  }
  swymJSShopifyLoad();
  window.swymGetCartCookies = function(){
    var RequiredCookies = ["cart", "swym-session-id", "swym-swymRegid", "swym-email"];
    var reqdCookies = {};
    RequiredCookies.forEach(function(k){
      reqdCookies[k] = _swat.storage.getRaw(k);
    });
    var cart_token = window.swymCart.token;
    var data = {
        action:'cart',
        shopid:swymJSObject.shopid,
        token:cart_token,
        cookies:reqdCookies
    };
    return data;
  }

  window.swymGetCustomerData = function(){
    {% if customer %}
    var regid = _swat.get(_swat.key.REGID);
    var swym_session_id = _swat.storage.getSessionId();
    var customer_id = "{{ customer.id }}";
    var data = {action: 'customer',shopid:swymJSObject.shopid,
        regid:regid,customer_id:customer_id,swym_session_id:swym_session_id};
    return {status:0,data:data};
    {% else %}
    return {status:1};
    {% endif %}
  }
</script>
<div id="safari-flasher-pre"></div>
<script>
  if (navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1) {
    document.getElementById("safari-flasher-pre").innerHTML = '<style>'
      + '#swym-plugin,#swym-hosted-plugin{display: none;}'
      + '.swym-button.swym-add-to-wishlist{display: none;}'
      + '.swym-button.swym-add-to-watchlist{display: none;}'
      + '#swym-plugin  #swym-notepad, #swym-hosted-plugin  #swym-notepad{opacity: 0; visibility: hidden;}'
      + '#swym-plugin  #swym-notepad, #swym-plugin  #swym-overlay, #swym-plugin  #swym-notification,'
      + '#swym-hosted-plugin  #swym-notepad, #swym-hosted-plugin  #swym-overlay, #swym-hosted-plugin  #swym-notification'
      + '{-webkit-transition: none; transition: none;}'
      + '</style>';
    window.SwymCallbacks = window.SwymCallbacks || [];
    window.SwymCallbacks.push(function(tracker){
      tracker.evtLayer.addEventListener(tracker.JSEvents.configLoaded, function(){
        // flash-preventer
        var x = function(){
          $(document.body).append("<div id='safari-flasher-post'><style>"
            + "#swym-plugin:not(.swym-ready),#swym-hosted-plugin:not(.swym-ready){display: none;}"
            + ".swym-button.swym-add-to-wishlist:not(.swym-loaded){display: none;}"
            + ".swym-button.swym-add-to-watchlist:not(.swym-loaded){display: none;}"
            + "#swym-plugin.swym-ready  #swym-notepad, #swym-plugin.swym-ready  #swym-overlay, #swym-plugin.swym-ready  #swym-notification,"
            + "#swym-hosted-plugin.swym-ready  #swym-notepad, #swym-hosted-plugin.swym-ready  #swym-overlay, #swym-hosted-plugin.swym-ready  #swym-notification"
            + "{-webkit-transition: opacity 0.3s, visibility 0.3ms, -webkit-transform 0.3ms !important;-moz-transition: opacity 0.3s, visibility 0.3ms, -moz-transform 0.3ms !important;-ms-transition: opacity 0.3s, visibility 0.3ms, -ms-transform 0.3ms !important;-o-transition: opacity 0.3s, visibility 0.3ms, -o-transform 0.3ms !important;transition: opacity 0.3s, visibility 0.3ms, transform 0.3ms !important;}"
            + "</style></div>");
        };
        setTimeout(x, 10);
      });
    });
  }
</script>
