/* - - - - - - - - - - - Font - - - - - - - - - - - - - - - */
@font-face {
	font-family: ProximaNova-Light;
	src: url(../font/ProximaNova-Light.otf) format("opentype");
}
@font-face {
	font-family: ProximaNova-Regular;
	src: url(../font/ProximaNova-Regular.otf) format("opentype");
}
@font-face {
	font-family: ProximaNova-Semibold;
	src: url(../font/ProximaNova-Semibold.otf) format("opentype");
}
/* - - - - - - - - - - - :: COVER :: - - - - - - - - - - - - - - */
body {
	background: #f8f8f8;
}
.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex-end {
	-webkit-flex-direction: row;
   			flex-direction: row;
   -webkit-justify-content: flex-end;
   		   justify-content: flex-end;
}
.align-left {
	float: left;
}
.align-right {
	float: right;
}
.no-padding {
	padding: 0;
}
.content-center {
	text-align: center;
}
.content-center img {
	margin-top: 20px;
}

.profile-info .wlc-text {
	font-family: ProximaNova-Light;
	font-size: 30px;
	color: #585b60;
	margin-top: 10px;
}
.profile-info .value-text {
	font-family: ProximaNova-Regular;
	font-size: 20px;
	color: #97a0a5;
	background: transparent;
	outline: none;
	border: none;
	display:block;
	width: 200px;
}
.profile-info .enable-edit {
	background: #fff;
}
.profile-info .type-of-value {
	font-family: ProximaNova-Light;
	font-size: 12px;
	color: #3e4041;
}

.profile-info .btn-circle {
	border: none;
	border-radius: 50%;
	height: 32px;
    width: 32px;
	outline: none;
	margin-left: 10px;
}
.profile-info .add-money {
	background: #e8eaf0 url(../images/icon-plus.png) center center no-repeat;
}
.profile-info .margin-top {
	margin-top: 45px;
}
.profile-info hr {
	border-top: 1px solid #d8d8d8;
}
.unpaid-order {
	margin-top: 10px;
}
.unpaid-order .section-title {
	font-family: ProximaNova-Light;
	font-size: 23px;
	color: #585b60;
}
.unpaid-order span {
	display: block;
}
.unpaid-order .margin-top {
	margin-top: 45px;
}
.unpaid-order .text-right {
	font-family: ProximaNova-Light;
	font-size: 14px;
	color: #66696c;
}
.unpaid-order .btn {
	background: #a2a2a2;
	color: #fff;
	padding: 2px 8px;
	border: none;
	border-radius: 6px;
	margin-left: 10px;
	outline: none;
	font-family: ProximaNova-Light;
	font-size: 14px;
}
.unpaid-order .margin-top {
	margin-top: 10px;
}


@media screen and (max-width: 767px) {
	.unpaid-order .flex-end {
		-webkit-flex-direction: row;
   				flex-direction: row;
		-webkit-justify-content: flex-start;
   		   		justify-content: flex-start;
	}
}
/* - - - - - - - - - - - :: INVOICE :: - - - - - - - - - - - - - - */
.invoice-box {
	background: #fff;
	border-radius: 2px;
	margin: 20px auto;
	-webkit-box-shadow: 0px 11px 40px -8px rgba(0,0,0,0.29);
	   -moz-box-shadow: 0px 11px 40px -8px rgba(0,0,0,0.29);
		    box-shadow: 0px 11px 40px -8px rgba(0,0,0,0.29);
}
.invoice-box .row {
	margin-left: 0;
	margin-right: 0;
}
.invoice-box .product-list {
	padding: 0;
	margin: 0;
	margin: 15px auto;
	list-style: none;
	overflow: hidden;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
}
.product-list .product-box {
	width: 290px;
	margin-left: 15px;
}
.product-list .no-margin {
	margin: 0;
}
.product-list .product-box .product-image {
	position: relative;
}
.product-list .product-box .product-image img {
	margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.product-list .product-box .product-image .btn-remove {
	position: absolute;
    top: 10px;
    right: 10px;
    height: 28px;
    width: 28px;
    border: none;
    border-radius: 2px;
    outline: none;
    background: #fff url(../images/icon-remove.png) center center no-repeat;
}
.product-list .product-box .product-image .btn-remove:hover {
	background: #f7f7f7 url(../images/icon-remove.png) center center no-repeat;
}
.product-list .product-box .product-name {
	padding-top: 20px;
	font-family: ProximaNova-Semibold;
	font-size: 14px;
	color: #5c5b61;
}
.product-list .product-box .product-price {
	font-family: ProximaNova-Regular;
	font-size: 20px;
	color: #2c2c2c;
}

.invoice-box {
	overflow: hidden;
}
.invoice-box .right-side {
	background: #f8f8f8;
}
.right-side .info-row {
	background: #fff;
	padding: 15px;
	margin: 2px 2px 0;
}
.right-side .info-row .info {
	font-family: ProximaNova-Regular;
	font-size: 14px;
	color: #8d8d8d;
}
.right-side .info-row .value {
	font-family: ProximaNova-Regular;
	font-size: 14px;
	color: #3d3d3e;
}
.right-side .calculation {
	width: 90%;
	margin: auto;
}

.calculation .total-order {
	font-family: ProximaNova-Regular;
	font-size: 12px;
	color: #808489;
	margin-top: 30px;
}
.calculation .order-value {
	font-family: ProximaNova-Regular;
	font-size: 40px;
	color: #373a3e;
}
.calculation hr {
	margin: 0;
	margin-top: 1px solid #e6e6e6;
}
.calculation .item-price {
	font-family: ProximaNova-Regular;
	font-size: 12px;
	color: #8d8d8d;
	padding: 10px 15px 0;
}
.calculation .item-price span {
	font-family: ProximaNova-Semibold;
	color: #4b525b;
}

.calculation .inputbox {
	width: 100%;
	padding: 10px;
	margin: 25px auto;
	font-family: ProximaNova-Light;
	font-size: 14px;
	color: #9e9e9e;
	border: 1px solid #f0f0f0;
	outline: none;
}
.calculation .btn-submit {
	float: right;
	background: #e96d68;
	font-family: ProximaNova-Semibold;
	font-size: 11px;
	color: #fff;
	padding: 15px;
	border: none;
	border-radius: 5px;
	margin-bottom: 25px;
	outline: none;
}
/* Responsive style */
@media screen and (max-width: 639px) {
	.product-list .product-box {
		margin: 10px 0 0 10px ;
	}
	.product-list .product-box .product-image img {
		width: 100%;
	}
}
@media screen and (max-width: 352px) {
	.product-list .product-box {
		width: 90%;
	}
	.invoice-box .product-box .product-image .btn-remove {
		top: 10px;
    	left: 10px;
	}
}
