/* Demo CSS - You do not need this css in your own slider */

body{
	font-family: "Open Sans", helvetica, arial;
}

pre{
	font-family: "Source Code Pro", monospace;
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 20px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: whiteSmoke;
	border: 1px solid #CCC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#new_slider{     /* added div type for slider */
  width: 100%;
  margin-top:0px;
  padding-top: 100px;
}

#slider-container{
	max-width: 1180px;
    margin: 0 auto;
	padding-bottom:5px;
}

#banner-fade,
#banner-slide{
	margin-bottom: 60px;
}

ul.bjqs-controls.v-centered li a{
  font-size: 16px !important;
	display:block;
	padding:10px;
	background:#eab0a7;
	color:#fff;
	text-decoration: none;
}

ul.bjqs-controls.v-centered li a:hover{
	background:#d0978c;
	color:#fff;
}

ol.bjqs-markers li a{
	padding:5px 10px;
	background:#000;
	color:#fff;
	margin:5px;
	/*- cf -*/
	text-decoration: none;
	-webkit-border-radius: 75px;
-moz-border-radius: 75px;
border-radius: 75px;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover, ol.bjqs-markers li a:focus{
	background: #999;
}

p.bjqs-caption{
	background: rgba(255,255,255,0.5);
}

@media all and (max-width: 479px) and (min-width: 300px) {
  ul.bjqs-controls.v-centered li a {
    display:none;
}
}

@media all and (max-width: 767px) and (min-width: 300px) {
#new_slider{ 
  padding-top: 75px;
}
#featured_links {
    padding: 0;
}
}