.clockbody{
	text-align: center;
	background: #fff;
  font-weight: 100;
}


#clockdiv{
  font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 50px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #fff;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #eaafa7;
	display: inline-block;
}

.smalltext{
	color: #eaafa7;
	padding-top: 5px;
	font-size: 16px;
	font-weight: bold;
}