<section class="invoice-box">
    <div class="row">
        <div class="col-md-8 no-padding">
            <div class="product-list">
                {% for item in cart.items %}
                    <div class="product-box">
                        <div class="product-image">
                            <button class="btn-remove" onclick="removeFromCart({{ item.id }}, this);"></button>
                            <img width="290px" height="290px" src="{{ item.image | product_image }}" alt="{{ item.name }}">
                        </div>
                        <div class="product-name">{{ item.name }}</div>
                        <div class="product-price">${{ item.price }}</div>
                        <div class="product-name">Color: {{ item.color }}</div>
                        <div class="product-name">Size: {{ item.size }}</div>

                        <div class="product-name">
                            Time left to pay:
                            <div class="clock-expire" data-expire="{{ shop.expire }}" data-expireAt="{{ item.expire_at }}" data-itemId="{{ item.id }}"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-4 no-padding">
            <div class="right-side">
                <div class="info-row">
                    {% if shop.local_pickup_enabled and customer.wants_local_pickup %}
                        Shipping Method: <strong>Local Pickup
                    {% else %}
                        <span class="value align-right"><strong>Shipping to:</strong> <br/>
                            {% if customer.address.street_address != empty %}
                                {{ customer.address.street_address }}, <br/>
                                {% if customer.address.apartment != empty %}
                                    {{ customer.address.apartment }} ,
                                {% endif %}
                                {{ customer.address.city }}, {{ customer.address.state }}, {{ customer.address.zip }}
                            {% else %}
                                We do not have your address!
                            {% endif %}
                        </span>

                        <button class="small" onclick="showAddressPopup();">Update Address</button><br/>

                        <br/><br/>
                        <div style="clear: both;"></div>
                    {% endif %}
                </div>

                {% if shop.local_pickup_enabled %}
                    <div class="flex-container switch-buttons">
                        <button class="btn-switch" onclick="deliveryMethod('Local');">
                            <img src="https://cdn.commentsold.com/images/icon-local-harvest.png">
                            <p>Switch to Local Pickup</p>
                        </button>
                        <button class="btn-switch" onclick="deliveryMethod('Delivery');">
                            <img src="https://cdn.commentsold.com/images/icon-delivery.png">
                            <p>Switch to Delivery</p>
                        </button>
                    </div>
                {% endif %}

                <div class="calculation">
                    <div class="total-order">Total order</div>
                    <div class="order-value">{{ cart.total | money }}</div>
                    <hr/>

                    <div class="item-price">Subtotal: <span>{{ cart.subtotal | money }}</span></div>

                    <div class="item-price">Shipping price: <span>{% if cart.shipping_price == 0 %} Free Shipping! {% else %} {{ cart.shipping_price | money }} {% endif %}</span></div>

                    <div class="item-price">Total taxes: <span>{{ cart.tax_total | money }}</span></div>

                    {% if cart.coupon_discount > 0 %}
                        <div class="item-price">Coupon Discount: <span>- {{ cart.coupon_discount | money }}</span></div>
                    {% endif %}

                    {% if cart.deduced_balance > 0 %}
                        <div class="item-price">Account Credit: <span>- {{ cart.deduced_balance | money }}</span></div>
                    {% endif %}

                    <br/><br/>
                    <button class="btn btn-success" onclick="showCouponBox()">Click here to use coupon code</button>
                    <div style="display: none;" id="coupon-wrapper">
                        <input type="text" id="coupon-code" placeholder="enter code" onkeyup="checkCouponApply(event)" />
                        <button onclick="couponApply()">Apply</button>
                    </div>
                    <br/><br/>

                    {% if customer.has_balance %}
                        <button onclick="applyBalance()" class="btn btn-info">Click here to use account credit</button>
                        <br/>
                    {% endif %}

                    {% if customer.address.street_address == empty %}
                        <a href='javascript: void(0);' onclick="showAddressPopup()"><strong><em> Please update address before continuing</em></strong></a>
                        <br/><br/>

                    {% elsif customer.email == empty %}
                        <br/>
                        <strong><em>Please enter your email before continuing</em></strong>
                        <br/><br/>

                    {% else %}
                        <br/>
                        <small class="slink">Choose payment method</small>
                        <br/>
                        <select id="paymentList" style="width:256px;">
                            {% if cart.is_fully_paid_with_balance %}
                                <option value="credit" data-image="/images/icons/Cash-56.png" data-description="Pay with account credit" selected="selected">Account Credit</option>
                            {% else %}
                                {% if shop.stripe_enabled %}
                                    {% for card in customer.cards %}
                                        {% assign brand = card.brand | downcase %}
                                        {% assign card_image = '' %}
                                        {% if brand == 'visa' %}
                                            {% assign card_image = '/images/icons/Visa-56.png' %}
                                        {% elsif brand == 'mastercard' %}
                                            {% assign card_image = '/images/icons/Mastercard-56.png' %}
                                        {% elsif brand == 'amex' %}
                                            {% assign card_image = '/images/icons/Amex-56.png' %}
                                        {% elsif brand == 'discover' %}
                                            {% assign card_image = '/images/icons/Discover-56.png' %}
                                        {% endif %}
                                        <option class="existing-card" value="{{ card.card_id }}" data-description="Ending in: {{ card.last_four }} Exp: {{ card.exp_month }}/{{ card.exp_year }}" data-image="{{ card_image }}">{{ card.brand }}</option>
                                    {% endfor %}
                                    <option value="newcc" data-image="/images/Visa-56.png" data-description="Pay with a credit card">New Card</option>
                                {% endif %}
                                {% if shop.paypal_enabled %}
                                    <option value="paypal" data-image="/images/Paypal-56.png">PayPal Account</option>
                                {% endif %}
                            {% endif %}
                        </select>
                        <br/><br/>
                        <div style="clear: both;"></div>

                        {% if shop.facebook_messenger_page_id %}
                            <div>
                                <div class="fb-messenger-checkbox"
                                        origin="{{ '' | shop_url }}"
                                        page_id="{{ shop.facebook_messenger_page_id }}"
                                        messenger_app_id="{{ shop.facebook_app_id }}"
                                        user_ref="{{ customer.messenger_user_ref }}"
                                        prechecked="true"
                                        allow_login="true"
                                        size="large"></div>

                                <script type="text/javascript">
                                    function confirmOptIn() {
                                        if (typeof FB != 'object') {
                                            return;
                                        }

                                        FB.AppEvents.logEvent('MessengerCheckboxUserConfirmation', null, {
                                            'app_id':'{{ shop.facebook_app_id }}',
                                            'page_id':'{{ shop.facebook_messenger_page_id }}',
                                            'ref':'{{ shop.id }}',
                                            'user_ref':'{{ customer.messenger_user_ref }}'
                                        });
                                    }
                                </script>
                            </div>
                            <br style="clear: both;" />
                        {% endif %}

                        <button class="pull-left" class="btn-submit" id="checkoutButton" data-email="{{ customer.email }}" data-amount="{{ cart.total }}">Checkout</button>

                    {% endif %}

                    <div style="clear: both;"></div>
                </div>

            </div>
        </div>
    </div>
</section>
