{% for order in orders.items %}
    <section class="invoice-box">
        <div class="row">
            <div class="col-md-8 no-padding">
                <div class="product-list">
                    {% for item in order.order_products %}
                        <div class="product-box">
                            <div class="product-image">
                                <img width="290px" height="290px" src="{{ item.product_filename | product_image }}" alt="{{ item.product_name }}">
                            </div>
                            <div class="product-name">{{ item.name }}</div>
                            <div class="product-price">${{ item.price }}</div>
                            <div class="product-name">Color: {{ item.color }}</div>
                            <div class="product-name">Size: {{ item.size }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-4 no-padding">
                <div class="right-side">
                    <div class="info-row">
                        {% if order.is_local_pickup %}
                            <span class="value align-right"><strong>Shipping: Local Pickup</strong>
                        {% else %}
                            <span class="value align-right"><strong>Shipping to:</strong> <br/>
                                {{ order.street_address}}, <br/>
                                {% if order.apartment != empty %}
                                    {{  order.apartment }} ,
                                {% endif %}
                                {{ order.city }}, {{ order.state }}, {{ order.zip }}
                            </span>
                        {% endif %}
                        <br/><br/>
                        <div style="clear: both;"></div>
                    </div>

                    <div class="calculation">
                        <div class="total-order">Total order</div>
                        <div class="order-value">{{ order.total | money }}</div>
                        <hr/>

                        <div class="item-price">Subtotal: <span>{{ order.subtotal | money }}</span></div>

                        <div class="item-price">Shipping price: <span>{% if order.ship_charged == 0 %} Free Shipping! {% else %} {{ order.ship_charged | money }} {% endif %}</span></div>

                        <div class="item-price">Total taxes: <span>{{ order.tax_total | money }}</span></div>

                        {% if order.coupon_discount > 0 %}
                            <div class="item-price">Coupon Discount: <span>- {{ order.coupon_discount | money }}</span></div>
                        {% endif %}

                        <div style="clear: both;"></div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endfor %}
