<div id="address-modal-overlay" style="display:none;"></div>

<div id="address-modal" style="display:none;">
    <p>Please enter your new address&hellip;</p>

    <input type="text" placeholder="Street Address" value="{{ customer.address.street_address }}" class="form-control" name="modal-street-address" id="modal-street-address">

    <input type="text" placeholder="Apartment/Unit Number" value="{{ customer.address.apartment }}" class="form-control" name="modal-apartment" id="modal-apartment">

    <input type="text" placeholder="City" value="{{ customer.address.city }}" class="form-control" name="modal-city" id="modal-city">

    <select class="form-control" name="modal-state" id="modal-state">
        <option value="" disabled selected>State..</option>
        {% assign state = customer.address.state %}
        <option {% if state == 'AL' %} selected="selected" {% endif %} value="AL">Alabama</option>
        <option {% if state == 'AK' %} selected="selected" {% endif %} value="AK">Alaska</option>
        <option {% if state == 'AS' %} selected="selected" {% endif %} value="AS">American Samoa</option>
        <option {% if state == 'AZ' %} selected="selected" {% endif %} value="AZ">Arizona</option>
        <option {% if state == 'AR' %} selected="selected" {% endif %} value="AR">Arkansas</option>
        <option {% if state == 'AA' %} selected="selected" {% endif %} value="AA">Armed Forces America</option>
        <option {% if state == 'AE' %} selected="selected" {% endif %} value="AE">Armed Forces Europe</option>
        <option {% if state == 'AP' %} selected="selected" {% endif %} value="AP">Armed Forces Pacific</option>
        <option {% if state == 'CA' %} selected="selected" {% endif %} value="CA">California</option>
        <option {% if state == 'CO' %} selected="selected" {% endif %} value="CO">Colorado</option>
        <option {% if state == 'CT' %} selected="selected" {% endif %} value="CT">Connecticut</option>
        <option {% if state == 'DE' %} selected="selected" {% endif %} value="DE">Delaware</option>
        <option {% if state == 'DC' %} selected="selected" {% endif %} value="DC">District Of Columbia</option>
        <option {% if state == 'FL' %} selected="selected" {% endif %} value="FL">Florida</option>
        <option {% if state == 'GA' %} selected="selected" {% endif %} value="GA">Georgia</option>
        <option {% if state == 'GU' %} selected="selected" {% endif %} value="GU">Guam</option>
        <option {% if state == 'HI' %} selected="selected" {% endif %} value="HI">Hawaii</option>
        <option {% if state == 'ID' %} selected="selected" {% endif %} value="ID">Idaho</option>
        <option {% if state == 'IL' %} selected="selected" {% endif %} value="IL">Illinois</option>
        <option {% if state == 'IN' %} selected="selected" {% endif %} value="IN">Indiana</option>
        <option {% if state == 'IA' %} selected="selected" {% endif %} value="IA">Iowa</option>
        <option {% if state == 'KS' %} selected="selected" {% endif %} value="KS">Kansas</option>
        <option {% if state == 'KY' %} selected="selected" {% endif %} value="KY">Kentucky</option>
        <option {% if state == 'LA' %} selected="selected" {% endif %} value="LA">Louisiana</option>
        <option {% if state == 'ME' %} selected="selected" {% endif %} value="ME">Maine</option>
        <option {% if state == 'MD' %} selected="selected" {% endif %} value="MD">Maryland</option>
        <option {% if state == 'MA' %} selected="selected" {% endif %} value="MA">Massachusetts</option>
        <option {% if state == 'MI' %} selected="selected" {% endif %} value="MI">Michigan</option>
        <option {% if state == 'MN' %} selected="selected" {% endif %} value="MN">Minnesota</option>
        <option {% if state == 'MS' %} selected="selected" {% endif %} value="MS">Mississippi</option>
        <option {% if state == 'MO' %} selected="selected" {% endif %} value="MO">Missouri</option>
        <option {% if state == 'MT' %} selected="selected" {% endif %} value="MT">Montana</option>
        <option {% if state == 'NE' %} selected="selected" {% endif %} value="NE">Nebraska</option>
        <option {% if state == 'NV' %} selected="selected" {% endif %} value="NV">Nevada</option>
        <option {% if state == 'NH' %} selected="selected" {% endif %} value="NH">New Hampshire</option>
        <option {% if state == 'NJ' %} selected="selected" {% endif %} value="NJ">New Jersey</option>
        <option {% if state == 'NM' %} selected="selected" {% endif %} value="NM">New Mexico</option>
        <option {% if state == 'NY' %} selected="selected" {% endif %} value="NY">New York</option>
        <option {% if state == 'NC' %} selected="selected" {% endif %} value="NC">North Carolina</option>
        <option {% if state == 'ND' %} selected="selected" {% endif %} value="ND">North Dakota</option>
        <option {% if state == 'MP' %} selected="selected" {% endif %} value="MP">Northern Mariana Is</option>
        <option {% if state == 'NS' %} selected="selected" {% endif %} value="NS">Nova Scotia</option>
        <option {% if state == 'OH' %} selected="selected" {% endif %} value="OH">Ohio</option>
        <option {% if state == 'OK' %} selected="selected" {% endif %} value="OK">Oklahoma</option>
        <option {% if state == 'OR' %} selected="selected" {% endif %} value="OR">Oregon</option>
        <option {% if state == 'PW' %} selected="selected" {% endif %} value="PW">Palau</option>
        <option {% if state == 'PA' %} selected="selected" {% endif %} value="PA">Pennsylvania</option>
        <option {% if state == 'PR' %} selected="selected" {% endif %} value="PR">Puerto Rico</option>
        <option {% if state == 'RI' %} selected="selected" {% endif %} value="RI">Rhode Island</option>
        <option {% if state == 'SC' %} selected="selected" {% endif %} value="SC">South Carolina</option>
        <option {% if state == 'SD' %} selected="selected" {% endif %} value="SD">South Dakota</option>
        <option {% if state == 'TN' %} selected="selected" {% endif %} value="TN">Tennessee</option>
        <option {% if state == 'TX' %} selected="selected" {% endif %} value="TX">Texas</option>
        <option {% if state == 'UT' %} selected="selected" {% endif %} value="UT">Utah</option>
        <option {% if state == 'VT' %} selected="selected" {% endif %} value="VT">Vermont</option>
        <option {% if state == 'VI' %} selected="selected" {% endif %} value="VI">Virgin Islands</option>
        <option {% if state == 'VA' %} selected="selected" {% endif %} value="VA">Virginia</option>
        <option {% if state == 'WA' %} selected="selected" {% endif %} value="WA">Washington</option>
        <option {% if state == 'WV' %} selected="selected" {% endif %} value="WV">West Virginia</option>
        <option {% if state == 'WI' %} selected="selected" {% endif %} value="WI">Wisconsin</option>
        <option {% if state == 'WY' %} selected="selected" {% endif %} value="WY">Wyoming</option>
    </select>

    <input type="text" placeholder="Zip" value="{{ customer.address.zip }}" class="form-control" name="modal-zip" id="modal-zip">

    <input type="text" placeholder="Phone Number (optional)" value="{{ customer.address.phone_number }}" class="form-control" name="modal-phone-number" id="modal-phone-number">

    <button type="button" class="btn btn-close" onclick="closeAddressPopup();">Close</button>
    <button type="button" class="btn btn-save" data-loading-text="Updating.." onclick="saveNewAddress();">Update Address</button>
</div>
