{% if waitlist.item_count > 0 %}
    <br/>
    <section class="invoice-box">
        <div class="row">
            <div class="col-md-12 no-padding">
                <div class="product-list">
                    {% for item in waitlist.items %}
                        <div class="product-box">
                            <div class="product-image">
                                <button class="btn-remove" onclick="removeFromWaitlist({{ item.id }})"></button>
                                <img width="290px" height="290px" src="{{ item.image | product_image }}" alt="{{ item.name }}">
                            </div>
                            <div class="product-name">{{ item.name }}</div>
                            <div class="product-price">{{ item.price | money }}</div>
                            <div class="product-name">Color: {{ item.color }}</div>
                            <div class="product-name">Size: {{ item.size }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% else %}
    You have no products in your waitlist at the moment.<br/><br/><br/>
{% endif %}
