<!-- /templates/cart.liquid -->
{% comment %}

  For info on test orders:
    - General http://docs.shopify.com/manual/your-store/orders/test-orders
    - Shopify Payments - http://docs.shopify.com/manual/more/shopify-payments/testing-shopify-payments

{% endcomment %}
<div class="du-cartpage-wrapper">
{% if cart.item_count > 0 %}

  <h1 class="text-center">Your Shopping Bag</h1>
  <p class="cart-note">Get your goodies before they're gone!</p>
   <!-- Bold: Quantity Breaks - Step 7 -->
  <div id="shappify-qty-cart-msg"></div>
  <!-- // end Bold code -->

  <form action="/cart" method="post" novalidate class="cart table-wrap">
    <table class="cart-table full table--responsive">
      <thead class="cart__row cart__header-labels">
        <th colspan="2" class="">{{ 'cart.label.product' | t }}</th>
        <th class="text-center">{{ 'cart.label.price' | t }}</th>
        <th class="text-center">{{ 'cart.label.quantity' | t }}</th>
        <th class="text-right">{{ 'cart.label.total' | t }}</th>
      </thead>
      <tbody>
        {% for item in cart.items %}
        {% include 'bold-cart-item' with item %}
          <tr class="cart__row table__section">
            <td class="cart-product-photo" data-label="{{ 'customer.order.product' | t }}">
              <a href="{{ item.url | within: collections.all }}" class="cart__image">
                {% comment %}
                  More image size options at:
                    - http://docs.shopify.com/themes/filters/product-img-url
                {% endcomment %}
                <img src="{{ item.image | img_url: 'medium' }}" alt="{{ item.title | escape }}">
              </a>
            </td>
            <td>
              <a href="{{ item.url }}" class="h4">
                {{ item.product.title }}
              </a>
              {% unless item.variant.title contains 'Default' %}
                <br>
                <span class="variant">{{ item.variant.title }}</span>
              {% endunless %}

              {% if settings.cart_vendor_enable %}
                <p>{{ item.vendor }}</p>
              {% endif %}

              {% comment %}
                Optional, loop through custom product line items if available

                For more info on line item properties, visit:
                  - http://docs.shopify.com/support/your-store/products/how-do-I-collect-additional-information-on-the-product-page-Like-for-a-monogram-engraving-or-customization
              {% endcomment %}
              {% assign property_size = item.properties | size %}
              {% if property_size > 0 %}
                {% for p in item.properties %}
                  {% unless p.last == blank %}
                    {{ p.first }}:

                    {% comment %}
                      Check if there was an uploaded file associated
                    {% endcomment %}
                    {% if p.last contains '/uploads/' %}
                      <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                    {% else %}
                      {{ p.last }}
                    {% endif %}

                    <br>
                  {% endunless %}
                {% endfor %}
              {% endif %}

              <a href="/cart/change?line={{ item.id }}&amp;quantity=0" class="cart__remove">
                <span class="remove">{{ 'cart.general.remove' | t }}</span>
              </a>
            </td>
            <td data-label="{{ 'cart.label.price' | t }}">
              <span class="cart-price">
                {{ item.price | money }}
              </span>
            </td>
            <td data-label="{{ 'cart.label.quantity' | t }}">
              <input type="number" name="updates[]" id="updates_{{ item.id }}" {{ bold_qty_attr }} value="{{ item.quantity }}" min="0">
            </td>
            <td data-label="{{ 'cart.label.total' | t }}" class="text-right">
              <span class="cart-price">
                {{ item.line_price | money }}
              </span>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="grid cart__row">
      {% comment %}
      {% if settings.cart_notes_enable %}
        <div class="grid__item one-half small--one-whole">
          <label for="CartSpecialInstructions">Special instructions:</label>
          <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ cart.note }}</textarea>
        </div>
      {% endif %}
       {% endcomment %}
      <div class="grid__item text-right{% if settings.cart_notes_enable %} one-whole small--one-whole{% endif %}">
        <p>
          <span class="cart__subtotal-title">{{ 'cart.general.subtotal' | t }}</span>
          <span class="h3 cart__subtotal">{{ cart.total_without_shipping_and_tax | money }}</span>
        </p>
        <p><em>{{ 'cart.general.shipping_at_checkout' | t }}</em></p>

        <p style="float: none; text-align: right; clear: both; margin: 10px 0;">
          <input style="float:none; vertical-align: middle;" type="checkbox" id="agree" onchange="return agree_change();" />
          <label style="display:inline; float:none" for="agree">
            I understand the <a href="/pages/return-policy" style="color:#e46f8e">New Return Policy (effective October 26, 2017)</a>.
          </label>
        </p>

        <input type="submit" name="update" class="btn--secondary update-cart" value="{{ 'cart.general.update' | t }}">
        <!-- <input type="submit" name="checkout" class="btn checkout" value="{{ 'cart.general.checkout' | t }}"> -->
        {% if customer %}
          <input type="button" name="checkout" onclick="if ($('#agree').is(':checked')) {window.location='/account'; }" class="btn checkout" value="{{ 'cart.general.checkout' | t }}">
        {% else %}
          <input type="button" name="checkout" onclick="if ($('#agree').is(':checked')) {window.location='/checkout'; }" class="btn checkout" value="{{ 'cart.general.checkout' | t }}">
        {% endif %}
        {% if additional_checkout_buttons %}
        <p text-right>
          <div class="additional_checkout_buttons on-cart-page">{{ content_for_additional_checkout_buttons }}</div></p>
        {% endif %}
      </div>
    </div>

  </form>


{% else %}
  {% comment %}
    The cart is empty
  {% endcomment %}
  <h1 class="text-center">Your Bag</h1>
  <h2 class="cart-note">Your bag is currently empty.</h2>
  <h2 class="cart-note"><a href="/collections/new-arrivals">Get to Shopping!</a></h2>
{% endif %}
</div>
<section class="cross-sell-wrapper">
{% include 'cross-sell' %}

</section>


<script>
$(window).load(function(){


$('.js-qty__adjust--minus').on('click',function(){

  $('[name="update"]').trigger("click");
});

$('.js-qty__adjust--plus').on('click',function(){

  $('[name="update"]').trigger("click");
} );
$('[name^="updates"]').on('change',function(){

  $('[name="update"]').trigger("click");
} );
});

</script>
