<!-- /templates/collection.liquid -->


{% paginate collection.products by 24 %}

<div class="grid">
   <div class="grid__item large--one-fifth">
    {% include 'collection-sidebar' %}
  </div>

  <div class="grid__item large--four-fifths">


      <header class="section-header">
        <h1 class="section-header__title section-header__left medium-down--hide">
        {{ collection.title }}</h1>
      </header>

      {% unless collection.description == blank %}
          <div class="collection-description">
            {{ collection.description }}
          </div>
        {% endunless %}

    <div class="grid-uniform">

      {% for product in collection.products %}
        {% include 'bold-product' with product, hide_action: 'skip' %}
        {% include 'product-grid-item' %}

      {% endfor %}


      {% if collection.products.size == 0 %}
          {% if collection.handle == 'all' and current_tags == '' %}

            {% unless emptyState %}
              {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
              {% assign emptyState = true %}
            {% endunless %}
            {% include 'onboarding-empty-collection' %}

          {% else %}


            <div class="grid__item">
              <div class="no-match-message">
                <p style="font-size: 20px; font-weight: bold;">Sorry. There are currently no products in the {{ collection.title }} collection, but take a look at some of our new arrivals.</p>
              </div>
            </div>
              <div class="grid__item">
                <header class="section-header related text-center">
                  <img class="muleftside" src="{{ 'partarrow_blue_left.png' | asset_url }}" />
                  <span class="section-header__title">New Arrivals</span>
                  <img class="murightside" src="{{ 'partarrow_blue_right.png' | asset_url }}" />
                </header>
              </div>




              {% for product in collections.new-arrivals.products | limit: 8 %}
        {% include 'bold-product' with product, hide_action: 'skip' %}

          {% include 'product-grid-item' %}

              {% endfor %}
          {% endif %}
      {% endif %}
    </div>



  </div>
  <div class="grid-full">
    {% if paginate.pages > 1 %}

      <div class="pagination">
        {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
      </div>
      <div class="productNo text-center">
        {% assign current_first_item = paginate.current_offset | plus:1 %}
        {% if paginate.pages == paginate.current_page %}
        {% assign current_displayed = paginate.items | modulo:paginate.page_size %}
        {% assign current_last_item = paginate.items %}
        {% else %}
        {% assign current_displayed = paginate.page_size %}
        {% assign current_last_item = paginate.current_offset | plus:paginate.page_size %}
        {% endif %}

        You are viewing {{ current_last_item | minus: current_displayed | plus: 1 }}-{{ current_last_item }} of {{ paginate.items }} products.
      </div>
    {% endif %}
  </div>

</div>

{% endpaginate %}
