{% layout 'theme.home' %}
<!-- /templates/index.liquid -->
{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
    {% endcomment %}
    <div class="du-full-width-home">
      <section class="homehero">
        <div class="grid--full">
          <a href="{{ collections[settings.homehero_collection].url }}">
            <img class="homeheroimg" src="{{'homepage_hero.jpg' | asset_url }}" />
          </a>
        </div>
      </section>

      <section class="home-seasonal-promos">
        <div class="grid--full">
          <div class="grid__item large--one-half">
            <div class="collection-feature feature-a">
              <a href="{{ settings.seasonalpromo_a.url }}">
                <img class="" src="{{ 'home_seasonalpromoimage_a.jpg' | asset_url }}" />
              </a>
            </div>
          </div>

          <div class="grid__item large--one-half">
            <div class="collection-feature feature-b">
              <a href="{{ settings.seasonalpromo_b.url }}">
                <img class="" src="{{'home_seasonalpromoimage_b.jpg' | asset_url }}" />
              </a>
            </div>
          </div>
        </div>
      </section>

      <section class="home-featured-collections">

        <div class="grid">
          <div class="grid__item large--one-third medium--one-half">
            <div class="collection-feature feature-a">
              <div class="burlap" style="background-image: url('{{ 'burlap.jpg' | asset_url }}')"></div>
              <a href="{{ settings.featuredcollection_url_a }}">
                <img class="" src="{{ 'home_collectionimage_a.jpg' | asset_url }}" />
                <div class="featured-collection-title">{{ settings.featuredcollection_title_a }}</div>

              </a>
            </div>
          </div>

          <div class="grid__item large--one-third medium--one-half">
            <div class="collection-feature feature-b">
             <div class="burlap" style="background-image: url('{{ 'burlap.jpg' | asset_url }}')"></div>
             <a href="{{ settings.featuredcollection_url_b }}">
              <img class="" src="{{'home_collectionimage_b.jpg' | asset_url }}" />
              <div class="featured-collection-title">{{ settings.featuredcollection_title_b }}</div>
            </a>
          </div>
          </div>

        <div class="grid__item large--one-third medium--one-half">
          <div class="collection-feature feature-c">
            <div class="burlap" style="background-image: url('{{ 'burlap.jpg' | asset_url }}')"></div>
            <a href="{{ settings.featuredcollection_url_c }}">
            <img class="" src="{{'home_collectionimage_c.jpg' | asset_url }}" />
            <div class="featured-collection-title">{{ settings.featuredcollection_title_c }}</div>
            </a>
          </div>
        </div>

      <div class="grid__item large--one-third medium--one-half">
        <div class="collection-feature feature-d">
        <div class="burlap" style="background-image: url('{{ 'burlap.jpg' | asset_url }}')"></div>
         <a href="{{ settings.featuredcollection_url_d }}">
          <img class="" src="{{'home_collectionimage_d.jpg' | asset_url }}" />
          <div class="featured-collection-title">{{ settings.featuredcollection_title_d }}</div>
        </a>
      </div>
    </div>

    <div class="grid__item large--one-third medium--one-half">
      <div class="collection-feature feature-e">
        <div class="burlap" style="background-image: url('{{ 'burlap.jpg' | asset_url }}')"></div>
        <a href="{{ settings.featuredcollection_url_e }}">
          <img class="" src="{{'home_collectionimage_e.jpg' | asset_url }}" />
          <div class="featured-collection-title">{{ settings.featuredcollection_title_e }}</div>
        </a>
      </div>
    </div>

    <div class="grid__item large--one-third medium--one-half">
      <div class="collection-feature feature-f">
       <div class="burlap" style="background-image: url('{{ 'burlap.jpg' | asset_url }}')"></div>
       <a href="{{ settings.featuredcollection_url_f }}">
        <img class="" src="{{'home_collectionimage_f.jpg' | asset_url }}" />
        <div class="featured-collection-title">{{ settings.featuredcollection_title_f }}</div>
      </a>
    </div>
  </div>

</div>
</section>



<section class="home-new-arrivals">

    <div class="grid--uniform">

            <div class="home-new-arrival home-product-a">
                {% for product in collections[settings.newarrival_collection_a].products limit: 1 %}
                    {% include 'product-grid-item' %}
                {% endfor %}
            </div>

            <div class="home-new-arrival home-product-b">
                {% for product in collections[settings.newarrival_collection_b].products limit: 1 %}
                    {% include 'product-grid-item' %}
                {% endfor %}
            </div>

            <div class="home-new-arrival home-product-c">
                {% for product in collections[settings.newarrival_collection_c].products limit: 1 %}
                    {% include 'product-grid-item' %}
                {% endfor %}
            </div>

            <div class="home-new-arrival home-product-d">
                {% for product in collections[settings.newarrival_collection_d].products limit: 1 %}
                    {% include 'product-grid-item' %}
                {% endfor %}
            </div>

    </div>
</section>

<section>
  <div class="grid">
    <div class="grid__item large--one-third push--large--one-third">
      <div class="home-new-arrivals-button">
      Shop New Arrivals

      </div>
    </div>
  </div>
</section>

<section>
  <div class="grid">
    <div class="grid__item">
      <div class="home-blog-wrapper">
        <div class="home-blog-header">
          <div class="blog-arrow-left">
            <img class="" src="{{ 'blogarrowleft.png' | asset_url }}" />
          </div>
          <div class="blog-title">
          from the blog
          </div>
          <div class="blog-arrow-right">
            <img class="" src="{{ 'blogarrowright.png' | asset_url }}" />
          </div>

        </div>
        <div class="home-blog-logo">
          <img class="" src="{{ 'logotype_stephaniestyle.png' | asset_url }}" />
        </div>
        <div class="home-blog-content">
          <h2>{{ settings.homepage_blog_title    }}</h2>
          <p>{{ settings.homepage_blog_excerpt }}</p>
          <a href="http://blog.glamourfarms.com" target="_blank">
          <div class="home-blog-button">
            visit the blog
          </div>
          </a>

        </div>
      </div>
    </div>
  </div>
</section>




</div>


{% comment %}<script>

var instaMod = document.querySelector("div.l2h-photo-modal");
instaMod.style.margin = "auto";

</script>{% endcomment %}

{% comment %}<script type="text/javascript">

// —  QT  —----------------  //
  
  $( "ul.site-nav li:nth-child(1)" ).addClass ("arrivesHovarState");
  $( "ul.site-nav li:nth-child(2)" ).addClass ("dressesHovarState");
  $( "ul.site-nav li:nth-child(3)" ).addClass ("clothesHovarState");
  $( "ul.site-nav li:nth-child(4)" ).addClass ("accHovarState");
  $( "ul.site-nav li:nth-child(5)" ).addClass ("locationHovarState");
  $( "ul.site-nav li:nth-child(6)" ).addClass ("aboutHovarState");
  
  
  $( "ul.sideBarnav li:nth-child(1)" ).addClass ("arrivesnav");
  $( "ul.sideBarnav li:nth-child(2)" ).addClass ("dressesnav");
  $( "ul.sideBarnav li:nth-child(3)" ).addClass ("topnav");
  $( "ul.sideBarnav li:nth-child(4)" ).addClass ("bottomnav");
  $( "ul.sideBarnav li:nth-child(5)" ).addClass ("rompersnav");
  $( "ul.sideBarnav li:nth-child(6)" ).addClass ("setnav");
  $( "ul.sideBarnav li:nth-child(7)" ).addClass ("accessoriesnav");


</script>{% endcomment %}