{% layout 'theme.home' %}
<!-- /templates/index.liquid -->
{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
    {% endcomment %}
    <div class="du-full-width-home">
      <section class="homehero">
      <div data="scmBannerSlider" data-id="4178" style="display: none;"></div>
       {% comment %} <div class="grid--full">
          <a href="{{ collections[settings.homehero_collection].url }}">
            <img class="homeheroimg" src="{{'homepage_hero.jpg' | asset_url }}" />
          </a>
        </div>{% endcomment %}
      </section>

      <section class="home-seasonal-wrapper">
      <div class="home-seasonal-promos-one">
        <div class="grid--full">
          <div class="grid__item large--one-half">
            <div class="seasonal-promo-one feature-a">
              <a href="{{ collections[settings.seasonalpromo_a].url }}">
                <img class="" src="{{ 'home_seasonalpromoimage_a2.jpg' | asset_url }}" />
              </a>
            </div>
          </div>

          <div class="grid__item large--one-half">
            <div class="seasonal-promo-one feature-b">
              <a href="{{ collections[settings.seasonalpromo_b].url }}">
                <img class="" src="{{'home_seasonalpromoimage_b2.jpg' | asset_url }}" />
           {% comment %}       settings: {{ settings.featured_promotion }}{% endcomment %}
              </a>
            </div>
          </div>
        </div>
        </div>
      </section>

{% if settings.featured_promotion == 'seasonal' %}
    <section class="home-seasonal-wrapper-two">
      <div class="home-seasonal-promos-two">
        <div class="grid--full">

          <div class="grid__item large--one-half">
            <div class="seasonal-feature-two feature-a">
              <a href="{{ settings.seasonalpromob_url_a }}">
                <img class="" src="{{ 'home_seasonalpromobimage_a2.jpg' | asset_url }}" />
              </a>
            </div>
          </div>

          <div class="grid__item large--one-half">
            <div class="seasonal-feature-two feature-b">
              <a href="{{ settings.seasonalpromob_url_b }}">
                <img class="" src="{{ 'home_seasonalpromobimage_b2.jpg' | asset_url }}" />
              </a>
            </div>
              <div class="seasonal-feature-two feature-c">
              <a href="{{ settings.seasonalpromob_url_c }}">
                <img class="" src="{{'home_seasonalpromobimage_c2.jpg' | asset_url }}" />
              </a>
            </div>
          </div>

        </div>
        </div>
      </section>
{% endif %}

{% if settings.featured_promotion == 'collection' %}
        <section class="home-featured-wrapper">
        <div class="home-featured-collections">
        <div class="grid">
          <div class="grid__item large--one-third medium--one-half">
            <div class="collection-feature feature-a">
              <div class="burlap" style="background-image: url('{{ 'burlap.jpg' | asset_url }}')"></div>
              <a href="{{ settings.featuredcollection_url_a }}">
                <img class="" src="{{ 'home_collectionimage_a.jpg' | asset_url }}" />
                <div class="featured-collection-title">{{ settings.featuredcollection_title_a }}</div>

              </a>
            </div>
          </div>

          <div class="grid__item large--one-third medium--one-half">
            <div class="collection-feature feature-b">
             <div class="burlap" style="background-image: url('{{ 'burlap.jpg' | asset_url }}')"></div>
             <a href="{{ settings.featuredcollection_url_b }}">
              <img class="" src="{{'home_collectionimage_b.jpg' | asset_url }}" />
              <div class="featured-collection-title">{{ settings.featuredcollection_title_b }}</div>
            </a>
          </div>
          </div>

        <div class="grid__item large--one-third medium--one-half">
          <div class="collection-feature feature-c">
            <div class="burlap" style="background-image: url('{{ 'burlap.jpg' | asset_url }}')"></div>
            <a href="{{ settings.featuredcollection_url_c }}">
            <img class="" src="{{'home_collectionimage_c.jpg' | asset_url }}" />
            <div class="featured-collection-title">{{ settings.featuredcollection_title_c }}</div>
            </a>
          </div>
        </div>

      <div class="grid__item large--one-third medium--one-half">
        <div class="collection-feature feature-d">
        <div class="burlap" style="background-image: url('{{ 'burlap.jpg' | asset_url }}')"></div>
         <a href="{{ settings.featuredcollection_url_d }}">
          <img class="" src="{{'home_collectionimage_d.jpg' | asset_url }}" />
          <div class="featured-collection-title">{{ settings.featuredcollection_title_d }}</div>
        </a>
      </div>
    </div>

    <div class="grid__item large--one-third medium--one-half">
      <div class="collection-feature feature-e">
        <div class="burlap" style="background-image: url('{{ 'burlap.jpg' | asset_url }}')"></div>
        <a href="{{ settings.featuredcollection_url_e }}">
          <img class="" src="{{'home_collectionimage_e.jpg' | asset_url }}" />
          <div class="featured-collection-title">{{ settings.featuredcollection_title_e }}</div>
        </a>
      </div>
    </div>

    <div class="grid__item large--one-third medium--one-half">
      <div class="collection-feature feature-f">
       <div class="burlap" style="background-image: url('{{ 'burlap.jpg' | asset_url }}')"></div>
       <a href="{{ settings.featuredcollection_url_f }}">
        <img class="" src="{{'home_collectionimage_f.jpg' | asset_url }}" />
        <div class="featured-collection-title">{{ settings.featuredcollection_title_f }}</div>
      </a>
    </div>
  </div>

</div>
</div>
</section>
{% endif %}


<section class="home-new-arrivals">

    <div class="grid">

            <div class="home-new-arrival home-product-a">
                {% for product in collections[settings.newarrival_collection_a].products limit: 2 %}
                    {% include 'product-grid-item' %}
                {% endfor %}
            </div>

            <div class="home-new-arrival home-product-b">
                {% for product in collections[settings.newarrival_collection_b].products limit: 2 %}
                    {% include 'product-grid-item' %}
                {% endfor %}
            </div>

            <div class="home-new-arrival home-product-c">
                {% for product in collections[settings.newarrival_collection_c].products limit: 2 %}
                    {% include 'product-grid-item' %}
                {% endfor %}
            </div>

            <div class="home-new-arrival home-product-d">
                {% for product in collections[settings.newarrival_collection_d].products limit: 2 %}
                    {% include 'product-grid-item' %}
                {% endfor %}
            </div>

    </div>
</section>
<div style="clear:both"></div>
<section class="home-new-arrivals-button-wrapper">
  <div class="grid">
    <div class="grid__item large--one-third push--large--one-third">
      <a href="/collections/new-arrivals">
      <div class="home-new-arrivals-button">
      Shop New Arrivals

      </div>
      </a>
    </div>
  </div>
</section>

<section>
  <div class="grid">
    <div class="grid__item">
      <div class="home-blog-wrapper">
        <div class="home-blog-header">
          <div class="blog-arrow-left">
            <img class="" src="{{ 'blogarrowleft.png' | asset_url }}" />
          </div>
          <div class="blog-title">
          from the blog
          </div>
          <div class="blog-arrow-right">
            <img class="" src="{{ 'blogarrowright.png' | asset_url }}" />
          </div>

        </div>
        <div class="home-blog-logo">
          <img class="" src="{{ 'logotype_stephaniestyle.png' | asset_url }}" />
        </div>
        <div class="home-blog-content">
          <h2><a href="http://blog.glamourfarms.com" target="_blank">{{ settings.homepage_blog_title }}</a></h2>
          <p>{{ settings.homepage_blog_excerpt }}</p>
          <a href="http://blog.glamourfarms.com" target="_blank">
          <div class="home-blog-button">
            visit the blog
          </div>
          </a>

        </div>
      </div>
    </div>
  </div>
</section>




</div>
