<!-- /templates/page.dropdowns.liquid -->



	<div style="margin-top:30px">
  	{% include 'dropdown_accessories'  %}
</div>

	<div style="margin-top:30px">
    {% include 'dropdown_dresses' %}
</div>

	<div style="margin-top:30px">
  	{% include 'dropdown_clothes'  %}
 </div>

 	<div style="margin-top:30px">
  	{% include 'dropdown_locations'  %}
 </div>



