{% comment %}page for development{% endcomment %}


<div class="grid">

  <div class="grid__item">

    <h1>{{ page.title }}</h1>
    <div class="rte" style="margin-bottom:50px;">

      {{ page.content }}

    </div>
    <div style="margin-bottom:50px;">
      {% include 'dropdown_bottoms' %}
    </div>
    <div style="margin-bottom:50px;">
      {% include 'dropdown_footwear' %}
    </div>
    <div style="margin-bottom:50px;">
      {% include 'dropdown_dresses' %}
    </div>
    <div style="margin-bottom:50px;">
      {% include 'dropdown_accessories' %}
    </div>
    <div style="margin-bottom:50px;">
     {% include 'dropdown_tops' %}
   </div>
   <div style="margin-bottom:50px;">
    {% include 'dropdown_curvy' %}
  </div>
  <div style="margin-bottom:50px;">
   {% include 'dropdown_basics' %}
  </div>












    {% comment %}
      Regular page content goes here.
      {% endcomment %}



    </div>

  </div>
