<!-- /templates/page.about.liquid -->
{% layout 'theme.home' %}
<section class="about-hero" style="background-image: url('{{ 'abouthero.jpg' | asset_url }}');">
	{% comment %}<img class="" src="{{ 'abouthero.jpg' | asset_url }}">{% endcomment %}
</section>
<section class="copyblok white">
	<div class="grid--full">
		<div class="grid__item large--four-eighths push--large--two-eighths">
		<h1 class="text-center">Our Story</h1>
		<p><strong>At the  core of the  company, Dress Up has one main mission</strong> - to show the love of Christ and to help women realize their worth. Our brand strives to make sure that each woman walking through the doors leaves feeling more confident and loved than they did walking in.
		</p>
		<p class="text-center">
			<img class="lovepeople" src="{{ 'tagline_lovepeople.png' | asset_url }}">
		</p>
		</div>
	</div>
</section>
<section class="full-width-photo">
	<img class="dandd" src="{{ 'derrickanddanielle_instorelg.jpg' | asset_url }}">
</section>
<section class="copyblok pink">
	<div class="grid--full">
		<div class="grid__item large--four-eighths push--large--two-eighths">
		<p><strong>Dress Up all started with a simple visit to the mall.</strong> Derrick and Danielle Case were walking through your average local mall with Danielle’s sisters, and were exhausted after browsing through endless stores that all had the same premise — overpriced clothing that lacked style and the items were the same month after month. Danielle walked out of the final store and told Derrick, &#8220;This is ridiculous, we should open our own store. We should offer new styles every week, make it affordable and on trend.&#8221; </p>
		<p>That idea lead to inception of the first Dress Up storefront in Dahlonega, GA in August 2009, just five weeks after that trip to the mall. </p>
		</div>
	</div>
</section>
<section class="double-photo-full">
	<div class="grid--full">
		<div class="grid__item large--one-half">
			<img src="{{ 'duabout_fashion_couple.jpg' | asset_url }}">
		</div>
		<div class="grid__item large--one-half">
			<img src="{{ 'duabout_fashion_single.jpg' | asset_url }}">
		</div>
	</div>
</section>
<section class="copyblok white">
	<div class="grid--full">
		<div class="grid__item large--four-eighths push--large--two-eighths">
			<p><strong>Over the years, Dress Up’s heart has never changed</strong> — to keep changing the world, one dress at a time. Our goal is to make every experience just that; an experience, not just &#8220;shopping&#8221;. Whether that’s online or in store, we hope you enjoy the &#8220;Dress Up touch&#8221; while shopping with us.</p>
		</div>
		<div class="grid__item text-center about-photo">
			<img class="" src="{{ 'duabout_childrenwork.jpg' | asset_url }}">
			<p class="footnote">(left)Future Dress Up CEOs, Hudson + Houston Case</p>
		</div>
	</div>
</section>
<section class="copyblok pink bottom">
	<div class="grid-full">
		<div class="grid__item large--four-eighths push--large--two-eighths">
		<p><strong>We opened our first Dress Up storefront in Dahlonega, GA in August 2009</strong>. Just a little over a year after the inaugural storefront, the brand had built a loyal following of locals, who were excited and desired further expansion. </p>
		<p>In November 2010, the second Dress Up location opened 30 miles down the road in Gainesville, GA. The second store was a tremendous success, so we kept going… </p>
		<p>In 2011, two stores were opened, one in Suwanee, GA and one in Woodstock. </p>
		<p> In 2012, Dress Up expanded to Alpharetta and launched online shopping through ShopDressUp.com. 
In 2013 Dress Up doubled in size with opening 5 additional locations across GA - Norcross, Brookhaven, Snellville, Perimeter and Marietta.  </p>
<p>
In 2015, Dress Up expanded to Cumming and Athens, GA and the first out of state location in Greenville, SC. By the end of 2016 we will have added two stores to the Nashville, TN area as well as Auburn, AL.  </p>
		
		</div>
	</div>
</section>


