<!-- /templates/page.test.liquid -->
<div class="grid">

  <div class="grid__item large--two-thirds push--large--one-sixth">

    <h1>{{ page.title }}</h1>
 
 <br/>1. {{ settings['featuredcollection_a'] }}                   
<br/>2. {{ settings.featuredcollection_a }}                       
<br/>3. {{ collections['accessories-test'].url }}                 
<br/>4. {{ collections.accessories-test.url }}                    
<br/>5. {{ collections[settings.featuredcollection_a].url }}    

{% assign collection_a = settings['featuredcollection_a'] %}

<br/>6. {{ collections[collection_a].url }} 

    {% include 'dropdown_dresses' %}

  
    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    {% if settings.dropdown_bg_dresses != '' %}
     	<img src="{{ 'dropdown_bg_dresses.jpg' | asset_url }}" />
     {% endif %}
    <div class="rte">
     
      {{ page.content }}
        {% include 'product-quick-view' %}
    </div>

  </div>

</div>
