{% layout none %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <meta property="og:title" content="Glamour Farms Boutique" />
  <meta property="og:type" content="website"  />
  <meta property="og:description" content="" />
  <meta property="og:url" content="http://glamourfarms.com" />
  <meta property="og:image" content="{{ 'ogp.jpg' | asset_url }}" />
  <meta property="og:image:secure_url" content="{{ 'ogp.jpg' | asset_url }}" />
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:image:width" content="400" />
  <meta property="og:image:height" content="300" />
  <title>Please Log In</title>
  <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}" type="image/png" />

  {{ 'style.css' | asset_url | stylesheet_tag }}
  
</head>
<body>
<div class="password-body" style="background-color: white; background-image: url('{{ 'passwordbg.jpg' | asset_url }}'); background-size:cover; background-repeat: no-repeat; background-position: center top;">

<div class="password-blok-wrapper">
<div class="grid">
  <div class="grid__item large--one-half medium-down--one-whole">
  <div id='container' class="password-blok">
    <div id='login'>
      <div>
        <h1>{{ shop.name }}</h1>
        {% if shop.password_message and shop.password_message != '' %}
          {{ shop.password_message }}
        {% else %}
          <p><span class="default-text">Coming soon...</span></p>
        {% endif %}
      </div>
      {% form 'storefront_password' %}
        {{ form.errors | default_errors }}
        <label for='password'>Enter store using password: </label>
        <input type='password' name='password' id='password' autofocus />
        <div class="password-actions actions">
          <input class="btn btn-password" name="commit" type="submit" value="Enter" />
        </div>
      {% endform %}
    </div>

  </div>
</div>
</div>
</div>
</div>
  <script type="text/javascript">
    document.getElementById('password').focus();
  </script>

</body>
</html>
