{% include 'bold-product' with product, hide_action: 'break' %}{% if bold_hidden_product %}{% break %}{% endif %}
<!-- /templates/product.liquid -->
{% comment %}

    Rich snippets (itemscope, itemtype, etc.) for products are a theme requirement,
    and allow search engines to easily understand what the content is.

    For more information on these Scheme.org tags, visit:
    - http://schema.org/docs/gs.html

{% endcomment %}
{% assign on_sale = false %}
{% if bold_compare_at_price > bold_price %}
  {% assign on_sale = true %}
{% endif %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

<section id="development-guide" class="devguide">
    <div itemscope itemtype="http://schema.org/Product">

        <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
        <meta itemprop="image" content="{{ product.featured_image.src | img_url: '600x' }}">

        {% comment %}
            Get first variant, or deep linked one
        {% endcomment %}
        {% assign current_variant = bold_selected_or_first_available_variant %}

        <div class="product-detail-display-wrapper">
            <div class="grid product-single grid--center">
    {% comment %}for display on mobile{% endcomment %}
                <div class="grid__item medium--one-half small--one-half large--hide">
                    {% if collection %}
                    {% if collection.previous_product %}
                    {% if collection.previous_product %}
                    <span class="left">
                        <a href="{{ collection.previous_product }}">
                          <div class="arrownext arrowleft">
                          </div>
                      </a>
                  </span>
                  {% endif %}
                  {% endif %}
                  {% endif %}
              </div>

              <div class="grid__item medium--one-half small--one-half large--hide">
                {% if collection %}
                {% if collection.next_product %}
                {% if collection.next_product %}
                <span class="right">
                  <a href="{{ collection.next_product }}">
                    <div class="arrownext arrowright">
                    </div>
                </a>
            </span>
            {% endif %}

            {% endif %}
            {% endif %}


                </div>
                <div class="grid__item medium--one-whole large--hide">
                <h1 class="h1-mobile" itemprop="name">{{ product.title }}</h1>

                </div>
                {% comment %}// ---------------------------------------------------------------- //{% endcomment %}
                <div class="grid__item large--one-twelfth medium--one-twelfth medium--hide small--hide">
                    {% if collection %}
                        {% if collection.previous_product %}
                            {% if collection.previous_product %}
                                <span class="left">
                    <a href="{{ collection.previous_product }}">
                      <div class="arrownext arrowleft">
                      </div>
                    </a>
                  </span>
                            {% endif %}

                        {% endif %}
                    {% endif %}
                </div>
                {% comment %}// ---------------------------------------------------------------- //{% endcomment %}

                <div class="grid__item large--five-twelfths medium--one-whole">
                    <div class="product-photos">

                        <div class="grid">
                            <div class="grid__item large--ten-twelfths text-center trigger-900">


                                <div class="product-single__photos" id="ProductPhoto">
                                {% if on_sale %}
                                  <div class="sale-flag-wrapper large-photo">
                                  Sale
                                  </div>
                                {% endif %}
                                {% if sold_out %}
                                  <div class="sold-out-wrapper large-photo">
                                  Sold Out
                                  </div>

                                {% endif %}
                                    {% if product.images.size == 0 %}
                                        <!-- If the product has no image, display custom placeholder -->
                                        <img src="{{ 'gf-no-image.png' | asset_url }}">
                                    {% else %}

                                        <!-- Your normal code to display the product image goes here -->


                                        {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
                                        <img class="cloudzoom" src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg" data-cloudzoom="zoomImage: '{{ featured_image | img_url: '800x' }}', zoomPosition: 'inside', zoomOffsetX:0, zoomOffsetY:0 ">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="grid__item large--two-twelfths trigger-900">
                                {% comment %}
                                    Create thumbnails if we have more than one product image
                                {% endcomment %}
                                {% if product.images.size > 1 %}
                                    <ul class="product-single__thumbnails grid-uniform" id="ProductThumbs">

                                        {% for image in product.images %}
                                            <li class="grid__item">
                                                <a href="#!" data-href="{{ image.src | img_url: '1024x1024' }}"
                                                   class="product-single__thumbnail cloudzoom-gallery"
                                                   data-cloudzoom="useZoom: '#ProductPhotoImg', image: '{{ image.src | img_url: '800x' }}', zoomImage: '{{ image.src | img_url: '1024x1024' }}'">
                                                    <img src="{{ image.src | img_url: '50x' }}"
                                                         alt="{{ image.alt | escape }}">
                                                </a>
                                            </li>
                                        {% endfor %}

                                    </ul>
                                {% endif %}
                            </div>
                        </div>

                    </div>


                </div>

                {% comment %}// ---------------------------------------------------------------- //{% endcomment %}

                <div class="grid__item large--five-twelfths medium--one-whole small--text-center">
                    <div class="product-info">

                        <h1 class="small--hide medium--hide" itemprop="name">{{ product.title }}</h1>


                        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

                            <meta itemprop="priceCurrency" content="{{ shop.currency }}">

                            <div class="product-price-wrapper">

                                {% if bold_compare_at_price_max > bold_price and product.type != 'giftcard' %}
                                    <span class="compareto-price">{{ bold_compare_at_price | money }}</span>
                                {% endif %}

                                <span id="ProductPrice" class="product-price" itemprop="price"
                                      content="{{ current_variant.price | divided_by: 100 }}">
                                  {{ current_variant.price | money }}
                                </span>
                            </div>

                            {% comment %}MU - Note for items left if under 5{% endcomment %}
                            <div class="product-inventoryleft">
                                {% assign total_qty = 0 %}
                                {% for variant in product.variants %}
                                    {% include 'bold-hidden-variants' with variant, bold_loop: 'loop' %}

                                    {% assign total_qty = total_qty | plus: variant.inventory_quantity %}
                                {% endfor %}
                                {% if total_qty >0 and total_qty < 6 %}
                                    Only {{ total_qty }} left!
                                {% endif %}
                                {% if total_qty == 0 %}
                                    <span class="soldout">Sold Out</span>
                                {% endif %}
                            </div>
                          <div class="also-message">
                              {% if product.tags contains "sale-curvy" or product.tags contains "SALE-CURVY" or product.tags contains "sale-missy" or product.tags contains "SALE-MISSY" or product.tags contains "sale-footwear" or product.tags contains "SALE-FOOTWEAR"%}
                                <p>Final sale.</p>
                              {%endif%}
                            </div>


                            <link itemprop="availability"
                                  href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

                            {% comment %}
                                ID addToCartForm is a selector for the ajax cart plugin
                            {% endcomment %}
                            <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm"
                                  class="form-vertical">
                                <input type='hidden' id="frmloc" name='frmloc' value="main"/>
                                <div class="product-variant-selector-wrapper">
                                    <label for="single-option-radio" class="single-option-radio__label">{% if product.type == 'giftcard' %} Amount {% else %} Size {% endif %}</label>
                                    <select name="id" id="productSelect" class="product-single__variants">
                                        {% for variant in product.variants %}
                                            {% include 'bold-hidden-variants' with variant, bold_loop: 'loop' %}
                                            {% if variant.available %}
                                                {% comment %}
                                                    using new variant js file
                                                {% endcomment %}
                                                <option data-id="{{ variant.id }}" {% if variant == bold_selected_or_first_available_variant %}
                                                    selected="selected" {% endif %} data-sku="{{ variant.sku }}"
                                                    value="{{ variant.id }}">{{ variant.title }}</option>

                                            {% else %}
                                                <option data-id="{{ variant.id }}" value="{{ variant.id }}">
                                                    {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>

                                </div>
                                {% unless qb_loaded == 'true' %}
                                    <div id="shappify-qty-msg"></div>
                                    {% assign qb_loaded = 'true' %}
                                {% endunless %}

                                <div class="product-quantity-wrapper">
                                    <label for="Quantity" class="quantity-selector">Qty</label>
                                    <input type="number" id="Quantity" name="quantity" value="1" min="1"
                                           class="quantity-selector">
                                </div>


                                <div class="also-message">
                                    {% for tag in product.tags %}
                                        {% if tag == "also-curvy" %}
                                            <p>Also available in Curvy fit.</p>
                                        {% endif %}
                                        {% if tag == "also-contemporary" %}
                                            <p>Also available in Contemporary fit.</p>
                                        {% endif %}
                                        {% if tag == "also-missy" %}
                                            <p>Also available in Missy fit.</p>
                                        {% endif %}
                                        {% if tag == "also-curvycontemporary" %}
                                            <p>Also available in Curvy Contemporary fit.</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                                <div class="product-addtocart-wrapper">
                                    <button type="submit" name="add" id="AddToCart" class="btn btn-addtocart">
                                        <span id="AddToCartText">Add to Basket</span>
                                    </button>
                                </div>

                            </form>
                        </div>
                        <div class="product-social-wrapper">
                            <span class="title">Share</span>{% include 'social-sharing' %}

                        </div>

                        {% unless bundle_loaded == 'true' %}
                            {% include 'shappify-bdl-load-bundle' %}
                            {% assign bundle_loaded = 'true' %}
                        {% endunless %}
						{% comment %}
                        <div class="product-inquiry-wrapper">
                            <div class="product-inquiry-trigger">
                                <p>Don't see your size in stock?
                                {% comment %}<span class="inquiry-line-break"> </span>{% endcomment %}
                                <img class="product-inquiry-caret" src="{{ 'icon_arrowdownpurple.png' | asset_url }}"/></p>
                            </div>

                            {% form 'contact' %}
                                <div id="product-inquiry-form" class="form-vertical">
                                    {% include 'product-inquiry-form' %}
                                </div>
                                {% if form.posted_successfully? %}
                                    <p class="note form-success">
                                        Thank you for your note. Our team is on it!
                                    </p>
                                {% endif %}
                            {% endform %}

                            </div>
                      {% endcomment %}
                        </div>


                    <ul id="accord1" class="accordian">
                        <li>
                            <h3 class="accordHeader">Description <span></span></h3>
                            <section>
                                {{ product.description }}
                            </section>
                        </li>
                        {% assign fit = false %}
                        {% for fit in product.tags %}
                            {% if fit contains "fit" %}
                                {% assign fit = true %}
                                {% break %}
                            {% endif %}
                        {% endfor %}
                        {% if fit == true %}
                            <li>
                                <h3 class="accordHeader">About the Fit <span></span></h3>
                                <section>
                                    {% for tag in product.tags %}
                                        {% if tag == "fit-missy" %}
                                            {% include 'fit-missy' %}
                                            {% elsif tag == "fit-contemporary" %}
                                            {% include 'fit-contemporary' %}
                                            {% elsif tag == "fit-curvy" %}
                                            {% include 'fit-curvy' %}
                                            {% elsif tag == "fit-curvycontemporary" %}
                                            {% include 'fit-curvycontemporary' %}
                                        {% endif %}
                                    {% endfor %}
                                </section>
                            </li>
                        {% endif %}
                        {% assign sizechart = false %}
                        {% for fit in product.tags %}
                            {% if fit contains "fit" %}
                                {% assign sizechart = true %}
                                {% break %}
                            {% endif %}
                        {% endfor %}
                        {% if sizechart == true %}
                            <li>
                                <h3 class="table_title">Size Chart<span></span></h3>
                                <section>
                                    {% for tag in product.tags %}
                                        {% if tag == "fit-missy" %}
                                            {% include 'sizechart-missy' %}
                                            {% elsif tag == "fit-contemporary" %}
                                            {% include 'sizechart-contemporary' %}
                                            {% elsif tag == "fit-curvy" %}
                                            {% include 'sizechart-curvy' %}
                                            {% elsif tag == "fit-curvycontemporary" %}
                                            {% include 'sizechart-curvycontemporary' %}
                                        {% endif %}
                                    {% endfor %}
                                </section>
                            </li>
                        {% endif %}
                        {% assign model = false %}
                        {% for model in product.tags %}

                            {% if model contains "model" %}
                                {% assign model = true %}
                                {% break %}
                            {% endif %}
                        {% endfor %}
                        {% if model == true %}
                            <li>
                                <h3 class="accordHeader">About the Model <span></span></h3>
                                <section>
                                    {% for model in product.tags %}
                                        {% if model contains "model" %}
                                            {% if model == 'model-1' %}
                                                {% include 'model-1' %}
                                            {% elsif model == 'model-2' %}
                                                {% include 'model-2' %}
                                            {% elsif model == 'model-alexah' %}
                                                {% include 'model-alexah' %}
                                            {% elsif model == 'model-brittanyb' %}
                                                {% include 'model-brittanyb' %}
                                            {% elsif model == 'model-brittanys' %}
                                                {% include 'model-brittanys' %}
                                            {% elsif model == 'model-cieray' %}
                                                {% include 'model-cieray' %}
                                            {% elsif model == 'model-jennah' %}
                                                {% include 'model-jennah' %}
                                            {% elsif model == 'model-jennz' %}
                                                {% include 'model-jennz' %}
                                            {% elsif model == 'model-juliea' %}
                                                {% include 'model-juliea' %}
                                            {% elsif model == 'model-katelynl' %}
                                                {% include 'model-katelynl' %}
                                            {% elsif model == 'model-kortneys' %}
                                                {% include 'model-kortneys' %}
                                            {% elsif model == 'model-kylarc' %}
                                                {% include 'model-kylarc' %}
                                            {% elsif model == 'model-kyliep' %}
                                                {% include 'model-kyliep' %}
                                            {% elsif model == 'model-maddiec' %}
                                                {% include 'model-maddiec' %}
                                            {% elsif model == 'model-miat' %}
                                                {% include 'model-miat' %}
                                            {% elsif model == 'model-mikaylas' %}
                                                {% include 'model-mikaylas' %}
                                            {% elsif model == 'model-nicole' %}
                                                {% include 'model-nicole' %}
                                            {% elsif model == 'model-rebeccah' %}
                                                {% include 'model-rebeccah' %}
                                            {% elsif model == 'model-sierrag' %}
                                                {% include 'model-sierrag' %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </section>
                            </li>
                        {% endif %}
                        {% assign shipping = false %}
                        {% for tag in product.tags %}
                            {% if tag contains "shipping" %}
                                {% assign shipping = true %}
                                {% break %}
                            {% endif %}
                        {% endfor %}
                        {% if shipping == true %}
                            <li>
                                <h3 class="accordHeader">Shipping &amp; Returns <span></span></h3>
                                <section>
                                    {% for tag in product.tags %}
                                        {% if tag contains "shipping" %}
                                            {% include tag %}
                                        {% endif %}
                                    {% endfor %}
                                </section>
                            </li>
                        {% endif %}

                    </ul>

                </div>

            {% comment %}// ---------------------------------------------------------------- //{% endcomment %}
            <div class="grid__item large--one-twelfth medium--hide small--hide">
                {% if collection %}
                    {% if collection.next_product %}

                        {% if collection.next_product %}
                            <span class="right">
                                              <a href="{{ collection.next_product }}">
                                                <div class="arrownext arrowright">

                                                </div>
                                              </a>
                                            </span>
                        {% endif %}

                    {% endif %}
                {% endif %}


            </div>

        </div>
        <div class="cross-sell-products-wrapper">
            <div class="grid">
                <div class="grid__item large--ten-twelfths push--large--one-twelfth">
            {% include 'cross-sell' %}
            </div>
            </div>
        </div>

        <div class="related-products-wrapper">
            <div class="grid">
                <div class="grid__item large--ten-twelfths push--large--one-twelfth">

                    {% include 'related-products' %}
                </div>
            </div>
        </div>



    </div>


</section>


{{ 'variant_selection.js?v=2' | asset_url | script_tag }}


<script>
    var selectCallback = function (variant, selector) {
        timber.productPage({
            money_format: "{{ shop.money_format }}",
            variant: variant,
            selector: selector,
            translations: {
                addToCart: "Add to my Bag",
                soldOut: {{ 'products.product.sold_out' | t | json }},
                unavailable: {{ 'products.product.unavailable' | t | json }}
            }
        });
    };

    jQuery(function ($) {
        new Shopify.OptionSelectors('productSelect', {
            product: bold_product_json[{{ product.id }}],
            onVariantSelected: selectCallback,
            enableHistoryState: true
        });

        // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
        {% if product.options.size == 1 and product.options.first != 'Title' and product.variants.first.title!='Default' %}
            $('.radio-wrapper:eq(0)').prepend('<label for="ProductSelect-option-0" class="single-option-radio__label">Select size</label>');
        {% endif %}

        // Hide selectors if we only have 1 variant and its title contains 'Default'.
        {% if bold_variants_size == 1 and product.variants.first.title contains 'Default' or product.variants.first.title contains '1+' %}
            //       $('.product-variant-selector-wrapper').hide();
            $('.radio-wrapper').hide();
        {% endif %}
    });
</script>
<script>
    $(".product-inquiry-trigger").click(function () {
        $("#product-inquiry-form").toggle("slow");
    });

    //CHANGE ACCORDIAN
    jQuery("#accord1 li").click(function () {

        if (jQuery(this).find(".accordHeader").hasClass("active")) {
            jQuery(this).find(".accordHeader").removeClass("active");
            jQuery(".accordHeader").each(function () {
                jQuery(this).removeClass("active");
            });
        }
        else {
            jQuery(".accordHeader").each(function () {
                jQuery(this).removeClass("active");
            });
            jQuery(this).find(".accordHeader").addClass("active");
        }
    });

    $.fn.ashCordian = function () {

        var container = $(this);

        //set description active
        container.addClass('active');
        container.find('h3:first').addClass("active");
        container.find('section:first').css('display', 'block');

        container.find('h3').click(function () {
            if (container.hasClass("active")) {
                container.removeClass("active");
            } else {
                container.addClass("active");
            }

            if ($(this).siblings('section').css('display') == 'block') {
                container.find('section').slideUp(200);
            } else {
                container.find('section').slideUp(200);
                $(this).siblings('section').slideDown(200);
            }
        });
    };

    $('#accord1').ashCordian();


</script>

