<!-- /templates/search.liquid -->
<div class="search-wrapper">

    {% assign grid_results = true %}
    {% assign respond_js_secret_key = shop.domain | md5 %}
    {% unless search.terms == respond_js_secret_key %}

        {% paginate search.results by 12 %}

            <div class="grid">
                <div class="grid__item large--two-thirds push--large--one-sixth search-grid-item">
                    {% if search.performed %}
                        {% if search.results_count == 0 %}
                            <h1 class="text-center h1-search-result">
                                {{ 'general.search.no_results_html' | t: terms: search.terms }}</h1>
                        {% else %}
                            <h1 class="text-center h1-search-result">
                                {{ 'general.search.results_for_html' | t: terms: search.terms }}</h1>
                        {% endif %}
                    {% else %}
                        <h1 class="text-center">Search our site</h1>
                    {% endif %}

                    <div class="search-bar-wrapper">
                        {% include 'search-bar' %}
                    </div>
                </div>

                {% if search.performed %}

                  {%assign count = search.results_count%}
                  {%for product in search.results%}
                    {% if product.tags contains "vip" or product.tags contains "VIP" %}
                      {% assign count = count | minus: 1 %}
                    {%endif%}
                  {%endfor%}


                    {% if search.results_count > 0 %}
                    <hr class="hr--clear">

                    <div class="grid__item large--one-fifth">
                        {% include 'search-sidebar' %}
                    </div>

                    <div class="grid__item large--four-fifths">
                    <div class="grid-uniform">


                        {% for product in search.results %}

                            {% if product.tags contains "VIP" or product.tags contains "vip" %}
                              {%else%}
                            {% include 'bold-product' with product, hide_action: 'skip' %}

                            {% comment %}
                                Check if the product is on sale and set a variable to be used below.
                            {% endcomment %}
                            {% assign on_sale = false %}
                            {% if bold_compare_at_price > bold_price %}
                                {% assign on_sale = true %}
                            {% endif %}

                            {% comment %}
                                Check if the product is sold out and set a variable to be used below.
                            {% endcomment %}
                            {% assign sold_out = true %}
                            {% if product.available %}
                                {% assign sold_out = false %}
                            {% endif %}
                            {% include 'product-grid-item' %}
                          {%endif%}

                        {% endfor %}
                    </div>

                    {% if paginate.pages > 1 %}
                        <hr>
                        <div class="pagination">
                            {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
                        </div>
                    {% endif %}
                    {% endif %}

                {% endif %}

                </div>
            </div>

        {% endpaginate %}

    {% else %}
        {% include 'respond' %}
    {% endunless %}
</div>
{% assign count = count | plus: 1 %}
