/************ Custom Codes  *********************/
/*********** Header footer and homepage Section *****************/
#shopify-section-header {
    width: 100%;
    float: left;
}
.site-wrapper {
    padding: 0 30px;
}
.full-wdi {
    width: 100%;
    float: left;
}
.icon.icon-search {
    width: 17px;
    height: 18px;
}
.new-header {
    margin: 0 -65px;
    background: #c7ded4;
    padding: 1px;
}
.top-bar a:hover {
    color: #f16372;
    text-decoration: none;
}
#HeaderLogoWrapper {
    margin: 20px 0;
}
.site-nav__element:first-child {
    border-top: none;
}
.site-nav__element {
    border-bottom: 1px solid #dfddd7;
}
.site-nav__expand span, .site-nav__collapse span {
    position: absolute;
    right: 5px;
    opacity: 8;
    font-size: 12px;
    font-weight: 900;
}
.site-nav__collapse span {
    right: 5px;
}
#Collapsible2 li a {
    padding: 5px 15px;
}
#SiteNav a:hover {
    color: #f16372;
    text-decoration: none;
}
.product__title a, .collection__title a {
    color: #333;
    text-decoration: none;
}
.site-footer a:hover {
    color: #f16372;
    text-decoration: none;
}
.product__title.text-center {
    margin: 15px 0px 0px 0px;
    font-size: 14px;
}
.product__prices.text-center {
    margin-bottom:8px;
}
.AddCart {
    background-color: #a4ccbb;
    color: #efeeeb;
    border: 2px solid #a4ccbb;
    border-radius: 5px;
    line-height: 33px;
    font-size: 13px;
    padding: 0px 15px;
    font-weight: bold;
    width: 80%;
}
.featured-products h2 {
    font-weight: bold;
    font-family: 'Bree Serif', serif;
    font-size: 20px;
  	margin:0px;
}
.AddCart:hover {
    background-color: #efeeeb;
    color: #a4ccbb;
}
.Addto {
  text-align: center;
}
.badge--sale span {
    background-color: rgba(253, 87, 87, 0.8);
}
.badge span {
    height: 60px;
    width: 60px;
}
.badge--sale {
    top: 3px;
    left: 10px;
}
.site-footer a:hover {
    color: #f16372;
}
ul.header_part {
/*     float: left; */
    margin: 0;
  margin-right:60px;
}
.header_part li {
    display: inline-block;
    padding: 0 6px;
    font-size: 11px;
}
.some-he {
    padding: 0 52px;
}

a.site-header__cart {
    float: right;
    background: #2e2a25;
    border-radius: 50%;
    width: 50px;
    color: #fff;
    position: relative;
    height: 50px;
}
a.site-header__cart svg {
    position: absolute;
    top: 50%;
    left: 30%;
    width: 15px;
}
a.site-header__cart span {
    position: absolute;
    left: 40%;
    top: 10%;
}
h1.small--text-center {
    font-family: 'Bree Serif',Serif;
    color: #000;
    font-size: 25px;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 8px;
}
.site-footer h3 {
  font-weight: bold;
  font-family: 'Bree Serif', serif;
  font-size: 18px;
}
.site-footer__menu li a {
    font-size: 14px;
  	line-height:30px;
}
.grid__item.medium-up--one-half {
    font-size: 14px;
}
.owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 45%;
    margin-left: 7px;
    display: block!IMPORTANT;
    border:0px solid black;
}

.owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 45%;
    right: 0px;
    display: block!IMPORTANT;
    border:0px solid black;
}
.owl-prev i, .owl-next i {
    transform: scale(2, 2);
    color: black;
    height: auto;
    padding: 0px 4px;
    background: #efeeeb;
}

.site-footer .icon {
    display: inline-block;
    width: 23px;
}
.icon.icon-facebook {
    color: #3b5998;
}
.icon.icon-twitter {
    color: #0084b4;
}
.icon.icon-pinterest {
    color: #cb2027;
}
.icon.icon-instagram {
    color: #aa0000;
}
.site-footer hr {
    margin: 15px -65px 5px;
    border-top: 1px solid #FFFFFF;
}
.grid.medium-up--grid--table.sub-footer.small--text-center {
    padding: 5px 0px;
}
.site-nav__submenu {
    background: #c7ded4;
/*     border-bottom: 1px solid #b1d1c3; */
}
.site-nav__submenu a{
 border-bottom: 1px solid #b1d1c3;
}
.site-header__cart:hover {
    color: #fff;
    background: #f16372;
}

h3.catego {
    /*transform: translateX(55px);*/
}

ul.filters ul {
    padding: 0px;
}

ul.filters {
    margin: 0;
    padding: 0px;
}

.template-index .filter-whole {
    display: none;
}
span.plusminus {
    float: right;
  	font-size:30px;
}

.prod-share
{
display:none;
}


.posit {
    text-align: center;
  margin:15px 0;
}
.single-option-selector {
    display: none;
}
.template-product .selector-wrapper {
    margin-bottom: 0px;
}
.template-product .filter-whole {
    display: none;
}
form.cart table {
    border: 1px solid #ccc;

}
i.fa.fa-times {
     padding:0 4px;
}
a.cart__remove {
/*     position: relative;
    top: 10px; */
  color:red;

}
.create {
    border-right: solid 1px #fff !important;
}

  .cart table th {
    padding: 10px;
    font-family: 'Bree Serif',serif;
}

.cart table td {
    padding: 10px;
}


.bds {
    float: right;
}
.bds a {
    background-color: #ccc;
    color: #000;
    border: 2px solid #ccc;
    height: 36px;
    line-height: 33px;
    font-weight: bold;
    font-size: 13px;
    display: none;
    padding: 0 42px;
}

.CouponCode {
    border: 1px solid #ccc;
}
.CartCode .CouponCode h4, .CartCode .GiftCertificate h4 {
    background: #ccc;
}
.CouponCode h4, .GiftCertificate h4 {
    padding: 10px 22px;
    margin: 0;
}
.CouponCode h4 {
  background: #ccc;
  font-family: 'Bree Serif',Serif;
  font-size:16px;
  font-weight:bold;
  text-align:left;
}
.Relative input#couponcode {
    width: 86%;
    height: 36px;
    padding: 9px 0px;
}
.CouponCodeWrapper, .GiftCertificateCode {
    padding: 30px 22px;
}

p.Relative .Small {
  background-color: #a4ccbb;
  color: #efeeeb;
  font-size:13px;
  height: 36px;
  border: 1px solid #a4ccbb;
  vertical-align:top;
  padding: 8px 15px;
   position: absolute;
}
.CouponCodeWrapper p {
    font-size: 14px;
  text-align:justify;
}
p.Relative {
    position: relative;
}
p.txt--emphasis {
    display: none;
}
p.totla {
    padding: 0px;
    font-size: 20px;
    margin-right: 5px;
}
.bton {
    margin-top: -10%;
    margin-left: 15px;
}

span.cart__subtotal-title.h3 {
    padding: 0 40px;
}
.PTB20 a {
    color: red;
      margin: 10px auto;
}
.left {
    float: right;
    margin: 20px 0;
}
.left p {
    text-align: center;
    margin: 20px 0 0 0;
}
.centerimg {
    width: 100%;
    float: left;

}
.d {
    width: 138px;
    margin: 0 auto;
    max-width: 100%;
}
button.btn.chek {
    background-color: #47535f;
    color: #efeeeb;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;    *
    display: inline;    *
    zoom:1;
    text-align: center;
    border: none;
    height: 46px;
    line-height: 43px;
    padding: 0 50px;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border: 2px solid #47535f;
}
a.btn.best.btn--secondary {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;    *
    display: inline;    *
    zoom:1;
    text-align: center;
    border: none;
    height: 40px;
    line-height: 36px;
    padding: 0 20px;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border: 2px solid #ccc;
  	text-transform: capitalize;
}
.centr button.btn.chek {
    float: right;
}

.grid__item .visually {
    margin: 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px !important;
}
.centr {
    margin: 20px 0;
}


.collection-sorting__dropdown {
    display: block;
}
.collection-sorting {
    margin: 0 auto 30px;
    text-align: right;
    padding: 0 50px;
}
featured-products .product {
    height: 400px;
}
.badge {
    background-color: transparent;
}
.nest h3 {
    font-family: 'Bree Serif',serif;
}
.grid.grid--uniform {
    padding: 10px 0px 0px 15px;
}

/*************** Collection Page *********************/
.panel {
    margin-bottom: 20px;
    background-color: transparent;
    border: 0px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 14px;
}
.page {
    border: 1px solid #fff;
    padding: 2px 5px;
    font-size: 13px;
}
.next {
    margin-left: 15px;
}
.prev {
    margin-right: 15px;
}
a:focus, a:hover {
    color: #f16372;
    text-decoration: none;
}
.page.current {
    background: grey;
    color: #fff;
}
.pagination {
    margin: 20px;
}
.selectProduct.w3-padding h4 {
    text-transform: capitalize;
    font-size: 15px;
}
.w3-col.l3.m6.relPos.w3-center {
    margin-bottom: 15px;
}

.grid__item.small--text-center.medium-up--one-third {
    font-weight: bold;
    font-family: 'Bree Serif', serif;
    font-size: 25px;
    width: 95%;
    border-bottom: 1px solid #d7d7d7;
    float: left;
    margin: 0px 30px;
    padding: 0px 0px 8px;
}
#shopify-section-list-collections-template h1 {
    font-weight: bold;
    font-family: 'Bree Serif', serif;
    font-size: 25px;
    width: 100%;
    border-bottom: 1px solid #d7d7d7;
    float: left;
    margin: 10px 0px;
    padding: 0px 0px 3px;
}
#shopify-section-sidebar h3 {
    font-family: 'Bree Serif', serif;
    font-size: 20px;
}
.overlay {
    position: fixed !important;
}
#neww-id-succes {
    position: fixed !important;
  padding: 20px;
}
#neww-id-succes img {
    width: auto !important;
  	height:auto !important;
}
.prtitle {
    width: 100%;
    float: left;
  	padding: 0 0 15px;
	border-bottom: solid 1px #f0efee;
  	margin-bottom: 10px;
}
span.Quanit {
    margin-bottom: 0px !important;
    width: 100%;
    float: left;
    border-bottom: solid 1px #f0efee;
    padding-bottom: 10px;
}
span.pricE {
    line-height: 21px;
    font-weight: 400;
    width: 100%;
    float: left;
    border-top: 0px !important;
    margin: 0px !important;
}
#neww-id-succes h3 {
    color: #000;
    font-size: 15px !important;
    font-weight: 400;
    margin: 15px 0px;
  	padding: 0px !important;
}
.fastCartSummaryBox {
    margin: -35px 15px 0px 0 !important;
}
.CheckoutButton a {
    background-color: #47535f;
    border: 2px solid #47535f;
    padding: 6px 10px;
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
}
.CheckoutButton a:hover {
   background-color: #efeeeb;
	color: #f16372 !important;
}
.CheckoutButton {
    margin-top: 10px;
}
.FloatRight.PayPalExpressCheckout.RemoteCheckout.CheckoutButton p {
    margin: 5px;
}

span.ProductPrice {
    padding: 10px 20% !important;
    font-weight: bold;

}
.fastCartSummaryBox .subtotal {
    margin: 0 0 15px 0 !important;
}
.actionLink {
    margin-top: 15px;
    width: 100%;
}
/************* Product Single Page *****************/
.product-single__title {
    padding: 0;
    margin: 0 0 20px 0;
    word-wrap: break-word;
    font-family: 'Bree Serif',Serif;
    font-size: 26px;
    line-height: 34px;
    font-weight: 500;
}
.product-single__quantity input, .quantity-selector {
    width: 70px;
    text-align: center;
    background: #fff;
}
.product-form label, .cart label {
    font-size: 14px;
}
#AddToCart {
    padding: 10px 50px;
    background-color: #47535f;
    color: #efeeeb;
    width: 100%;
    border: 2px solid #47535f;
    border-radius: 5px;
}
button#AddToCart:hover {
    background: #efeeeb;
    color: #47535f;
}
.btn.alt {
    background-color: #ccc;
    color: black;
  font-weight:bold;
    border: 2px solid #ccc;
}
.btn.Tiny {
    height: 30px;
    line-height: 23px;
    font-size: 13px;
    padding: 0 44px;
    width: 100%;
    border-radius: 5px;
}
.btn.alt:hover {
    background-color: #efeeeb;
}
#ProductReviews h3 {
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    font-family: 'Bree Serif',Serif;
    color: #000;
}
.spr-header-title {
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    font-family: 'Bree Serif',Serif;
    color: #000;
}
.spr-summary-actions-newreview {
    height: 36px;
    line-height: 33px;
    font-size: 13px;
    padding: 0 41px;
    background-color: #a4ccbb;
    color: #efeeeb;
    border: 2px solid #a4ccbb;
    font-weight: bold;
    border-radius: 3px;
}
.spr-summary-actions-newreview:hover {
   background-color: #efeeeb;
	color: #a4ccbb;
}
.rv__twelve h1 {
    display: none;
}
.spr-starrating.spr-badge-starrating {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 10px;
}
.spr-badge-caption {
    text-align: center;
    width: 100%;
    float: left;
 	 font-size: 12px;
}
.spr-badge {
    margin: 10px;
}
.breadcrumb-nav {
    font-size: 12px;
}
.btn.btn--view-cart {
    background-color: #a4ccbb;
    color: #efeeeb;
    border: 2px solid #a4ccbb;
  	border-radius:3px;
}
.btn.btn--continue-shopping.btn--secondary {
    background-color: #a4ccbb;
    color: #efeeeb;
    border: 2px solid #a4ccbb;
    padding: 9px;
    border-radius:3px;
}
.btn.btn--view-cart:hover {
    background-color: #efeeeb;
	color: #a4ccbb;
}
.btn.btn--continue-shopping.btn--secondary:hover {
    background-color: #efeeeb;
	color: #a4ccbb;
}
/************* Cart Page **************************/
.cart__table-cell--image.small--text-center img {
    height: 150px;
    width: 120px;
    margin-top: 2px;
}
.cart__table-cell--image {
    padding-left: 0;
    width: 17%;
}
.cart__table-cell--price.medium-up--text-center span {
    font-weight: bold;
    font-family: 'Bree Serif',Serif;
}
.text-right.cart__table-cell--line-price span {
    font-weight: bold;
    font-family: 'Bree Serif',Serif;
}
button.btn.chek:hover{
  	background-color: #efeeeb;
	color: #47535f;
}
.bds a:hover {
    background-color: #efeeeb;
}
a.btn.best.btn--secondary:hover{
    background-color: #efeeeb;
}
/**************** My Account Pages *********************/
#my-account h1 {
    font-weight: bold;
    font-family: 'Bree Serif', serif;
    font-size: 25px;
}
.btn {
    background-color: #a4ccbb;
    color: #fff;
    border: 2px solid #a4ccbb;
    border-radius: 3px;
}
.btn:hover {
    background-color: #efeeeb;
    color: #a4ccbb;
}
#my-account #customer_login {
    border: 1px solid #dbdbdb;
    padding: 40px;
    text-align: center;
    margin: 5px;
}
 #customer_login input {
    width: 100%;
   min-width: 100%;
}
#create_customer input {
    width: 100%;
    min-width: 100%;
}
#my-account #create_customer {
    border: 1px solid #dbdbdb;
    padding: 40px;
    text-align: center;
    margin: 5px;
}

#account h1 {
    font-weight: bold;
    font-family: 'Bree Serif', serif;
    font-size: 25px;
}
#account #customer_login{
    border: 1px solid #dbdbdb;
    padding: 40px;
    text-align: center;
    margin: 5px;
    width: 400px;
}
#create-account h1 {
    font-weight: bold;
    font-family: 'Bree Serif', serif;
    font-size: 25px;
}
#create-account #create_customer{
    border: 1px solid #dbdbdb;
    padding: 40px;
    text-align: center;
    margin: 5px;
    width: 400px;
}

.selectProduct img {
    margin-bottom: -5px;
    height: 300px;
  	width:100%;
}
#cheekysboutique .selectProduct img {
    width: 90%;
}
#cheekysboutique span.badge1.badge--sale1 {
    left: 0;
}
span.badge1.badge--sale1 {
    position: absolute;
    top: 0;
    width: 60px;
    border-radius: 46%;
    left: -10px;
    height: 60px;
    display: inline-block;
    min-width: 10px;
    padding: 23px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: rgba(253,87,87,0.8);
    border-radius: 50%;
}
.selectProduct.w3-padding {
    position: relative;
}
.w3-col.l3, .w3-quarter {
    height: 425px !important;
}
a.AddCart1 {
    padding: 8px 35px !important;
}
.col-md-3.pro_order {
    padding: 0px;
}
a.AddCart1:hover{
  background-color: #efeeeb;
  color: #a4ccbb;
}
.w3-padding-medium, .w3-padding, .w3-form {
    padding: 1px 1px !important;
}
.btn.chek.Small.cta {
    text-transform: capitalize;
    padding: 0px 15px;
    height: 40px;
    line-height: 37px;
}
#SortBy {
    background-color: #fff;
    font-size: 13px;
    padding: 10px 15px;
}
/********* Media Queries ********/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
.grid__item.custom-font.medium-up--one-half.small--one-half.text-right {
    width: 60%;
}
.grid__item.medium-up--one-half.small--one-half.some-he {
    width: 40%;
}
}

@media only screen and (max-width: 1065px) {
.grid__item.medium-up--one-half.small--one-half.some-he {
    width: 30%;
}
.grid__item.custom-font.medium-up--one-half.small--one-half.text-right {
    padding: 0px;
    width: 70%;
}
.grid__item.medium-up--one-half.small--one-half.some-he {
    width: 30%;
}
 .grid__item.custom-font.medium-up--one-half.small--one-half.text-right {
    width: 70%;
}
#my-account #customer_login {
    padding: 15px;
}
#my-account #create_customer {
    padding: 15px;
}
}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
.AddCart {
    font-size: 13px;
    padding: 0px 10px;
    width: 100%;

}
.w3-col.l3.m6.relPos.w3-center {
    margin-bottom: 15px;
    min-height: 420px;
}
.w3-col.m6, .w3-half {
    width: 33.333% !important;
}
.col-md-7.pro_description {
    display: none;
}
#neww-id-succes h3 {
    text-align: center !important;
}
.col-md-3.pro_order {
    margin-top: 30px;
}
.cart__table-cell--image.small--text-center img {
    height: 100px;
    width: 100px;
}
}
@media only screen and (max-width: 900px) {

.w3-col.l3.m6.relPos.w3-center {
    min-height: 390px;
}
span.cart__subtotal-title.h3 {
    padding: 0px;
}
}
@media only screen and (max-width: 800px) {

.w3-col.l3.m6.relPos.w3-center {
    min-height: 350px;
}
.cart__table-cell--image.small--text-center img {
    height: 100px;
    width: 80px;
  	margin-top: 0px;
}


}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
.selectProduct img {
    height: 280px;
}
  .totla {
    text-align: left;
    font-size: 15px !important;
}
  .btn.chek {
    padding: 10px 15px !important;
    line-height: 15px !important;
}
  .bton {
    margin-top: -20%;
}
}
@media only screen and (max-width: 749px) {
.site-footer .grid__item {
    padding-top: 0px;
    width: 33.33%;
    float: left;
}
.site-footer__section {
    width: 100%;
    float: left;
    padding-left: 30px;
    margin: 10px 0px;
}
.grid.medium-up--grid--table.sub-footer.small--text-center div {
    width: 100%;
    padding: 0px;
    text-align: left;
}
.top-bar {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #efeeeb;
    border-bottom: 1px solid #ccc;
}
.small--hide {
    display: block !important;
}
.medium-up--hide {
    display: none;
}
.grid__item.medium-up--one-half.small--one-half.some-he {
    width: 80%;
    padding: 0px 30px;
}
.grid__item.custom-font.medium-up--one-half.small--one-half.text-right {
    padding: 0px;
    width: 0%;
  	display:none;
}
a.site-header__cart {
    float: right;
    background: #000;
    border-radius: 50%;
    width: 20px;
    color: #fff;
    position: absolute;
    height: 21px;
    top: 12px;
    right: 75px;
}
a.site-header__cart span {
    position: absolute;
    left: 30%;
    top: 0%;
    font-size: 13px;
}
a.site-header__cart svg {
    position: absolute;
    top: 0px;
    right: 0;
    width: 20px;
    color: #000;
    left: 25px;
}

#HeaderLogoWrapper {
    margin: 10px auto;
}
.catego {
    display: none;
}
#ToggleMobileMenu {
    display: block;
    position: absolute;
    top: 14px;
    margin: 0px;
}

.grid__item.medium-up--one-half.small--one-half {
    width: 100%;
}
.list--nav {
    border-left: 1px solid #dfddd7;
    border-top: 1px solid #dfddd7;
    border-right: 1px solid #dfddd7;
}
.site-nav__expand span, .site-nav__collapse span {

    right: 25px;
  }
.mobile-menu-icon .line:nth-child(2), .mobile-menu-icon .line:nth-child(3) {
    top: 7px;
}
.mobile-menu-icon .line:nth-child(4) {
    top: 14px;
}
.mobile-menu-icon .line {
    width: 20px;
}

.top-bar.grid.new-header {
    margin: 0px !important;
}
#shopify-section-footer {
    margin:0px !important;
    border-top: 1px solid #fff;
}
.site-footer hr {
    margin: 0px !important;
    border-top: 1px solid #FFFFFF;
}
.site-wrapper {
    padding: 0 15px;
}
.w3-col.l3.m6.relPos.w3-center {
    min-height: 420px;
}
.w3-col.m6, .w3-half {
    width: 50% !important;
}
  .cart__table-cell--image.small--text-center img {
    height: auto;
    width: 100%;
    margin-top: 0px;
}
form.cart table {
    border-bottom: 1px solid #ccc;
}
.text-left.cart__table-cell--image {
    display: none;
}
.text-center.cart__table-cell--quantity.create {
    display: none;
}
.text-center.cart__table-cell--price.create {
    display: none;
}
.text-right.cart__table-cell--line-price.create {
    display: none;
}
.medium-up--text-center.cart__table-cell--quantity {
    font-weight: bold;
    font-family: 'Bree Serif',Serif;
}
.text-right.cart__table-cell--line-price {
    font-weight: bold;
    font-family: 'Bree Serif',Serif;
}
.cart__table-cell--price.medium-up--text-center {
    font-weight: bold;
    font-family: 'Bree Serif',Serif;
}
.bds {
    float: left;
}
.btn.best.btn--secondary {
    margin-top: 0%;
}
.grid__item.text-center.medium-up--one-half.medium-up--text-right {
    text-align: center !important;
    margin-top: -90px;
}
.grid__item.text-center.medium-up--one-half.medium-up--text-right .CouponCode {
    margin-top: 100px;
}
#account #customer_login{
    width:98%;
  	padding:15px;
}
#create-account #create_customer{
    width: 98%;
  	padding:15px;
}
.col-md-3.pro_order {
    padding: 0px 0px 10px 15px;
}
#neww-id-succes {
    background: white;
    position: absolute;
    top: 1%;
  }
.bton {
    display: none;
}
p.totla {
    padding: 0px;
    text-align: center;
    margin: 0px 0px 15px;
}
span.cart__subtotal-title.h3 {
    padding: 0px;
}
}
@media only screen and (max-width: 600px) {

}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
.site-footer .grid__item {
    width: 100%;
    text-align: center;
}
.site-footer__section {
    text-align: center;
}
.AddCart {
    padding: 0px 15px;
}
.grid.medium-up--grid--table.sub-footer.small--text-center div {
    text-align: center;
}
#shopify-section-footer {
    margin: -35px -65px 0px;
    border-top: 1px solid #fff;
}
.w3-col.m6, .w3-half {
    width: 100% !important;
}
.w3-col.l3.m6.relPos.w3-center {
    min-height: auto;
}
.grid__item.small--one-half.medium-up--one-third {
    width: 100%;
}
  span.badge1.badge--sale1 {
    position: absolute;
    top: 0;
    width: 60px;
    border-radius: 46%;
    left: 12%;
  }
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {
.AddCart {
    padding: 0px 10px;
    font-size: 11px;
}
}


/*************Media Queries Closed *****/
