<h3>Hello {{ customerName }},</h3>

Thanks for registering with us!<br/><br/>

How shopping works:<br/>
1. Comment 'sold' on items you'd like to purchase from our page<br/>
2. Receive an invoice by email to pay for your item<br/>
3. Check out when you're ready, and we will ship the order to your door!<br/><br/>

To view all of your current and previous orders, just visit <a href="{{ shopUrl }}">My Account</a>.<br/>
Thanks!<br/><br/>

XoXo<br/><br/>

{{ shopName }}<br/>
Instagram: @{{ shopInstagram }}

