Hello {{ customerName }},
<br/><hr/><br/>

You have been awarded ${{ amount }} as account credit. <br/><br/>

You can use your account credit when you have an item in your shopping cart on {{ shopUrl }} <br/><br/>

Thank you,<br/>
Have an awesome day!
