{% layout none %}

<!DOCTYPE html>

<html>
  <head>
    <title>Refund Policy</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css"/>
    <style>
      .container {
        margin: 0 auto;
        max-width: 800px;
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <div class='container'>
      <h1>Glamour Farms Boutique</h1>
      <hr />
      <h2>Refund Policy</h2>
      <div data-content>
        <p>AM I ELIGIBLE FOR A RETURN?</p>

<p>Tags are attached, item is unworn, item is unwashed, item is unaltered, item has no makeup stains, item has no deodorant stains, item has no animal hair, item has no smells of smoke, items are not final sale, items fall within the date ranges specified in the Return Policy.</p>

<p>If you answered YES to all of these, you will be eligible for a return. Please refer to the Return Policy below.</p>

<p>WHAT DOES GFB DO WITH NON-ELIGIBLE RETURN ITEMS?</p>

<p>If non-eligible items are sent, GFB will return item(s) to customer at your cost. If you choose not to pay return shipping charges, your item(s) will be donated to charity after 30 days.</p>

<p>DEFECTIVE OR INCORRECT ITEMS</p>

<p>Within 1-3 Days of Shipment Delivery</p>

<p>If you believe you have received an item with a defect or an incorrect item, an Online Return Request (accompanied by a picture) must be issued within 3 days of receiving the order.</p>

<p>The Customer Service team will review your request and "approve or deny" the return (check status within the Online Return Request Center) . If request is approved, item must be shipped and postmarked within 3 days of approval.</p>

<p>If return request is approved, refunds are processed within 3-7 business days of receiving your return.</p>

<p>The status of your return can be checked via the Online Return Request Center below by providing your email and order #. </p>

<p>Original shipping fees are nonrefundable.</p>

<p>Glamour Farms is not responsible for items lost, stolen or damaged while in transit. Please contact the carrier customer service center to file a claim. Click here--UPS Customer Service || USPS Customer Service</p>

<p>RETURN OPTIONS</p>

<p>Return Option #1--Within 10 Days of Order Date</p>

<p>Submit an Online Return Request to return item(s).</p>

<p>Return package must be postmarked by the 10th day of the order date.</p>

<p>Customer is responsible for return shipping fees.</p>

<p>If applicable, refunds will be in the form of a gift card unless the customer identifies the refund needs to be on the original form of payment for regular priced items. Sale items are final--items ending in $0.99.
<br />*Customer service emails are answered Mon-Fri 9am-4pm CST*</p>

<p>Include your original receipt and circle the item(s) you are returning.</p>

<p>Refunds are processed within 3-7 business days of receiving your return. </p>

<p>The status of your return can be checked via the Online Return Request Center below by providing your email and order #. </p>

<p>Original shipping fees are nonrefundable.</p>

<p>Glamour Farms is not responsible for items lost, stolen or damaged while in transit. Please contact the carrier customer service center to file a claim. Click here--UPS Customer Service || USPS Customer Service</p>

<p>Return Option #2--Within 11-30 Days of Order Date</p>

<p>Submit an Online Return Request to return item(s).</p>

<p>Returns must be postmarked and shipped within 30 days of the order date.</p>

<p>Customer is responsible for return shipping fees.</p>

<p>If applicable, refunds will be in the form of a gift card for regular priced items. Sale items are final--items ending in $0.99.
<br />*Customer service emails are answered Mon-Fri 9am-4pm CST*</p>

<p>Include your original receipt and circle the item(s) you are returning.</p>

<p>Refunds are processed within 3-7 business days of receiving your return.</p>

<p>The status of your return can be checked via the Online Return Request Center below by providing your email and order #. </p>

<p>Original shipping fees are nonrefundable.</p>

<p>Glamour Farms is not responsible for items lost, stolen or damaged while in transit. Please contact the carrier customer service center to file a claim. Click here--UPS Customer Service || USPS Customer Service</p>

<p>FINAL SALE</p>

<p>All sales on SALE/CLEARANCE items are final (end in $0.99). No exceptions.</p>

<p>Gift Card sales are final.</p>

<p>All sales are final on all shapewear (shapers, leggings, shorts, etc.), undergarments, all jewelry, hair accessories, hats, beanies, socks and eye wear. This is for hygienic purposes. No exceptions.</p>

<p>CANCELLATION POLICY</p>

<p>Once an order is placed, it cannot be cancelled under any circumstances. Please refer to the Return Policy for further information.</p>

<p>PRICE CHANGES</p>

<p>Once an order is placed, prices will not be changed under any circumstance. We at Glamour Farms try to keep it fun and offer y'all great deals throughout each month. Keep an eye out for promotions that will be advertised on Facebook, Instagram & Email! Further questions, please refer to our Return Policy for further information.</p>

<p>DISCOUNT CODES</p>

<p>Discount codes must be applied at the point of purchase. They cannot be added/applied after the order has been placed.</p>

<p>WE DO NOT OFFER EXCHANGES</p>

<p>Due to buying our merchandise in limited quantities to keep our inventory unique, we do not offer exchanges. Please refer to the Return Policy.</p>

<p>CONTACT INFORMATION  </p>

<p>Glamour Farms Boutique
<br />Attn: Returns Department
<br />250 Route 45 S.
<br />Louisville, IL  62858</p>

<p>Customer Service
<br />Mon-Fri 9am-4pm CST
<br />618-665-FARM (3276)
<br />contact@glamourfarms.com</p>

      </div>
    </div>
  </body>
</html>
