$(function () {

    checkSideNav();

    //$('.lightbox').fancybox();

    if ($(window).width() >= 959) {
        $('.thumbnail').hover(function () {
            $('.quick_shop', this).show();
        }, function () {
            $('.quick_shop', this).hide();
        })
        $(".quick_shop").fancybox({
            'width': '840px',
            'height': 'auto',
            'autoSize': true,
            'padding': [0, 20, 0, 20],
            afterShow: function() {
                $(window).trigger("scroll");
            }

        });
    }

    $('.mid-header').on('click', function () {
        //if ($(window).width() < 769) {
            toggleSideNav();
        //}
    });

    
    //submit function for email signup from footer.
    signupFooter();

    // <!-- Call quick start function. --!>
    CloudZoom.quickStart();

    //initiate lazyload
    $("img.lazy").lazyload();


    $(window).resize(checkSideNav);

});

function signupFooter() {
    // process the form
    $("#ctct_signup").submit(function (event) {
        // get the form data
        var formData = $("#ctct_signup").serialize();
        // process the form
        $.ajax({
            type: 'POST', // HTTP method, always use POST for our form
            url: 'https://visitor2.constantcontact.com/api/signup',
            data: formData, // serialized form data
            dataType: 'json', // the type of data we expect back from the server
            success: function (data) {
                $("#mce-success-response").replaceWith("<p>Thank you for joining our mailing list!</p> "); //remove line break by backspacing before </p>
            },
            error: function (response) {
                $("#mce-success-response").replaceWith("<p>An error occurred processing your request. Please try again.</p>");//remove linebreak
            }
        });
        // stop the form from submitting the normal way and refreshing the page
        event.preventDefault();
    });
}

function toggleSearch() {
    $('#search_bar_top').slideToggle();
}

function toggleSideNav() {
    $('.mid-content').slideToggle();
}

function showSideNav() {
    var content = $('.mid-content');
    if(content.css('display') =='none') {
        content.css('display','block');
    }
}

function hideSideNav() {
    var content = $('.mid-content');
    if(content.css('display') =='block') {
        content.css('display','none');
    }
}

function checkSideNav() {
    if ($(window).width() > 768) {
        showSideNav();
    } else {
        hideSideNav();
    }
}
