/*
 Cloud Zoom CSS. (c)2012 Star Plugins.
*/
.cloudzoom-lens {
  border:none;
  border:1px solid #888;
  width:225px;
  height:175px;
  box-shadow: -0px -0px 10px rgba(0,0,0,0.40);
  cursor:pointer;
  z-index: 11;
}
.cloudzoom-zoom {
  border:1px solid #888;
  box-shadow: -0px -0px 10px rgba(0,0,0,0.40);
  background-color: {{ settings.shop_bg_color }};
  // margin-top: -35px;
}
.cloudzoom-zoom-inside {
  border:none;
  box-shadow:none;
  // edits
  // margin-top: -30px;
}
.cloudzoom-caption {
  display:none;
  text-align: left;
  background-color:#000;
  color:#fff;
  font-weight:bold;
  padding:10px;
  font-family: sans-serif;
  font-size:11px;
}
.cloudzoom-blank {
  background-image:url('{{ 'blank.gif' | asset_url }}');
  // margin-top: -35px;
}
div.cloudzoom-ajax-loader {
  display: none;
}
.cloudzoom-lens + div { display: none !important }