<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" / >
    <title>{{ shop.name }}</title>

    <link rel="stylesheet" href="https://cdn.commentsold.com/font-awesome/css/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.commentsold.com/jquery-ui-1.12.1/jquery-ui.min.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.commentsold.com/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.commentsold.com/css/buttons.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.commentsold.com/css/dd.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.commentsold.com/css/app.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.commentsold.com/css/style.css?v=1" type="text/css"/>
</head>
<body>

{{ content_for_layout }}

<script type="text/javascript" src="https://cdn.commentsold.com/js/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.commentsold.com/js/jquery-ui.js"></script>
<script type="text/javascript" src="https://cdn.commentsold.com/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.commentsold.com/js/jquery.countdown.min.js?v=2"></script>
<script type="text/javascript" src="https://cdn.commentsold.com/js/jquery.dd.min.js"></script>
<script type="text/javascript" src="https://checkout.stripe.com/checkout.js"></script>
<script type="text/javascript">
    window.fbAsyncInit = function() {
        FB.init({
            appId   : '{{ shop.facebook_app_id }}',
            xfbml   : true,
            version : '{{ shop.facebook_api_version }}'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function facebookShare() {
        FB.ui({
            method: 'feed',
            link: 'https://www.facebook.com/groups/{{ shop.facebook_share_group }}/',
            caption: '{{ shop.name }} - {{ shop.description }}',
        }, function(response){
            if (response) {
                if (response.error_message) {
                    alert("You did not share the group :(");
                    return true;
                }

                if (response.post_id) {
                    alert("Thanks for sharing!");
                }
            }
       });
    }

    function showCouponBox() {
        $('#coupon-wrapper').show();
    }

    function couponApply() {
        $.ajax({
            type:'post',
            url:'/api/account/apply-coupon',
            data: {
                code: $('#coupon-code').val()
            },
            success: function(response) {
                if (response.status == 1) {
                    alert('Coupon applied successfully.');
                    window.location.reload();
                } else {
                    alert('We are unable to validate this coupon.');
                }
            }
        });
    }

    function checkCouponApply(e) {
        // if enter was pressed
        if (e.which == 13) {
            couponApply();
        }
    }

    function applyBalance() {
        $.ajax({
            type:'post',
            url:'/api/account/apply-balance',
            data: {},
            success: function(response) {
                if (response.status == 1) {
                    alert(response.message);
                    window.location.reload();
                } else {
                    alert(response.message);
                }
            }
        });
    }

    function removeFromCart(itemId, button) {
        if (! confirm('Are you sure you want to remove this item from your shopping cart?')) {
            return;
        }

        $(button).prop('disabled', true);
        $.ajax({
            type:'post',
            url:'/api/account/remove-from-cart',
            data: {
                item_id: itemId
            },
            success: function(response) {
                if (response.status == 1) {
                    alert('Item removed successfully.');
                    window.location.reload();
                } else if (response.status == 0) {
                    alert(response.message);
                    window.location.reload();

                } else {
                    alert('An error occured.');
                    $(button).prop('disabled', false);
                }
            }
        });
    }

    function removeFromWaitlist(itemId) {
        if (! confirm('Are you sure you want to remove this item from your waitlist?')) {
            return;
        }

        $.ajax({
            type:'post',
            url:'/api/account/remove-from-waitlist',
            data: {
                item_id: itemId
            },
            success: function(response) {
                if (response.status == 1) {
                    alert('Item removed successfully.');
                    window.location.reload();
                } else {
                    alert('An error occured.');
                }
            }
        });
    }

    function closeAddressPopup() {
        $('#address-modal-overlay').hide();
        $('#address-modal').hide();
    }

    function showAddressPopup() {
        $('#address-modal-overlay').show();
        $('#address-modal').show();
    }

    function saveNewAddress() {
        $('#address-modal .btn-save').button('loading');

        $.ajax({
            type:'post',
            url:'/api/account/update-address',
            dataType: 'json',
            data: {
                street_address: $('#modal-street-address').val(),
                city: $('#modal-city').val(),
                state: $('#modal-state option:selected').val(),
                zip: $('#modal-zip').val(),
                apartment: $('#modal-apartment').val(),
                phone_number: $('#modal-phone-number').val()
            },
            success: function(response) {
                closeAddressPopup();
                alert('Address updated!');
                location.reload();
            },
            error: function(data) {
                $('#address-modal .btn-save').button('reset');
                var errors = data.responseJSON;
                alert(errors[Object.keys(errors)[0]]);
            }
        });
    }

    function confirmOnboardingPopup() {
        $('#onboarding-modal button').button('loading');
        $.ajax({
            type:'post',
            url:'/api/account/update-email',
            dataType: 'json',
            data: {
                email: $('#onboarding-modal .onboarding-email').val()
            },
            success: function(response) {
                if (typeof confirmOnboardingOptIn === "function") {
                    confirmOnboardingOptIn();
                }

                location.reload();
            },
            error: function(data) {
                $('#onboarding-modal button').button('reset');
                var errorMessage = 'Invalid email address.';
                try {
                    errorMessage = data.responseJSON[Object.keys(data.responseJSON)[0]];
                } catch (e) {}
                $('#onboarding-modal .help-block').show().html('<strong>'+errorMessage+'</strong>');
            }
        });
    }

    function updateEmail() {
        $.ajax({
            type:'post',
            url:'/api/account/update-email',
            dataType: 'json',
            data: {
                email: $('#customer-email').val()
            },
            success: function(response) {
                alert('Email updated!');
                location.reload();
            },
            error: function(data) {
                $('#address-modal .btn-save').button('reset');
                var errors = data.responseJSON;
                alert(errors[Object.keys(errors)[0]]);
            }
        });
    }

    function enableEmailForm() {
        $('#customer-email').show().attr('class', '').prop('disabled', false);
        $('.edit-email').hide();
        $('#email-form').show();
    }

    function deliveryMethod(method) {
        if (method == 'Local') {
            if (! confirm('Are you sure to switch to Local Pickup?')) {
                return;
            }

            if ($('#local-pickup-locations-modal').length) {
                // confirm store from multiple local pickup locations
                $('#local-pickup-locations-modal').modal('show');
            } else {
                updateDeliveryMethod(method);
            }

        } else {
            updateDeliveryMethod(method);
        }
    }

    function updateLocalPickupStoreLocation() {
        $('#local-pickup-locations-modal button').button('loading');
        var storeLocation = $('#local-pickup-locations-modal select').val();
        updateDeliveryMethod('Local', storeLocation);
    }

    function updateDeliveryMethod(method, storeLocation) {
        $.ajax({
            type:'post',
            url:'/api/account/set-delivery-method',
            data: {
                method: method,
                store_location: storeLocation
            },
            success: function(response) {
                $(".overlay").hide();
                if (response.status == 1) {
                    alert('Delivery method updated!');
                    location.reload();
                } else {
                    alert('An unexpected error occured.');
                }
            }
        });
    }

    function checkoutWithNewCard(token) {
        $.ajax({
            type:'post',
            url:'/api/checkout/stripe-new-card',
            data: {
                token: token
            },
            success: function(response) {
                $(".overlay").hide();
                if (response.status == 1) {
                    alert("Payment successfully applied! Thanks for your order!");
                    location.reload();
                } else {
                    alert(response.message);
                }
            }
        });
    }

    function checkoutWithStripeCard(cardId) {
        $.ajax({
            type:'post',
            url:'/api/checkout/stripe-existing-card',
            data: {
                card_id: cardId
            },
            success: function(response) {
                $(".overlay").hide();
                if (response.status == 1) {
                    alert("Payment successfully applied! Thanks for your order!");
                    location.reload();
                } else {
                    alert(response.message);
                }
            }
        });
    }

    function checkoutWithPaypal() {
        $.ajax({
            type:'post',
            url:'/api/checkout/paypal-approval-link',
            data:{},
            success: function(response) {
                $(".overlay").hide();
                if (response.status == 1) {
                    if (response.link == 'PAID_TOTAL_0') {
                        alert('Thank you for your order!');
                        window.location.reload();
                    } else {
                        alert('Created Payment using PayPal. Redirecting to PayPal for your approval.');
                        window.location = response.link;
                    }
                } else {
                    alert(response.message);
                }
            }
        });
    }

    function checkoutWithAccountCredit() {
        $.ajax({
            type:'post',
            url:'/api/checkout/account-credit',
            data: {},
            success: function(response) {
                $(".overlay").hide();
                if (response.status == 1) {
                    alert("Credit successfully applied! Thanks for your order!");
                    location.reload();
                } else {
                    alert(response.message);
                }
            }
        });
    }

    function initAccordion(elementId) {
        $(elementId).accordion({
            collapsible: true,
            active: false,
            clearStyle: true,
            autoHeight: false,
            header: '.accordion-head', // point to the class that is used as a header
            heightStyle: 'content',
            icons: false,
            beforeActivate: function (event, ui) {
                var self = $(this);

                // this bit is tricky. Make sure you have no empty space in the body of drop-down
                if (ui.newPanel.html() == '') {
                    // taking data-url parameter from accordion header div
                    // and load the returned contents into the accordion body.
                    // presuming HTML is returned.
                    ui.newPanel.load(self.data('url'));
                }
            }
        });
    }
</script>
<script type="text/javascript">
$(document).ready(function() {

    {% if ! customer.saw_onboarding_modal %}
        $('#onboarding-modal').modal({
            backdrop: 'static',
            keyboard: false
        });
    {% endif %}

    // Set up a global AJAX error handler to handle unauthorized responses.
    $.ajaxSetup({
        statusCode: {
            403: function() {
                alert('This action is unauthorized.');
                window.location.reload();
            },
            401: function() {
                alert('Your session has expired. Plese login again.');
                window.location.reload();
            }
        }
    });

    if ($('.instagram-btn').length) {
        $('.instagram-btn').on('click', function() {
            $(this).button('loading');
        });
    }

    // free shipping if you the last order is in the last 24 hours
    if ($('#clock-shipping').length) {
        $('#clock-shipping').countdown($('#clock-shipping').attr('data-expireAt') * 1000, function(event) {
            $('#clock-shipping').html(event.strftime('%H hr %M min %S sec'));
        });
    }

    // if there are items in the cart
    if ($('#paymentList').length) {

        $('.clock-expire').each(function() {
            var element = $(this);
            element.countdown(element.attr('data-expireAt') * 1000, function(event) {
                element.html(event.strftime('%I hr %M min %S sec'));
            });
        });

        try {
            $("#paymentList").msDropDown();
        } catch(e) {}

        var stripe = StripeCheckout.configure({
            key: '{{ shop.stripe_publishable_key }}',
            locale: 'auto',
            allowRememberMe: false,
            token: function(token) {
                $('.overlay').show();
                checkoutWithNewCard(token.id);
            }
        });

        // Close Checkout on page navigation:
        window.addEventListener('popstate', function() {
            stripe.close();
        });

        // the checkout button
        $('#checkoutButton').on('click', function() {

            if (typeof confirmOptIn === "function") {
                confirmOptIn();
            }

            $('.overlay').show();
            var amount = $(this).attr('data-amount');
            var email = $(this).attr('data-email');

            // Check the select box to see what payment method to initiate
            var method = $('#paymentList').val();

            if (method == 'paypal') {
                checkoutWithPaypal();

            } else if (method == 'newcc') {
                // Add the card from stripe and charge it
                $('.overlay').hide();

                stripe.open({
                    name: '{{ shop.name }}',
                    description: '',
                    email: email,
                    amount: amount * 100, // to cents
                    zipCode: true,
                    billingAddress: true,
                    allowRememberMe: false,
                });

            } else if (method == 'credit') {
                checkoutWithAccountCredit();

            } else if (method && method.match(/^card_.*/i)) {
                checkoutWithStripeCard(method);

            } else {
                alert('Error: Invalid payment method.');
                window.location.reload();
            }

        });

    }

    initAccordion('#accordion-ajax-paid');
    initAccordion('#accordion-ajax-fulfilled');
    initAccordion('#accordion-ajax-waitlist');

});
</script>
{{ shop.embed_code }}
</body>
</html>
